[2017-07-19 20:27] martinholmer commented on #578
@hdoupe said on July 19, 2017:

That's interesting because this would seem to be yet another regression in TaxBrain.

When I tried what you just did [17 days ago](https://github.com/open-source-economics/Tax-Calculator/pull/1452), the upload of just a reform file worked fine.
What didn't work then was uploading **both** a reform and an assumption file.

So, even though TaxBrain is still marked as

[2017-07-19 20:44] PeterDSteinberg commented on #578
@martinholmer @hdoupe Please post the contents of the reform files in question.  Is the reform file system also broken for the Trump reform commonly used?  If so, please post broken and working Trump/Clinton reform files or email them to the three Continuum staff.  It's hard to follow up when there are changing versions in question, changing reforms specs, and potentially out-of-date files being t

[2017-07-19 20:47] hdoupe commented on #578
// Title: Select Provisions from the Clinton Tax Plan
// Reform_File_Author: Cody Kallen
// Reform Reference: https://www.hillaryclinton.com/briefing/factsheets/2016/01/12/investing-in-america-by-restoring-basic-fairness-to-our-tax-code/
// Reform Description:
// -  4% surcharge on AGI above $5 million ($2.5 million for married filing separately) (1)
// -  Establishment of the "Fair Share Tax" at

[2017-07-19 20:47] hdoupe commented on #578
This is the Clinton2016.json refrom file as found in the Tax-Calculator repo

[2017-07-19 20:50] martinholmer commented on #578
@PeterDSteinberg,  All the reform files that are under discussion in TaxBrain issue #578 are in one of two directories in the Tax-Calculator repo:
[code]
and
[code]
None of these reform files has changed over the course of the past several months.  The only thing that has changed is TaxBrain's (in)ability to handle them.

[2017-07-19 20:52] brittainhard commented on #578
@martinholmer @hdoupe @PeterDSteinberg the app hasn't been rebuilt in a while. I think I found the thing that was causing that 500 error. Going to do a push to the test app with the Clinton reform file.

[2017-07-19 21:03] brittainhard commented on #578
@hdoupe try putting that file in on the test app, I got it to work by doing a push to the test app: [http://ospc-taxes7.herokuapp.com/taxbrain/1355/](http://ospc-taxes7.herokuapp.com/taxbrain/1355/)

Going to update the main app. Can you send me a link of that failed file upload with the 500 error?

[2017-07-19 21:10] hdoupe commented on #578
@brittainhard I just tried it on the test app and got the following error
[ospc-taxes7.herokuapp.com/taxbrain/file/?start_year=2017](url)

![screen shot 2017-07-19 at 5 07 31 pm](https://user-images.githubusercontent.com/9206065/28389606-d9c55188-6ca4-11e7-8579-63b693b9e471.png)

Here's the link that is showing above the error page. It will just take you back to the file upload page so I don't thi

[2017-07-19 21:12] hdoupe commented on #578
@brittainhard  That was produced by doing the quick calculate option.  I'm trying the`show me the results` option now.

[2017-07-19 21:14] brittainhard opened #586 "Fix File QuickCalc"

[2017-07-19 21:19] hdoupe commented on #578
@brittainhard The `additional_data` keyword is supplied in line 262 of `file_input` function in `views.py`:

[code]
when `dropq_compute.submit_dropq_small_calculation` does not have a keyword `additional_data`.

[2017-07-19 21:20] hdoupe commented on #578
@brittainhard The full calculation works.

[http://ospc-taxes7.herokuapp.com/taxbrain/1358/](url)

[2017-07-19 21:20] brittainhard commented on #578
@hdoupe thanks, I'm just about to put up a PR for that :).

[2017-07-19 21:44] brittainhard commented on #578
@hdoupe @martinholmer fix for quick calc is up on the test app. Looking into the other issue now.

[2017-07-20 10:12] MattHJensen commented on #585
This is updated on TaxBrain. Thanks @martinholmer for the feedback.

[2017-07-20 10:12] #585 closed

[2017-07-20 10:35] martinholmer commented on #585
@MattHJensen, So how did this new documentation get added to TaxBrain?
I can't see any pull request that made the change.  If we want TaxBrain development to be more transparent, changes like this need to be more visible.

[2017-07-20 10:36] MattHJensen commented on #585
I updated a [django flatblock](https://pypi.python.org/pypi/django-flatblocks) via the Django admin. I agree this is not an ideal system and will open an issue to address it.

[2017-07-20 10:45] MattHJensen opened #588 "flatblocks -> something checked into repo"
After I updated the ospc.org/taxbrain user tips in response to #585, @martinholmer asked:

What happened is that I updated a [django-flatbock](https://pypi.python.org/pypi/django-flatblocks) via the Django admin.

@martinholmer further noted that:

I agree entirely. Our current reliance on flatblocks has a few detrimental effects

- undermines the open approach of the TaxBrain project.
- means tha

[2017-07-21 16:33] #586 closed

[2017-07-21 16:46] brittainhard opened #589 "Submitting with no upload file causes 500 error"
Need to add some logic to ensure file exists.

[2017-07-21 18:16] brittainhard commented on #578
@martinholmer I took another dive into the code and I ended up in `taxcalc` again I noticed this line:
https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/policy.py#L52

It looks like its setting the default max years to 14 instead of 13, which may account for why the app is trying to calculate for year 2027. I fooled around with those values and only got more errors.

Can

[2017-07-25 15:14] hdoupe opened #591 "Small reform file character limit"
I tried to upload a json file to the webapp that contains all of the default taxbrain parameters and is about 8,000 characters long.  I received an error when I tried to upload it to the test webapp and the production webap, but I did not have any problems running it on my machine using a local instance of the webapp.

1. It looks like the `JSONReformTaxCalculator` class in `webapp/taxbrain/models

[2017-07-25 15:27] brittainhard commented on #591
@hdoupe I think the limit we set might be arbitrary.  If its accepting files then it should be much larger. I don't know Postgres or SQLite intimately, but it could be the case that Postgres is much more strict in this regard. Why SQLite isn't complaining and Postgres is, I don't know.

The fix here is just to increase the character limit. We can add this into the version fully test version of web

[2017-07-25 15:35] hdoupe commented on #591
@brittainhard Thanks, that makes sense.  With tabs, the reform file is about 26,000 characters.  I would imagine that that's pretty close to the upper limit sense this file contains each parameter.

[2017-07-25 15:43] brittainhard commented on #591
@hdoupe I can make a PR that changes the models. It's running fine locally, right? Does the file itself contain tab characters?

[2017-07-25 16:58] hdoupe commented on #591
@brittainhard

Yes, it runs fine locally.  Like you said, I think it has something to do with SQLite vs Postgres.

No, it uses a soft tab, so 4 spaces.  The soft tabs are not necessary but they help with the readability of the file.  This type of file would be generated using this command:
[code]

[2017-07-25 20:10] brittainhard commented on #591
@hdoupe out of curiosity, can you send me the reform file you used?

[2017-07-26 14:07] martinholmer commented on #578
@brittainhard said about TaxBrain bug report #578, which was filed over three weeks ago:

https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/policy.py#L52

Line 52 in the `policy.py` file is the last line of the following lines:
[code]

@brittainhard continued:

I'm mystified by your statement in several ways.

(1) The current version of Tax-Calculator can compute taxes fo

[2017-07-26 14:09] martinholmer commented on #578
@hdoupe,  Does the TaxBrain error reported at the **beginning** of issue #578 still occur in the version of TaxBrain you are testing?

[2017-07-26 14:45] hdoupe commented on #578
@martinholmer Yes, the error is still there:
[http://ospc-taxes7.herokuapp.com/taxbrain/1373/](url)

However, it appears to work when it does the quick calculation
[http://ospc-taxes7.herokuapp.com/taxbrain/1374/](url)

@brittainhard

[2017-07-26 14:48] brittainhard commented on #578
@hdoupe @martinholmer the issue is that taxcalc is trying to calculate beyond the year 2026 when the limit is 2027. That reform file is causing the app to try to calculate beyond 2027, but quickcalc works because it is only calculating one year.

[2017-07-26 14:48] martinholmer commented on #578
@hdoupe said about the TaxBrain error reported over three weeks ago in issue #578:

http://ospc-taxes7.herokuapp.com/taxbrain/1373/

Thanks for the quick response.

[2017-07-26 14:50] hdoupe commented on #578
@brittainhard said

Ah, thanks for pointing that out.

[2017-07-26 14:57] martinholmer commented on #578
@brittainhard said about the TaxBrain error reported in #578:

The last year for which Tax-Calculator can compute taxes is currently 2026.  So, I don't understand you statement "when the limit is 2027."  What do you mean by that?

Why don't you show us the dropq function call in the TaxBrain code that causes this error **and** show us the value of each parameter passed to that dropq function.   I

[2017-07-26 17:05] brittainhard commented on #578
@martinholmer I think it's a good idea to give you my understanding of what the problem is.

That reform file has a structure that is unlike those of many other sample files. It has inputs for multiple years instead of one, and contains inputs for years that are beyond the default max input year of TaxBrain, which is 2017.  For example, when you add inputs through the form at `/taxbrain`, you cann

[2017-07-26 17:37] martinholmer commented on #578
@brittainhard said about the TaxBrain bug reported in #578 (with my emphasis):

Given that that boldface statement is clearly false, I'm having a difficult time putting much credence in your understanding of the problem in #578.

@brittainhard also said:

Excellent!   Given that the pickle documentation says the following, please do post the pickle file contents here.
[code]

[2017-07-26 21:13] hdoupe commented on #578
Thanks to @brittainhard I was able to go through the celery log and now I think I have a better idea about what's going on.  I'm going to try to lay out the problem as I see it.

The error is thrown in the `dropq_calculate` function in `taxcalc.dropq.dropq_utils.py`.
[code]
[code]

There are two issues here:

1. In `webapp-public/deploy/celery_tasks.py`, `first_budget_year` is passed to `dropq_tas

[2017-07-26 22:29] martinholmer commented on #578
@hdoupe said after analyzing the "celery log" that traces TaxBrain operation leading up to the #578 bug:

NUM_BUDGET_YEARS = int(os.environ.get('NUM_BUDGET_YEARS', 10))
Is this the case? If so shouldn't actually be 2026 - first_budget_year?

@hdoupe,  Thanks for your efforts to unravel the cause of the bug reported in TaxBrain #578.

The "celery log" is still secret, so I have no way of providing

[2017-07-27 11:27] martinholmer commented on #578
@martinholmer said in the discussion of #578 comment by @hdoupe:

This is incorrect.  What @hdoupe suggested is correct.  Here is what he said:

**Background on dropq function arguments start_year and year_n**
The `dropq_calculate` function advances the Calculator objects to start_year and then increments the year of the two Calculator objects year_n times.  This is the way dropq has worked from t

[2017-07-27 15:39] martinholmer commented on #578
@hdoupe has shared the complete "celery.log" mentioned earlier in the discussion of TaxBrain issue #578.  Issue #578 reported a [TaxBrain crash](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/578#issue-240035998), the source of which has been in doubt for weeks.  It is important to stress that the reported TaxBrain crash occurs when doing a reform file upload that worked correctly

[2017-07-27 16:50] MattHJensen commented on #578
I'm very glad to see progress on this issue, and thanks to @hdoupe, @martinholmer, and @brittainhard  for digging into this bug report.

I do have a few suggestions that may help speed up discussions in the future.

-  Straightforward statements of disagreement are very helpful, and I think we are all thick skinned enough to not need sugar coating. BUT there is no need to make disagreements or cri

[2017-07-27 19:55] brittainhard commented on #578
@martinholmer @hdoupe @MattHJensen @PeterDSteinberg

Looking at the pickle file, the size is over 500mb. This is most likely because it contains a serialized DataFrame object. Including that in a PR would be undesirable for a number of reasons.

After having taken a second look at the problem, I believe the solution is to fix the code in webapp. To this end, I am going to create a PR which will se

[2017-07-27 20:04] martinholmer commented on #578
@brittainhard said:

Yes, your view is very sensible.

Great!  Let us know if any questions come up that you think we could answer quickly.

[2017-07-28 14:27] #557 closed

[2017-07-28 14:49] martinholmer commented on #501
Since this TaxBrain issue #501 is being read again in July, 2017, let me clarify that the `read_egg_*` utility functions should remain in the Tax-Calculator repository.  The reason is that the Tax-Calculator command line interface, `tc`, runs (like TaxBrain) from a conda taxcalc package.  This means that there is a need for these two utility functions in Tax-Calculator.

@andersonfrailey

[2017-07-28 18:45] brittainhard opened #595 "Return to 0.9.0 TaxCalc as Default"
As per request from @MattHJensen, we need to keep the default taxcalc version at 0.9.0 for now. Next release will be done with version 0.9.0.

[2017-07-28 18:54] martinholmer commented on #595
@brittainhard said:

OK.  But a little explanation about why we are doing this would help the whole team understand what's going on.

[2017-07-28 19:08] MattHJensen commented on #595
@martinholmer, I plan to send out a note to the policybrains-modelers mailing list later this afternoon on this topic, but here is the preview preview:

I think it we should go through two rounds of the release process (see the updated version in #594). The first would release a webapp-public update that fixes the file upload bugs. The second would release a webapp-public update that upgrades to t

[2017-07-28 19:10] martinholmer commented on #595
@MattHJensen,  Thanks for the explanation in webapp-public #595.  Seems reasonable.

[2017-07-28 19:23] hdoupe opened #596 "EITC phase-in rate values being changed"
This issue was initially raised in [Tax-Calculator issue #1485](https://github.com/open-source-economics/Tax-Calculator/issues/1485#issuecomment-318723224).

@MattHJensen said

Here are results from the celery log when I ran the two reforms mentioned above. Celery log for `_EITC_rt` set to 1:
[code]
and `_EITC_rt` set to 1.5:
[code]
There are two problems here:

1. `_EITC_rt` is being rounded down

[2017-07-28 20:08] brittainhard opened #597 "Update Readme and Local Development Guide"
Our process has changed a lot and we haven't kept the readme up-to-date. It would also be good to review the wiki pages. I think that it would be hard for a new developer to get started just based on the info we have in the repository.

[2017-07-28 20:12] #560 closed

[2017-08-02 14:12] hdoupe opened #598 "Itemized deduction ceiling switch not correctly processed by TaxBrain GUI interface"
I noticed that setting the switches in `Deductions subject to the cap on itemized deduction benefits` to false did not actually cause the parameter, `_ID_BenefitCap_Switch`, that was passed to `taxcalc` to be false.  I ran this [reform](http://ospc-taxes7.herokuapp.com/taxbrain/edit/1388/?start_year=2017) on a local instance of taxbrain and the value of `_ID_BenefitCap_Switch` was passed to `taxca

[2017-08-02 14:26] martinholmer commented on #598
@hdoupe,  Thanks for the bug report in issue #598.
Let me be sure I understand your findings.
Are you saying that when you use the regular GUI interface to TaxBrain, the reform passed to taxcalc is correct, but when you use the file-upload interface to TaxBrain, the reform passed to TaxBrain is incorrect?  Is this right?  Or am I confused?

@brittainhard @PeterDSteinberg

[2017-08-02 14:27] hdoupe commented on #598
@martinholmer Yes, it appears that there is an issue with the GUI interface to Taxbrain, but the file upload functionality appears to work correctly.

[2017-08-02 14:31] martinholmer commented on #598
@hdoupe said:

So, I had it reversed.  You're finding that the GUI interface to TaxBrain has the reform wrong while the file-upload interface to TaxBrain has it right.  Is that correct?

[2017-08-02 14:36] hdoupe commented on #598
@martinholmer said

Yes, that is correct.  My apologies for the confusion.  I edited my initial comment in an effort to clear this up.

[2017-08-02 14:49] martinholmer commented on #306
As of August 2, 2017, the first bug item mentioned nearly a year ago in webapp-public issue #306 is still not fixed.  During the year since #306 was opened, the contents of the `puf.csv` file used by TaxBrain have changed somewhat, causing a sensible Quick-Calculation subsample to be 5% (not 2%) as described in webapp-public enhancement request #574.

Where do these two remaining TaxBrain Quick-Ca

[2017-08-02 14:57] martinholmer commented on #591
@brittainhard,  Is there any reason to delay merging pull request #592?
If not please merge it, so that #591 can be resolved.

[2017-08-02 19:46] brittainhard commented on #591
@martinholmer going to go through the whole test deploy process tomorrow. Will merge it then.

[2017-08-03 14:37] #591 closed

[2017-08-03 19:29] brittainhard opened #600 "Use taxpuf for Local Testing"
This would involve adding tests that taxpuf for running calculations locally, but would not be run by travis. By using a pytest decorator and changing up the `.travis.yml` file, we can have these tests ignored on Travis but run locally. We will be able to test functions like `run_nth_year_calculation` if we use a local taxpuf file.

@martinholmer is this something you would be interested in doing?

[2017-08-03 19:57] brittainhard opened #601 "Fix Deployment Tests"
Deployment tests were not properly migrated, and therefore fail when `py.test` is run with no path specified.

[2017-08-03 19:59] brittainhard opened #602 "Testing Improvements"
I think it would be good to have a discussion about testing strategies that would go beyond unit tests and mocking functions. One goal for issue #543 was to add a mocked test, much of which we have in the `MockCompute` object.

I think we should also talk about creating unit tests that run the actual services and test the output. These would only be run locally, since they would require the taxpuf

[2017-08-03 19:59] #595 closed

[2017-08-03 20:00] brittainhard commented on #578
Closed by #593

[2017-08-03 20:00] #578 closed

[2017-08-03 21:09] martinholmer commented on #600
@brittainhard said in TaxBrain issue #600:

I think @hdoupe could handle this well.
But if either of you have questions, I'll be happy to answer them.

[2017-08-03 21:38] hdoupe commented on #600
@brittainhard @martinholmer I'll begin working on this issue.

[2017-08-03 21:47] martinholmer commented on #600
@hdoupe said:

Thanks.

[2017-08-04 02:30] martinholmer commented on #596
The following code from the `apps/taxbrain/helper.py` file **may** be the source of the bug reported in #596.  It looks as if **every** policy parameter greater than one is being rounded to its nearest integer value.  I don't understand the webapp code at all and so could be wrong about this, but the code below looks like it could be the source of this bug.  This code was added during February 201

[2017-08-04 14:00] hdoupe commented on #602
I would like to create a test that feeds a reform (or a series of reforms) through the interface that alters all of the parameters and validates that the inputs are processed as expected.  However, the process of inputting over a hundred parameters into taxbrain takes several hours and is painfully tedious.

I've been trying to think of a way to come as close as possible to doing this without spen

[2017-08-04 14:18] hdoupe commented on #596
@martinholmer said

That makes sense to me.  We could do something like this:

[code]
@brittainhard

[2017-08-04 15:25] talumbau commented on #596
@hdoupe that could work. I would pull in @MattHJensen and draw his attention to issue https://github.com/OpenSourcePolicyCenter/webapp-public/issues/160

which explains the rationale for the original change. I would then propose the creation of some set of `rounding_exempt` variables, which would be checked in the function you show, and then added to over time.

[2017-08-04 15:28] martinholmer commented on #602
@hdoupe said in TaxBrain issue #602:

Automated testing of the TaxBrain GUI interface is definitely an important goal.  So, thank you for raising this issue for discussion.

I don't know much about the internal working of TaxBrain, but what I do know suggests that for the automated testing to be comprehensive it needs to replicate the TaxBrain user experience using the GUI interface.  I don't know

[2017-08-04 15:41] hdoupe commented on #602
@martinholmer said

I had the same thoughts on this.

That's great.  Thanks for pointing this out.  I'll look into this approach.  And, yes, this will be much better than reinventing the wheel.

Thank you for your feedback.

[2017-08-04 17:02] talumbau commented on #596
I agree that no rounding makes things easier. The issue, as I recall, is that parameters that were CPI-inflated to cover the budget window were not being rounded at all, which was seen as undesirable by @MattHJensen, that is my recollection anyway. Any easy fix would be to remove all rounding code, which would allow entry of parameters that are not whole dollars. Additionally, any default paramete

[2017-08-04 17:19] martinholmer commented on #596
@talumbau said about issue #596:

I think this is a good first step: turn off all the TaxBrain rounding.  Then we can see exactly where we stand with respect to TaxBrain GUI readability.

My understanding is that all the policy parameter values for 2017 (and earlier years) are whole numbers.

So, just adding one line to the function will "turn off" the rounding, right?
[code]
This minimal change w

[2017-08-04 17:37] hdoupe commented on #596
@martinholmer That sounds sensible to me.  I can make the change and compare the results from a local taxbrain instance and taxcalc with the reform:
[code]

@brittainhard

[2017-08-04 17:57] martinholmer commented on #596
@hdoupe said:

[code]
Sound good, but maybe try something other than all 1.5 so that you know which way to rounding would go under current version.  Maybe `[[1.4,1.4,1.6,1,6]]`?

[2017-08-04 17:58] hdoupe commented on #596
@martinholmer said

Good idea.  I'll give that a shot.

[2017-08-04 18:24] hdoupe commented on #596
@martinholmer I decided to use the reform: [[0.75,1.4,1.6,1,6]].

Before removing the rounding function the keywords to dropq were :
[code]

The results after removing the rounding:
[code]

Changing `default_taxcalc_data` does not appear to change the results.  Does this function only change the default data and not the user inputs?

[2017-08-04 18:49] martinholmer commented on #596
@hdoupe said:

What did you do to remove the rounding?

@hdoupe said:

This function is called many times in several different files, but maybe it doesn't effect reform specifications.  Can you trace TaxBrain GUI to see where the values greater than one are set to one?  Or, better yet, maybe the people who wrote the TaxBrain code can tell you where to look.

@brittainhard @PeterDSteinberg @talumba

[2017-08-04 18:58] hdoupe commented on #596
@martinholmer I did exactly what you recommended:

[code]

I searched the directory and the function `round_gt_one_to_nearest_int` is only called from the function `default_taxcalc_data`.

[code]

[2017-08-04 19:42] martinholmer commented on #596
@hdoupe said:

Yes, that's true.  But search to see how many times `default_taxcalc_data` is called.

What does @brittainhard say about where in the code the `_EITC_rt` parameter is being rounded down to one?

[2017-08-04 20:54] martinholmer commented on #596
The experiments conducted by @hdoupe indicate that the `default_taxcalc_data` function (which calls `round_gt_one_to_nearest_int`) is not the source of the TaxBrain bug reported in issue #596.
Apparently, it is used only to round the parameter values found in the `current_law_policy.json` file.  Is that correct, @talumbau?

As I continue to explore the code in the `webapp/apps/taxbrain` directory,

[2017-08-04 21:01] talumbau commented on #602
@hdoupe said:

I see where you are going and this is a good idea. There is a "tool" that is missing from your proverbial toolbox that will help you achieve this goal. First I will explain what happens when someone does a TaxBrain submission:

The user goes to `/taxbrain` and the TaxBrain screen loads. They are given a "session ID" by the site and this is kept in the browser session as long as the

[2017-08-04 21:57] martinholmer commented on #602
@talumbau explained in response to @hdoupe questions on approaches to TaxBrain testing:

@hdoupe, I think the approach being suggested here by @talumbau is more promising than the selenium approach (because selenium can be touchy when working with a webpage).  Just sending a POST form submission to the TaxBrain server is much easier and more reliable.

[2017-08-04 22:13] talumbau commented on #596
I believe that you are pointing to the correct place in the code where the int conversion occurs.

Looking at the history of helpers.py, the code has forced an int conversion of user parameters (that were not rates) since at least July of 2015, which is the full length of time of the existence of this repo. Discussions/code changes prior to that were on the old version of the repo, which was a pri

[2017-08-07 10:35] martinholmer opened #604 "Documenting TaxBrain/Tax-Calculator Interactions"
**High-level documentation of how TaxBrain (TB) works as an interface to Tax-Calculator (TC)**

*This initial comment will eventually contain the high-level documentation for static tax analysis.
I will edit it as people answer questions posed in subsequent comments.*

At the highest level of abstraction, TB contains three components:

- **TB INPUT GUI**  This component creates the policy-paramete

[2017-08-07 10:40] martinholmer commented on #604
First question about issue #604 is whether this high-level view of TB/TC interactions is correct.

Second set of questions is where is the code corresponding to these components.  In which webapp-public directories?  In which files? In which functions?

Even if you know (or think you know) answers to only a part of the whole picture, please contribute your knowledge by adding a comment to issue #6

[2017-08-07 13:47] hdoupe commented on #602
@talumbau said

Thank you for your response.  I'm new to web-development and have been operating under the assumption that some black-box magic occurred between submitting the form and data being received by the functions in `taxbrain/views.py`.  Your response clarifies what is actually going on here.

@martinholmer said

I agree with this.

I also do not know how much we would be leaving untested

[2017-08-07 17:10] brittainhard commented on #602
@martinholmer @hdoupe Django is really great in that it can provide a django Client object that can handle get / post requests and database object creation. Documentation is here: https://docs.djangoproject.com/en/1.11/topics/testing/

When you run the test suite it usually creates a test database, which is then destroyed after the tests are done. You also run a mocked Client object that will hand

[2017-08-07 17:26] hdoupe commented on #602
@brittainhard Thanks, I'll look into this.  I was able to use the requests library that @talumbau mentioned to submit a form on my local machine, but I haven't figured out how to get the results.  I'll open another issue about this so that I don't clutter up this feed while I'm figuring out how all of this POST and GET stuff works.

[2017-08-07 17:29] martinholmer commented on #596
@talumbau said about the webapp-public code that causes the #596 bug:

All that is true except for the `(that were not rates)` part.  In the initial commit on July 21, 2015, there was no `is_rate` variable and no `propogate_user_list` function.  The `propogate_user_list` function was added nearly eight months later on March 16, 2016, and was amended the next day to include the `is_rate` variable i

[2017-08-07 17:37] GoFroggyRun opened #605 "Web app test suites issue?"
I followed the latest instructions and updated my webapp repo locally.

However, when I was on the master branch and ran the test suites, I got the following message:

[code]

It seems that there's one test failure.

Wondering if this is my own issue, or something expected?

cc @brittainhard @hdoupe

[2017-08-07 17:39] brittainhard commented on #605
@GoFroggyRun that's an xfail, meaning that the app is meant to fail that test. It's a test pass, in a sense.

That xfail was there as a stop-gap measure a while back, but it should be fixed.

[2017-08-07 17:44] GoFroggyRun commented on #605
@brittainhard thanks for your prompt and clear explanation!

[2017-08-07 17:44] #605 closed

[2017-08-07 22:49] hdoupe opened #606 "Version 1.0.1 Testing"
I discovered several bugs in the taxbrain interface.  I used the requests library as suggested by @talumbau in issue #602 to create reforms on the test webapp and the local instance of the webapp.  I uploaded the script `post_reforms.py` on my `webapp-public` [branch](https://github.com/OpenSourcePolicyCenter/webapp-public/compare/master...hdoupe:reform_processing).

I altered every parameter in t

[2017-08-07 22:52] hdoupe commented on #606
On completion of the tasks I set out for tomorrow and further input here, I will send out the email as required in the [`RELEASE_PROCESS.md`](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/RELEASE_PROCESS.md)

[2017-08-08 02:33] martinholmer commented on #606
@hdoupe said:

I'm not sure how TaxBrain is suppose to work, but I have found the paper trail on this matter.

First, look at [item 4 in Tax-Calculator issue 1074](https://github.com/open-source-economics/Tax-Calculator/issues/1074) and [item 4 in Tax-Calculator pull request 1109](https://github.com/open-source-economics/Tax-Calculator/pull/1109), which was merged on December 22, 2016.

Then look

[2017-08-08 04:55] talumbau commented on #596
Actually, that is not correct. If you look at the version of the `helpers.py` function from July 21, 2015, you will see that at [line 258](https://github.com/OpenSourcePolicyCenter/webapp-public/commit/7a9c6fc493a0f7c7d387cb536885c768a6d8f8a2#diff-d5f48b980f3b1e6423c78af0eb9eac53R258) the truncation to integer occurs, but for variables processed by [line 280](https://github.com/OpenSourcePolicyCen

[2017-08-08 05:02] talumbau commented on #606
@hdoupe this is great stuff. Some suggestions/misc. items:

 - what you've built so far is great for "parameter sweep" type runs and/or checking various corner cases. My advice is to be cautious with how many tests you run at a time. Each POST is the same as a TaxBrain user hitting the submit button, so for large number of submits, I would suggest running such jobs at off-peak hours. In doing such

[2017-08-08 13:47] hdoupe commented on #606
@martinholmer said

Thanks for your feedback.  I agree with your interpretation that this used to be a feature but now it is probably a bug.  I will open a separate issue addressing this bug and a PR with a test exposing this bug.

@talumbau said

Thanks for the heads up.  It would have been unfortunate if I'd swamped the test webapp or blown up my computer.

Good idea.  I will do this.

[2017-08-08 13:54] hdoupe opened #607 "AMT_CG_rt is pinned to CG_rt"
I am creating a separate issue for the bug found in #606.

_AMT_CG_rt{1,2,3} -- If _CG_rt{i} is altered, then the corresponding rate _AMT_CG_rt{i} is pinned to the former rate, i = 1, 2, and 3. But _AMT_CG_rt4 is not affected. If _CG_rt{1,2,3} are not altered then _AMT_CG_rt{1,2,3} are correctly set to the specified values. See http://ospc-taxes7.herokuapp.com/taxbrain/edit/1406/?start_year=2017 a

[2017-08-08 15:08] hdoupe opened #609 "_ID_Medical_frt_add4aged not accepted"
I am creating a separate issue for the bug found in #606.

I received a warning when I entered -0.02 for `_ID_Medical_frt_add4aged` which is in the [permitted range of -0.025 to 0.0](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/current_law_policy.json#L785).  I am able to submit after the warning.  I will open a PR with a test exposing this issue.

@martinholmer @Pet

[2017-08-08 15:34] martinholmer commented on #596
@talumbau said in the discussion of the #596 bug:

[code]

@talumbau thanks for your thoughtful and creative response.

I have just started looking into the issues you raise, so these are tentative answers to your two questions.  I will continue looking into the issues you raise, but at the moment I'm optimistic about the approach you're suggesting.

The answer to your first question is NO.
Right

[2017-08-08 15:41] talumbau commented on #607
@hdoupe can you look at this issue and see if it sheds light on the problem:

https://github.com/OpenSourcePolicyCenter/webapp-public/issues/340

I'm wondering if your POST contains a parameter that is no longer in the TaxBrain GUI interface. It should still be fixed if there is a problem, but the discussion in #340 seems relevant

[2017-08-08 16:13] hdoupe commented on #607
@talumbau I'm pretty sure that it is still in the TaxBrain GUI interface.

https://www.ospc.org/taxbrain/
![screen shot 2017-08-08 at 11 53 59 am](https://user-images.githubusercontent.com/9206065/29081373-67743fb8-7c30-11e7-9a83-aaf9c88e8ffa.png)

And the corresponding entry in `taxcalc/current_law_policy.json`

[code]

I see that you removed AMT capital gains in #342 but I'm having trouble figur

[2017-08-08 17:13] brittainhard opened #612 "Error using problematic r1.json file when doing a macro reform simulation"
Probably similar to the bug in #578

[2017-08-09 14:41] brittainhard opened #613 "Revenue table (Print, etc.) buttons disappear when selecting different (Reform, etc.) table"
@GoFroggyRun after looking at this issue, it looks like the buttons for the table aren't being re-rendered when a different table is looked at. Unfortunately, the buttons are added after the table has already been rendered.

The buttons are added here:
https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/static/js/taxbrain-tablebuilder.js#L554-L567

But then need to be added again h

[2017-08-09 16:23] GoFroggyRun commented on #613
@brittainhard Thanks for looking into the issue, and pointing out related code lines. Your explanation makes a lot sense to me. I'll try to play with those code at the same time to see if I can get any progress or not.

[2017-08-09 19:38] andersonfrailey opened #614 "Adding UBI Functionality"
I'm working on ways to add UBI functionality using the CPS file with TaxBrain and I'm hoping to get some feedback from those with a better grasp on the inner workings of the web-app on the feasibility of one idea I have. The general goal it to make it as easy as possible for a user to work their way to a budget neutral UBI.

The first step is adding a button on the results page, `Link to UBI Simul

[2017-08-11 15:32] hdoupe opened #615 "Using requests for first iteration of automated webapp testing"
In this issue, I am continuing the conversation in #602 about using requests to post data to TaxBrain.

@talumbau gave an excellent explanation for how data is posted to TaxBrain (and other websites):

I was able to use the requests library to [post reforms](https://github.com/hdoupe/webapp-public/blob/reform_input_processing2/webapp/apps/taxbrain/tests/reform_input_processing/post_reform.py) both

[2017-08-11 17:22] hdoupe opened #616 "Macro_elasticity results page csv output requires sign in"
I tried to export the macroeconomic elasticity [results](http://ospc-taxes7.herokuapp.com/dynamic/macro_results/29/#) as a csv file but was prompted to enter a username and password first.  Why is this the case?

@martinholmer @brittainhard @PeterDSteinberg @GoFroggyRun

[2017-08-11 17:23] hdoupe opened #617 "Macroeconomic_elasticity results page share and print buttons broken"
On the [macro_elasticity results page](http://ospc-taxes7.herokuapp.com/dynamic/macro_results/29/#), the `Share` and `Print` buttons do not work.

@martinholmer @brittainhard @PeterDSteinberg @GoFroggyRun

[2017-08-11 18:08] martinholmer commented on #616
@hdoupe said in TaxBrain issue #616:

The main static results page in TaxBrain does not require a login to download results, so it would seem that this behavior on the macro-elasticity page is a TaxBrain bug.

[2017-08-11 18:13] martinholmer commented on #612
@brittainhard,  What is "problematic" about the `r1.json` reform file?
I thought your recent fixes with respect to start year on the file-upload page had fixed the bug reported in issue #578.

[2017-08-11 21:43] martinholmer commented on #615
@hdoupe,  This is an impressive expansion in the testing of TaxBrain.  Good work!
Of course, as you gain experience I'm sure you will refine your testing procedures.  But this is a major improvement.

My only question is shouldn't your testing procedures be added to the webapp-public repo?  I see that you have added narrow specific tests for each failure you've found and that is great.  Shouldn't

[2017-08-12 16:55] talumbau opened #619 "Modify webapp backend to process all user input as files"
With the merge of https://github.com/open-source-economics/Tax-Calculator/pull/1505, Tax-Calculator now supports a JSON reform interface that maps very naturally to the TaxBrain GUI interface. Currently, TaxBrain supports two separate but similar workflows: a GUI interface and a file upload interface. For the GUI interface, there is a significant amount of code that processes the user's input to c

[2017-08-14 14:07] martinholmer commented on #619
Let me add something to the #619 comment by @talumbau.
In addition to the TaxBrain simplifications outlined by @talumbau, the merge of [Tax-Calculator pull request 1502](https://github.com/open-source-economics/Tax-Calculator/pull/1502) and [Tax-Calculator pull request 1503](https://github.com/open-source-economics/Tax-Calculator/pull/1503) offers another TaxBrain simplification: **there is no lon

[2017-08-14 14:36] brittainhard commented on #612
@martinholmer the feature that allowed file uploads to be used for simulations came with the earlier PR to enhance file-input interactions on webapp.

The view that handles the macro simulations does support file data, but does not support the `r1.json` file that was causing the issues in #578. Doesn't handle the start_year edge case that was causing the problem in #578.

[2017-08-14 14:42] brittainhard commented on #612
To further clarify, this is not a bug with the initial file upload, only when you use the file upload to run simulations. Really comes down to an input error.

[2017-08-14 15:02] hdoupe commented on #615
@martinholmer Thanks, I'm just happy that I will not have to spend as much time manually populating fields in the TaxBrain GUI, manually uploading files, and manually checking answers with those from `taxcalc`.

@martinholmer said

Yes I hope that some form of these testing procedures will be uploaded to the webapp-public repo.  I am waiting on feed back from the Continuum Analytics staff before d

[2017-08-14 16:08] martinholmer commented on #612
@brittainhard said about issue #612:

I don't understand what kind of error the `r1.json` reform generates.
The reform looks pretty straight-forward to me (see below).
What error message do you get from Tax-Calculator?

Here are the `r1.json` file contents:
[code]

[2017-08-14 16:53] brittainhard commented on #612
@martinholmer the error is this:

[code]

Not the same issue, but definitely coming from the same file. This feature wasn't designed with that reform file in mind, so we have to deal with this edge case.

My hunch is that the problem is similar to the #578 problem. Haven't made work on it yet, but the fix will be added to the next release.

[2017-08-14 17:22] martinholmer commented on #612
@brittainhard posted in TaxBrain issue #612 the following as the last item in the error traceback:

This error message shows that the error occurred in TaxBrain (before Tax-Calculator was ever called) in the `elastic_endpoint()` at the statement marked below with `# <---------------`.
[code]

Notice that this error has nothing to do the first budget year, but rather has to do with the macroeconomi

[2017-08-14 17:28] brittainhard commented on #612
@martinholmer thanks for looking into this for me. Your insight is definitely helpful.

This is on deck for the next release, but it is not currently the highest priority. My focus right now is on getting @hdoupe access to do his own deployments. After that is ready, I can begin to tackle this problem, and other issues that need fixing before the next release.

[2017-08-15 12:33] martinholmer opened #620 "Mislabeled button on Static Results page"
On the TaxBrain Static Results page the first line of the Build Table section has two buttons: `Diagnostic Table` and `Difference Table`.

This issue requests that the `Diagnostic Table` be renamed as the `Distribution Table`.

This request is being made for a couple of reasons.

First, diagnostic carries much less meaning than distribution.  Diagnostic usually refers to the process of determining

[2017-08-15 14:52] martinholmer commented on #612
@brittainhard said:

OK, good.  So, where do you stand in working with @hdoupe to get TaxBrain 1.0.1 operational?

[2017-08-15 15:53] brittainhard commented on #612
@martinholmer `1.0.1` is up on production right now. We are going to fix the bugs that @hdoupe found and add them to the `1.0.2` release.

[2017-08-15 16:22] martinholmer commented on #612
@brittainhard said:

I don't understand what you mean by "is up on production right now".
When I go to TaxBrain is still says it's the old version:

![screen shot 2017-08-15 at 12 14 32 pm](https://user-images.githubusercontent.com/12170745/29324940-f1a67c04-81b3-11e7-874b-d58d43cb13fd.png)

I thought the new version was supposed to drop the hash and say this:
[code]
Am I confused?

@hdoupe

[2017-08-15 16:56] brittainhard commented on #612
@martinholmer where on the app are you seeing that text in that picture you posted?

I wasn't aware that we were supposed to show `TaxBrain 1.0.1  Tax-Calculator 0.9.1`. Matt wanted `1.0.1` to use taxcalc `0.9.0`. We might upgrade it for the next release, so it looks like the taxcalc version is correct.

I was also not aware that we were supposed to show the taxcalc version and the taxbrain versio

[2017-08-15 17:22] martinholmer commented on #612
@brittainhard asked:

Go to URL   http://www.ospc.org/taxbrain/
and click on `What is TaxBrain?`, which is just below the Start Exploring button
and then scroll to the bottom of the page that is revealed.

This is the **only** place that TaxBrain says what version it is, so it should be up-to-date and informative.  We discussed this months ago, so maybe you've forgotten.   Here is a summary of the

[2017-08-15 17:38] martinholmer commented on #612
@martinholmer said in issue #612:

Actually, this is not correct because the top of the Static Results page shows this same information:

![screen shot 2017-08-15 at 1 24 52 pm](https://user-images.githubusercontent.com/12170745/29327539-7f8d92b0-81bd-11e7-87c4-52f734e1b765.png)

So, we need to eliminate the commit hash here as well.  And the version of TaxBrain being used it not mentioned (otherw

[2017-08-15 17:44] hdoupe commented on #612
@martinholmer I'll look into this unless @GoFroggyRun already has an idea of how to fix this.

[2017-08-15 17:46] martinholmer commented on #612
@hdoupe said:

Great!  Any suggestions about where Hank should start looking in the code, @GoFroggyRun?

[2017-08-15 18:03] GoFroggyRun commented on #612
@martinholmer, @hdoupe :

It seems to me that modifying the code line [here](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/079f2471b9f9fa6e121a09527a16f52af7491f6f/templates/taxbrain/results.html#L50) will do the work.

[2017-08-15 18:34] hdoupe commented on #612
@martinholmer @GoFroggyRun  I think I it will be easier to change this [part of the code](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/webapp/apps/taxbrain/views.py#L57):
[code]
Then change this to something like
[code]

Then, we don't have to change the html code.  I think that the html code is the only place where `unique_url.taxcalc_vers` is used.

[2017-08-15 18:42] martinholmer commented on #612
@hdoupe suggested alternative approach to #612 code version changes.

OK, that makes sense.  How do we get the TaxBrain version?  Now it is 1.0.1 but will be different in the future.

@GoFroggyRun, Does this approach make sense to you?

@brittainhard

[2017-08-15 18:47] hdoupe commented on #612
Actually, do we need to keep track of the commit info?  If not it would be nice to drop it.  Otherwise, a new variable would have to be created in `OutputUrl` to keep track of the full version.

@brittainhard @martinholmer @GoFroggyRun

[2017-08-15 18:54] GoFroggyRun commented on #612
@martinholmer @hdoupe , the alternative approach makes sense to me as well.

@martinholmer said:

No problem. I'll take a look at this.

[2017-08-15 18:57] martinholmer commented on #612
@hdoupe asked:

No, please drop the commit number per my [earlier comment](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/612#issuecomment-322531513):
[code]

[2017-08-16 12:16] martinholmer commented on #572
The bug reported in #572 has been resolved in release 1.0.1

[2017-08-16 12:16] #572 closed

[2017-08-16 12:33] martinholmer commented on #279
Using TaxBrain v1.0.1 on 2017-08-16, this was no longer a problem.

[2017-08-16 12:33] #279 closed

[2017-08-16 12:35] martinholmer commented on #374
Using TaxBrain v1.0.1 on 2017-08-16, this is no longer a problem.

[2017-08-16 12:35] #374 closed

[2017-08-16 13:52] martinholmer commented on #619
Let me add something else to the #619 comment by @talumbau.
While #619 is labeled an enhancement, when implemented the ideas of @talumbau will fix at least one bug (#596) and perhaps other bugs as well.

cc @MattHJensen, @hdoupe, @brittainhard, @PeterDSteinberg

[2017-08-16 13:56] martinholmer commented on #619
@brittainhard and @PeterDSteinberg,
It has been several days since @talumbau suggested the TaxBrain simplification described in #619, but neither of you have commented on the pros and cons of his suggestion.  We would like to hear your views on his suggestion.  Can you add your comments to #619?

@MattHJensen @GoFroggyRun @hdoupe

[2017-08-16 14:33] hdoupe commented on #619
@martinholmer said

I agree.  I think this would take care of the TaxBrain GUI input bugs (#596, #598, #607, and #609).

[2017-08-16 22:54] martinholmer commented on #589
Using TaxBrain 1.0.1 on 2017-08-16, this bug persists.

Going to the file-upload page and immediately clicking on the `Show me the results!' button, produces this:

![screen shot 2017-08-16 at 6 51 02 pm](https://user-images.githubusercontent.com/12170745/29388721-4b07dc10-82b4-11e7-8d6c-c1866c2b3b86.png)

[2017-08-17 15:39] hdoupe commented on #604
TB INPUT GUI DOCUMENTATION

- Form-Creation Code Location
        The format of the TaxBrain input page is set in [`templates/taxbrain/input_form.html`](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/templates/taxbrain/input_form.html).

- Input-Sending Code Location
       The input from the submitted form is received by [`webapp/apps/taxbrain/views.py`](https://github.com/Op

[2017-08-17 17:16] brittainhard opened #624 "1.0.2 Release"
@hdoupe @martinholmer @MattHJensen @GoFroggyRun  I've made a milestone for the 1.0.2 release. Can we discuss what fixes and PRs we want in that milestone? I know for sure I want #612 and #589 fixed. Any other suggestions?

[2017-08-17 17:48] hdoupe commented on #624
@brittainhard what do you think about tackling #619?  I would like to fix #596, #598, and #607 as soon as possible since they will lead to incorrect results.  It appears that solving #619 will take care of #596, #598, and #607.  That way we don't have to fix the latter three bugs twice.

I'm interested in working on this if you're busy working on other stuff before the next release.

cc @martinhol

[2017-08-17 17:51] hdoupe commented on #624
#622 should be ready to go.  This points the TaxBrain urls to the correct version of the relevant package instead of the master repo on github.  It also removes the reference to the commit ID.

[2017-08-17 17:53] hdoupe commented on #624
@brittainhard I have some tests that post reforms to TaxBrain using the requests library and compare the results with those generated by sending the reform data straight to taxcalc.  Should we try to include those in this release?

cc @martinholmer @MattHJensen @GoFroggyRun

[2017-08-17 17:56] brittainhard commented on #624
@hdoupe #619 looks like a good fix, and I think i'm the only person that can tackle it. I'll take a look.

In regards to the test PRs, those are always important to have. It would be good if you could associate that code with an issue, and add that issue to the milestone.

[2017-08-17 17:59] brittainhard commented on #624
With #622, I think its better to add issues to these milestones and not PRs. Can you open an issue for that PR?

[2017-08-17 18:01] GoFroggyRun commented on #624
@brittainhard, #611, #621 and #623 should be ready to go as well. It would be great to include them in 1.0.2 release.

[2017-08-17 18:02] brittainhard commented on #624
@GoFroggyRun great, can you add the associated issues to the milestone?

[2017-08-17 18:06] GoFroggyRun commented on #624
@brittainhard it seems that I wasn't able to associate those issues to the milestone, but related issues are #584 and #545.

[2017-08-17 18:07] brittainhard commented on #624
I added them.

[2017-08-17 18:09] brittainhard commented on #624
@GoFroggyRun did you have time to take another look at #613 ?

[2017-08-17 18:13] hdoupe opened #625 "Remove commit reference and url doesn't point towards version repo"
On the webapp, the version for each package is displayed, but the commit ID is also displayed.  Further, the url points towards the main github repo instead  of the version that is being used in the current version of the webapp.

For example, TaxBrain shows:
![screen shot 2017-08-17 at 2 07 42 pm](https://user-images.githubusercontent.com/9206065/29426708-7ee27706-8355-11e7-83b8-8f40b150ad9d.png)

[2017-08-17 18:15] hdoupe commented on #624
@brittainhard I just opened an issue #625 for PR #622.

[2017-08-17 18:15] hdoupe commented on #624
@brittainhard said

Ok sounds good.  Let me know if there is anything I can do to help.

[2017-08-17 18:35] GoFroggyRun commented on #624
@brittainhard I did look at it and worked on it for a while, I was not able to, however, arrive at an easy fix. We might have to include that in the next release.

[2017-08-17 19:53] GoFroggyRun commented on #624
@brittainhard it would also be helpful to include #626 in the milestone that resolves #620.

[2017-08-18 01:16] martinholmer commented on #624
@brittainhard said in webapp-public issue #624 wrt TaxBrain release 1.0.2:

Being able to implement the TaxBrain changes described in #619 requires Tax-Calculator changes that are not in 0.9.2, but will be included in Tax-Calculator 0.9.3.  Would it facilitate your work on #619 if we created 0.9.3 now (or in the next few days)?  Please advise.

@MattHJensen @hdoupe @GoFroggyRun

[2017-08-18 15:32] hdoupe commented on #606
I'm closing this since I sent out an email documenting these results in the list serve.  Issue #615 and PR #627 address the scripts I mention here:

[2017-08-18 15:32] #606 closed

[2017-08-18 18:39] martinholmer opened #628 "Simple GUI-specified reform causes TaxBrain crash"
Specifying a simple (delayed) reform on the TaxBrain GUI input page produces a TaxBrain crash.

Here is the only changed policy parameter:

![screen shot 2017-08-18 at 2 34 52 pm](https://user-images.githubusercontent.com/12170745/29472664-d5d28010-8422-11e7-9d8a-9149e43ca492.png)

And here is the response from TaBrain:

![screen shot 2017-08-18 at 2 32 39 pm](https://user-images.githubusercontent

[2017-08-18 19:11] martinholmer opened #629 "Print and Copy and CSV of Built Table are not correct"
I ran current-law policy (that is, no changes on the TaxBrain GUI input page) through TaxBrain and on the Static Results page I built a table with these specifications:

![screen shot 2017-08-18 at 2 50 58 pm](https://user-images.githubusercontent.com/12170745/29473319-56e588b2-8425-11e7-91d0-ada8539db08f.png)

The built table on the Static Results page looks like this:

![screen shot 2017-08-18 a

[2017-08-18 19:26] hdoupe commented on #628
@martinholmer That's strange.  I ran your reform and the key words to dropq are: ```u'_FICA_ss_trt': [0.124, 0, 0, 9e+99]```

but when I do this reform `*,*,*,.15` the key words to dropq are ```u'_FICA_ss_trt': [0.124, 0.124, 0.124, 0.15]``` and the reform runs without a problem.

Perhaps there's some issue with validation.  I would think that `_FICA_ss_trt` is expected to be between 0 and 1.

[2017-08-18 19:27] martinholmer commented on #534
There has been some progress on this issues identified in #534, but some problems still remain.
The remaining problems present in TaxBrain 1.0.1 are described in the new issue #629.

Perhaps open pull requests #545 and #564 will fix some (or all) of these problems.

@MattHJensen @brittainhard @GoFroggyRun

[2017-08-18 19:27] #534 closed

[2017-08-18 19:45] martinholmer commented on #602
It would seem that issue #602, which asked for help in testing the TaxBrain GUI input logic, has generated much activity by @hdoupe.  Thanks for all the work on this, Hank.  Several bugs have been identified in issues and unit tests added to document each one of those bugs.  Also, an initial version of a systematic testing framework has been developed in pull request #627 and is being reviewed by

[2017-08-18 19:45] #602 closed

[2017-08-18 23:34] martinholmer commented on #628
@hdoupe said:

Ooooh!  That was a stupid mistake by me.  I meant to specify a pop-the-cap reform in 2020, but instead asked the payroll tax rate to rise to 9e99 beginning in 2020.  I put the string `*,*,*,9e99` in the payroll tax rate box instead of in the maximum taxable earnings box.

I'll close this issue, but before doing that I want to discuss your findings.

(1) You find that the TaxBrain GU

[2017-08-18 23:34] #628 closed

[2017-08-20 18:44] martinholmer commented on #604
@hdoupe,  Thanks so much for your contribution to TaxBrain issue #604.
This information will be very helpful going forward.

[2017-08-20 19:59] martinholmer opened #630 "TaxBrain produces incorrect results because it allows invalid reforms"
Consider the following reform:
[code]
When using Tax-Calculator (version at HEAD of master branch), the validation checking detects the logical inconsistency in the reform.
[code]
The error message `ValueError: 2020 _II_brk1 value 9e+99 > max value 40605.4` gives a strong hint about what the problem is.

But if you hand enter this reform into the TaxBrain GUI input page, you would be given a vague

[2017-08-20 20:28] MattHJensen commented on #630
I advocate for providing a good warning and no error in both tax-calculator and TaxBrain.

I left a few related comments on the merged PR: https://github.com/open-source-economics/Tax-Calculator/pull/1502.

First I said:

I then left a longer explanation:

@martinholmer, is there something that I am missing that means we must have no validation or strict validation? What about improving the qualit

[2017-08-20 22:24] martinholmer commented on #630
@MattHJensen said in TaxBrain issue #620:

So, you think the situation described in #620 is OK?  What would the "warning" at the top of the results page say?  Something like "The results from this TaxBrain run are completely non-sensical, but we're showing them to you anyway"?  My point in #620 is that there is a fundamental difference between the current validations: some are logical requirements

[2017-08-21 07:03] MattHJensen commented on #630
That makes sense to me, too, as does bifurcating our approach for handling logical requirements and data weaknesses.

The Python logging module was on my mind. I imagine we'd add a special log level for this purpose. There was a brief discussion of the benefits of the logging module in https://github.com/open-source-economics/Tax-Calculator/issues/160#issuecomment-235465717.

That said, I see your

[2017-08-21 15:09] MattHJensen commented on #614
I am not sure which approach is better, but let me describe what I have had in mind previously:

Include UBI and benefits relevant parameters in the standard TaxBrain input page. All of the relevant parameters will be in current_law_policy.json, so we can still programmatically generate the TaxBrain input page using our existing mechanism.

1. We would need to add a new capability for graying out

[2017-08-21 16:01] martinholmer commented on #630
@MattHJensen said about warnings and errors in #630:

I am in general agreement with this kind of approach to improving our handling of warnings and errors.  But I'd like to suggest a slight variation on this basic approach.

Assuming we agree to maintain a distinction between **warnings** (that do not stop Tax-Calculator execution) and **errors** (that do stop Tax-Calculator execution), then I th

[2017-08-21 16:14] MattHJensen commented on #630
That sounds great. Thanks @martinholmer.

[2017-08-21 17:37] hdoupe commented on #630
@martinholmer said

valid range warnings will be collected for all parameters in a reform and Tax-Calculator execution will continue, while valid range errors will be collected for all parameters in a reform and Tax-Caculator execution will stop before trying to undertake tax calculations.

@MattHJensen said

What if we had some function in `policy.py` that did something along the lines of the pse

[2017-08-21 20:03] andersonfrailey opened #631 "Help Wanted: Adding a column to the differences table"
In Tax-Calculator PR [#1375](https://github.com/open-source-economics/Tax-Calculator/pull/1375) I added a column to the differences table to show percent change in after tax income. This was included in the 0.8.5 release, but it hasn't been added to TaxBrain yet. @hdoupe and I tried to get it working today but couldn't. If anyone could help us out with this I would greatly appreciate it.

[2017-08-21 20:09] MattHJensen commented on #631
To handle backwards compatibility, one option would be to leave this column blank for past runs.

[2017-08-21 20:35] hdoupe commented on #631
@andersonfrailey do you want to open a PR for the changes in `dropq.py` and `dropq_utils.py` that we talked about?  Then those changes would be incorporated in `taxcalc 0.9.3` and as soon as TaxBrain is using `taxcalc 0.9.3` the continuum team or one of us can take another crack at making the necessary webapp changes.  Does that make sense?

[2017-08-21 20:40] andersonfrailey commented on #631
@hdoupe, that makes sense. I'll open it up so people can see our thought process.

[2017-08-21 21:05] andersonfrailey commented on #631
Here is said [PR](https://github.com/open-source-economics/Tax-Calculator/pull/1521)

[2017-08-21 22:57] martinholmer commented on #630
@hdoupe said in #630:

Thanks for the creative thinking.  I'll think about this kind of approach.

[2017-08-22 13:12] andersonfrailey commented on #614
@MattHJensen I see a few advantages of your idea. First, if it's all on the standard input page we don't have to worry about users not realizing they would need to go to another page to take advantage of the UBI functionality. Second, I would imagine it would take less time to deploy than developing an entirely new page on TaxBrain.

Are you thinking of adding including these in the TaxCalc packag

[2017-08-22 14:00] MattHJensen commented on #614
One of those, probably. I'm not sure which would be preferable.

[2017-08-22 15:49] brittainhard opened #632 "Fix Issue with non-capitalized letters"

[2017-08-22 15:50] brittainhard opened #633 "Fix Issue with non-capitalized Names"
This was supposed to have been fixed in a previous taxcalc release, but the problem is persisting. @MattHJensen are you okay with fixing this on the TaxBrain side?

[2017-08-22 16:05] MattHJensen commented on #624
@brittainhard, what's the status of #619? If you aren't already deep into it, I think it makes sense for @hdoupe to do some exploratory work and then pull you in if he runs into trouble.

[2017-08-22 16:09] brittainhard opened #634 "Using BTAX DataFrames for Dynamic Plotting"
@hdoupe @MattHJensen @PeterDSteinberg

The central problem is that the data returned from BTAX to CCC cannot be used for plotting -- specifically the plots that Haylee and Dora have created.

BTAX serializes the original DataFrames for use in the HTML table, but it doesn't preserve the original structure of the many DataFrames that BTAX returns. They need to change the BTAX code to return serializ

[2017-08-22 16:10] brittainhard commented on #624
@MattHJensen I was going to start work on it today, but id be willing to focus on other things and just give him some guidance.

[2017-08-22 16:13] MattHJensen commented on #624
@brittainhard said: "but id be willing to focus on other things and just give him some guidance."

Let's give that a try. I think it will be a good learning experience for @hdoupe. Will also be great for you to have more bandwidth to dedicate to reviewing open PRs.

[2017-08-22 16:29] martinholmer commented on #633
@brittainhard said in #633:

What do you mean by that?  What exactly is wrong and didn't get fixed in Tax-Calculator?

@MattHJensen

[2017-08-22 16:40] #632 closed

[2017-08-22 16:50] brittainhard commented on #633
The inputs in the taxbrain form look like this:

![screen shot 2017-08-22 at 11 46 13 am](https://user-images.githubusercontent.com/5440553/29577035-9a943fb0-872f-11e7-917e-a014bbc1e854.png)

All those names need to be capitalized. I had code that would capitalize all these names, but @MattHJensen wanted it removed, since the names for the inputs coming from TaxCalc were going to be capitalized.

[2017-08-22 17:06] martinholmer commented on #633
@brittainhard said:

But don't forget all the acronymns in the "box" names that TaxBrain is incorrectly switching to lower-case.  The most prominent of which, is TaxBrain's use of "fica" instead of "FICA".

@MattHJensen

[2017-08-23 18:40] Amy-Xu commented on #614
Here're my two cents:

1. Since UBI doesn't work with expanded PUF data, step 1 from Matt's proposal:

seems to me is essential no matter which approach we're going to adopt.

2. UBI input fields, no matter in a standalone page or combined with current input, would be similar to what Anderson described. In other words, currently we do not guarantee budget neutral for any user-specified UBI reform.

[2017-08-25 14:46] martinholmer opened #638 "Unexpected TaxBrain warning when using valid reform"
I don't think it is too much of an exaggeration to say that at the moment TaxBrain is unusable.

When I enter this simple reform

![screen shot 2017-08-25 at 10 41 27 am](https://user-images.githubusercontent.com/12170745/29718976-7a0500ae-8982-11e7-94f7-0b3b53212bc8.png)

I get this message from TaxBrain

![screen shot 2017-08-25 at 10 40 56 am](https://user-images.githubusercontent.com/12170745/

[2017-08-25 17:35] brittainhard commented on #638
@martinholmer I just ran this reform on `ospc.org` twice and it worked just fine. Did you have different inputs than just those four?

[2017-08-25 17:48] martinholmer commented on #638
@brittainhard said:

I tried it again and got the same 500 Server Error message.

Can you share the TaxBrain run URL that shows the static results?

[2017-08-25 17:50] brittainhard commented on #638
@martinholmer [https://www.ospc.org/taxbrain/16108/](https://www.ospc.org/taxbrain/16108/)

[2017-08-25 18:15] brittainhard commented on #638
Looks like I put year 2017 instead of 2013. I was able to re-create your error.

[2017-08-25 18:21] martinholmer commented on #638
@brittainhard said he got **2017** results as shown at https://www.ospc.org/taxbrain/16108/

That good, but that is not the reform I got the error for.
You completely ignored the Start Year of **2013**.

Can you raise the standard deduction amounts to $50,000 in 2013 and avoid a TaxBrain crash?
If so, please post the URL of the static results page.

@MattHJensen

[2017-08-25 18:25] martinholmer commented on #638
@brittainhard,  Looks like our comments to #638 crossed in the delay while GitHub is emailing comments.

So, I guess we both get a 500 Server Error when trying to raise the standard deduction amounts to $50,000 in 2013.  Right?

[2017-08-25 18:26] brittainhard commented on #638
@martinholmer thats correct. im looking into this now.

[2017-08-25 18:39] MattHJensen commented on #614
Thanks @Amy-Xu. That all makes sense to me.

[2017-08-25 20:01] martinholmer opened #639 "Why separate dropq_version when it's identical to taxcalc_version?"
The code for TaxBrain is pretty complicated.  Some of that complexity is required because TaxBrain is a complex web application.  But some of it seems obsolete, and therefore, makes the code unnecessarily complex.  An example of this, is the `dropq_version` variable, which (now that dropq is part of the taxcalc package) is identical to `taxcalc_version`.  So, why not simplify the code by removing

[2017-08-28 14:03] MattHJensen commented on #639
That seems like a wise suggestion to me.

[2017-08-28 14:07] hdoupe commented on #639
@martinholmer I agree.  Since I've been working on #619, I've noticed that the webapp code be cleaned up significantly.  I think this issue is just one example.  There are a lot of unused imports and what appears to be overly complicated code.

[2017-08-31 17:42] brittainhard commented on #639
@martinholmer can you point out some code where you are seeing this?

[2017-08-31 19:13] GoFroggyRun opened #643 "Fiscal Table Enhancement"
Per request from @brittainhard, this issue summarizes one remaining enhancement from issue #545, item 2.

As pointed out by @martinholmer in #545:

In brief, a column needs to be added to the current fiscal year table, on the far right. The column should sum up all previous numerical results in the row. For example, in the screenshot below, the added column would have a value of 0.9 for the first

[2017-09-01 15:22] brittainhard commented on #643
@GoFroggyRun looking at this now.

[2017-09-01 17:56] brittainhard commented on #643
@GoFroggyRun looking at the data, it seems like you can insert a "summary" column into the table on the Django side and then have the frontend render it. Currently working along that line, i'll let you know how it goes.

[2017-09-01 18:25] martinholmer opened #644 "Payroll Tax + Income Tax buttons on difference table don't work correctly"
The buttons currently say `Payroll` and `Income`, but it would be far better to label the buttons as `Payroll Tax` and `Income Tax`.  I'm going to assume that change will be made soon, and in the rest of this issue refer to the buttons using those suggested labels.

You can see the problems by using these buttons at [this static results page](http://www.ospc.org/taxbrain/16252/).

Here are a few c

[2017-09-01 18:28] martinholmer opened #645 "TaxBrain difference table tax buttons don't work correctly"
The buttons current say `Payroll` and `Income`, but it would be far better to label the buttons as `Payroll Tax` and `Income Tax`.  I'm going to assume that change will be made soon, and in the rest of this issue refer to the buttons using those suggested labels.

You can see the problems by using these buttons at [this static results page](http://www.ospc.org/taxbrain/16252/).

Here are a few cli

[2017-09-01 18:28] #645 closed

[2017-09-01 18:30] martinholmer commented on #645
Mistaken duplicate of issue #644.

[2017-09-01 18:55] martinholmer opened #647 "Express filing unit count in million rounded to one decimal place"
After reviewing the dropq documentation and code, it seems clear that part of our IRS-SOI PUF privacy-protection strategy is to show dollar amounts in billions rounded to one decimal point.  However, the distribution and difference tables show the number of filing units in a bin in whole thousands.  This seems like much more precision than is scientifically reasonable and excessive precision when

[2017-09-01 22:38] feenberg commented on #647
On Fri, 1 Sep 2017, Martin Holmer wrote:

Recall that between drop-q and the fact that the base file is already a
public use file, I don't think we should be worrying about privacy. Also,
the privacy aspect depends on the number of records, not the weighted
count.

It looks like our smallest category by AGI only would go from "715" to
".7". That is just a single digit of precision. The tax-increas

[2017-09-02 00:09] martinholmer commented on #647
@feenberg said:

You didn't read or understand my proposal, I'm not sure which.

I'm suggesting that 400 thousand be represented as 0.4 million.

Or, at the greatest loss of precision, 449 thousand being represented as 0.4 million.
Will "congresspeople" really think it is important to know whether 449 thousand are affected, rather than being told about 0.4 million will be affected?

[2017-09-02 01:17] martinholmer commented on #647
@feenberg said in issue #647:

I'm not sure what "hundred year" "tradition" you're referring to here.  Certainly when IRS has **all** the tax returns, IRS can in complete confidence show the number of filing units in a table cell in thousands.  But in our simulation work, we have only a small sample of tax returns (very roughly a one-in-a-thousand sample).  And we are also trying to simulate the e

[2017-09-05 12:32] MattHJensen commented on #647
I am sympathetic to the concern that expressing returns in thousands is overly precise and better suited for an agency like SOI with a larger dataset than what we have. However, it also feels misleading to round 49,000 to 0.0. Having those situations expressed as 0+ or similar seems nice, but implementing it doesn't.

[2017-09-05 12:35] MattHJensen commented on #644
@martinholmer, thanks for the bug report.

cc @GoFroggyRun

[2017-09-05 16:46] GoFroggyRun commented on #644
Working on it.

cc @martinholmer @MattHJensen

[2017-09-06 19:20] martinholmer commented on #647
@MattHJensen said:

OK, if you honestly think the TaxBrain decile bin filing-unit counts have standard errors small enough to detect the difference between 49 thousand units and zero units, then maintain the current practice of showing unit-count results in the whole number of thousands.

[2017-09-06 19:20] #647 closed

[2017-09-07 12:06] feenberg commented on #647
On Wed, 6 Sep 2017, Martin Holmer wrote:

At high incomes, 49 thousand units could be several thousand records.
Please don't even consider anything non-numeric such as "0+" - a nightmare
for anyone who expects machine readable output.

dan

[2017-09-08 09:41] MattHJensen commented on #519
Closing this given no followup from the user and our inability to recreate the problem.

[2017-09-08 09:41] #519 closed

[2017-09-08 09:41] MattHJensen commented on #601
@brittainhard, is this resolved?

[2017-09-08 09:43] MattHJensen commented on #447
@hdoupe, do you think this issue should remain open?

[2017-09-08 09:45] MattHJensen commented on #251
Closing this issue as there has been no progress since 2016. @kevincolten and @brittainhard, please let me know if you think it should be reopened.

[2017-09-08 09:45] #251 closed

[2017-09-08 09:46] MattHJensen commented on #445
I can't recreate this error. Closing.

[2017-09-08 09:46] #445 closed

[2017-09-08 09:47] MattHJensen commented on #22
Closing in favor of #269.

[2017-09-08 09:47] #22 closed

[2017-09-08 09:48] MattHJensen commented on #318
Closing this issue in favor of continual improvement.

[2017-09-08 09:48] #318 closed

[2017-09-08 09:51] MattHJensen commented on #547
@PeterDSteinberg, @GoFroggyRun, is this resolved? Should it have an assignee?

[2017-09-08 09:52] MattHJensen commented on #576
@PeterDSteinberg, is this still required now that we are pinning versions?

[2017-09-08 09:53] MattHJensen commented on #406
This is resolved. Thanks @andersonfrailey

[2017-09-08 09:53] #406 closed

[2017-09-08 09:54] MattHJensen commented on #415
Closing in favor of #588.

[2017-09-08 09:54] #415 closed

[2017-09-08 09:58] MattHJensen commented on #421
Closing in favor of #464

[2017-09-08 09:58] #421 closed

[2017-09-08 09:59] MattHJensen commented on #565
@GoFroggyRun, should this issue be closed?

[2017-09-08 10:01] MattHJensen commented on #354
@brittainhard, could you verify if this issue should remain open?

[2017-09-08 10:04] MattHJensen commented on #411
Closing this issue. @brendancol, if you think this would still be valuable could you provide an explanation for our current developers and I can reopen?

[2017-09-08 10:04] #411 closed

[2017-09-08 10:07] MattHJensen commented on #214
I believe that some additional documentation here would be valuable, in line w Amy's suggestion. Leaving this open.

[2017-09-08 10:08] MattHJensen commented on #219
Resolved. Closing.

[2017-09-08 10:08] #219 closed

[2017-09-08 10:09] MattHJensen commented on #465
This is resolved and @GoFroggyRun is accessing the logs and will document how to access the logs. If we need to add any more info to the logs, we can have a new issue. Closing.

[2017-09-08 10:09] #465 closed

[2017-09-08 10:16] MattHJensen commented on #536
Closing in favor of #633.

[2017-09-08 10:16] #536 closed

[2017-09-08 10:18] MattHJensen commented on #78
This is resolved. Closing.

[2017-09-08 10:18] #78 closed

[2017-09-08 10:22] MattHJensen commented on #320
@PeterDSteinberg, @jbcrail: should this issue remain open?

[2017-09-08 10:23] MattHJensen commented on #631
@andersonfrailey, should this issue be closed?

[2017-09-08 12:59] hdoupe commented on #447
@MattHJensen, I am working on similar tests in PR #627.  This issue could be closed in favor of #615 and #602.

[2017-09-08 13:20] GoFroggyRun commented on #565
@MattHJensen Yep. Closing.

[2017-09-08 13:20] #565 closed

[2017-09-08 13:45] MattHJensen commented on #447
Thanks @hdoupe. Closing.

[2017-09-08 13:45] #447 closed

[2017-09-08 13:45] MattHJensen commented on #565
Thanks @GoFroggyRun.

[2017-09-08 15:33] brittainhard commented on #601
@MattHJensen not yet, but I can roll this issue into some broader deployment updating and testing that i'm currently doing.

[2017-09-12 20:30] jdebacker commented on #634
@brittainhard I think this issue can be closed.  Can you confirm?

[2017-09-12 20:31] brittainhard commented on #634
@jdebacker does it still apply to the bubble plot PR?

[2017-09-12 20:36] jdebacker commented on #634
@brittainhard I think the fix to B-Tax noted here was completed with B-Tax [PR #171](https://github.com/open-source-economics/B-Tax/pull/171).

With that, I think Haylee should be able to complete Web-app Public PR #642.

[2017-09-12 20:36] brittainhard commented on #634
Ok, I'll close it.

[2017-09-12 20:36] #634 closed

[2017-09-14 21:25] MattHJensen commented on #601
Ok. Thanks @brittainhard

[2017-09-15 17:59] #633 closed

[2017-09-16 14:59] martinholmer opened #649 "Broken TaxBrain links"
Consider this part of the main TaxBrain page:

![screen shot 2017-09-16 at 10 50 22 am](https://user-images.githubusercontent.com/12170745/30513207-725e27a2-9acd-11e7-9692-6fd1b06d8c90.png)

The first link (Federal ... for example reforms), the fourth link (Blow-up factors), and the fifth link (Aggregate and distributional targets) are all broken.  That is, they each generate an HTML 404 error pag

[2017-09-18 13:39] hdoupe commented on #649
The first link indicates that there should be a `reform_results.txt` file in `taxcalc/comparisons`.  I don't see this.  Do we know where that file is located?

The fourth link (blow-up factors) indicates that there should be a `Stage_I_factors.csv` file in `taxdata/Stage II`.  It looks like the link we are looking for is https://github.com/open-source-economics/taxdata/blob/master/stage1/Stage_I_f

[2017-09-18 14:13] hdoupe commented on #649
This should be a simple fix if all I have to do is swap out the links in [`templates/pages/docs.html`](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/master/templates/pages/docs.html#L61).

@brittainhard Is that the case here?

[2017-09-20 13:40] hdoupe opened #654 "Submit simulation after quick-calc bug"
In PR #641, the new GUI processing logic was not implemented for the case where someone submits a quick-calculation and then submits a full-calculation from the quick-calc results page.

[2017-09-20 14:32] hdoupe opened #657 "Reform file contents not shown on results page"
The reform file contents do not show on the results page when an assumptions file is not uploaded.

[2017-09-20 17:23] hdoupe opened #659 "Itemized Deduction switches all off on edit parameters page"
After the user submits a calculation and goes back to edit parameters, all itemized deduction switches are set to off.  However, there are not any issues with passing the switch parameters to `taxcalc` for the initial calculation.

[2017-09-20 18:22] hdoupe commented on #659
@GoFroggyRun do you have any ideas here?  In [`taxbrain/views.edit_personal_results`](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/master/webapp/apps/taxbrain/views.py#L610), a new form is created from the data submitted in the previous simulation.  The itemized deduction switches have the correct value.  I know this by checking after submitting the following reform:

![screen shot 2

[2017-09-20 18:58] GoFroggyRun commented on #659
@hdoupe are you working on local right now?

I tried the following, and the editing page looks fine to me:

[#11543 Result Page](https://www.ospc.org/taxbrain/11543/)
[#11543 Edit Page](https://www.ospc.org/taxbrain/edit/11543/)

and

[#16930 Result Page](https://www.ospc.org/taxbrain/16930/)
[#16930 Edit Page](https://www.ospc.org/taxbrain/edit/16930/)

[2017-09-20 19:01] hdoupe commented on #659
@GoFroggyRun Yes, I'm on local working with [this fork](https://github.com/hdoupe/PolicyBrain/tree/submit_quickcalc_bugfix) version 1.0.2.

[2017-09-20 19:07] GoFroggyRun commented on #659
@hdoupe I tired without updating to 1.0.2. And the switches are working just fine on my local.

Now trying with 1.0.2.

[2017-09-20 19:07] hdoupe commented on #659
Ok, cool thanks.

[2017-09-20 19:43] Amy-Xu commented on #649
@hdoupe You're right about the factors and targets links. The `reform_results.txt` was in `taxcalc/comparisons` until [Aug 2](https://github.com/open-source-economics/Tax-Calculator/commits/master/taxcalc/comparison). It seems it has become a part of the test suite.

@MattHJensen It seems the `dummy datasets` item is not relevant anymore. Maybe it can be replaced by CPS dataset, and CPS results. C

[2017-09-20 19:45] GoFroggyRun opened #660 "Local error after updating to 1.0.2"
After updating to 1.0.2 version, I wasn't able to run TaxBrain locally. See:

<img width="1217" alt="screen shot 2017-09-20 at 3 41 09 pm" src="https://user-images.githubusercontent.com/13324931/30663950-3cbd0064-9e1a-11e7-8031-a0780b6b36bf.png">

`py.test` is also failing. Investigating.

[2017-09-20 19:47] hdoupe commented on #660
@GoFroggyRun interesting. How did you get this error?  Is this a file upload?

[2017-09-20 19:49] GoFroggyRun commented on #660
@hdoupe Nope. I just run the calculator without any reform. It seem that this has something to do with my environment setting, since the tests are failing as well.

[2017-09-20 19:49] GoFroggyRun commented on #660
@hdoupe do you mind copy your environment here?

[2017-09-20 19:50] hdoupe commented on #660
Maybe, did you re-run `./install_taxbrain_server`? Tax-Calculator and B-tax were both updated.

[2017-09-20 19:50] hdoupe commented on #660
Try re-running `./install_taxbrain_server.sh`.  That should reset your environment

[2017-09-20 19:52] GoFroggyRun opened #661 "No reform information shown on the result page"
For some reason, detailed reform information is not shown when users are submitting reforms via JSON file. See the result [here](https://www.ospc.org/taxbrain/11532/).

[2017-09-20 19:54] hdoupe commented on #661
@GoFroggyRun this should be resolved.  Check out #658

[2017-09-20 19:55] GoFroggyRun commented on #661
@hdoupe I see. Thanks!
Closing. Already resolved via #658.

[2017-09-20 19:55] #661 closed

[2017-09-20 19:59] hdoupe commented on #649
@Amy-Xu great, thanks!

[2017-09-20 20:10] GoFroggyRun commented on #660
@hdoupe Thanks for the tips. It looks like there're problems with my `conda`. Working on it.

[2017-09-20 20:15] GoFroggyRun commented on #660
Okay. Problem solved after reseting the environment. Thanks @hdoupe. Closing.

[2017-09-20 20:23] GoFroggyRun commented on #660
NVM. After resetting the environment and updating to 1.0.2, I receive the following on my local. regardless of what reforms I submitted:

<img width="854" alt="screen shot 2017-09-20 at 4 22 34 pm" src="https://user-images.githubusercontent.com/13324931/30665710-f15db252-9e1f-11e7-9d69-3fbec9d02f69.png">

[2017-09-20 20:24] hdoupe commented on #660
Which `taxcalc` package are you using?

[2017-09-20 20:25] GoFroggyRun commented on #660
@hdoupe:

[code]

[2017-09-20 20:28] GoFroggyRun commented on #660
A list of my env:
[code]

[2017-09-20 20:29] hdoupe commented on #660
Did you run `source webapp_env.sh`?

[2017-09-20 20:31] GoFroggyRun commented on #660
@hdoupe Yup.

[2017-09-20 20:36] hdoupe commented on #660
@GoFroggyRun do you know where it's failing?  You can check the log file in `taxbrain_server/logs/celery-stderr--...log` to see if the jobs sent to `taxcalc`.

[2017-09-20 20:38] hdoupe commented on #660
@GoFroggyRun new variables were added to the models.  You may need to run

[code]

[2017-09-20 20:40] GoFroggyRun commented on #660
@hdoupe, I have already ran these two.

Here's a  copy of my most recent log:
[code]

[2017-09-20 20:56] hdoupe commented on #660
Ok, it looks like everything submitted and you got results.  So something went wrong between getting the results and submitting to the results page.  I'm not really sure what's going on here.  Most of the work from #641 was on processing the parameters and sending them to `taxcalc` and not the part of receiving them.

[2017-09-20 21:06] hdoupe commented on #649
@Amy-Xu was `reform_results.txt` deleted? I don't see it in the test suite.

[2017-09-20 21:12] Amy-Xu commented on #649
@hdoupe I haven't located the file - my guess (from the pr commit) is that one of the tests calculates the changes for reforms and checks the size of changes without generating the file. @martinholmer Martin might have a better sense on this issue.

[2017-09-20 21:23] GoFroggyRun commented on #660
I tried to reset everything, but the same error persists: regardlessly, TaxBrain is not showing the result page. There's an error message reads: "Sorry! Your calculation failed. Please re-enter parameters and try again :(."

@brittainhard, do you have output on this?

[2017-09-20 21:27] brittainhard commented on #660
@GoFroggyRun what error message is showing below the part with "Sorry your calculation failed"?

[2017-09-20 21:27] hdoupe commented on #660
@GoFroggyRun did you get the following error message at the end of your `./install_taxbrain_server.sh` command

[code]

[2017-09-20 21:28] GoFroggyRun commented on #660
@brittainhard: nothing. That's all what I got.

[2017-09-20 21:29] hdoupe commented on #660
PR #655 removes some references to the `versioneer.py` file that was removed in #622

[2017-09-20 21:32] brittainhard commented on #660
@GoFroggyRun did you migrate your database?

[2017-09-20 21:32] GoFroggyRun commented on #660
@brittainhard Yup.

[2017-09-20 21:34] brittainhard commented on #660
@GoFroggyRun what is the output from flask server when that happens?

[2017-09-20 21:36] GoFroggyRun commented on #660
@brittainhard Flask keeps repeating the following message:

[code]

[2017-09-20 21:50] martinholmer commented on #649
@Amy-Xu said:

Yes, that is correct.  See [Tax-Calculator pull request 1497](https://github.com/open-source-economics/Tax-Calculator/pull/1497) that was merged on August 3rd.

[2017-09-20 22:24] brittainhard commented on #660
@GoFroggyRun try running all the services separately and see what is causing flask to do that.

[2017-09-21 14:06] GoFroggyRun commented on #660
Restart my laptop solves the problem. Closing. Thanks @hdoupe @brittainhard .

[2017-09-21 14:06] #660 closed

[2017-09-21 14:09] GoFroggyRun opened #663 "Documentation for PolicyBrain needs update"
The current [instructions](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/master/README.md) for PolicyBrain are outdated, especially the local development part. I'll work on revising it.

[2017-09-21 14:10] brittainhard commented on #660
@GoFroggyRun https://www.youtube.com/watch?v=PtXtIivRRKQ

[2017-09-21 14:11] hdoupe commented on #663
Thanks @GoFroggyRun

[2017-09-21 14:13] brittainhard commented on #663
Yeah that's badly out of date. Thanks @GoFroggyRun

[2017-09-21 14:15] hdoupe commented on #660
@brittainhard Very funny.  Restarting the computer--the gut reaction of every good computer scientist when an inexplicable bug is encountered.

[2017-09-21 14:21] brittainhard commented on #624
Prelease is now up.

[2017-09-21 14:21] #624 closed

[2017-09-21 14:37] GoFroggyRun commented on #659
@hdoupe I can now confirm this issue. It seems that all switches are working just fine before 1.0.2 release. So it reasonable to believe this must has something to do with one of those PRs toward 1.0.2?

[2017-09-21 14:42] hdoupe commented on #659
@GoFroggyRun said

Yes, this is the case.  All parameters except for the itemized deduction switches appear correctly on the edit parameters page.  Per my [comment](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/659#issuecomment-330938104) here, the data is saved in the form but perhaps the switch values are not saved in the correct place.

[2017-09-21 18:04] hdoupe commented on #649
@Amy-Xu @martinholmer ok that make sense. So should I just delete the reference to `reform_results.txt`?  Or is there anything that we want to replace it with?

[2017-09-21 19:01] martinholmer commented on #649
@hdoupe asked:

Probably "just delete the reference" unless people think it would be useful to link to the [`taxcalc/tests/test_reforms.py` file](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tests/test_reforms.py).

[2017-09-21 19:34] hdoupe commented on #649
@martinholmer Ok, I could do that.  It seems like `taxcalc/tests/test_reforms.py` contains tests for stability.  So, alternatively, we could add a statement like:

"Stability [tests](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tests/test_reforms.py) guarantee that results will not regress over time."

[2017-09-21 19:34] Amy-Xu commented on #649
The `test_results.txt` was scraped out of [JCT tax expenditure report](https://www.jct.gov/publications.html?func=startdown&id=4857) based on the functionality of TC back in 2015. Originally this text was created as an example to demonstrate what TC could do and how close TC results are to JCT and CBO estimates. These results would be beneficial in my opinion because many of these provisions are s

[2017-09-21 19:41] martinholmer commented on #649
@Amy-Xu said:

If my memory is correct, the `taxcalc/tests/test_reforms.py` file contains that information.

@Amy-Xu, is there information that was in `test_results.txt' but is no longer in `test_reforms.py`?

[2017-09-21 19:56] Amy-Xu commented on #649
@martinholmer My point is to keep the link. When I replied, I didn't see @hdoupe Hank's proposal. My additional point is that the expenditure results also have demonstration value in themselves besides being a part of stability tests.

[2017-09-21 19:59] hdoupe commented on #649
@Amy-Xu That makes sense to me.  I didn't know that the saved results had any value except for ensuring that our results did not regress.  So, do we link to the `reform_results.py` file?

[2017-09-21 20:01] Amy-Xu commented on #649
@hdoupe I think a link to `taxcalc/tests/test_reforms.py` would do, because as Martin @martinholmer said, it has all the numbers and descriptions.

[2017-09-21 20:05] hdoupe commented on #649
@Amy-Xu Ok, that's fine with me.  My only concern is that linking to a python file could be a little intimidating for someone without much Python or coding experience.  Do you think it would be worth putting the results in a CSV file?

@martinholmer

[2017-09-21 20:13] Amy-Xu commented on #649
@hdoupe That's a legit concern to me. I think it would be better for TaxBrain users to see the results in a more straightforward form. But the question is where to put that CSV file? If we put it in TC, it's duplicate information with regard to `taxcalc/tests/test_reforms.py`. I guess that was why Martin @martinholmer removed it in the first place.

[2017-09-21 20:37] MattHJensen commented on #649
Have we done a data update since test_reforms.py was introduced? How is it updated when every reform result changes? I wonder if another format would also be better for that purpose, but I may be missing something.

[2017-09-21 21:04] martinholmer commented on #649
@MattHJensen asked three questions:

[1] No `puf.csv` changes since early August, if my memory is correct.

[2] The `test_reforms.py` file would be updated just like any other pytest file.

[3] If people are worried about TaxBrain users ability to read the English in the `test_reforms.py` file, then create another file in the PolicyBrain repo and maintain it so that it is always up-to-date with th

[2017-09-21 21:12] martinholmer commented on #649
Just to be clear about the "readability" issues in the `test_reforms.py` file, here is the test for the second of the 55 tests:
[code]
So, like all the other reform tests, this one has a clear description of the nature and timing of the reform and a clear comparison of Tax-Calculator results and other results (in this case "Budget Options" results).

@MattHJensen @Amy-Xu @hdoupe

[2017-09-22 13:01] MattHJensen commented on #649
My 2c is that readability doesn't seem worth the extra effort of maintaining another file (or code to automatically generate another file) in PolicyBrain and that we should just link to the .py test file for now.

That said, it may be worth revisiting this issue after the next data update. I may be shortsighted, but I think updating all 55+ tests manually might prove to be onerous.  If so, moving

[2017-09-22 15:15] hdoupe commented on #649
@MattHJensen said:

I agree with this.  An alternative to the current approach that may help with readability and may also be more efficient is to have a single json file that stores all of the reforms like:

[code]
Then, you could have one function that loops over all of the reforms and checks the result.  Further, it would be easier to update the expected results or extract them and place them i

[2017-09-22 15:24] martinholmer opened #664 ""About TaxBrain" text needs updating"
When you click on "What is TaxBrain?" you are shown the "About TaxBrain" page that includes this text:

![screen shot 2017-09-22 at 11 11 48 am](https://user-images.githubusercontent.com/12170745/30751422-49c63a32-9f87-11e7-87a5-2bdeeefbba2b.png)

All three links work, but I wonder whether or not the detailed description of the `puf.csv` file in the second bullet is up-to-date.  And even if it is

[2017-09-22 15:45] hdoupe commented on #664
@martinholmer There are some other links that are also out of date.  There needs to be an issue to clean up links around the site.  One of the hold-ups here is that I'm not sure where this html code is stored.  For example there is a link to T.J. in the "What is TaxBrain" page, but the link is broken and I cannot find a reference to T.J. in the current version or the history of [`templates/pages/d

[2017-09-22 15:52] martinholmer commented on #649
@MattHJensen and @hdoupe followed a logical path of thinking about the reform tests that ended with this:

Yes, this is all true and would be slightly easier to update expected results when a new `puf.csv` becomes available.  But this approach has one very large cost that must be paid every time the tests are run (which for me is many times a day): making this a single test (instead of 55 separate

[2017-09-22 16:00] martinholmer commented on #664
@hdoupe said:

Check with @MattHJensen about this, but I seem to remember him telling me that much of the HTML text is stored at some kind of private Django website.  I think he realizes this contradicts the notion that TaxBrain is open source and as I remember he wanted to integrate that HTML into the PolicyBrain repo, but I guess no progress has been made on that issue.

**Maybe immediately afte

[2017-09-22 17:19] hdoupe commented on #588
@MattHJensen said

This makes sense to me.  I don't know what the technical obstacles are here, but the current system discourages contributors from making what should be trivial fixes (see #649, #662).

@martinholmer

[2017-09-22 17:26] jdebacker opened #666 "Allow expensing for inventories and land"
This issue is to discuss including B-Tax parameters that allow for expensing land and inventories into the CCC web app.  Currently, one can only change expensing rules related to equipment and structures.

The idea would be to have these options where the rate of expensing (0 to 100) could be input for these asset types.

[2017-09-22 18:42] hdoupe commented on #649
@martinholmer This is a valid concern.  I think this could be a good use case for a [parameterized fixture](https://docs.pytest.org/en/latest/fixture.html#parametrizing-fixtures).  We could do something like:

[code]

[2017-09-22 19:59] martinholmer commented on #649
@hdoupe said about the excessive run time of an all-reforms in one test approach:

Thanks for the suggestion.  Very clever approach.   I'll look into it next week.

[2017-09-22 20:56] hdoupe commented on #649
Thanks @martinholmer

[2017-09-22 22:21] martinholmer opened #667 "Why this TaxBrain code?"
In the `taxbrain/views.py` file, there is this code:
[code]
My question is why is `arrays_not_lists=False` used in the call to taxcalc.Calculator.read_json_reform_files?

[2017-09-23 15:30] MattHJensen commented on #666
@jdebacker, these two new parameters would just fit into the existing table, right? Is the backend implementation the same, so we are really just talking about a couple of front end changes on PolicyBrain?

![image](https://user-images.githubusercontent.com/8301092/30774567-91d19526-a052-11e7-8633-a5f173e8c872.png)

cc @GoFroggyRun

[2017-09-24 02:29] jdebacker commented on #666
@MattHJensen I'm not sure if it would make sense to add these as part of this table.  Land is not depreciable (so the ADS/GDS rules don't apply).  Inventories don't depreciate either, but the accounting method used to expense them as part of costs of goods sold can be important.

My suggestion would be to add a heading to the table: "Equipment, Structures, and Intellectual Property".  Then add a s

[2017-09-25 17:23] hdoupe opened #668 "Update TaxBrain and Tax-Calculator to handle UBI and CPS specific inputs"
The goal of this issue is to outline the requirements for putting the CPS and UBI parameters on TaxBrain.  The proposed steps are:

- [ ] Add back-end capability to use the PUF or the CPS
    - [ ] Augment dropq functions in Tax-Calculator to work with PUF and CPS (or refactor to create TaxBrain interface function)
    - [ ] Update warning/error messages to reflect that some parameters are used ex

[2017-09-25 17:36] martinholmer commented on #668
@hdoupe said in issue #668 wrt adding CPS and UBI/benefits to TaxBrain:

This is a major undertaking with many parts.  As with anything this large, I think you, and the others involved, would benefit from applying the well-known divide-and-conquer computer-programming strategy.  I think you should give serious consideration to dividing this into at lease two pieces: first make the CPS input file w

[2017-09-25 20:25] #657 closed

[2017-09-25 20:41] hdoupe commented on #668
@martinholmer said

Breaking this project up into chunks is a good way to think about this project.  Thank you for your advice.

I agree with this breakdown.  Further, we can start on the first phase while we are still fleshing out the details of what will be required in the second phase.

I think that the three main requirements for the first phase would be
1. Add a switch indicating whether to u

[2017-09-25 20:51] #659 closed

[2017-09-25 20:57] martinholmer commented on #668
@hdoupe said in PB #668:

OK, items 1 and 2 on your list are TaxBrain enhancements.
I don't know enough to offer any advice on those enhancements.

Item 3 on your list involves some coordination between TaxBrain and Tax-Calculator.
I know you've thought about modifying dropq to work with `cps.csv` input data, but I'm wary about that approach for at least two reasons.  First, we aren't dropping any

[2017-09-25 22:07] hdoupe commented on #668
@martinholmer these are valid concerns.

Yes, even though by setting `mask_computed` to `False` I am not (or at least hope I am not) dropping any records.  However, using the dropq functions without dropping any records does not make much sense.

Another valid concern.  It is difficult to ensure that setting `mask_computed` to `False` is actually preventing records from being dropped in all cases.

[2017-09-25 22:22] martinholmer commented on #668
@hdoupe concluded a thoughtful comment in the discussion of issue #668 as follows:

I think I understand your suggestion and it makes a lot of sense to me.

I'll begin thinking about such a "universal" function (that is, one that would work with `puf.csv` or `cps.csv` or cps.csv`+`benefits.csv` input data) and return the results expected by TaxBrain (as currently done only in dropq).

I'd apprecia

[2017-09-26 13:53] martinholmer commented on #667
@hdoupe,  Do you know the answer to my question in PB issue #667?

[2017-09-26 14:03] hdoupe commented on #667
I think the logic is that we want Python lists returned instead of numpy arrays.  This way the policy dictionary is JSON serializable.

[2017-09-26 14:16] martinholmer commented on #667
@hdoupe said:

OK.  Can you remind me why TaxBrain needs to convert policy dictionary back into JSON?
The input to the `read_json_parameter_objects()`method is already JSON.  So, don't you already have the JSON representation of the reform file contents?

[2017-09-26 14:47] hdoupe commented on #668
@martinholmer said

Great, that would be very helpful.  I have a couple ideas on the arguments.

1. I'm still not exactly sure how the benefits data issue will be worked out.  However, I think it will need to be passed as an argument from TB to TC.
2. Right now, there is a separate function `run_nth_year_gdp_elast_model` for dealing with the GDP elasticity model.  It would be nice if we could wrap

[2017-09-26 15:01] hdoupe commented on #667
@martinholmer  When we submit the user data to the model, we calculate each year separately.  To do so, we send the data to several other AWS EC2 machines which requires the data to be converted back to JSON after it is read by the `read_json_parameter_objects()` method.

At least this is my understanding of what is happening.  @brittainhard can you confirm that this is what is happening?

[2017-09-26 15:17] martinholmer commented on #667
@hdoupe said:

OK, that makes sense.  It is the need to do distributed processing that is the reason.
Thanks for the tutorial.

[2017-09-26 15:17] #667 closed

[2017-09-26 15:30] #654 closed

[2017-09-26 19:07] MattHJensen commented on #666
@hdoupe, this will be quite important for our users in the coming weeks. If you coordinate w @jdebacker on the b-tax changes and @GoFroggyRun on the front end changes, is this something that you would be willing to add to a 1.0.3 (or perhaps 1.1.0) milestone and release?

[2017-09-26 19:20] hdoupe commented on #666
@MattHJensen @jdebacker  Yes, I would be happy to do this.  I'll start looking into this today.

[2017-09-26 20:04] MattHJensen commented on #666
@hdoupe, Just to clarify, I don't mean for you to do the front-end and b-tax work yourself, but rather to coordinate the timing with Sean and Jason.  I directed the question to you so that you could make the call on the milestone. I'd like you to manage the milestone and release schedule going forward, if you are willing.

[2017-09-26 20:54] hdoupe commented on #666
Thanks for the clarification @MattHJensen.  @jdebacker, @GoFroggyRun I will be monitoring this issue and PR's related to it.  Feel free to reach out to me if you have any questions or need help.

[2017-09-27 01:07] jdebacker commented on #666
@MattHJensen @codykallen What's is your opinion on having a boolean on for expensing land and/or inventories rather than a variable rate?  Right now B-Tax has the boolean method (expense or not).  If not, follow conventional rules (LIFO/FIFO accounting for inventories, no depreciation deductions for land).

A rate between 0 and 100 seems a bit odd - partial expending of land then no further deduct

[2017-09-27 01:18] codykallen commented on #666
@jdebacker On inventories, I don't think it makes sense to have a variable rate for expensing. I'm not aware of any proposal (current or in the past) for such an idea, and it doesn't make economic or administrative sense to have inventories partially expensed and partially subject to FIFO or LIFO. I would recommend that the user be allowed to choose between several options: the current law mix of

[2017-09-27 01:35] MattHJensen commented on #666
Agreed. What about adding land to the current table, and showing the default as "economic" with 0 bonus?

That makes sense to me, too. Although I don't think it would be objectionable to allow variable expensing under the bonus header. That way the one-row table would look the exact same as the one above, just with different headers. The concept of bonus in this context really isn't any different.

[2017-09-27 01:45] jdebacker commented on #666
@codykallen and @MattHJensen - thanks for your thoughts!  Very helpful.  I'll mock up something for the web-app presentation of these and then update B-Tax to incorporate the options.

[2017-09-27 17:03] hdoupe opened #669 "Dynamic simulation button not displayed after file input submission"
The dynamic simulation button is not shown when a reform is submitted through the file-upload interface.  The dynamic simulation button should not be shown when an assumptions file is uploaded, but it should be shown when no assumptions file is uploaded.

[2017-09-27 18:36] jdebacker commented on #666
Here's a quick mockup of the deprecation table with the new last line for land:

![depr_table](https://user-images.githubusercontent.com/10715924/30930709-7fc6227a-a390-11e7-8c1c-ea880d50f376.png)

I think ideally we have the buttons for GDS and ADS grayed out and unavailable for this line.  So the only choice in the land category would be to apply some expensing rate in the bonus box.

The new ta

[2017-09-27 18:44] codykallen commented on #666
@jdebacker, I agree with your suggestion for Land, particularly for no GDS or ADS options.

On inventory options, I think it should say "Inventory Accounting Method" with the options being "Current Law (XX% LIFO, YY% FIFO)", "LIFO only", "FIFO only", and "Inventory expensing". I agree that it should use radio buttons to avoid the multiple selection issue.

[2017-09-27 18:50] jdebacker commented on #666
@codykallen Thanks for the quick feedback.  Updated Inventories table:

![inventory_table](https://user-images.githubusercontent.com/10715924/30931618-31e699ec-a393-11e7-9290-7fadb606484d.png)

[2017-09-27 19:03] codykallen commented on #666
@jdebacker The updated inventories table looks good to me.

[2017-09-27 22:00] martinholmer opened #672 "Confusing PolicyBrain releases"
@brittainhard,
You created release 1.0.2 over a week ago, but TaxBrain still isn't running that version.
And now there is a pre-release of version 1.0.3 even though there are pending pull requests.
What is pre-release 1.0.3?
Are you going to skip 1.0.2?  If so, what was the point of creating release 1.0.2?
As you can see, I'm very confused about the release numbering and what it means.
Please expl

[2017-09-28 12:42] MattHJensen commented on #672
I think this question is best addressed to @hdoupe. We are transitioning versioning and milestone responsibilities to Hank.

@martinholmer

[2017-09-28 15:47] martinholmer commented on #672
@hdoupe said in discussion of #672:

That's my core question: why did @brittainhard do that?
Why not fix the bugs in 1.0.2 and then release 1.0.2?

[2017-09-28 15:50] martinholmer commented on #672
@hdoupe said:

This makes sense to me.  Do you have the permissions required to do all these steps yourself?

[2017-09-28 16:10] brittainhard commented on #672
@martinholmer we are still working out kinks in the PolicyBrain release process. I talked to Matt about this on a call last Friday.

Setting up a consistent, well managed release process is difficult for any project that has many contributors, especially open source projects, which tend to be much more loosely organized. Indeed, in my experience, solid release processes in this context are the exc

[2017-09-28 16:27] GoFroggyRun commented on #643
Close via #646. Thanks @brittainhard.

[2017-09-28 16:27] #643 closed

[2017-09-28 16:30] #523 closed

[2017-09-28 16:51] #620 closed

[2017-09-28 16:51] #584 closed

[2017-09-28 17:02] hdoupe commented on #672
@brittainhard said:

This makes sense to me.  Do you think that PR's #670 and #671 fit under Version 1.0.3?

[2017-09-28 17:16] hdoupe commented on #638
Closed via #641. See successful run [here](http://ospc-taxes7.herokuapp.com/taxbrain/1430/)

[2017-09-28 17:17] hdoupe commented on #609
Closed via #641

[2017-09-28 17:17] #609 closed

[2017-09-28 17:21] hdoupe commented on #596
Closed via #641

[2017-09-28 17:22] hdoupe commented on #598
Closed via #641

[2017-09-28 17:23] #596 closed

[2017-09-28 17:23] #598 closed

[2017-09-28 17:24] hdoupe commented on #625
Closed via #622

[2017-09-28 17:24] #625 closed

[2017-09-28 18:25] martinholmer commented on #668
@hdoupe said in issue #668:

Thanks for thinking about this in more detail.  Your thoughts are very helpful.
The two-stage approach to this work (that we seemed to agree on the other day) implies we don't have to worry (yet) about benefits input data and benefit results (because we're discussion just the first stage).
Just a couple questions for now:
1. How would the subsample option work?  Don't

[2017-09-28 19:48] martinholmer opened #673 "Fix mislabeled "Macro Elasticities Simulation" button"
On the [Choose a Dynamic Simulation Type](http://www.ospc.org/dynamic/17527/?start_year=2017) page, there is a button labeled "Macro Elasticities Simulation".  But when you click on that button and go to the [macro page](http://www.ospc.org/dynamic/macro/17527/?start_year=2017), there is only one elasticity to specify.

So, to reduce the chance of user confusion about where the other elasticities

[2017-09-28 19:50] martinholmer commented on #672
@hdoupe and @brittainhard, thanks for all the explanation about how the PolicyBrain release process is going to work.

[2017-09-28 19:50] #672 closed

[2017-09-28 20:53] hdoupe commented on #668
@martinholmer had two questions:

Currently, if the user chooses the quick-calc option, only a sample of the PUF data is sent to the Tax-Calculator.  If we keep it this way, then nothing would change for simulations using the PUF.  However, an extra parameter indicating that we are using the quick-calc option would be needed if the simulation uses the CPS.  Alternatively, we could send the entire

[2017-09-28 21:04] hdoupe commented on #589
Closed via #641
<img width="821" alt="screen shot 2017-09-28 at 5 01 19 pm" src="https://user-images.githubusercontent.com/9206065/30990392-00a538de-a46f-11e7-9457-87c0884bd563.png">

[2017-09-29 02:16] jdebacker commented on #666
@GoFroggyRun - can you give me some feedback on this:

I don't have a good sense of how the front end handles data from radio buttons.  But I feel like how I handle this is B-Tax should be consistent with how it's handled there.  Let me know.

[2017-09-29 02:49] GoFroggyRun commented on #666
@jdebacker said:

That’s right. Radio button is a concise and less confusing way to represent different scenarios. The way we can handle this enchancement shouldn’t be any different from what we already have in B-Tax.

[2017-09-29 02:52] jdebacker commented on #666
@GoFroggyRun - sorry, I may note have been clear enough.  If we have a set of radio buttons with 4 options, what will be returned from that set of buttons?  An integer object?  Something else?

[2017-09-29 03:13] GoFroggyRun commented on #666
@jdebacker: Sure. The radio buttons can definitely return integers like 0, 1, 2 or 3, based on user’s selection.

[2017-09-30 18:15] jdebacker commented on #666
Thanks @GoFroggyRun.  [B-Tax PR #175](https://github.com/open-source-economics/B-Tax/pull/175) allows for the variable rate of expensing on land (0 to 100 percent) and for the 4 choices of inventory accounting method (where the left most radio button in the table above =0 and the right most button =3).

[2017-09-30 18:18] jdebacker commented on #357
Given that that changes to pass-through business taxation are a large part of the tax reform discussion now, I wanted to re-up this issue.  Even having just some preset IIT reforms to select would be very helpful.

cc @MattHJensen

[2017-10-02 15:44] martinholmer commented on #668
@hdoupe said:

Agreed.

I've started working on a Tax-Calculator pull request that will allow TaxBrain to use either `puf.csv` or `cps.csv` input.  Hope to have that pull request ready for review soon.

[2017-10-02 20:21] #669 closed

[2017-10-02 22:15] MattHJensen commented on #673
+1

[2017-10-03 14:44] martinholmer opened #677 "Out-of-date TaxBrain code in test_celery_tasks.py"
Looking through the PolicyBrain source code, I found the following in the
`deploy/taxbrain_server/tests/test_celery_tasks.py` file:
[code]
Not sure if these tests ever get run, but the dropq hasn't had a `calculate_baseline_and_reform` or a `groupby_means_and_comparisons` member for quite some time.  Perhaps some clean-up is in order.

[2017-10-03 20:03] martinholmer commented on #500
@MattHJensen said on April 22, 2017 in issue #500 about the file-upload-results page:

Despite the many improvements included in TaxBrain 1.0.3, this simple change has not been made.
Is there any chance, this change can be made in the next version of TaxBrain?

When making this change, can we also have the uploaded file(s) be shown **unchanged** from the way they were when uploaded?  TaxBrain 1.0.

[2017-10-03 20:23] martinholmer commented on #545
TaxBrain fixes most of the issues raised in #545.  Thanks, @GoFroggyRun for the work on this.
However, my question about the Excel download has not been addressed.
I'm going to close this issue #545 and open a new one containing that question about the Excel download.

[2017-10-03 20:23] #545 closed

[2017-10-03 20:25] martinholmer opened #678 "Questions about the Excel download button on the TaxBrain results page"
Has anyone used the Excel download capability successfully?
Whatever is downloaded will not import into the OpenOffice spreadsheet.
I don't have Excel on my computer, does everything work smoothly when you do have Excel?

I'm curious, why this option is available in an open-source project.
What capability is the Excel download providing that the CSV download is not providing?

@MattHJensen @hdoupe

[2017-10-03 20:29] martinholmer commented on #589
Issue fixed in TaxBrain 1.0.3.  @hdoupe, thanks for the work on this.

[2017-10-03 20:29] #589 closed

[2017-10-03 20:34] martinholmer commented on #612
Whatever @brittainhard was concerned about in #612 seems to be fixed in TaxBrain 1.0.2 version.

[2017-10-03 20:34] #612 closed

[2017-10-03 20:38] martinholmer commented on #613
This is still a **major** problem in TaxBrain 1.0.3.
@GoFroggyRun, can you fix this problem?

@MattHJensen @hdoupe @brittainhard

[2017-10-03 20:42] martinholmer commented on #619
TaxBrain 1.0.3, which is using Tax-Calculator 0.10.2, uses the new approach to processing the GUI input that @talumbau suggested in #619.  @talumbau, thanks for the strategy, and @hdoupe, thanks for the
implementation.  Closing #619.

@MattHJensen @GoFroggyRun

[2017-10-03 20:42] #619 closed

[2017-10-03 20:47] martinholmer commented on #629
Issue #629 is resolved in TaxBrain 1.0.3.  @GoFroggyRun, thanks for your work on pull request #675.

[2017-10-03 20:47] #629 closed

[2017-10-03 20:52] martinholmer commented on #630
Issue #630 has been resolved in TaxBrain 1.0.3 with the implementation of the GUI input processing strategy outlined in issue #619.

[2017-10-03 20:52] #630 closed

[2017-10-03 21:15] martinholmer commented on #638
@hdoupe said in #641:

Actually, this was not a test of the bug originally reported in #641 because the "successful run" used start year 2017 instead of start year 2013.

When I use start year 2013 and raise the standard deduction amount to $50,000 in that year, I get a warning at the top of the GUI input page, but I don't see any red warning messages below any of the input boxes.  Here is what I

[2017-10-03 21:22] martinholmer commented on #644
Issue #644 has been resolved in TaxBrain 1.0.3.  @GoFroggyRun, thanks for your work on pull request #648, which fixed this bug.

[2017-10-03 21:22] #644 closed

[2017-10-03 21:27] martinholmer commented on #649
The TaxBrain links discussed in issue #649 seem to have been removed from TaxBrain 1.0.3.

I assume they will be re-introduced when using Tax-Calculator version >=0.12.0.  When re-introducing, be sure to double-check the new file locations in the Tax-Calculator repository.

@MattHJensen @hdoupe @GoFroggyRun

[2017-10-03 21:31] #604 closed

[2017-10-03 21:41] martinholmer commented on #639
@brittainhard asked in issue #639:

This obsolete usage is litter all over the PolicBrain repository:
[code]
There is no difference between `dropq_version` and `taxcalc_version` and there hasn't been a difference for a year or two.

Can we remove this obsolete code from the PolicyBrain repository?

@MattHJensen @hdoupe @GoFroggyRun

[2017-10-04 12:58] martinholmer commented on #638
More evidence about the problem reported [here](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/638#issuecomment-333980937) in issue 638.

After doing `conda install -c ospc taxcalc=0.10.2`, I run the following script:
[code]
I run the script outside the Tax-Calculator repository like this:
[code]
So, there are no warnings and no errors for this policy reform.

This suggests that the

[2017-10-04 15:00] GoFroggyRun commented on #613
@martinholmer Thanks for looking into this issue.

@brittainhard and I have been working on this issue. Neither of us, however, was able to fix it.
I'll take another look sometime this week to see if I can get any headway.

[2017-10-04 15:14] martinholmer commented on #617
The `Print` button still doesn't work in the TaxBrain 1.0.3 release candidate.
@GoFroggyRun, can you fix these #617 problems along with the naming issue discussed in issue #673?

[2017-10-04 15:23] GoFroggyRun commented on #678
@martinholmer asked:

Whatever is downloaded will not import into the OpenOffice spreadsheet.
I don't have Excel on my computer, does everything work smoothly when you do have Excel?

Yes. After #675, the Excel should work smoothly, and exactly the same as CSV table. Here's an overview of possible downloads (upon #675 ):
[code]
[code]
and
[code]

@martinholmer also asked:

What capability is the E

[2017-10-04 15:25] martinholmer opened #680 "Macro Elasticity result missing for start year"
When start year is 2017 and you do a static simulation of a reform that is implemented in 2017, you see differences in taxes beginning in 2017.  When you then do a Macro Elasticity dynamic simulation for that reform, the percentage GDP change for 2017 is shown as NA.

Why is that?  When I use a Python script to generate estimates of the percentage change in GDP, I get sensible results for 2017 as

[2017-10-04 18:16] GoFroggyRun opened #681 "Better run number references for TB, dynamic and ccc"
I am in the middle of a project that tries to analyze requests submitted by our ccc/TaxBrain/dynamic users, and realized that we might need a better naming convention for run number reference.

Currently, run requests are recorded in the following way:
[code]
On back-end database, by looking at the run reference alone, it's hard to tell whether this run belongs to macro, behavioral, or potentially

[2017-10-04 19:22] martinholmer commented on #678
@GoFroggyRun said in issue #678:

Thanks for your work on making these download buttons work better.

But I'm still wondering what the Excel button provides that the CSV button does not provide.
Exactly the same information gets downloaded.  And the downloaded CSV file can easily be read by Excel or any other spreadsheet program.  So, why have two buttons when we could have just one CSV button?  O

[2017-10-04 20:05] hdoupe commented on #638
@martinholmer Thank you for presenting this evidence.

TaxBrain only reads the parameters for single, joint, separate, and head of household.  So, the script should be more like:
[code]
Then when you run the script, you get:
[code]
But, `STD_4` corresponds to the widow parameter, `STD_widow`, which TaxBrain does not show.    Since TaxBrain does not supply the widow parameter, the default is filled

[2017-10-04 20:45] talumbau commented on #681
This is an interesting idea, but I don't understand what the current numbering scheme is not providing that you need. For example, you mention:

Are you saying that, due to the current numbering scheme, if you have a number like `2653` you don't know whether this is a TaxBrain run, or a macro run, or something else? If that is what you are saying, I agree that this is true. You would not know what

[2017-10-04 21:06] martinholmer commented on #638
@hdoupe,  Thanks for your explanation of the problem in [this comment](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/638#issuecomment-334273444) to this issue.  You conclude by saying this:

It doesn't cause an error, it causes a warning in 2014.

The warning is because Tax-Calculator indexed the 2013 value of 12200 to a 2014 value of 12380.56, which is slightly less than the 2014 "

[2017-10-04 21:58] martinholmer opened #682 "Custom columns settings should not be reset to defaults when clicking Build Table buttons"
The TaxBrain static results page has been much improved with the enhancements made by @GoFroggyRun.  So, many thanks to Sean for all his work.

But I've been saving until the end the aspect of the Build-Table/Select-Columns section (at the bottom of the results page below the annual revenue estimates) that is the most annoying.  Part of the reason it is very annoying is that it is time consuming t

[2017-10-04 23:03] GoFroggyRun commented on #680
Thanks for noticing this @martinholmer. After taking a close look at the issue, the lines [here](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/9e4c477fb041f4f65b788043db50845dfbb9afea/webapp/apps/taxbrain/compute.py#L295-L297) actually adds the value `NA` for the first element on purpose. And the macro elasticity page has been like this since online (a.k.a the first run).

I did a bit

[2017-10-04 23:08] GoFroggyRun opened #683 "Eliminating year selection button for "Macro Elasticities Simulation""
The result page for Macro Elasticities Simulation includes a selection button on the top that allows users to choose from different year value, as shown below:

<img width="986" alt="screen shot 2017-10-04 at 7 06 23 pm" src="https://user-images.githubusercontent.com/13324931/31203923-416f7f4c-a937-11e7-896f-9b0754c51388.png">

The selection button, however, doesn't actually change anything. We sh

[2017-10-05 01:58] martinholmer commented on #680
@GoFroggyRun said in issue #680:

Do you mean the TaxBrain database (that holds results from prior runs) has only 9 years of GDP percentage change for each run?

Could it be as simple as a mistake?

The following test in the `test_celery_tasks.py` file seems to indicate that the first budget year (that is, year=0) is expected to have a numerical value.  Otherwise, what would be the point of callin

[2017-10-05 02:01] martinholmer commented on #683
@GoFroggyRun, good problem finding in TaxBrain issue #683.
You suggested solution (removing the dropdown year menu) makes sense to me.

@MattHJensen @hdoupe

[2017-10-05 02:04] martinholmer commented on #683
@GoFroggyRun, when you do the work you suggested in issue #683 be sure to also
do the edits scheduled in issue #673.

@MattHJensen @hdoupe

[2017-10-05 13:26] MattHJensen commented on #678
I agree that there is no reason to have an excel. If we were making use of linked spreadsheets, there might be value, but we're not, so a csv is perfectly adequate.

[2017-10-05 13:45] hdoupe commented on #678
@MattHJensen said:

I agree. Since we are not actually using Excel capabilities, there is no need for an Excel option.

[2017-10-05 13:46] talumbau commented on #680
Hi all. @MattHJensen and @Amy-Xu would probably have the best answers on this, but the intention of this calculation was always that the "year 0" part of the calculation did not make sense. When @martinholmer did a significant refactor of the dropq functions in the Tax-Calculator in [this commit](https://github.com/open-source-economics/Tax-Calculator/commit/eb2e60f2d6a02e0df2d330a0502f2b9ef44b721

[2017-10-05 14:13] martinholmer commented on #680
@talumbau, thanks for your helpful explanation in issue #680 with respect to TaxBrain displaying NA in the first year on the Macro-Elasticity results page.

The key is the old **comment** line which said this:
[code]
When I was working on pull request #1314, which I opened on Apr 26, 2017, and merged on May 2, 2017, I couldn't think why it made no sense to call `run_nth_year_gdp_elast_model` with

[2017-10-05 14:37] hdoupe commented on #638
@martinholmer 0.10.3 is ready to go.  We can incorporate this fix into the next respective PolicyBrain and Tax-Calculator release.  It shouldn't affect too many of the runs.  I ran the reform in the following years and there were no errors.  Further, in most cases, the user should be able to run the reform again and there will be no problems except some (hopefully) minor confusion.

[2017-10-05 18:03] Amy-Xu commented on #680
My memory is a bit rusty on this. It seems to me that a marginal tax rate change will lead to a GDP growth rate change of next year ([page 20 of Barro and Redlicks, 2009](http://siteresources.worldbank.org/INTMACRO/Resources/BarroBRedlickBpaper.pdf)). So we can estimate elasticity starting from year 1 instead of 0. But I could be wrong.

@martinholmer @MattHJensen

[2017-10-05 19:05] MattHJensen commented on #680
I think we _could_ accomodate year 0, by calculating MTRs under year -1, but we would need a special case for 2013, because we can't calculate MTRs for 2012.

[2017-10-05 19:12] martinholmer commented on #680
@Amy-Xu said in TaxBrain issue #680:

Actually, equation (1) on page 14 of the Barro-Redlicks paper makes it clear that they are estimating an equation in which the **current year's** change in GDP depends on the **prior year's** change in the average marginal tax rate.  I'm quite sympathetic to this way of thinking about simulating the economic growth effects of a tax reform.  So, I think we shou

[2017-10-05 19:18] Amy-Xu commented on #680
@MattHJensen I thought only when there's a MTR shift, presumably because of a reform, the calculations of GDP growth rates change would make sense. In other words, if a reform is implemented in 2017, 2017 is year 0 right? At least I assume so. If that's true, 2017 or any prior year's MTR could be calculated but not something we want.

[2017-10-05 19:45] martinholmer opened #685 "TaxBrain 1.0.3 bug-warning wrong"
Many improvements in 1.0.3.  Thanks to all who worked on the newest version.
But there is one glaring error as seen in the following screen shot.

![screen shot 2017-10-05 at 3 36 53 pm](https://user-images.githubusercontent.com/12170745/31248935-870cf7da-a9e3-11e7-9e12-7c7a36b224ad.png)

My understanding is that TaxBrain 1.0.3 had fixed the personal refundable credit bug by switching to the appro

[2017-10-05 19:50] MattHJensen commented on #685
@martinholmer, could you retitle this with a more informative issue name? I will handle the bug.

[2017-10-05 19:52] MattHJensen commented on #677
@martinholmer, thanks very much for finding this area for improvement. Could you please update the issue name to something more specific and informative? Perhaps something like, "out of date dropq calls in test_celery_tasks.py"

[2017-10-05 21:20] MattHJensen opened #686 "CCC hanging while calculations are running"
CCC is not generating results for me. I decreased the top business tax rate to .3.

http://www.ospc.org/ccc/880/

cc @hdoupe

[2017-10-05 21:20] hdoupe commented on #686
Thanks for opening an issue.  @brittainhard and I are trying to fix it now.

[2017-10-05 21:21] MattHJensen commented on #685
@martinholmer, thanks again for pointing this out. It is resolved now.

I hope that these changes can be made transparently soon.

[2017-10-05 21:21] #685 closed

[2017-10-05 21:24] martinholmer commented on #685
@MattHJensen,  Thanks for the quick resolution of #685.

[2017-10-05 22:02] hdoupe commented on #686
The test app was running Bokeh version 0.12.7 but the production app was pinned to Bokeh 0.12.5.  This was an issue that we had in the test app deployment.  This should be resolve by PR #687

[2017-10-05 22:05] MattHJensen commented on #686
Do you think it would make sense to add a test to #687 to try to catch this type of test in the future or alternatively to open a new issue for adding such a test?

[2017-10-05 22:40] martinholmer commented on #686
@hdoupe said:

But if you just moved it (rather than put it in both files) won't the test app not work?
I guess another way of expression my confused ignorance is by asking this question:
What is the role of the `deploy/fab/dropq_environment.yml` file (which no long has a bokeh requirement)?

@MattHJensen @brittainhard

[2017-10-05 22:46] hdoupe commented on #686
@brittainhard and I discussed making the environment setup files clearer.  Upon doing this, there should definitely be tests to make sure we are running the correct versions of packages.

@martinholmer I'm not sure why they are in different files.

[2017-10-06 17:34] brittainhard opened #691 "Set up Sphinx Documentation Structure"
We will be using Sphinx for documentation. Include basic structure and dependencies.

[2017-10-06 17:39] MattHJensen commented on #680
That definitely makes sense and fits with my take on the consensus thinking. And thanks to @martinholmer for work on https://github.com/open-source-economics/Tax-Calculator/pull/1579 in this direction.

Separately, my take on the discussion in this issue is that it probably doesn't matter whether something was implemented properly at one time in the past and then broken, or always broken, or never

[2017-10-06 18:13] feenberg commented on #680
On Fri, 6 Oct 2017, Matt Jensen wrote:

I haven't seen any discussion of this. Is this about fiscal year v
calendar year? Or a lag in reaction to changed incentives?  Something
else?

dan feenberg

[2017-10-06 18:48] martinholmer commented on #680
@feenberg said asked:

There is an extended discussion on GitHub in issue #680.  Go there to see the whole discussion.

else?

About "a lag  in reaction to changed incentives".

[2017-10-09 06:40] rickecon commented on #481
@PeterDSteinberg . As @jdebacker mentioned in the previous comment, the small open economy option in `OG-USA` is a boolean (`'small_open': True` or `'small_open': False`) that can be passed into the `ogusa.scripts.execute.runner()` function.

1. When `'small_open': False`, the closed economy version of the model runs, and no other options are required for running the model with regard to the close

[2017-10-09 23:27] PeterDSteinberg commented on #481
Hi @rickecon Those notes on open economy options are helpful.  I have made some tentative local changes in OG-USA / webapp-public I need to try out further and will push something up tomorrow.

[2017-10-10 13:38] #686 closed

[2017-10-10 13:59] hdoupe commented on #668
@martinholmer I'm going to keep this issue open and check off the corresponding item on the list above.

[2017-10-10 14:14] martinholmer commented on #668
@hdoupe,  Sorry about issue #668 being closed prematurely.
Somehow GitHub did that automatically when I merged [Tax-Calculator pull request 1577](https://github.com/open-source-economics/Tax-Calculator/pull/1577).

[2017-10-10 14:28] MattHJensen opened #695 "Broken PolicyBrain input/output links"
It appears that a recent PolicyBrain update broke old CCC links. I should be able to go to ospc.org/ccc/800, for example, and see results, but instead I get a 500 internal server error. Similarly, I should be able to go to http://www.ospc.org/ccc/edit/800/ and see the parameter changes that resulted in ospc.org/ccc/800.

We do not need to ensure that users can re-run old simulations, but they shou

[2017-10-10 15:08] hdoupe commented on #695
@MattHJensen It looks like the edit page is working fine.  I'm not sure what's going on with the results page.  I'll look into this.

[2017-10-10 15:14] martinholmer commented on #500
@GoFroggyRun,  Can you fix the remaining problems in PolicyBrain issue #500 as discussed [here](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/500#issuecomment-333961358)?

The title change should be quite easy.

The loss in spacing when the uploaded file(s) are displayed is probably easy to fix as well.
The spacing is lost probably because the file content is being shown as HTML, wh

[2017-10-10 15:19] #691 closed

[2017-10-10 15:20] rickecon commented on #481
Thanks @PeterDSteinberg . I will submit a PR on this that updates the code in `execute.py` to change the internal interest rates in `parameters.py`.

[2017-10-10 15:25] martinholmer opened #696 "Remaining Macro-Elasticity results page bugs"
@GoFroggyRun,  Thanks for pull request #684 that resolves issue #673 and #683.

Can you also replace the broken print/download capabilities with the same kind of Print, Copy, CSV buttons that you have showing at the bottom of the Static Results page?  The fact that the current capabilities don't work was reported earlier by @hdoupe in issue  #617.

@GoFroggyRun, let me know if you have any questio

[2017-10-10 21:25] martinholmer opened #697 "Questions about package pinning"
At the end of the discussion of merged pull request #687, @MattHJensen asked this question:

Let's call `package==x.y.z` **exact pinning** and call `package>=x.y.z` **at-least pinning**.

Ideally, the `conda.recipe/meta.yaml` for a project would contain a list of packages required for the project in which **none** of the packages were pinning in either way.

*Why would we ever introduce at-least p

[2017-10-11 17:35] hdoupe opened #699 "Post 1.0.3 release push for more automated testing"
PolicyBrain 1.0.2 included a new GUI parameter mapping process.  This issue provides the context for the forthcoming PR's that will add tests to cover the changes introduced by PR #641 and related PR's.  Further, I spent many hours manually testing PolicyBrain to make sure that links worked correctly, buttons displayed correctly, and file contents were displayed correctly.  PR's related to this is

[2017-10-11 21:21] hdoupe opened #700 "1.1.0 Release"
We are planning to do another PolicyBrain release in the next 2 to 3 weeks (around October 27).  This is part of a larger goal to release more often.  This allows us to add changes to PolicyBrain in smaller increments and work towards a smoother release process.

The three goals for this next release are:
1. Put OG-USA back on TaxBrain ( #539 )
2. Front-end clean-up ( @GoFroggyRun would you mind l

[2017-10-11 21:39] martinholmer commented on #700
@hdoupe said:

What version of Tax-Calculator will the next PolicyBrain release use?
Will it use 0.11.0 or 0.12.0 (which could be make available soon)?

[2017-10-11 22:12] martinholmer commented on #700
@hdoupe asked:

Because PolicyBrain doesn't really have a public API that is used by client projects, it is not obvious how to apply the principles of semantic versioning.  There are two logical alternatives:

1. If you view the public users of TaxBrain and CCC as "client projects", then any substantive change in the capabilities of TaxBrain or CCC would be a "major" change.

2. If you don't want

[2017-10-12 13:33] hdoupe commented on #697
@martinholmer Thanks for posting this.  You offer compelling reasons for not pinning a package.  Hopefully, after merging PR #688, we will not have to pin to a specific bokeh version.

Further, I think this is another example of a quality teaching or best-practices post.  Another one that quickly comes to mind is @talumbau 's [post](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/602#

[2017-10-12 13:40] hdoupe commented on #700
@martinholmer asked

Will it use 0.11.0 or 0.12.0 (which could be make available soon)?

I think PB will remain on Tax-Calculator 0.10.2 for this release.  0.11.0 requires some minor changes in the TaxBrain/Tax-Calculator interaction.  If there's time, I may tackle this, but I don't think there will be time.  In the following PB releases, the CPS will be added and that will require a TC version ch

[2017-10-12 14:49] GoFroggyRun commented on #613
I have been working on this issue for a couple more days, and was able to have "something" showing up when these tables are re-rendered. However, it fails when I tried to replace "something" with the tool box.

My approach was to play with the [re-render function](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/master/static/js/taxbrain-tablebuilder.js#L251-L263) that tries to build too

[2017-10-12 14:57] hdoupe commented on #700
@martinholmer I think I like the second perspective more.  I think using the first perspective would send us pretty high in the version count in the next year or two.  However, this isn't too uncommon with web applications (the Firefox version that I'm using is numbed 56.0).

I'm not sure what would constitute a major change in the second perspective.  Would that involve removing/adding an app?

D

[2017-10-12 15:25] GoFroggyRun commented on #700
@hdoupe asked:

Sure. Here's a (tentative) list:

* Issue #673 and #683 (done via PR #684 )

* Issue #629 (done via PR #675 )

* Issue #678 (done via PR #694 )

* Issue #500

* Issue #613 (shaky)

* Issue #616 and #617 (shaky, I might remove those options for the moment if can't have a complete fix)

[2017-10-12 15:41] martinholmer commented on #697
@hdoupe said in the discussion of issue #697:

I think the blog idea is great.  See if @MattHJensen agrees and discuss with him how the blog should be built and maintained.

[2017-10-12 20:56] hdoupe commented on #700
Thanks @GoFroggyRun. I'll start a milestone for this release.

[2017-10-12 22:14] martinholmer commented on #700
@hdoupe and @GoFroggyRun,

I'd like to add another (very simple) item for the PolicyBrain 1.1.0 release.

TaxBrain can add a preset for the Brown-Khanna GAIN Act that calls for an EITC expansion.

@MattHJensen requested this in [Tax-Calculator issue 1552](https://github.com/open-source-economics/Tax-Calculator/issues/1552).  The JSON reform file for that reform is now available at `taxcalc/reforms

[2017-10-13 02:02] MattHJensen commented on #668
@martinholmer said:

It's because of the bolded part of this sentence in 1577: "So, this pull request is an attempt to **resolve PolicyBrain issue 668**."

[2017-10-13 13:47] martinholmer commented on #668
@MattHJensen,  Thanks for the tip in #668 on how GitHub takes action based on what you write.

[2017-10-13 14:41] martinholmer opened #704 "Add preset for Brown-Khanna GAIN Act"
TaxBrain should add a preset for the Brown-Khanna GAIN Act, which calls for a major EITC expansion.

@MattHJensen requested this in [Tax-Calculator issue 1552](https://github.com/open-source-economics/Tax-Calculator/issues/1552).  The JSON reform file for that reform is now available at `taxcalc/reforms/BrownKhanna.json`.

All that is left to do is for TaxBrain to add it to the bottom of the `Pres

[2017-10-13 14:58] martinholmer commented on #617
@GoFroggyRun,  Can you replace the broken print/download capabilities with the same kind of Print, Copy, CSV buttons that you have showing at the bottom of the Static Results page?

[2017-10-13 14:58] #696 closed

[2017-10-13 15:00] brittainhard commented on #613
@GoFroggyRun have you got some code written for this that I could take a look at?

[2017-10-13 15:02] martinholmer commented on #638
TaxBrain issue #638 has been resolved by the merge of [Tax-Calculator pull request 1578](https://github.com/open-source-economics/Tax-Calculator/pull/1578).

[2017-10-13 15:02] #638 closed

[2017-10-13 15:07] martinholmer commented on #574
Issue #574 will be resolved when PolicyBrain uses packages taxcalc>=0.12.0, which include the changes in [Tax-Calculator pull request 1577](https://github.com/open-source-economics/Tax-Calculator/pull/1577).

[2017-10-13 15:07] #574 closed

[2017-10-13 15:13] GoFroggyRun commented on #617
@martinholmer, I was planning to, hopefully, include both #616 and #617 in 1.1.0 PB release, as indicated in #700. These buttons for Static/Build table are not immediately extendable to dynamic. So I will have to write something new for dynamic table(s).

[2017-10-13 15:19] martinholmer commented on #680
[Tax-Calculator pull request 1579](https://github.com/open-source-economics/Tax-Calculator/pull/1579), which will be included in taxcalc>=0.12.0 packages, facilitates the TaxBrain changes discussed in issue #680.

The macro-elasticity lag logic introduced in 1579 implies a need to revise TaxBrain in several ways:

First, the `run_nth_year_gdp_elast_model` function needs to be called for all ten bu

[2017-10-13 15:25] martinholmer commented on #617
@GoFroggyRun said in issue #617:

Oh, I didn't know you couldn't just reuse the static-results code for the Print, Copy, and CSV actions.
What about the functions prevent them from being used with dynamic results?
Would it be easier to refactor those functions so that they do work on both static and dynamic results pages?

[2017-10-13 15:56] hdoupe commented on #680
@martinholmer said:

I'm looking over the TaxBrain logic for the macro elasticity simulation now.  Just to clarify, `run_nth_year_gdp_elast_model` is called 9 times for years start year + 1 through start year + 9.  I think the only change in logic would be adding a call for the start year.

I think this will be resolved once we call `run_nth_year_gdp_elast_model` for year 0.

Currently, this resul

[2017-10-13 17:17] martinholmer commented on #680
@hdoupe, I think you have a correct understanding of the details of issue 680 as expressed in [this comment](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/680#issuecomment-336493470).

[2017-10-13 17:18] hdoupe commented on #704
@martinholmer This should be an easy addition for 1.1.0.  Two more things are needed though:

1. Reform - a link to the edit parameters page with reform values filled in. For example: Clinton [link](https://www.ospc.org/taxbrain/edit/11179/?start_year=2017)
2. Notes - a google doc with a more human readable summary of the reform. For example: Clinton [notes](https://docs.google.com/document/d/1B3V

[2017-10-13 17:23] martinholmer commented on #704
@hdoupe said in #704 that we need:

With respect to the Notes, can you just point to a PDF?
See the links in the original post by @MattHJensen in [Tax-Calculator issue 1552](https://github.com/open-source-economics/Tax-Calculator/issues/1552).

[2017-10-13 17:53] travelmail26 commented on #704
This is great! Two notes

1. i had issues doing the eitc because i couldnt figure out how to indicate both kink points. Khannas plan has an end to the phase in and an end to phase out. this is what should give the EITC is flattop trapezoid shape. in the bill, khanna has these points

2. booker also released his bill with an EITC and CTC

https://www.baldwin.senate.gov/imo/media/doc/The%20Stronger%

[2017-10-13 18:18] hdoupe commented on #704
@martinholmer said

This is my understanding of the usefulness of creating a separate notes document.  The notes document is helpful because it is a human readable document that indicates which parts of the reform we were able to model and what had to be excluded.  Also, a link to the original document is listed in the notes.

[2017-10-13 22:52] PeterDSteinberg commented on #481
@rickecon @jdebacker See the OG-USA PR above (I think that makes the necessary changes in OG-USA), but I am still having trouble locally with this PolicyBrain builder PR.

[2017-10-16 14:16] GoFroggyRun commented on #613
@brittainhard I opened #705, which includes the code change as well as its effect.

[2017-10-16 16:17] martinholmer commented on #704
@hdoupe,  Concerning issue #704, there is a broader problem here.  Like a number of other things in the PolicyBrain application, the "Presets" section is not part of the PolicyBrain repository.

The first step in resolving #704 is to **move everything having to do with the PolicyBrain application into the PolicyBrain repo**, as we have discussed many times (see [open issue 664](https://github.com/

[2017-10-17 17:28] MattHJensen opened #707 "PolicyBrain blog?"
In response to [this comment](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/697#issue-264381609) by @martinholmer, @hdoupe said:

@martinholmer replied:

I think the blog idea sounds good, but I have a couple of questions.

Would the audience only be developers, or would we also target users of the models with content ("how to" posts, etc.)? [Here's an example](https://github.com/op

[2017-10-17 18:19] hdoupe commented on #704
@martinholmer I agree with you.  These documents need to be moved into the PolicyBrain repo.  Currently, they are in the admin portion of the Django site.

@GoFroggyRun I can give you access to these files.  Would you mind moving them into the PolicyBrain repo?

[2017-10-18 13:42] martinholmer commented on #707
With respect to PolicyBrain issue #707, could it be that a FAQ document is better suited for this than a blog?

[2017-10-18 13:47] MattHJensen commented on #707
I was thinking that it would be easier to disseminate each concept individually in a blog, but I suppose we could disseminate new additions to a FAQ individually as well. (We could even disseminate new additions to a FAQ in blog form if we wanted to.)

[2017-10-18 14:11] martinholmer commented on #707
@MattHJensen said:

Not sure what you mean by "disseminate".

A FAQ document typically just answers each question, but if the answer is long the FAQ document simply provides a link to the document with the longer answer.  In this way, there could be a central place (that could grow over time a more FAQ are added) that provides links to issue or pull request comments that are deemed to be "importan

[2017-10-18 14:29] MattHJensen commented on #707
I mean that it is nice to be able to 'push' content out to people on a regular basis to keep them interested in our work and keep it on their mind. One way to think about this is that it would be nice to have more content to put in regular OSPC, AEI newsletters, and perhaps in the future, project-specific newsletters.

Blog posts are natural for this, which is why I was initially drawn to the blog

[2017-10-18 14:36] hdoupe commented on #707
@MattHJensen asked a couple questions:

The types of audience that I have in mind are:
1. Open-Source contributors--People who may be interested in our organizational approach.  For example, more people might be interested in learning about our Release Process.  Perhaps, that's a good model for other projects.
2. Python developers--People who are trying to building something in Python.  For exampl

[2017-10-18 14:44] hdoupe commented on #707
@martinholmer asked:

A FAQ would be useful, but I think it would be a complement to a blog not a substitute.  Some questions in a FAQ may point to a blog post for a longer answer.  Some blog-posts may not work well in the FAQ format.  Some items in a FAQ are not long enough to work well in a blog format.

[2017-10-18 15:41] GoFroggyRun commented on #704
@martinholmer said:

and @hdoupe replied:

+1 here.

@martinholmer also said:

By looking at the website element, those reforms seem merely pre-edited TaxBrain hyper links. I agreed that "there should be no duplication of the specification of the reform in the PolicyBrain repo."

[2017-10-18 15:42] GoFroggyRun commented on #704
@hdoupe said:

No problem.

[2017-10-18 18:59] PeterDSteinberg commented on #482
Hi @jdebacker @rickecon .  I am working on this and issue #481 with @brittainhard 's help.  Can you clarify a couple things for me:

* Regarding the following items, can you explain how these parameters should be passed to the OG-USA `execute.py` functions - are OG-USA modifications needed or are these parameters already supported/named?

* I've been out of OG-USA for a couple months until last we

[2017-10-18 20:58] hdoupe commented on #704
@GoFroggyRun great, thanks. I just emailed the necessary info over to you so that you can get started.

[2017-10-19 15:42] jdebacker commented on #482
@PeterDSteinberg asks:

* A boolean can be passed as a kwarg to the `execute.runner()` functions that switches on/off the unbalanced budget.  If `budget_balance=False`, then the budget closure rule is used.
* The other parameter of the unbalanced budget model is the SS debt to GDP ratio.  This parameter is named `debt_ratio_ss` and can be passed to `execute.runner()`  in the `user_params` dictiona

[2017-10-23 14:05] martinholmer opened #709 "New Difference Table column"
In TaxBrain 1.0.3, which uses taxcalc=0.10.2, there are eight columns available for the Difference Table as seen in this screenshot:

![screen shot 2017-10-23 at 9 43 42 am](https://user-images.githubusercontent.com/12170745/31892737-c30e4dd6-b7d7-11e7-8914-65378ac9eb1f.png)

When TaxBrain starts using taxcalc>=0.11.x, TaxBrain will need to add a ninth column added by Tax-Calculator pull requests

[2017-10-23 19:20] MattHJensen commented on #269
After giving this more thought over the last year, I am a proponent of formatting fractions as percents. In particular, I think it would make sense to follow @zrisher's suggestion from this thorough [comment](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/269#issuecomment-229760165):

@hdoupe @GoFroggyRun, what do you think about this?

 @GoFroggyRun, how do you perceive the difficul

[2017-10-23 21:01] martinholmer commented on #269
@MattHJensen said recently in issue #269:

But @MattHJensen didn't mention again his though on the same issue from over a year ago:

This mismatch is a big issue.

But more significantly, how important is this seemingly time-consuming change in comparison to getting TaxBrain using CPS data and then getting Tax-Calculator and TaxBrain to use benefit data along with the CPS data?  I thought the latt

[2017-10-24 19:44] GoFroggyRun commented on #269
@MattHJensen said:

I agree that percent display might be more intuitive to users comparing to fractions. The percentage representation, more importantly, is more user-friendly for that it requires less tedious input. Making those input displayed in a percent on front-end, while stored, still, as fractions on back-end, is not technically hard per se. However, I am hesitated that this change might

[2017-10-24 20:39] martinholmer commented on #269
@GoFroggyRun said in part:

Excellent point!   I hadn't thought of that additional and **permanent** problem with file upload and TaxBrain GUI input being different.

[2017-10-25 14:00] hdoupe commented on #269
I agree with @martinholmer that this adds an additional level of complexity that we don't have the band-with to handle right now.

@GoFroggyRun makes a good point about the mismatch of inputs across the access points for the models.  For users who use these models via direct Python calls and the webapp interface, this could be confusing.

[2017-10-25 15:15] GoFroggyRun commented on #613
@brittainhard do you have any output on this? If possible, we could do some pair programming.

cc @atxsder @MattHJensen

[2017-10-25 15:39] PeterDSteinberg commented on #482
@jdebacker (apologies for missing this for a 6 days) - My thought is we should complete the work as well as we can now to take and pass the right inputs, perhaps deferring the check discussed above for `gov't spending needs to go negative to close the budget` to a separate issue.  We can go ahead and add the snippet to OG-USA (I'll make that PR now):

[code]
We may make a separate issue to ensure

[2017-10-25 15:58] PeterDSteinberg commented on #482
PR in OG-USA with the `Gss` warning: https://github.com/open-source-economics/OG-USA/pull/319

[2017-10-25 16:46] MattHJensen commented on #269
Thanks for the input everyone. No need to think about this more for now.

[2017-10-26 14:03] #678 closed

[2017-10-26 14:05] #500 closed

[2017-10-26 18:15] GoFroggyRun commented on #683
Closed via #684

[2017-10-26 18:15] #683 closed

[2017-10-26 18:19] #673 closed

[2017-10-26 20:07] hdoupe commented on #588
Closed via #711

[2017-10-26 20:07] #588 closed

[2017-10-26 21:33] hdoupe commented on #704
With the merge of #711, we can easily add this preset.  Here's a link to the edit parameter page for this run: https://www.ospc.org/taxbrain/edit/19212/?start_year=2017

@martinholmer would you mind putting together a reform notes document like this one: https://docs.google.com/document/d/1B3VhYhOtDRR5Q613vyiV236TOmqvnn29E9APYk-mll4/edit?

Upon creating this reform notes document, we can add this

[2017-10-26 22:01] martinholmer commented on #704
@hdoupe said:

It's great that #711 moved the secret HTML code into the PolicyBrain repository (thanks, @GoFroggyRun, for doing that), but the preset Notes are still not in the PolicyBrain repository.  I thought we had decided to move **everything** out of secret places into the public repository?

[2017-10-26 22:54] martinholmer commented on #704
@hdoupe,  It seems as if the Notes for each preset reform should be in a markdown document that is in the PolicyBrain repository.  You can copy and paste into the PolicyBrain repo the `BrownKhanna.md` file included in [Tax-Calculator pull request 1607](https://github.com/open-source-economics/Tax-Calculator/pull/1607).

I'll leave it up to the PolicyBrain developers to translate the Google Docs in

[2017-10-27 12:49] MattHJensen commented on #707
@hdoupe said:

This makes sense to me, although I'd suggest segmenting the policy analysts into technical (PolicyBrain) and non-technical (upstream project). We can tag content based on user. In the policy analyst content, we'll need to be _very_ careful to focus on the "how to" side of things rather than the results themselves.

This makes sense to me as well. We'll likely need a different "final

[2017-10-27 15:30] hdoupe commented on #704
@martinholmer Thank you for your contribution in creating the notes file.  I agree with you that the current system is sub optimal, but I hesitate to make this change for two reasons.

1.  We are releasing today and time is tight.  Thus, while we could just use a link to the mark-down file that you made, we do not have enough time to translate the other files before release.
2. This is a major cha

[2017-10-27 16:06] martinholmer commented on #704
Yes. I didn’t think you would make the change immediately.

Sent from my iPhone

[2017-10-27 19:15] #704 closed

[2017-10-27 21:12] MattHJensen opened #719 "Add CCC video to getting started page"
@jessmc, I'm just looking over #698 on the test app and see that there is only a TaxBrain video on the getting started page and no CCC video. Could you add the CCC video in a followup PR? I believe we provided that to you, but please let me know if we didn't!

cc @mikejpratt @jdebacker @hdoupe

[2017-10-27 21:26] mikejpratt commented on #719
I don’t think it had been finished when I sent them the assets. If you provide I’ll make sure the right folks have it.

Michael J. Pratt
Director, Digital Strategy
P: 202.862.5823<tel:202.862.5823> C: 202.695.5776<tel:202.695.5776>
aei.org<http://www.aei.org/> | @mikejpratt<https://twitter.com/mikejpratt>

On Oct 27, 2017, at 5:12 PM, Matt Jensen <notifications@github.com<mailto:notifications@gith

[2017-10-27 21:29] travelmail26 opened #720 "Dynamic model for welfare"
Kind of an offbeat question/request: say we wanted to create a new dynamic score based on the macro stimulus from welfare spending (perhaps how an EITC would reduce poverty and generate consumption).

https://www.americanprogress.org/issues/economy/reports/2014/03/31/86693/the-safety-net-is-good-economic-policy/

How much do you think it would cost to hire an economist to take an existing model an

[2017-10-27 21:32] MattHJensen commented on #719
@ecbrown5, could you send the CCC video to @mikejpratt.

[2017-10-30 18:27] GoFroggyRun commented on #707
[Github pages](https://pages.github.com/) might be a good place to start with. Moving some (all) of the markdown files we currently have to the potential blog page is desirable in my opinion.

[2017-10-31 22:35] rickecon opened #723 "Tax increase-decrease visualization"
@DoraSzasz and @hayleefay have created a dynamic visualization using Bokeh for the first table of Tax-Calculator output that @hayleefay could incorporate as part of the standard output of Tax-Calculator. A screenshot of the visualization is below, a working version of it is on [this Heroku gallery page](http://damp-mesa-27707.herokuapp.com/increase_decrease), and the code is in [this repository](h

[2017-11-02 14:57] hdoupe commented on #700
PR's #722 and #724 are on the test app. I plan to push 1.1.0 to production at 4 PM today if nobody has any objections.

@MattHJensen @GoFroggyRun

[2017-11-02 15:20] MattHJensen commented on #700
Will this cause downtime?

[2017-11-02 17:30] hdoupe commented on #700
Ah, good point.  The downtime shouldn't be too bad.  The front-end update would take about 5 minutes.  The node updates would just decrease computing power for half an hour or so.  I would do 3 or 4 nodes at a time.  So several nodes would be up throughout the update.

However, today is not a good day for downtime.  Further, if it takes longer than expected then that would not be good.  I'll do th

[2017-11-02 18:37] GoFroggyRun commented on #700
@hdoupe said:

Sounds reasonable to me.

[2017-11-03 02:12] hdoupe opened #726 "Production app dropdown headers are not working"
The drop-down headers are not working properly.  Instead of dropping down when you hover over them, they are just displayed like:

<img width="838" alt="screen shot 2017-11-02 at 10 11 03 pm" src="https://user-images.githubusercontent.com/9206065/32358229-be01a5b8-c01a-11e7-925f-c40f6877d1ef.png">

The test app headers work just fine.  The flat-blocks files are still in the django admin part of th

[2017-11-03 02:20] hdoupe opened #727 "Production app hangs on clicking news.ospc.org"
The production app does not load when you click the news tab.  When you do this, you select https://news.ospc.org but in the test app when you click the news tab it directs you to http://news.ospc.org.  In the latter case, news.ospc.org loads just fine.

[2017-11-03 02:21] MattHJensen commented on #726
They are fine on my machine running chrome.
![image](https://user-images.githubusercontent.com/8301092/32358397-1a823810-c01c-11e7-875d-284549e1b2eb.png)

[2017-11-03 02:21] hdoupe commented on #726
Ah ok, they work fine on safari, too.  This must be a Firefox issue.

[2017-11-03 02:23] MattHJensen commented on #727
Can confirm.

[2017-11-03 03:34] GoFroggyRun commented on #726
@hdoupe I had similar problem. But everything works just fine in an incognito window.
My guess is that browser's cache is messing things up.

[2017-11-03 03:38] hayleefay opened #728 "Incorrect hover-over figures shown on initial render of bubble plot"
I recently noticed that my bubble plot visualization shows the incorrect figures in the hover over feature on the initial render.

<img src="https://user-images.githubusercontent.com/12599305/32359689-cc44e51a-c01d-11e7-9dbb-2979bc30669a.png" width="600"/>

As soon as another option is chosen in the buttons below the plot, the correct figures are shown for all options, including the initially inco

[2017-11-04 12:46] #727 closed

[2017-11-06 22:17] MattHJensen opened #731 "Drop footer menu from news and main"
Following up on https://github.com/OpenSourcePolicyCenter/blog-posts/pull/11, I think the right next step is to:

Remove from ospc.org:
![image](https://user-images.githubusercontent.com/8301092/32466783-21764664-c316-11e7-930a-f57f3541a996.png)

Remove from news.ospc.org:
![image](https://user-images.githubusercontent.com/8301092/32466795-2c098d8e-c316-11e7-9e86-e5385577c9a7.png)

cc @hdoupe @jes

[2017-11-08 14:54] hdoupe commented on #726
For some reason the drop down headers work in Firefox now.

[2017-11-08 14:54] #726 closed

[2017-11-08 14:57] MattHJensen commented on #726
Probably a cache issue as @GoFroggyRun suspected.

[2017-11-08 14:59] hdoupe commented on #728
Thanks @hayleefay.  Can you also take a look at the horizontal axis label?  When you select a different tab  from METTR, METR, Cost of Capital, or Depreciation, the label doesn't change.

<img width="1071" alt="screen shot 2017-11-08 at 9 58 10 am" src="https://user-images.githubusercontent.com/9206065/32555644-5dde8638-c46b-11e7-944e-589e14e7e1a3.png">

[2017-11-08 15:01] hdoupe commented on #726
Yep, I cleared my cache yesterday.  Thanks @GoFroggyRun

[2017-11-08 16:17] hdoupe commented on #719
Resolved by #724. See https://www.ospc.org/getting-started/

[2017-11-08 16:17] #719 closed

[2017-11-08 16:20] hdoupe opened #732 "PolicyBrain tab link back to homepage"
It seems intuitive to me for the "PolicyBrain" tab to link back to the home page, www.ospc.org.

@MattHJensen @GoFroggyRun  what do you think?

![screen shot 2017-11-08 at 11 18 49 am](https://user-images.githubusercontent.com/9206065/32560135-cb5b9d4e-c476-11e7-9512-e147f62c3258.png)

[2017-11-08 16:27] hdoupe commented on #700
Release 1.1.0 is complete. Closing

[2017-11-08 16:27] #700 closed

[2017-11-08 16:45] GoFroggyRun commented on #732
The logo on the left seems to be a link to the home page ospc.org.

[2017-11-08 16:46] MattHJensen commented on #720
Thanks for your interest in the project! OSPC does not conduct contract research, although you are welcome to contact individual contributors. Closing.

[2017-11-08 16:46] #720 closed

[2017-11-08 16:47] hdoupe commented on #732
Right, but the first time I used the new version of the website, I clicked "PolicyBrain" thinking it would take me back to the home page.  This makes me think that other people might do the same thing.  I don't see anything wrong with having multiple links back to the home page.

[2017-11-08 18:01] hdoupe opened #733 "Upgrade to Tax-Calculator 0.13.0"
PolicyBrain needs to update from Tax-Calculator 0.10.2 to 0.13.0.  With this update, PolicyBrain will have:
1. The option to use the CPS or PUF
2. New parameters including those that are related to the TCJA

[2017-11-08 19:06] GoFroggyRun commented on #732
Ahh. I see. You meant we ought to have another link to ospc.org embedded within the "PolicyBrain" button? That makes sense to me.

[2017-11-08 19:52] hdoupe opened #734 "PolicyBrain 1.2.0"
Issues for the next release:

- [x] #668, #733 Upgrade to Tax-Calculator 0.13.0
  - #668 -- Includes everything except for UBI inputs
- [ ] #687 Dynamic CDNs for bokeh
  - #688 -- This works.  It just needs to be merged
- [x] #699 Testing push issue
  - #706 -- This will be resolved by the end of today, 11/8.

The goal for this release is to get Tax-Calculator 0.13.0 up on TaxBrain as soon as poss

[2017-11-08 23:30] hdoupe commented on #699
This has been addressed by PR's #706 and #708

[2017-11-08 23:30] #699 closed

[2017-11-09 22:36] hdoupe opened #735 "Tax-Calculator 0.13.0 changes results names"
The names of the results columns were changed in open-source-economics/Tax-Calculator#1605.  This is fine for future runs.  However, the results from older runs will need to be handled in a special way until a better solution is found.

The best short term solution that I can think of is this: Keep a copy of both lists of names.  The taxcalc version used in the old run is saved.  So, we can use th

[2017-11-09 22:52] martinholmer commented on #735
@hdoupe said:

I don't know much about how TaxBrain saves run results in its database, but the two-step process makes logical sense.   But several questions come to mind:
- Is jumping straight to the second step too much work for the next PolicyBrain release?
- Would it somehow be easier (if ultimately more time consuming) to pursue the two-step conversion?

I don't know the answers, but these are

[2017-11-10 00:31] MaxGhenis commented on #571
The docs page (https://www.ospc.org/docs/) suggests registering for the mailing list (https://list.ospc.org/mailman/listinfo/users_list.ospc.org). Should that be removed?

[2017-11-10 00:53] GoFroggyRun opened #736 "Some links not working in the "As Seen In" section"
In the "As Seen In" section on OSPC's home page, a couple links seem to be removed and thus are not working. In particular, Barron's and OpportunityLives both links yield some "404 Error" page when clicked.

<img width="917" alt="screen shot 2017-11-09 at 7 49 32 pm" src="https://user-images.githubusercontent.com/13324931/32637321-23411708-c587-11e7-9cba-e0caac5d7c7a.png">

[2017-11-10 02:23] MattHJensen commented on #736
This should also include the New York Times and Forbes.

[2017-11-10 02:26] MattHJensen opened #737 "link to ospc.org/hello from ospc.org/docs broken"
Moving https://github.com/open-source-economics/Tax-Calculator/issues/1640 to PolicyBrain.

@maxghenis said:

[2017-11-10 02:29] MattHJensen commented on #571
Yes. That never took off.

so this issue requires:

- [ ] remove suggestion to register for mailing list
- [ ] hide signup/login capability until security risk is resolved and we actually use signup for something.

[2017-11-10 03:16] hdoupe commented on #735
@martinholmer thanks for the advice.  I'm going to try to do the full fix by replacing the variable names in the database.  I'm giving myself to the end of the weekend.  At that point, I'll have to move to the temporary fix I described above.

I set up postgres on my computer and downloaded the test and production databases.  I think this is a matter of cycling through the results and replacing th

[2017-11-10 03:19] MattHJensen commented on #735
Would it be easier to build the backwards compatibility into tax-calculator? This is something we'll need to learn how to do eventually and will need to do more often after we release 1.0.0. I don't think it would be unreasonable to think about how to do it now. But if it is easier to do in policybrain, that seems fine too.

[2017-11-10 03:46] talumbau commented on #735
@hdoupe, can you give an example of what has changed? I'm assuming you mean a record entry has changed going forward and not a change in the name of a model attribute (ie a column name in the database). The latter is handled through migrations in Django, which is a pretty robust system at this point.

[2017-11-10 03:54] hdoupe commented on #735
@talumbau The keys in the `taxcalc` results dictionary changed, not the names of variables.

For example, now when you call `taxcalc` from PolicyBrain you get:

[code]

In previous versions of Tax-Calculator, you would have gotten these keys:
[code]

This is a problem when we create the final tables in [`taxbrain/helpers.taxcalc_results_to_tables`](https://github.com/OpenSourcePolicyCenter/PolicyB

[2017-11-10 04:01] hdoupe commented on #735
@MattHJensen asked:

It probably would be. I think we could do something like this in [`tbi.py`](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tbi/tbi.py#L74) and that would work.
[code]

[2017-11-10 06:10] talumbau commented on #735
Ah, I see what you are saying. My preferred solution would just be to create some kind of mapper function that would replace any keys of the old "allowed set" with the equivalent in the new set. You could then just make sure that any access to this attribute on a model was wrapped with this call. Or, perhaps you could even do a decorator on this attribute for the model that needs to be modified. T

[2017-11-10 12:58] martinholmer commented on #735
@talumbau said:

Several questions and a suggestion:

- Where in the PolicyBrain repo is the database schema (that is, the SQL "CREATE TABLE ..." commands)?

- And where are the statements that store results in the database (that is, SQL "INSERT ..." commands) and
where are the statements that retrieve results from the database (that is, SQL "SELECT ..." commands)?

The suggestion:

If, for exampl

[2017-11-10 13:55] talumbau commented on #735
Django doesn't use raw database commands so you won't find that in the
repo. You can always look at the raw database directly obviously, but a
recommended way to interact with the underlying database of a Django
application is with "dbshell". More info about this can be found in the
Django tutorial.

To update the database directly, I would advise using the Postgres string
functions as described b

[2017-11-10 14:38] hdoupe commented on #735
The more I think about this, the more I think that this is a high risk low reward situation.  I'm not willing to compromise the database to clean up the codebase during this tax reform push.  I think doing a full database update should be added to the ever-growing project and maintenance list that we have slated for the spring.

@talumbau I like the idea of addressing this problem at the source wi

[2017-11-14 16:30] GoFroggyRun commented on #736
@MattHJensen do you happen to have links to the articles in NYT and Forbes?
I was able to find a link to Barron's [article](http://www.barrons.com/articles/social-securitys-predictions-1431129373), but the link to OpportunityLives is still missing. Do you happen to have it as well?

[2017-11-14 17:57] MattHJensen commented on #736
@GoFroggyRun, given that there have been many articles in many of these sources, I'd be inclined to remove links entirely

[2017-11-14 18:36] GoFroggyRun commented on #736
@MattHJensen makes sense to me.

[2017-11-14 21:55] hdoupe opened #740 "Add CPS button"
@GoFroggyRun The two most recent commits in PR #738 ([nested_form_parameters are grayed out](https://github.com/OpenSourcePolicyCenter/PolicyBrain/pull/738/commits/f5910bc8f46811e6f5b4da7e8bb726fc58920633) and [Look for puf_not_cps flag in views.py](https://github.com/OpenSourcePolicyCenter/PolicyBrain/pull/738/commits/4d99a32654fc2001f6c487bfd33d90dcf3901ba3)) add the back-end capabilities to han

[2017-11-14 22:33] MattHJensen commented on #740
Ideally we'll 'gray out' rather than eliminate params that don't work with a given dataset.

[2017-11-14 22:41] hdoupe commented on #740
In that case, I think it would make sense to add a flag attribute, `gray_out`, to the `TaxCalcParam` object.  That would be "on" when parameters that are compatible with the CPS but not the PUF when the PUF data set is selected and vice versa.  I'll update PR #738.

This attribute can be accessed in the html and javascript files I think.

[2017-11-14 23:03] GoFroggyRun commented on #740
@hdoupe thanks for the updates in #738.

As @MattHJensen pointed out, the way that I have in mind is to display all parameters while grey out certain ones that are not compatible with the dataset selected. A flag attribute sounds sufficient.

[2017-11-14 23:04] hdoupe commented on #695
It looks like this capability works back to run 877 which occurred on the same day as PolicyBrain release 1.0.3.  This was the release where we started using the bokeh plot for the CCC.  B-Tax had to be updated in order to return the required data for this plot.  Thus, when we try to load an earlier CCC run, we are unable to parse the results.

Note that the user can got to the edit page, http://w

[2017-11-15 15:11] hdoupe commented on #740
@GoFroggyRun I made the changes in PR #738 that add the graying out attribute.

[2017-11-17 15:35] hdoupe commented on #734
@GoFroggyRun and I decided to push the CPS button to the next release.  That means that this version will have the new Tax-Calculator parameters, and the option for using the PUF instead of the CPS will be hard-coded to only using the PUF.

PR #738 will be ready for review by the end of today.  Hopefully, we can merge this on Monday, push to the test server on Monday, and push to production on Tue

[2017-11-17 15:38] martinholmer commented on #734
@hdoupe said:

Will this new 1.2.0 version of PolicyBrain be using Tax-Calculator release 0.13.1 ?

[2017-11-17 15:49] hdoupe commented on #734
@martinholmer yes it will.  I've been working off of TC 0.13.0.  I'll update PR #738 to 0.13.1 shortly.

[2017-11-17 15:56] MattHJensen commented on #734
@hdoupe, do you think you would still be able to get the PB release out by Thanksgiving if we do a new TC 0.13.2 release by end of today and then you include that in the release?

@martinholmer, would you have an opportunity to do a TC conda release today (I still haven't gotten it working).

If we include https://github.com/open-source-economics/Tax-Calculator/issues/1671 and https://github.com/o

[2017-11-17 16:30] hdoupe commented on #734
@MattHJensen I think using TC 0.13.2 in this release is feasible if you can get it out by the end of the day.

[2017-11-20 19:43] #733 closed

[2017-11-20 22:45] hdoupe opened #743 "Django migrations out of sync"
The migrations files got out of sync after I removed the `reform_style` field in PR #670.  I didn't include migrations files when I submitted the PR.  So, in subsequent deployments, I had to create a migration file in the heroku shell.

This did not seem like a big deal until I cloned a clean copy of the PolicyBrain repo after the last release.  Doing so wiped out the reform_style migration file.

[2017-11-21 03:52] #743 closed

[2017-11-21 14:39] hdoupe opened #746 "UBI Parameters are displayed and they should not be"
The GUI interface is displaying the UBI parameters when it should not be.

[2017-11-21 14:49] martinholmer commented on #746
@hdoupe said:

All I know is that @MattHJensen activated the UBI policy parameters in [Tax-Calculator pull request 1599](https://github.com/open-source-economics/Tax-Calculator/pull/1599).

[2017-11-21 14:51] hdoupe commented on #746
Thanks @martinholmer, but we need the CPS to use those parameters.  We haven't had time to put that up yet.

[2017-11-21 14:57] martinholmer opened #747 "Incorrect caption on "Quick Calculation" button"
The caption on the "Quick Calculation" button is no longer correct if TaxBrain is using taxcalc 0.13.2.
Suggest changing it to say "small sample" instead of "2% sample".

<img width="1093" alt="screen shot 2017-11-21 at 9 52 40 am" src="https://user-images.githubusercontent.com/12170745/33078966-4d7fbdac-cea2-11e7-80a7-07cf9671abb5.png">

[2017-11-21 15:14] MattHJensen commented on #746
@hdoupe, my understanding based on conversation with with @andersonfrailey is that the CPS is not needed for the UBI parameters. My work in #1614 confirms this: https://github.com/open-source-economics/Tax-Calculator/pull/1614/files#diff-496bf0f0853ae02da9e238398f213913L4473

[2017-11-21 15:17] hdoupe commented on #746
@MattHJensen Ok, I see.  That makes sense.  You just can't simulate the benefits repeal, correct?

[2017-11-21 15:18] MattHJensen commented on #746
Correct.

[2017-11-21 15:19] hdoupe commented on #746
Cool, so we will leave the parameters up?

[2017-11-21 15:19] MattHJensen commented on #746
Yep.

[2017-11-21 15:20] hdoupe commented on #746
Great thanks.

[2017-11-21 15:20] #746 closed

[2017-11-21 15:29] hdoupe opened #749 "Change default start_year to 2018"
Should the default start_year be changed to 2018?

cc @martinholmer @MattHJensen

[2017-11-21 15:34] MattHJensen opened #750 "TaxBrain reform hanging"
![image](https://user-images.githubusercontent.com/8301092/33081103-6c1e4896-cea7-11e7-8d95-57fbc803a315.png)

When I run this simulation, it hangs on "a few seconds left"

@hdoupe @GoFroggyRun

[2017-11-21 15:37] MattHJensen commented on #749
I would recommend leaving it at 2017 until tax-calculator updates to the IRS-published 2018 parameter values that conform to the IRS rounding rules.

[2017-11-21 15:37] hdoupe commented on #750
@MattHJensen I've had issues with this locally when I've had many things going on my computer.  This leads me to believe that it's a memory problem.  I'll look into this further.

[2017-11-21 15:42] GoFroggyRun commented on #750
@MattHJensen are you on test app? I just ran this reform on ospc.org: https://www.ospc.org/taxbrain/22266/

[2017-11-21 15:44] MattHJensen commented on #750
I am on the test app. I was just able to run it successfully as well on the test app.

[2017-11-21 15:46] hdoupe commented on #750
@MattHJensen It ran successfully, but it loaded the "few seconds left" page for a minute or two first, right?

[2017-11-21 15:47] MattHJensen commented on #750
Exactly.

[2017-11-21 15:47] hdoupe commented on #750
Ok, I'll see if I can get this to work.

[2017-11-21 16:42] hdoupe commented on #750
It looks like the run-time is just incredibly slow.  Thus, TaxBrain thinks the results should be ready, but they aren't.  Here's output from the test server:

Previous version of PolicyBrain:
[code]

Pre-release Version:
[code]

[2017-11-21 22:39] #750 closed

[2017-11-21 22:52] #736 closed

[2017-11-22 00:27] hdoupe opened #754 "TaxBrain results table formatters are out of order"
The table formatting list is out of order.  See units and formatting in screen shot below:

![screen shot 2017-11-21 at 7 27 09 pm](https://user-images.githubusercontent.com/9206065/33103750-35ad2f3e-cef2-11e7-861b-b7fc1a07a7de.png)

http://ospc-taxes7.herokuapp.com/taxbrain/1473/

[2017-11-22 01:14] #754 closed

[2017-11-24 21:16] martinholmer commented on #749
@hdoupe,  Will the TCJA reforms work in the TaxBrain GUI with a start year of 2018?
Don't all those reforms have a provision (the `cpi_offset` parameter) that is implemented in 2017?

[2017-11-24 21:20] martinholmer commented on #740
@hdoupe,  Note that using the `cps.csv` data file on TaxBrain will **not** work correctly until the data bug in the `cps_weights.csv` file is fixed in the taxdata repo and used in the Tax-Calculator repo.

See [taxdata issue 125](https://github.com/open-source-economics/taxdata/issues/125#issuecomment-346891030) for details.

[2017-11-27 22:31] #734 closed

[2017-11-27 22:42] hdoupe commented on #680
#680 has been resolved.  See:

![screen shot 2017-11-27 at 5 40 36 pm](https://user-images.githubusercontent.com/9206065/33293238-1a891a7c-d39a-11e7-9315-873e97dad01d.png)

[2017-11-27 22:42] #680 closed

[2017-11-27 22:43] hdoupe commented on #663
Closed via #702

[2017-11-27 22:43] #663 closed

[2017-11-27 22:46] hdoupe commented on #597
Closed via #702

[2017-11-27 22:46] #597 closed

[2017-11-27 22:53] hdoupe commented on #535
Closed via #669

[2017-11-27 22:53] #535 closed

[2017-11-27 22:57] hdoupe commented on #494
Closed via #698 and OpenSourcePolicyCenter/blog-posts#11

[2017-11-27 22:57] #494 closed

[2017-11-28 15:40] hdoupe commented on #234
This has been resolved.  See:
![screen shot 2017-11-28 at 10 40 00 am](https://user-images.githubusercontent.com/9206065/33328641-868b6656-d428-11e7-9346-2afeac5d07c9.png)

[2017-11-28 15:40] #234 closed

[2017-11-28 16:04] hdoupe commented on #64
@MattHJensen is this still a concern?

[2017-11-28 16:07] hdoupe commented on #73
@MattHJensen @martinholmer this appears to still be an issue.  What do you think?

![screen shot 2017-11-28 at 11 05 55 am](https://user-images.githubusercontent.com/9206065/33330208-3f23c412-d42c-11e7-803c-d484ae538d0f.png)

[2017-11-28 16:07] MattHJensen commented on #64
Yes, this is still a concern. Thanks @hdoupe. I believe the blog text would be much easier to read if it were black instead of gray so there would be higher contrast with the background. Right now we have gray on gray.

![image](https://user-images.githubusercontent.com/8301092/33330207-3e32a3f2-d42c-11e7-9403-85979e94c685.png)

[2017-11-28 16:09] MattHJensen commented on #73
I agree this is still an issue. I am adding a bug label since 0s are inaccurate.

[2017-11-28 16:10] hdoupe commented on #74
Resolved via #646

[2017-11-28 16:10] #74 closed

[2017-11-29 02:36] martinholmer commented on #73
[Tax-Calculator pull request 1705 ](https://github.com/open-source-economics/Tax-Calculator/pull/1705) added the "All" value for the `mean` statistic generated by the `create_difference_table` utility function.

[2017-11-29 19:02] martinholmer commented on #73
@MattHJensen said:

But the current 0.13.2 release of Tax-Calculator sets those All values to NaN.
Why is TaxBrain showing a zero when the value is NaN?

@hdoupe @GoFroggyRun

[2017-11-30 15:39] hdoupe opened #758 "Extra "Total" options and none of them work"
The TaxBrain results page has a drop down menu for the difference and distribution tables.  This menu allows the user to view results for each of the budget years.  Currently, there are three `Total` options and all of them produce a blank table.

<img width="1128" alt="screen shot 2017-11-30 at 10 37 29 am" src="https://user-images.githubusercontent.com/9206065/33439158-c1475ab4-d5ba-11e7-802c-d0

[2017-11-30 15:52] GoFroggyRun commented on #758
When are these "Total"s being added? I haven't made any changes to the build table codebase for a couple releases.

[2017-11-30 17:23] hdoupe opened #760 "File upload change start year directs to GUI input page"
If you select a different start year for the file upload page, then it directs you to the GUI input page with this new start year.  But, if you press the back button, it takes you to the file upload page with the new start year.

The correct behavior should be a redirect to the file upload page with the new start year.

[2017-11-30 17:43] MattHJensen commented on #760
Note that even after you press the back button and get to the start year you selected, that new start year is not actually used when you run the simulation.

Similarly, if I go to https://www.ospc.org/taxbrain/file/?start_year=2018 and submit a reform, the simulation will still start in 2017.

[2017-11-30 18:00] MattHJensen opened #761 "warnings on taxbrain/file clear input files"
When I upload, for instance, the senate json reform file at taxbrain/file and then click "Show me the results," I get a series of warnings.

At this point I should be able to click show me the results again to ignore the warnings, but I can't because the reform file I uploaded has been cleared out.

If I click choose file, reselect the file, and then click run, everything works.

I shouldn't have

[2017-11-30 18:07] hdoupe commented on #760
Yes, this is correct.  Going back does not actually change the start year.  But it does change the value in drop-box.

Clicking this link and submitting a reform worked fine for me:
- Quick-calc: https://www.ospc.org/taxbrain/23973/
- Full-calc: https://www.ospc.org/taxbrain/23975/

[2017-11-30 18:13] hdoupe commented on #760
This leads me to believe that this is a front-end bug since the link works if you enter it manually.  However, if you click the button, you are re-directed to the wrong page.

I think that the relevant sections of code are:
- [templates/taxbrain/input_file.html](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/master/templates/taxbrain/input_file.html#L187-L204)
- [static/js/filetb.js](h

[2017-11-30 18:17] MattHJensen commented on #760
When I go to https://www.ospc.org/taxbrain/file/?start_year=2018 and submit the senate json I get https://www.ospc.org/taxbrain/23977/. Liabilities table should start in 2018.

Perhaps the edge case is when the reform starts in 2017 and the analysis/table should start later??

[2017-11-30 18:32] hdoupe commented on #761
@MattHJensen Ok, I see what you mean.  I'll get started on this after #760.

[2017-11-30 18:58] hdoupe commented on #760
@GoFroggyRun I agree that the redirection is a front-end problem and that the warning page business is a backend problem.  I'll get started on the warning page.  Do you have time to take a look at the redirect problem?

[2017-11-30 19:08] GoFroggyRun commented on #760
@hdoupe probably not today. When to you plan to make a new release?

[2017-11-30 20:16] hdoupe commented on #760
Ok, sounds good.  Sometime next week I think.

[2017-12-01 19:46] GoFroggyRun opened #763 "Issues with 'cpi_offset' parameter"
Both the [House](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/TCJA_House_Amended.json) and the [Senate](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/TCJA_Senate_111417.json) adopt chained-CPI indexing. While working on the reform file upload option and TB's GUI input work, I realized that there might be some issues with

[2017-12-01 20:03] martinholmer commented on #763
@GoFroggyRun said we could:

I view this as a very bad idea and I'm not even sure how it would work.  Tax-Calculator has no problem with a reform that starts before the ten-year budget window.  It is the design of TaxBrain that is the problem.  When I started on this project, TaxBrain required all reform provision to start in the first budget year (that is, there was no `*` capability to specify d

[2017-12-02 13:47] martinholmer commented on #763
@GoFroggyRun said we could:

And @martinholmer said:

One way to think about how to  redesign TaxBrain, is to focus on one particular limitation of TaxBrain: the concept of "Start Year" has two conceptually distinct meanings.  In TaxBrain, "Start Year" means the first year of the reform and it also means the first year of the ten-year budget window (for which tax results are shown).  It seems to m

[2017-12-02 14:42] MattHJensen commented on #763
@martinhomer's proposal might be best, and that option would certainly be an improvement from where we are now because it would at least enable users to generate 10 years of output for the TCJA -- currently they can not.

But it would not solve one of the problems @GoFroggyRun mentioned "each input field other than cpi_offset has to have an extra *, indicating no change in 2017's law" and it would

[2017-12-04 14:13] jdebacker opened #764 "Legend for bubble plot"
@martinholmer asks:

The bubble sizes are based on the amount of assets of that type (or in that industry).  We should probably add a legend for this to the plot so it's clear.  An example can be found from [this widget](https://www.ospc.org/gallery/corp_mettr/) in the OSPC gallery.

cc @hayleefay

[2017-12-04 15:11] martinholmer commented on #764
@jdebacker said:

OK, thanks for the explanation.  But is the "amount of assets" proportional to the **diameter** of the circle or the **area** of the circle?  The size of a circle can have two different meanings.

[2017-12-04 16:21] GoFroggyRun opened #765 "Handle future year reforms for checkboxes"
There's one provision in TCJA Senate Modified Mark's proposal that introduces "stack[ing] the dependent credit before the child tax credit" in 2018, and then repeals it starting 2026.

Currently, this boolean parameter `_DependentCredit_before_CTC` is handled using a checkbox on TaxBrain: checked box indicates true while unchecked one represents false, which I believe is a concise way of integrati

[2017-12-06 18:30] hdoupe commented on #765
Do you think we should add a "Byrd Rule" switch that reverts changes to the default after 10 years?  We could present it the same way as the cpi buttons.
![screen shot 2017-12-06 at 1 29 33 pm](https://user-images.githubusercontent.com/9206065/33678366-87da17a2-da89-11e7-8451-b71934302145.png)

[2017-12-06 18:42] hdoupe commented on #763
I agree with @martinholmer's proposal of having a start year and an output start year.

I also agree with @MattHJensen that the `cpi_offset` parameter should be redefined in Tax-Calculator if this is possible.  It doesn't make much sense to me to have a parameter not have any effect until a year after it's activated.

[2017-12-06 19:15] martinholmer commented on #763
@hdoupe said:

I have no idea how to "redefine" the `cpi_offset` parameter given the way Tax-Calculator does price-inflation and wage-growth indexing.  The current indexing logic was built in at the very beginning of the project before I got involved with Tax-Calculator.

[2017-12-06 19:24] martinholmer commented on #765
@hdoupe said:

I don't know what the "Byrd Rule" is.  Exactly how would it help resolve issue #765?

The fundamental problem @GoFroggyRun pointed out in #765 is that any policy parameter represented in TaxBrain with a check box has no time dimension.  So, unlike in Tax-Calculator, it can't be turned off or on in any year.  As far as I can see, the only way for TaxBrain to have the same flexibility

[2017-12-06 20:07] GoFroggyRun commented on #763
I agree with @martinholmer, @MattHJensen and @hdoupe that having a start year and an output year on TaxBrain would be a huge improvement. We definitely want to incorporate such enhancement after things get cool down a bit.

My apologies that my initially suggestion was not clear enough. Indeed, after looking into the price-inflation and wage-growth indexing mechanisms planted in tax-calculator, I

[2017-12-07 15:02] hdoupe commented on #765
Sorry, I shouldn't have used Byrd Rule. I don't really know what it means.  I just hear it in conjunction with policy changes that are reverted back to the default after 10 years or so.  This seems like a common maneuver to satisfy budget rules.  I was thinking that we could have a switch similar to the CPI button that reverts these changes back after 10 years.

However, this isn't a very good sol

[2017-12-07 15:04] MattHJensen commented on #765
@hdoupe:

Agreed.

I suppose we'd have to update the user instructions at the top of the page. The user would also see the default value, so that would be a strong hint.

[2017-12-07 15:17] #306 closed

[2017-12-09 03:09] martinholmer opened #768 "See the two issues raised by user involving TaxBrain problems"
[Tax-Calculator issue 1736](https://github.com/open-source-economics/Tax-Calculator/issues/1736) and [Tax-Calculator issue 1737](https://github.com/open-source-economics/Tax-Calculator/issues/1737) report problems a user is having with TaxBrain.

Part of these problems are caused by Tax-Calculator and I'll handle those enhancements.

@hdoupe @GoFroggyRun

[2017-12-10 18:33] hdoupe opened #769 "Warning message clarifications"
In open-source-economics/Tax-Calculator#1736, @martinholmer said

It seems like there are several issues here:
1. It is not clear that if you click "Show Me the Results" button a second time that the model will run.   I thought that the first message makes this point pretty clearly.  However, if this is not the case, then I am open to suggestions for improving the presentation of this message.
<im

[2017-12-10 18:47] hdoupe commented on #768
I broke the part of this issue related to the warning/error messages into #769.  The part of this issue related to the incorrect "All" values is already addressed in #73.

@martinholmer Is it ok if I close this? Or, would you like to leave it open until both issues are resolved?

[2017-12-10 18:51] martinholmer commented on #768
It's fine to close #768.  I plan to fix T-C wrt issue #73 in the next day or two.

[2017-12-10 18:51] hdoupe commented on #768
Ok, thanks @martinholmer

[2017-12-10 18:51] #768 closed

[2017-12-11 01:56] martinholmer opened #770 "Missing statistics in TaxBrain difference table"
@martinholmer said in [Tax-Calculator issue 1737](https://github.com/open-source-economics/Tax-Calculator/issues/1737#issuecomment-350418216):

I thought this was a "known problem", but I can't seem to find an issue that describes this as a high-priority enhancement to TaxBrain.

[2017-12-11 13:12] martinholmer commented on #770
Actually there are **two** missing statistics in the TaxBrain difference table.
Here is the specification of the table in Tax-Calculator `utils.py`:
[code]
TaxBrain displays only the first eight (of these ten) statistics.  It needs to display all ten statistics.

[2017-12-11 13:18] martinholmer opened #771 "Missing statistics in TaxBrain distribution table"
From Tax-Calculator `utils.py`, here are the statistics in the distribution table:
[code]
That's 21 statistics, but on the TaxBrain results page only 19 of these statistics are shown.
The last two ('Expanded Income' and 'After-Tax Expanded Income') are not shown.
Showing all 21 of the statistics is a high-priority enhancement to TaxBrain.

[2017-12-11 14:41] martinholmer commented on #73
Issue #73 has been resolved on the Tax-Calculator side in [pull request 1741](https://github.com/open-source-economics/Tax-Calculator/pull/1741), but there still need to be changes in TaxBrain to resolve this issue completely.

[2017-12-11 16:13] hdoupe commented on #73
Resolved via open-source-economics/Tax-Calculator#1741.

Difference table for [TCJA_Senate_111417.json](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/TCJA_Senate_111417.json), year 2020:

![screen shot 2017-12-11 at 11 07 14 am](https://user-images.githubusercontent.com/9206065/33840905-3cd9950a-de64-11e7-8b59-b873e50c4109.png)

cc @martinholmer

[2017-12-11 16:14] hdoupe commented on #73
Closed #73

[2017-12-11 16:14] hdoupe commented on #73
Closed #73

[2017-12-11 16:14] #73 closed

[2017-12-11 18:50] hdoupe opened #772 "PolicyBrain 1.2.1"
PolicyBrain 1.2.1 will be released either tonight or tomorrow.  Issues to be tackled:

- NA - ID_AmountCap_Switch not consistently set as 1/0 (resolved via #757)
- #306 and #747 - Back-to-back quick calc submissions and correct description (resolved via #759)
- #761 - warnings on taxbrain/file clear input files (resolved via #762)
- #760 - File upload change start year directs to GUI input page (r

[2017-12-11 19:03] martinholmer commented on #772
I was thinking there might be a Tax-Calculator release in the next day or so.
Does that affect your thinking about the timing of the next PolicyBrain release?

[2017-12-11 19:48] hdoupe commented on #772
Thanks @martinholmer. It looks like the only change that will require work on the PolicyBrain side is a new parameter, `_CTC_new_refund_limited_all_payroll`.  That should be an easy update. We can wait on the next Tax-Calculator release.

[2017-12-11 20:00] martinholmer commented on #772
@hdoupe said:

OK.  Thanks for the quick response.

[2017-12-11 22:17] hdoupe opened #773 "Python version and other environment questions"
While resetting my local environment, I got the following error:
[code]

This occurred when setting requirements in the [`requirements.txt`](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/7da856c1740023ab245bf46e5a1863d60748da10/requirements.txt) file from this function in [`install_taxbrain_server.sh`](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/master/deploy/install_ta

[2017-12-11 22:44] #761 closed

[2017-12-11 23:38] hdoupe commented on #773
Answer to 1. Pillow is required and has something to do with imagefields.  See:
[code]

[2017-12-12 07:02] talumbau commented on #773
This seems like a hard one to answer and, as long as there aren't issues with slug sizes on Heroku, it is probably ok to allow the installation of packages that are not strictly needed to run TaxBrain.

The history is as follows:
`requirements.txt` - Heroku environments are typically specified as pip-installable packages listed in a requirements.txt.

`conda-requirements.txt` - This started out as

[2017-12-12 16:00] hdoupe commented on #773
Thanks @talumbau.  Your insight is helpful.  I'll be working through these issues today.

Ok, now I see.  I'd always that the heroku environment, the ec2 node environment, and the local environment were the same.  Through @talumbau's explanation and working through this problem I now understand that they are different and are setup with different processes.

The worker node environment and the her

[2017-12-12 16:35] talumbau commented on #773
Happy to help. One item of note is that we never had a concept of
"environment 3". I would always just maintain two separate console sessions
with environment 1 for running Django and environment 2 for running the
worker node process (and a console session for running reddis).

On Tue, Dec 12, 2017 at 8:00 AM Henry Doupe <notifications@github.com>
wrote:

[2017-12-12 16:48] hdoupe commented on #773
@talumbau Ok, I see. That makes sense.  I think the project has morphed into having an environment 3.  Currently, everything is run in the `aei_dropq` environment for the local setup.  One console runs the webapp.  The other runs supervisord which manages redis, celery, and flask.

[2017-12-12 16:53] hdoupe commented on #773
Having a very different environment 3 is definitely suboptimal.  In the spring, we have several large projects planned for PolicyBrain.  Fixing this will be one of them.

[2017-12-13 15:06] hdoupe commented on #765
@MattHJensen said

Ok, that makes sense.

Converting the checkbox parameters to text box parameters should be an easy change to make.  The only part that I am worried about is that we have to change the data type for these parameters in the database.  Given my [previous misadventures](https://github.com/OpenSourcePolicyCenter/PolicyBrain/issues/743) with altering the database, I plan to proceed wi

[2017-12-14 03:04] #769 closed

[2017-12-14 03:54] hdoupe commented on #772
PolicyBrain 1.2.1 has been released and is in production.

[2017-12-14 03:54] hdoupe commented on #772
Closing #772

[2017-12-14 03:54] #772 closed

[2017-12-16 13:13] martinholmer commented on #747
Issue #747 was resolved by pull request #759.

[2017-12-16 13:13] #747 closed

[2017-12-16 13:16] martinholmer commented on #709
Closing issue #709 because this high-priority enhancement is covered in issue #770.

[2017-12-16 13:16] #709 closed

[2017-12-18 16:46] hdoupe opened #779 "500 Error when invalid parameter is used"
In open-source-economics/Tax-Calculator#1771, @MaxGhenis found that you get a 500 error if you upload a reform file with an invalid parameter name.  I submitted the same reform on the test app.  This is the feed back that was given:

<img width="682" alt="screen shot 2017-12-18 at 11 39 14 am" src="https://user-images.githubusercontent.com/9206065/34116954-1b50011a-e3e8-11e7-8a12-5274eaf58fca.png"

[2017-12-19 01:34] hdoupe commented on #779
After giving this issue some more thought, I think that this issue exposes a deeper problem with the warning and error message processing and parsing.  Currently, the PolicyBrain function that parses the errors and warnings, [`parse_errors_warnings`](https://github.com/OpenSourcePolicyCenter/PolicyBrain/blob/master/webapp/apps/taxbrain/views.py#L155), uses pretty simple logic to parse the strings

[2017-12-19 03:41] martinholmer commented on #779
@hdoupe asked about errors raised by the Policy class `implement_reform` method in PB issue #779.
He said, in part:

Good point.  Let me try tomorrow to standardize the format of the messages in the ValueErrors raised by the Policy class `implement_reform` method.

[2017-12-19 13:44] martinholmer commented on #779
@hdoupe, Can you review the changes in [Tax-Calculator pull request 1775](https://github.com/open-source-economics/Tax-Calculator/pull/1775)?  If they look good to you, I can merge 1775 and release 0.14.2.

[2017-12-19 18:19] hdoupe commented on #779
Once open-source-economics/Tax-Calculator#1775 is merged, the new behavior will be:

1. Upload file with bad parameter name:
[code]
See:
![screen shot 2017-12-19 at 1 17 19 pm](https://user-images.githubusercontent.com/9206065/34172135-fa5b2b60-e4be-11e7-9c71-241067226c95.png)

2. Remove bad parameter:
[code]
See:
![screen shot 2017-12-19 at 1 18 27 pm](https://user-images.githubusercontent.com/92

[2017-12-19 19:35] #613 closed

[2017-12-19 20:36] #731 closed

[2017-12-19 22:24] hdoupe commented on #779
Closed via open-source-economics/Tax-Calculator#1775

[2017-12-19 22:24] #779 closed

[2017-12-20 15:49] hdoupe commented on #763
It seems like the consensus is that we need both a parameter (or reform) start year and an output start year.  The interface would then look something like this:
![screen shot 2017-12-20 at 10 40 33 am](https://user-images.githubusercontent.com/9206065/34215057-3e2a8d14-e572-11e7-9466-a7091c9bd9b5.png)

I think that we would only have to make changes on the TaxBrain side.  Instead of passing the r

[2017-12-20 15:51] hdoupe commented on #760
Closed via #767

[2017-12-20 15:51] #760 closed

[2017-12-20 21:15] hdoupe opened #786 "GUI input types"
In issue #782, @MattHJensen commented:

The current behavior for the new comma separated boolean value allows for case-insensitive "true" and "false" as well as 1.0, 1, 0.0, and 0.  These values are then converted into Python boolean type variables (`True` or `False`).

It seems like there are a couple different options for the new comma separated boolean parameters:
1. (current behavior) allow an

[2017-12-20 23:34] martinholmer commented on #786
@hdoupe,  [Tax-Calculator pull request 1782](https://github.com/open-source-economics/Tax-Calculator/pull/1782) has been merged.  If it would make you work on PolicyBrain any easier, we could make a new 0.14.3 bug-fix release right away.  Would that be helpful or not?

[2017-12-21 14:44] hdoupe commented on #786
@martinholmer I think you can wait and wrap 1782 into the next regularly scheduled Tax-Calculator release.  I already implemented and merged a solution to this issue.  This solution is either a long-term fix or a temporary work around depending on whether we decide to go with 1, 2, or 3 above.

@martinholmer I'd be interested in your thoughts on approaches 1, 2, or 3 as a I listed above.  Essentia