[2016-08-12 13:57] MattHJensen commented on #300
As far as I can tell the growth capabilities on TaxBrain are not being tested in taxcalc/taxbrain.

[2016-08-12 14:11] GoFroggyRun commented on #300
@MattHJensen said:

this means that the testing is not urgent and needn't distract you from the CEX work -- could you just open an issue in TC, I'll assign it to you if you can't assign it to yourself, and then you can circle back when you have a chance.

Got you. I have just opened this issue in TC.

[2016-08-12 14:32] talumbau commented on #300
FWIW, the reform dictionary passed in [4903](http://www.ospc.org/taxbrain/4903/) is essentially:

[code]

If that is correct, then the issue is on the Tax-Calculator side. If that is not the correct reform for what the user did, then the problem is on the web app side.

[2016-08-12 14:53] talumbau opened #301 "Add endpoint that submits microsim based on previous simulation number"
When running a "quick calculation", the user will get taken to a results page (quickly!) that will give them a quick estimate of the full results. On this results page, There will be text like this:

The link available at "click here" will need to be a POST to start a new simulation. Rather than put all of the user's reform in this POST link, it seems reasonable to have the POST contain a key/valu

[2016-08-12 18:56] MattHJensen commented on #295
In light of the discussion https://github.com/open-source-economics/B-Tax/issues/43, what do you think about this:

1. Some subset of parameters from TC are displayed on the Cost of Capital Calculator (CCC) input page. (@jdebacker will provide this list)

2. There is unfolding/expansion option on the CCC input page that allows the CCC user to see all of the TC params that are currently available o

[2016-08-12 18:58] jdebacker commented on #295
I like this solution.

[2016-08-12 19:03] talumbau opened #302 "Hide growth section on TaxBrain input page"
per discussion in #300,

[2016-08-12 19:10] MattHJensen commented on #300
Thanks @talumbau. I'll leave a note on https://github.com/open-source-economics/Tax-Calculator/issues/860 to open an issue over here at webapp-public once things get figured out over there.

[2016-08-12 19:10] #300 closed

[2016-08-12 19:13] jdebacker commented on #295
Re which TaxBrain inputs to include, I would suggest just the rates (not bracket ranges) under the "Regular Taxes" section.  This should be simple enough and we'll then offer the ability to expand to all Tax Brain inputs.

cc @MattHJensen

[2016-08-12 19:15] MattHJensen commented on #295
Ok. We'll want to grab the AMT Rates (both OI and CG/DIV) as well, since those eat up pretty much anything that happens to the regular taxes section -- especially the CG/DIV rates.

[2016-08-12 19:17] jdebacker commented on #295
Ah, yes @MattHJensen.

Re the MTRs that will be returned from the Tax-Calc run to enter into the user defined parameter dictionary for B-Tax, we should be able to leverage what you all built for the macro elasticity model.

[2016-08-15 20:16] MattHJensen commented on #283
I'm still not seeing the gallery_page_description flatblock from the ospc.org admin. Unchecking the box for that todo.

[2016-08-16 01:48] #302 closed

[2016-08-17 15:11] talumbau commented on #274
closed via #299

[2016-08-17 15:11] #274 closed

[2016-08-17 16:21] talumbau opened #306 "Known issues with "Quick Calculation""
- [ ]  The button does not appear when one chose to the "Edit Parameters" page
- [x] The indexing scheme for how we choose which worker nodes to select for a job is adversely impacted by Quick Calculations. Essentially, the indexing scheme is set up to increment by "NUM_BUDGET_YEARS" but the counting gets off because Quick Calculations are only for one year. The end result is that regular microsim

[2016-08-17 17:57] GoFroggyRun opened #307 "Deviation from CBO baseline issue"
As brought up by @MattHJensen in #300, there might be a potential bug, regarding CBO growth rate, on either TC side or TB side.

After investigating the issue (more details in [#860](https://github.com/open-source-economics/Tax-Calculator/issues/860)), I wasn't able to replicate the same issue users were experiencing using TC. And it seems that there might be some bug on the TB side.

cc @MattHJen

[2016-08-19 15:04] MattHJensen opened #311 "Add CCC to the OSPC home page "from the lab" section"
We could just mirror the TaxBrain format, even keeping the gears in the background if need be.

![image](https://cloud.githubusercontent.com/assets/8301092/17814146/6633682c-65fc-11e6-9bdb-c74e8cb7bb52.png)

[2016-08-19 16:49] talumbau commented on #306
Re-opening until item 1 from above is resolved as well.

[2016-08-19 21:00] martinholmer commented on #306
@talumbau,  As part of this pull request, can you change DataFrame.sample() random_state to 80 unless the one being used now produces sub-sample results that are even closer to full-sample results than a relative difference of 0.006 (that is, 0.6 percent) as described in [Tax-Calculator pull request #869](https://github.com/open-source-economics/Tax-Calculator/pull/869)?

@MattHJensen

[2016-08-20 01:26] GoFroggyRun commented on #307
Closing this in light of discussions [here](https://github.com/open-source-economics/Tax-Calculator/issues/860).

[2016-08-20 01:26] #307 closed

[2016-08-20 15:04] martinholmer opened #312 "Add TaxBrain ability to specify run using JSON reform file"
The discussion beginning around August 1, 2016, concerning [Tax-Calculator issue #429](https://github.com/open-source-economics/Tax-Calculator/issues/429#issuecomment-240692920) has concluded that we want to enhance TaxBrain to be able to handle an alternative way of specifying policy reforms.  In addition to the text-box and check-box approach currently used by TaxBrain, we want to give users the

[2016-08-20 15:51] feenberg commented on #312
(2) Syntax checking is presumably a security issue - perhaps the best thing to do here is to use a pre-existing conversion tool to convert from JSON to some other format and read that, assuming the conversion tool would balk at problematic input. Writing our own checker seems like a fair amount of work and risk.

(3,4) Once we have taxbrain results, won't there be a run number, and can't that work

[2016-08-20 17:00] martinholmer commented on #312
Dan Feenberg said:

Checking for correct JSON syntax is not just a "security issue".  Incorrect JSON will not translate into a reform dictionary.  The existing Policy.read_json_reform_file() static method does raise a ValueError when invalid JSON is encountered, but it doesn't point out the offending line.  It just suggests the user use a [free JSON syntax checking website](jsonlint.com) to find t

[2016-08-20 19:27] feenberg commented on #312
On Sat, 20 Aug 2016, Martin Holmer wrote:

I thought it was especially important because it was a security issue.
That rather means we have to get it right before beta.

I hope this doesn't become another dependency. Does nothing in standard
libraries return a line number of errors? I see this:

    https://codedump.io/share/rBrAeFYEKGhV/1/python-jsonloads-fails-with-valueerror-invalid-control-cha

[2016-08-22 21:34] martinholmer commented on #312
Dan Feenberg said:

I have no idea about the best way to provide TaxBrain users with some idea about how to correct their invalid JSON.  All I know is that it would be more user-friendly to give them some idea of where the error is in their JSON reform file than to simply say the provided JSON is invalid.  I'm assuming that the TaxBrain developers will have good ideas about how best to provide thi

[2016-08-22 23:46] martinholmer opened #313 "What are the eighteen Dividend_* tax policy parameters?"
See the eighteen lines in the models.py file at [this link](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/webapp/apps/taxbrain/models.py#L203-L220).  I don't see these tax policy parameters in the current_law_policy.json file.  Why are they being saved?  What values are being saved given that the variables don't exist in the Tax-Calculator?

[2016-08-25 12:07] MattHJensen opened #314 "Re-activate "Growth" section on TaxBrain"
I think the "Growth" section ought to be renamed as well. My proposal is "Baseline Growth".

[2016-08-26 15:38] talumbau opened #315 "Urls for Cost of Capital Calculator should be `ccc`"
So input page: ospc.org/ccc/

Results page: ospc.org/ccc/24

Edit params: ospc.org/ccc/edit/<query string>/

[2016-08-26 16:44] PeterDSteinberg commented on #315
This is addressed in the last commit on PR #309

[2016-08-28 02:45] zrisher commented on #312
Sure, one of the cool things about Javascript Object Notation is that javascript understands it. :smile: It looks like we're using five different javascript frameworks, so I'm sure we can rely on one of those for client-side checking. You'd want to check it server-side after it's been posted, but you can rely on more general errors there.

They are stored as attributes on a model representing the

[2016-08-28 12:18] martinholmer commented on #312
@zrisher said:

Good to know that this will not request use of any new software libraries --- Dan @feenberg was concerned about that.

@zrisher also said:

I would be much more efficient to do this, but I guess there is a transition cost.  After paying the transition costs, are there any disadvantages to this approach relative to the current approach?

@talumbau @MattHJensen

[2016-08-29 18:46] talumbau commented on #312
I think there's a lot going on in this issue. I'll focus on what I think can reasonably be provided for the user interface w/o too much effort:

1. An interface to allow someone to specify JSON for their reform (*).
This would basically be a text box accepting JSON input. @zrisher if you are interested in taking on the task of verifying the JSON on the front end, please let me know. We could provi

[2016-08-30 01:32] #313 closed

[2016-08-30 01:32] talumbau commented on #314
closed via #317

[2016-08-30 01:32] #314 closed

[2016-09-01 03:36] zrisher commented on #312
@talumbau I will need to check in with Matt on my priorities for next month, but happy to take this on if it's in the list.

Agreed sounds like a good strategy for the server response.

Sounds pretty awesome to me. : )

[2016-09-01 15:23] MattHJensen opened #318 "TaxBrain documentation"
This issue is for the discussion of documenting TaxBrain and the underlying models for policy users.

Over at https://github.com/open-source-economics/Tax-Calculator/issues/891,

@zrisher said:

@feenberg said:

I agree with @zrisher that we can treat these two audiences separately. In fact, tax-calculator and TaxBrain documentation _must_ be separate since TaxBrain is an interface to more models

[2016-09-06 22:46] talumbau opened #320 "All open-source-economics packages should be built with conda-forge"
Conda-forge is a community driven Github organization for building conda packages. If we transition Tax-Calculator, OG-USA, and B-Tax to this build mechanism, it will significantly simplify the release process for the web application. Here is the link the conda forge:

https://conda-forge.github.io/

@PeterDSteinberg can you investigate this and see the LOE required here?

cc @MattHJensen

[2016-09-07 13:08] jdebacker opened #321 "CCC UI: B-Tax start year change gives error"
Currently, one gets a 404 error if the start year is changed from the default value of 2016.  I've opened [another issue](https://github.com/open-source-economics/B-Tax/issues/78) for the B-Tax calculations to reflect changes in start year, but the UI should handle them as well.

[2016-09-07 13:12] jdebacker opened #322 "CCC UI: Default value for non-corp entity tax rate"
We have the default rate on non-corporate entities shown to be 0.35.  Is there a way to make this change conditional on other inputs?  In particular, to have the default rate be 0.0, but if the non-corporate entity level tax indicator is checked, then this default is changed to 0.35 (or whatever is entered in the corporate tax rate box above)?

As it stands, I can see people asking questions like

[2016-09-07 13:14] jdebacker opened #323 "CCC UI: Info buttons on the depreciation rules"
Can we have info buttons on the depreciation rules table headers?  e.g. on ADS, GDS, etc.  These need some explanation.

If we can get these, I think we can omit the "Rate of bonus on n-year class property" and thus simplify and condense the table.

[2016-09-07 13:15] jdebacker opened #324 "CCC UI: Typo in the interest deductibility haircut description"
I misspelled "fraction".

[2016-09-07 13:15] jdebacker opened #325 "CCC UI: Rename macro variables"
Replace "Macroeconomic variables" with "Macroeconomic Assumptions"

[2016-09-07 13:18] jdebacker opened #326 "CCC Output tables major groupings"
Major groupings for industries and assets would be helpful since the names themselves are sometimes not that descriptive without such groupings.

The idea would be to have the name of the major grouping offset - so it is left aligned and the more detailed industries/assets under that are indented.

[2016-09-07 13:23] jdebacker opened #327 "CCC output tables download"
Have options to download CCC tables as CSV and/or Excel.

If we do the Excel options, we might be able have the user download one workbook with a number of worksheets - maybe even 24 - a full dump of all the output tables.

[2016-09-07 15:22] MattHJensen opened #328 "CCC table output selector broken"
When I set all depreciation schedules to ADS, I get output that looks like this:

![image](https://cloud.githubusercontent.com/assets/8301092/18317762/064611f8-74ed-11e6-935d-7874a884b886.png)

Then I select "Baseline", and nothing happens:

![image](https://cloud.githubusercontent.com/assets/8301092/18317771/1310eb9c-74ed-11e6-8f52-b11b4412376d.png)

Then I go back to "Change from reform" (the or

[2016-09-07 15:23] MattHJensen opened #329 "CCC waiting and output pages should use CCC logos instead of TB logos."
The logos displayed in the top bar for the CCC's "calculating" page and output page should be for CCC, not TaxBrain.

[2016-09-07 15:30] MattHJensen opened #330 "CCC "check all" behavior a bit confusing"
When I select the ADS check all button, I can see all other buttons change. This is expected UI.

When I set the check all bonus to 0, all of the other numbers stay the same. This is confusing UI.

Another complication with this UI scheme is that the "check all" bonus defaults to zero, but there are non-zero entries in other boxes that are not overwritten.

(This would also be a complication for t

[2016-09-07 15:35] MattHJensen commented on #324
@jdebacker, should it actually be "fraction of interest not deductible", since it is a haircut?
![image](https://cloud.githubusercontent.com/assets/8301092/18318295/308ad6a4-74ef-11e6-8244-62ae57f67087.png)

[2016-09-07 17:55] PeterDSteinberg opened #331 "CCC fill out flatblocks' contents"
Here are the flatblocks which need to be filled out for the /ccc and /apps pages that are new:

[code]

[2016-09-07 18:16] MattHJensen opened #332 "CCC "What is the Cost of Capital Calculator""
Currently the CCC header contains a "What is TaxBrain?" dropdown. It should contain a "What is the Cost of Capital Calculator" dropdown.

[2016-09-07 18:30] MattHJensen opened #333 "CCC footer link to what is CCC drop down instead of ospc.org/about"
The footer link in CCC currently goes to www.ospc.org/about. It should go to the what is CCC drop down.

[2016-09-07 18:31] MattHJensen commented on #331
@jdebacker, I just added the flatblocks to the admin with dummy text that shows the name for the flatblock.

I added the subheader and footer, but I think most of these you may want to fill out as they are describing the model and tool. Let me know if you'd like to assign any to me.

[2016-09-08 19:09] PeterDSteinberg commented on #333
Fixed in #319.

[2016-09-08 19:09] PeterDSteinberg commented on #332
Fixed in #319

[2016-09-08 19:10] PeterDSteinberg commented on #330
Fixed in #319

[2016-09-08 19:10] PeterDSteinberg commented on #329
Fixed in #319

[2016-09-08 19:11] PeterDSteinberg commented on #328
Fixed in B-Tax (see PR 79 listed above).  Closing this issue.

[2016-09-08 19:17] talumbau commented on #327
@brendancol was this easily translatable from the existing JS assets?

[2016-09-08 19:21] talumbau commented on #322
hmm.. this can be done by custom JS code. @zrisher @brendancol, I'm trying to think of a good way to specify this logic so that we don't have just a jumble of custom javascript that handles these cases. Ideas?

[2016-09-08 20:03] MattHJensen opened #334 "CCC: 0 in check all bonus field gives error"
![image](https://cloud.githubusercontent.com/assets/8301092/18364775/9bd20b1e-75dd-11e6-9621-855f2e643ad5.png)

[code]

[2016-09-09 12:18] jdebacker commented on #324
@MattHJensen you are right.  Fixing in [PR #81 in B-Tax repo](https://github.com/open-source-economics/B-Tax/pull/81).

[2016-09-09 15:43] MattHJensen commented on #328
@PeterDSteinberg, I dont think this one is fixed. For instance:

![image](https://cloud.githubusercontent.com/assets/8301092/18393119/3e0f6b16-7682-11e6-9a02-75052fa2319a.png)

Then

![image](https://cloud.githubusercontent.com/assets/8301092/18393190/78605aaa-7682-11e6-96e7-cc400e798756.png)

Then

![image](https://cloud.githubusercontent.com/assets/8301092/18393201/823e4668-7682-11e6-8287-58bb6d

[2016-09-09 15:49] MattHJensen commented on #322
@jdebacker, would an easier option to begin with to just make the non-corporate entity level rate be 0.0 under current law and then get rid of the indicator? It seems to me that the indicator is logically redundant, although i can see how it might improve UI if it worked as you are requesting here.

[2016-09-09 15:53] jdebacker commented on #322
@MattHJensen 's suggestion is good. We can eliminate check box and do that since it sounds like a lot of trouble to do otherwise.

[2016-09-09 17:52] PeterDSteinberg commented on #328
@MattHJensen It 's not clear to me what is wrong in your screenshots.  The previous error had the entire "change from reform" table as all zeros.  Your recent screenshot shows nonzeros there except some columns are all zero.

[2016-09-09 17:52] brendancol opened #335 "Add SSL Certs to Heroku"

[2016-09-09 17:54] MattHJensen commented on #328
@PeterDSteinberg, look at the Corporate column. When the page first loads, it is actually showing the reform values instead of the change values. Only once I select something else and then reselect change do I see the proper deltas.

[2016-09-09 17:58] PeterDSteinberg commented on #328
@brendancol do you have any input on @MattHJensen 's finding.  Note that the first screenshots of this may encapsulate 2 separate bugs 1) Matt's just mentioned one, 2) the [fixed bug in B-Tax PR #79](https://github.com/open-source-economics/B-Tax/pull/79) related to the gds/ads switches.

[2016-09-12 15:08] PeterDSteinberg commented on #329
Confirmed this is fixed in https://ospc-taxes7.herokuapp.com/ccc/28/ . Closing

[2016-09-12 15:08] #329 closed

[2016-09-12 15:10] PeterDSteinberg commented on #332
Confirmed fixed on https://ospc-taxes7.herokuapp.com/ccc/28/ . Closing.

[2016-09-12 15:10] #332 closed

[2016-09-12 15:24] PeterDSteinberg commented on #328
@brendancol I have confirmed that the UI is getting the correct tables.  This appears to be a js redraw/refresh issue.

[2016-09-12 20:23] MattHJensen opened #336 "CCC: Index errors"
I often get index errors the first time I try to run a reform, but if I hit the back button and try again, it works.  This occurred when I set the corporate rate to .3.

[code]

[2016-09-12 20:27] talumbau commented on #336
this is a dupe of #334 (all `IndexError` bugs have the same cause). The cause is known and should be fixed today.

[2016-09-12 20:27] MattHJensen opened #337 "CCC: N/As for METTR of debt-financed investments"
![image](https://cloud.githubusercontent.com/assets/8301092/18451608/aa554a04-7905-11e6-999e-aa36e3fef57b.png)

@jdebacker, are the N/As intended?

[2016-09-12 20:46] jdebacker commented on #337
@MattHJensen - they are not.  It appears to be a UI issue.  See [here](https://github.com/open-source-economics/B-Tax/issues/77).

[2016-09-12 20:47] MattHJensen commented on #337
Thanks @jdebacker. Removing question label and adding mustfix label.

[2016-09-14 00:41] jdebacker commented on #331
Now updated in test app.  I was not sure what to put for:
1) taxbrain_ccc_dynamic_subheader
2) ccc_vs_taxbrain_blurb
3) taxbrain_entry_blurb
4) cost_of_capital_entry_blurb

Also, should "What is TaxBrain?" by the "Start Exploring" be replaced by "What is Cost of Capital Calculator?"

cc @MattHJensen  @PeterDSteinberg @talumbau

[2016-09-15 14:45] MattHJensen opened #339 "CCC: sidebar highlighting doesn't change with scrolling"
The section that is highlighted in the sidebar does not change as you scroll. "get started" is always highlighted

![image](https://cloud.githubusercontent.com/assets/8301092/18554243/8fd7fae0-7b31-11e6-9020-4493d9cfa8a7.png)

[2016-09-16 14:28] talumbau commented on #328
resolved via #319

[2016-09-16 14:28] #328 closed

[2016-09-16 14:29] talumbau commented on #336
closed via #319

[2016-09-16 14:29] #336 closed

[2016-09-16 14:29] talumbau commented on #334
closed via #319

[2016-09-16 14:29] #334 closed

[2016-09-16 14:30] talumbau commented on #331
all Flatblocks content added. Thanks @MattHJensen @jdebacker and @PeterDSteinberg

[2016-09-16 14:30] #331 closed

[2016-09-16 14:36] talumbau commented on #324
closed via https://github.com/open-source-economics/B-Tax/pull/81

[2016-09-16 14:36] #324 closed

[2016-09-16 19:38] GoFroggyRun opened #340 "Parameters Modify Rules"
Per discussion in issue [#927](https://github.com/open-source-economics/Tax-Calculator/issues/927), we want to apply certain rules when users are modifying a couple pairs of parameters, namely individual income (II) and passthrough (PT) rates and brackets parameters, and Capital Gain (CG) and Capital Gain alternative minimum (CG AMT) rates and brackets parameters.

The rules I have in mind is that

[2016-09-19 14:04] MattHJensen commented on #340
A first and easy step would be to keep the existing user interface but just make it so that when the user  changes the personal income tax rates and brackets, both the _II and _PT parameters are affected. The user interface would not change at all.

[2016-09-20 19:42] MattHJensen opened #341 "Drastically different static and PE estimates for rate reductions"
top rate from 39.6 to 35.

Static
![image](https://cloud.githubusercontent.com/assets/8301092/18686100/b2f2065e-7f48-11e6-9e2b-3eda4d2a844a.png)
http://www.ospc.org/taxbrain/5785/

PE, substitution elasticity 0.55:
![image](https://cloud.githubusercontent.com/assets/8301092/18686079/a27afb28-7f48-11e6-93c9-235f9603044d.png)
http://www.ospc.org/dynamic/behavior_results/277/

Attempting to replicate

[2016-09-22 17:05] martinholmer commented on #312
Over a month ago, @MattHJensen asked me to raise an issue describing the outlines of TaxBrain enhancement that would allow TaxBrain users to upload JSON policy reform files like those accepted by the `inctax.py` and `simtax.py` command-line interfaces to the taxcalc package.  That issue #312 generated considerable discussion during its first few days, but there has been no discussion for over thre

[2016-09-22 18:03] talumbau commented on #312
yes this issue has been lingering. A couple of questions that would help me understand if we can proceed:

1. Are the initial interface restrictions (and associated caveats) that I describe in my previous message on this issue acceptable? So, roughly that is: JSON upload page is three boxes, "Edit Parameters" pages for JSON-based TaxBrain jobs are JSON input pages

2. Which is a higher priority: p

[2016-09-22 20:41] martinholmer commented on #312
@talumbau said:

This is fine.  But the most important, by far, is the policy reform box that can be used to upload JSON policy reform files.  So, you should consider doing this development work in steps: add the policy reform file upload capability first, then use what you've learned to add the other two upload boxes.

No question about it: the top priority is the input or upload capability.  Dow

[2016-09-23 01:43] talumbau commented on #341
@MattHJensen has this been confirmed as a bug in the web app? I can verify that the reform dictionary for #5785 is

[code]

[2016-09-23 13:01] MattHJensen commented on #341
Thanks T.J. This is not a bug on web app.

[2016-09-23 13:01] #341 closed

[2016-09-23 15:56] MattHJensen commented on #340
@talumbau, here's a detailed description based on our call today.

**First**, the "AMT Long-term capital gains and qualified dividends" subsection should be removed.

**Second**, the "Long-term Capital Gains and Qualified Dividends" subsection fields should modify both the TC params they currently modify _and_ the params from the corresponding fields in the old ""AMT Long-term capital gains and qu

[2016-09-27 03:34] talumbau commented on #340
closed via #342

[2016-09-27 03:34] #340 closed

[2016-09-28 14:04] andersonfrailey opened #344 "TaxBrain output: tax payers with no income tax"
This issue stems from a discussion between @MattHJensen and myself on including information on tax payers paying no income tax and tax payers paying no income and payroll tax in the standard TaxBrain output and the work in this [article](http://www.aei.org/publication/how-many-trump-tax-plan-take-off-income-tax-rolls/).

[Here](https://github.com/OpenSourcePolicyCenter/webapp-public/files/498153/N

[2016-09-30 12:23] jdebacker commented on #330
I still see this issue:
![ccc_checkall](https://cloud.githubusercontent.com/assets/10715924/18991527/1927706c-86e7-11e6-9dfb-8459256f4b9d.png)

Perhaps we should drop this - it's been difficult to get the UI to work correctly and the model doesn't handle these check all inputs at all right now.
cc @PeterDSteinberg

[2016-09-30 12:26] jdebacker commented on #337
fixed via #345

[2016-09-30 18:22] #322 closed

[2016-09-30 21:12] MattHJensen opened #348 "index out of bounds when reform year different from start year."
This reform:

[code]

Returns this error message:

[code]

The same reform for 2016 rather than 2019 is fine, so I think the problem is reforms that take place in years after the start year. In TaxBrain, we accomodate those with the `*,*,*,0` syntax

[2016-10-05 13:03] talumbau opened #350 "good choice for a file upload widget?"
We need a file upload widget to completely fulfill #312. Right now, the WIP PR has a text area where one can paste in the desired reform. so the downstream processing is basically done, we just need a reasonable widget in the UI. What is a good javascript library choice here? @zrisher @kevincolten @brendancol Any pointers would be helpful. Thanks!

cc @MattHJensen

[2016-10-05 13:59] kevincolten commented on #350
http://www.dropzonejs.com/ is a really popular library

[2016-10-07 00:51] jdebacker commented on #330
I believe this issue can be closed.  Can't find PR, but "check all" has been removed.

[2016-10-07 00:51] jdebacker commented on #325
Fixed via PR #319

[2016-10-07 00:51] #325 closed

[2016-10-07 00:57] jdebacker commented on #326
To add to this further, the current alphabetical ordering of industries or assets makes the tables difficult to read.  Industries should be ordered in accordance with [NAICS code](http://www.census.gov/cgi-bin/sssd/naics/naicsrch?chart=2012) ordering, since people are familiar with that.  Major asset groups should be ordered: Equipment, Structures, IP, Land, Inventories.

When adding major groupin

[2016-10-07 00:59] jdebacker opened #351 "CCC Output Tables Info"
It's be nice to have some more info about what the output from the CCC means.  e.g. having in the info buttons as on the user input page to describe terms like METR, METTR, and depreciations (the NPV of the tax depreciation deductions).

[2016-10-07 01:02] jdebacker opened #352 "CCC Output Page - Edit Parameters Button"
It could be helpful for the CCC output page to have an "Edit Parameters" button as the TaxBrain output page does.  Such a link is often very helpful to be able to go back and see what the exact parameter settings were for that particular run.

[2016-10-10 17:41] talumbau commented on #350
Thanks for this info! We are going to go with just a simple `input=file` element for right now. Closing

[2016-10-10 17:41] #350 closed

[2016-10-10 17:46] talumbau commented on #330
closed via #347 which removed Check All.

[2016-10-10 17:46] #330 closed

[2016-10-10 19:04] talumbau commented on #295
we have addressed the overall issue here, which is that the Cost of Capital Calculator is a separate product from TaxBrain. There is still the underlying technical discussion of how `taxcalc`, `btax`, and `ogusa` all interact with each other through the various web application. For `btax` <-> `taxcalc`, the relevant discussion is here:

https://github.com/open-source-economics/B-Tax/issues/43

[2016-10-10 19:04] #295 closed

[2016-10-10 19:05] talumbau commented on #315
closed via #309

[2016-10-10 19:05] #315 closed

[2016-10-10 19:08] talumbau commented on #286
closed via #319

[2016-10-10 19:08] #286 closed

[2016-10-10 19:12] talumbau commented on #227
TaxBrain vs. Tax-Calculator differences are well in-hand, due to the careful efforts of @martinholmer, with found located [here](https://github.com/open-source-economics/Tax-Calculator/tree/master/taxcalc/taxbrain)

[2016-10-10 19:12] #227 closed

[2016-10-10 19:22] talumbau commented on #256
resovled via #265

[2016-10-10 19:22] #256 closed

[2016-10-10 19:23] talumbau commented on #205
this is no longer high priority.

[2016-10-10 19:23] #205 closed

[2016-10-10 19:25] talumbau commented on #27
this is done

[2016-10-10 19:25] #27 closed

[2016-10-10 19:27] talumbau commented on #38
this is resolved. We just round-robin all the work (no matter how many budget years) to how ever many nodes are available.

[2016-10-10 19:27] #38 closed

[2016-10-10 19:28] talumbau commented on #26
no longer relevant.

[2016-10-10 19:28] #26 closed

[2016-10-10 19:30] talumbau commented on #19
We don't have a great answer here until we have a publicly available data set. This should happen fairly soon, but we'll want to have more extensive documentation than what would just be at the bottom of the TaxBrain results page.

[2016-10-10 19:30] #19 closed

[2016-10-10 19:34] talumbau commented on #88
this has been around for about a year with no activity. Closing for now.

[2016-10-10 19:34] #88 closed

[2016-10-10 19:35] talumbau commented on #5
Using the second or third option in the bullet list seems appropriate, if this feature is still desired. Closing for now.

[2016-10-10 19:35] #5 closed

[2016-10-10 19:35] talumbau commented on #335
resolved. Thanks @brendancol!

[2016-10-10 19:35] #335 closed

[2016-10-10 19:37] talumbau commented on #214
@Amy-Xu if this issue is still relevant, can you create the note and add to an existing flatblock (or have @MattHJensen do that part), or close if this issue is no longer relevant?

[2016-10-10 19:44] Amy-Xu commented on #214
Not quite sure whether we still need this note. I don't think we have it yet: the note saying total number of returns does not match the sum of all cells. Do we still need it?@MattHJensen

[2016-10-10 19:49] talumbau commented on #337
closed via #345

[2016-10-10 19:49] #337 closed

[2016-10-10 19:58] talumbau commented on #290
this is now handled via the "plots" repo, with the user-contributed code here:

https://github.com/open-source-economics/plots/tree/master/contrib/corp_metr

[2016-10-10 19:58] #290 closed

[2016-10-10 20:00] talumbau commented on #21
It is possible to re-use TaxSaveInputs results, but the cost of running the model is small enough and the Tax-Calculator code advances quickly enough that the idea of re-using TaxSaveInputs results has not been a high priority. Closing for now.

[2016-10-10 20:00] #21 closed

[2016-10-10 20:08] talumbau commented on #127
Growth parameters are in the code now, so we can get rid of hardcoded values here.

[2016-10-10 20:09] talumbau commented on #25
this will be superseded by a display of the JSON representing the parameter.

[2016-10-10 20:09] #25 closed

[2016-10-11 17:37] #312 closed

[2016-10-11 18:12] talumbau commented on #312
this feature is now live at ospc.org/taxbrain/file

[2016-10-11 18:37] talumbau opened #354 "static file hosting on site turned off due to error"
In #353 we reverted to locally hosting static files, instead of taking css and JS files, gzipping them,  and then hosting them on an S3 bucket for better load times. This was done because of an unexpected error when trying to collect the static files and upload them to the S3 bucket. When executing `python manage.py collectstatic`, the following error occured:

[code]

It's not clear if this is a

[2016-10-11 19:32] talumbau opened #355 "remove JSON text field input page"
the `/json` page has been removed in favor of `/file`. See #312, #353 for details.

[2016-10-12 01:49] martinholmer opened #356 "Link for main TaxBrain page to the reform-file-upload page?"
Is there a link from the main TaxBrain page to the reform-file-upload page?  I didn't see one, but could have been in too much of a hurry to notice it.  If there is no link, is there a plan to add one?  If not, how would people know anything about this capability?

[2016-10-12 01:57] talumbau commented on #356
There is not such a link, but we can add one. Sometimes that is a good way to release a new feature, so that beta-testers can try out new features that others won't stumble upon until we are ready for a more general audience. But, now is as good a time as any to create such a link. @MattHJensen do you have thoughts on how you would like to link to the new file-upload page?

[2016-10-12 07:47] martinholmer commented on #356
@talumbau said:

I think it is fine to wait for a while to add the link.  I hope to add some tests of the reform-file-upload capability, so that can be part of our beta testing.

[2016-10-12 12:33] jdebacker opened #357 "CCC Allow TaxBrain parameters to be entered"
B-Tax integrates with the Tax Calculator.  This PR is to suggest we allow inputs for IIT parameters on CCC.

There are a few options to do this.  e.g.,:
1) A link to Tax Brain to enter full list of parameters
2) Allow a limited set of parameters to be entered in CCC itself (e.g. rates on dividends and capital gains, pass-through business income, etc.).
3) A mix of (1) and (2)

It might be easiest

[2016-10-12 16:28] martinholmer opened #358 "Suggestions for the taxbrain/file/ page"
@talumbau, I have compared aggregate 2020 revenues under current-law and a complex reform whose JSON-reform-file I uploaded to TaxBrain.  The aggregate revenue results are exactly the same on my local computer and on TaxBrain.  So, things seem to be working fine.  Thanks for adding this useful feature to TaxBrain.

But I do have a few suggestions to make the user experience better.

(1) on the fil

[2016-10-12 21:24] talumbau opened #359 "File-based TaxBrain reforms should properly link to dynamic simulations"
We have three dynamic simulation options:

 - partial equilibrium
 - OGUSA
 - macro elasticities

In order to properly link a File-based TaxBrain simulation to OGUSA, work must be done on the OGUSA package (to properly feed the reform file into the Tax-Calculator in the portion of OGUSA that estimates the tax functions needed for the rest of the simulation). For partial equilibrium and macro elast

[2016-10-13 13:48] jdebacker opened #360 "CCC Input Page - consolidate text"
Consolidate the text at the top of the CCC input page.  Use more links and just present the most relevant assumptions and description of the results.

[2016-10-13 13:50] jdebacker opened #361 "Don't use "static" to describe results in CCC"
Remove "static" labels.  But do note that results don't account for changes in financing behavior as result of the change in rates or changes in interest rates that might result from tax policy induced changes in investment (in future, we can add links to dynamic models where once can explore these).

[2016-10-14 20:29] MattHJensen opened #364 "Add visualizations to CCC"
It would be cool to generate visual outputs for CCC. We could start with a static version of the bubble plot. Assuming that the first step is a util in B-Tax, I opened https://github.com/open-source-economics/B-Tax/issues/106.

![image](https://cloud.githubusercontent.com/assets/8301092/19401483/92ac0ac2-9229-11e6-9d21-dc962d998b25.png)

I'm not sure how these should fit into the output page. One

[2016-10-14 20:30] talumbau commented on #359
resolved via #362 and #363

[2016-10-14 20:30] #359 closed

[2016-10-14 20:31] MattHJensen commented on #359
Thanks @talumbau.

[2016-10-14 20:32] jdebacker commented on #364
@MattHJensen , I'm a bit fan of doing this.  We could have a bubble plot as above by asset and one by industry above each of the respective tables.  I think this gives a much better way to visualize the differences, which I think have hard to get across with the deltas tables.

[2016-10-14 20:35] MattHJensen commented on #364
That'd be great.

[2016-10-14 21:38] MattHJensen commented on #351
I think this is a combination of a B-Tax issue and a javascript issue so assigning @jdebacker and @brendancol. I mention B-Tax under the assumption that we want that documentation to be in B-Tax. Alternatively, it could just involve webapp flatblocks.

[2016-10-14 21:41] MattHJensen commented on #323
@jdebacker, do you want this text to reside in webapp-public as flatblocks or in B-Tax? (@talumbau/@brendancol, is one of these much easier?)

[2016-10-14 21:42] jdebacker commented on #323
I like having them in the json files in B-Tax and accessed on the web app via mousing over the (i) button.  I feel like that allows one to have a lot of information without cluttering the UI.  But happy to defer to these others who are more experienced.

[2016-10-17 13:29] MattHJensen opened #366 "update CCC logo on dark background?"
![costofcapitalcalfinal 1](https://cloud.githubusercontent.com/assets/8301092/19439458/255bbd76-944c-11e6-870e-a2b0ed737dd1.png)

Would the third logo look better on dark backgrounds than the second?

[2016-10-17 16:30] talumbau commented on #321
@jdebacker there is no longer a 404 when selecting a different default start year (this was fixed via  1ea704cae810dc61aa4fc5075296f4ff91e3e00b). However, I don't believe the start year is actually propagating to the `btax` package and modifying the start year of the simulation. Can you or @PeterDSteinberg point me to some `btax` code that shows how the start year should be fed into the calculatio

[2016-10-17 16:41] jdebacker commented on #321
@talumbau - thanks for looking at this.  You're right that the year is not being fed into B-Tax.  I can add the script to pass this through, but am not sure on how this will work.

I think what we want to do is to have the btax_defaults.json adjust the defaults as different years are selected.  Then the business tax parameter defaults will be passed to B-Tax in the current way.  In addition, I wil

[2016-10-17 16:45] talumbau commented on #321
If you tell me that calling the `run_btax_to_json_tables` function with `start_year` set to the desired year will produce the output you want - I'm referring to this function:

https://github.com/open-source-economics/B-Tax/blob/master/btax/run_btax.py#L124

then I can make everything work with a small change. Is this the right place to plug in the year from the UI?

[2016-10-17 16:52] jdebacker commented on #321
@talumbau calling that with the `start_year` set to the desired year will help update the start year for the Tax-Calculator run that produces the tax rates we use.

BUT one also needs to change the business tax parameters (namely bonus depreciation), which changes based on the year.  I can do this in B-Tax, but I think it'd be better if the year change in the UI changes the default values pulled f

[2016-10-17 16:54] jdebacker opened #367 "Order of output tables"
In the CCC output, we should change the order of the tabular output, making the first table displayed the reform.  The next radio button will switch to baseline and the third button to the difference between the two.  Currently the order is the difference, the baseline, and then the reform.

[2016-10-17 17:03] talumbau commented on #321
Isn't it true that calling the `parameters.get_params` with the appropriate `start_year` with get the appropriate business tax parameters? I am referring to the function here:

https://github.com/open-source-economics/B-Tax/blob/master/btax/run_btax.py#L77

If what I am saying is true (that `parameters.get_params` called with the appropriate start year wil get the values you describe) then everyth

[2016-10-17 17:07] jdebacker commented on #321
TJ, you are incorrect.  I still need to update `parameters.get_params` to update the business tax parameters based on the start year.  I can do this now - I just wasn't sure if we needed to do that if the json file containing the parameters defaults were updated (which I still think it would need to be so that the web app presents the defaults that correspond to the chosen start year).

[2016-10-17 17:19] talumbau commented on #321
Ah, I get it now. Yes, we have something for `taxcalc` that does this. The general idea is that we need a function that can take a start year and give back default parameters for that start year. So with `taxcalc`, we have [`default_data`](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/parameters.py#L21) in ParametersBase which we can call with different start years to

[2016-10-17 17:25] jdebacker commented on #321
@talumbau It does not exist.  I'm looking at Tax-Calc now and am trying to copy that over.  Give me 30 min on this and I'll open a PR.  I'll notify you all of that and any questions I have.  Also, I'll just be working in B-Tax and not the web app.  If you or @PeterDSteinberg could help with that, it'd be great.

[2016-10-17 17:27] talumbau commented on #321
yes no problem there. The `taxcalc` version is quite general - probably no need to be as fancy with `btax`. If you can add the function and a test that shows how to use it, should be no problem on my part to add it in to the web app.

[2016-10-17 17:36] MattHJensen commented on #321
@talumbau and @jdebacker, I think it is important to have this ability, but for the sake of our next release, how about resolving this issue #321 by hiding the "change start year" from CCC?

Then we can add a new issue w/o the bug label and w/o the next release label for adding back the change start year feature and have enough time for testing. We can add that to a release whenever we think it is

[2016-10-17 17:38] talumbau commented on #321
ok sounds good. I'm working on a PR for some of these CCC issues so I will add that in.

[2016-10-17 17:58] talumbau commented on #366
@MattHJensen here is the /ccc/ page at the top with the third logo:

<img width="350" alt="screen shot 2016-10-17 at 12 56 10 pm" src="https://cloud.githubusercontent.com/assets/1891418/19448876/298daa22-9469-11e6-9508-6eea820a39ad.png">

here it is with the first:

<img width="383" alt="screen shot 2016-10-17 at 12 54 20 pm" src="https://cloud.githubusercontent.com/assets/1891418/19448884/3374725

[2016-10-17 18:08] MattHJensen commented on #366
Looks great!

[2016-10-17 18:08] talumbau commented on #326
@PeterDSteinberg can you comment here on ideas for how this grouping would be accomplished? I'm thinking in terms of the JSON key-value pairs we get back for rendering. Perhaps we could have some kind formatting value included with every row - a string that indicates the grouping for row? then we could organize the rows by group. What do you think?

[2016-10-17 18:15] talumbau commented on #323
I don't think we could do a flatblock for hover overs (not 100% sure but I think it would be tricky). Getting the text from a JSON file and displaying the text as a hover over for a button is what we currently do for TaxBrain so I would suggest we go that route here.

[2016-10-17 18:16] talumbau commented on #323
@jdebacker does the desired text already exist? If yes, can you point me to it?

[2016-10-17 18:20] jdebacker commented on #323
I think we could just pull from the "notes" filed in the `btax_defaults.json` file. @talumbau

[2016-10-17 18:25] jdebacker commented on #321
FYI, [this PR](https://github.com/open-source-economics/B-Tax/pull/107) allows B-Tax to accept and use a flexible start year to update both business and individual tax parameters.

[2016-10-17 18:27] talumbau commented on #323
Ok, I thought I understood then but it turns out I don't understand. In the `btax_defaults.json`, each item does have a notes section, but it's not clear to me which text should pop up when one hovers over the "ADS" text in the ADS column on the input page. Similar question for "GDS" and "Economic."

[2016-10-17 18:30] jdebacker commented on #323
Ah, I see, the notes read something like:

So they are specific to each class of property.  I think for the hover-over at the top of the column, we just want to be a bit more general.  E.g.,

Can we create another variable for such text?

[2016-10-17 18:30] talumbau commented on #323
Yes that would be great.

[2016-10-17 18:50] jdebacker commented on #323
@talumbau  See [here](https://github.com/open-source-economics/B-Tax/pull/108)

[2016-10-17 22:17] #321 closed

[2016-10-17 22:17] #366 closed

[2016-10-17 22:17] #367 closed

[2016-10-17 22:42] talumbau commented on #358
fixed by #365

[2016-10-17 22:42] #358 closed

[2016-10-18 01:25] talumbau commented on #323
@jdebacker the current version of `btax` used for CCC is at commit https://github.com/open-source-economics/B-Tax/commit/06fb537a1d9833185255b21a74bbca6d2d20ebcc from October 6. If I put in the changes from your merged [PR](https://github.com/open-source-economics/B-Tax/pull/108) on B-Tax, we will have all of the changes to B-Tax made since then running on CCC. Let me know if this is correct and w

[2016-10-18 01:39] jdebacker commented on #323
@talumbau Sounds right.  I do have [this open PR](https://github.com/open-source-economics/B-Tax/pull/107), but given your recent change remove the start year from the webb app, maybe we just leave that PR open for now and don't merge into CCC (although it would not cause any issue to do so - the default is set to 2016 there as well).

[2016-10-18 02:07] talumbau commented on #323
@jdebacker here is what the hover overs look like. Let me know if that is good enough to move forward with:

<img width="804" alt="screen shot 2016-10-17 at 9 06 30 pm" src="https://cloud.githubusercontent.com/assets/1891418/19461853/bbc9fa96-94ad-11e6-89cc-6e08ecffc778.png">

[2016-10-18 02:19] jdebacker commented on #323
Like it!

[2016-10-18 15:56] talumbau opened #370 "Error reporting should use monospace font and respect whitespace"
Successful processing of a file-based reform shows the reform in a monospace font with whitespace respected (added in #365). This should happen when showing errors in the processing of file-based reforms as well.

[2016-10-18 17:19] brendancol commented on #351
@Jason, can you provide content for doing info tooltips?

[2016-10-18 17:25] brendancol commented on #326
@Jason Do you have a screenshot of an analogous tables like what we'd want for B-Tax output?

[2016-10-18 17:57] jdebacker commented on #351
@brendancol You can find tooltips updated in the new `btax_results_*.json` files.  However, these are specific to the form of financing and entity type.  Let me give some general text here (hope that's ok, but not sure if this should go in those json files or not):

METTR: "Marginal effective total tax rate on new investments.  The METTR includes the impact of all levels of taxation (both on busin

[2016-10-18 18:05] jdebacker commented on #326
@brendancol Here's an example of industry groupings:
![ind_ss](https://cloud.githubusercontent.com/assets/10715924/19490003/5dfa1048-953b-11e6-9dd8-36a6baf32fb9.png)

What you can take from this is that I think it's nice to have the major grouping left aligned (and perhaps in bold font) and then the group members indented.

The output tables do not currently include the major groupings.  Let me kn

[2016-10-18 18:07] jdebacker commented on #326
@brendancol Something to think about - if we could make the tables expandable - e.g. just showing the major grouping and then the user clicks a "+" button to expand to the sub-industries, that'd be cool, but certainly not necessary.

[2016-10-18 18:09] brendancol commented on #326
@Jason, great thanks. I'm going to come up with a proposal which retains use of `DataTables`.  Keeping `DataTables` will significantly reduce the level of effort.

[2016-10-18 18:52] #370 closed

[2016-10-18 19:07] talumbau commented on #323
@jdebacker this is released and live on www.ospc.org/ccc

[2016-10-19 00:10] jdebacker commented on #323
@talumbau Hover over works very nice.  However, the labels are popping up in correctly.

I see:
- Bonus tooltip showing up over "ADS"
- ADS tooltip showing up over "Economic"
- Economic tooltip showing up over "Bonus"

[2016-10-19 00:20] jdebacker commented on #323
@talumbau I think [this PR](https://github.com/OpenSourcePolicyCenter/webapp-public/pull/373) fixes this.

[2016-10-20 15:12] MattHJensen opened #374 "Application Error for PE model"
http://www.ospc.org/dynamic/behavior_results/330/
![image](https://cloud.githubusercontent.com/assets/8301092/19565754/fd0808e0-96b5-11e6-80a8-ed52803b0638.png)

[2016-10-20 15:43] MattHJensen opened #375 "Default TB output to difference table w payroll and individual income taxes"
This is the default TB output:

![image](https://cloud.githubusercontent.com/assets/8301092/19567026/53457662-96ba-11e6-9c1f-8e64befe7e2c.png)

Let's make it:

![image](https://cloud.githubusercontent.com/assets/8301092/19567037/5e780748-96ba-11e6-8815-8a4f20fe9af2.png)

[2016-10-20 15:46] MattHJensen opened #376 "TB output diagnostic table defaults"
The current diagnostic table defaults are:

![image](https://cloud.githubusercontent.com/assets/8301092/19567194/df40db98-96ba-11e6-92b5-5d0db4c629dc.png)

Let's make them:

![image](https://cloud.githubusercontent.com/assets/8301092/19567168/d51c2fdc-96ba-11e6-8a81-147be945687e.png)

[2016-10-20 16:39] brendancol commented on #351
@jdebacker these tooltips should live in `btax/constants.py` which I've add in PR coming soon

[2016-10-20 17:36] brendancol commented on #326
@jdebacker yeah go ahead and add any fields which would help with groupby.

[2016-10-20 17:39] jdebacker commented on #326
@brendancol Ok - I'll update B-Tax output tables to have an additional column, "major_grouping", which will be a text field with the name of the major industry/asset grouping.

I'm also going to include values for averages across the group.  In this case, "major_grouping" will equal the industry or asset name.

[2016-10-20 17:42] brendancol commented on #326
@jdebacker sounds good.  Will `major_grouping` included aggregated values for all corporate/non-corporate categories?

[2016-10-20 17:45] jdebacker commented on #326
@brendancol, yes, this is what I'm referring to in the last two sentences above.

as an example:
[code]

[2016-10-20 17:50] brendancol commented on #326
@jdebacker is `major_grouping` the only groupby, or will there also be a `minor_grouping`?

[2016-10-20 17:55] jdebacker commented on #326
@brendancol If you can handle it, I'd like to have a minor grouping for industry (but not asset).  e.g se the manufacturing breakout above (but most major groupings will only have one minor group).

I also would like a line for the overall averages for the variables (i.e., across all assets/industries).  For this, I thought it'd be put in the table as follows:

[code]

[2016-10-20 20:57] brendancol commented on #326
@jdebacker will there be a mettr_c_reform, mettr_c_baseline etc.?

[2016-10-20 21:01] jdebacker commented on #326
@brendancol All the columns of output will remain the same - just adding new columns for the major groupings.  Should have been clear - example was simple to just quickly show how the major groupings would work with the asset/industry names.

[2016-10-20 21:23] brendancol commented on #326
@jdebacker @PeterDSteinberg @talumbau

At the moment, the `btax/results.html` now supports items which have a `major_grouping` property which would be a sibling to `label` and `cells` in each of the objects.

[2016-10-20 22:50] brendancol opened #378 "Content for /apps"
https://ospc-taxes7.herokuapp.com/apps/ is missing content

[2016-10-21 14:41] talumbau commented on #323
resolved via #373

[2016-10-21 14:41] #323 closed

[2016-10-21 23:51] martinholmer commented on #356
So what is the current thinking on TaxBrain issue #356?  There has been ten days of testing.  Do we need more time for testing, or are we waiting for more reform file examples at [this webpage](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/REFORMS.md)?

[2016-10-22 14:31] MattHJensen commented on #356
@martinholmer, I think more reform files will certainly be helpful, but we can add the link from the TaxBrain page now anyways. Do you have a recommendation for where it would fit?

[2016-10-22 14:57] martinholmer commented on #356
@MattHJensen said:

I don't really know the best place for the link on the main TaxBrain page.  So far, I haven't used TaxBrain that much, so I'm a novice user.  Maybe you could add to Step 1 of *What is TaxBrain?* a second sentence that mentions the reform-file way of specifying parameters and provides a link to that page.  Maybe there's a better approach.

@MattHJensen @feenberg @talumbau @Amy-X

[2016-10-24 14:04] MattHJensen opened #379 "Add "Reset Parameters" button."
In Chrome it is easy to reset all input parameters by refreshing the page. In Firefox, however, a refresh does not clear out existing parameters. A "Reset Parameters" button would solve this problem. It could go right above the start year indicator and would just need to link to www.ospc.org/taxbrain. As for styling, a simple hyperlink would be fine to begin with.

Matt should notify John Sabelhau

[2016-10-24 14:20] MattHJensen opened #380 "Enable 10-year liabilities table to display Current Law, Reform, and Change."
Currently TB's 10-year liabilities table only displays the delta between baseline and reform. A user requested the capability to see the baseline and reform numbers as well, without having to pick them out of the diagnostic table for each year.

Here is the current table:
![image](https://cloud.githubusercontent.com/assets/8301092/19649150/b58ca3b6-99d2-11e6-8e85-862fc9dcc069.png)

Here's how we c

[2016-10-25 16:26] jdebacker opened #381 ""Looks Ok" Buttons"
- [x] Replace `Looks OK` after Macroeconomic Variables section with "Show me results button"
     - I decided to remove this button instead which is consistent with the TaxBrain input page
- [x] Fix `Looks OK` button at the bottom of Other Section
- [x] Fix Taxbrain `Payroll Taxes` `Looks OK` button (currently jumps to adjustments

[2016-10-25 16:34] jdebacker opened #382 "Default output for CCC tables"
When the CCC output page is loaded, the "Reform" radio button is checked, but the output displayed is for the difference between the Reform and Baseline.  This needs to be updated so the Reform output is displayed as intended.

[2016-10-25 17:18] jdebacker opened #384 "Replace "What is TaxBrain?" with "What is Cost of Capital Calculator?""
Replace "What is TaxBrain?" with "What is Cost of Capital Calculator?" at the top of the CCC landing page.

This may be in the flat blocks, but I can't locate it.

[2016-10-26 18:34] talumbau commented on #351
resolved via #377

[2016-10-26 18:34] #351 closed

[2016-10-26 18:34] talumbau commented on #326
closed via #377

[2016-10-26 18:34] #326 closed

[2016-10-26 19:21] jdebacker opened #385 "Specify order of industries in "by industry" output table"
Currently,  assets and industries are listed in alphabetical order.  Industries should be ordered as:

[code]

[2016-10-26 19:23] jdebacker opened #386 "Extraneous rows at the bottom of the CCC output tables"
The last row at the bottom of the "by industry" table:
![ind_table_ss](https://cloud.githubusercontent.com/assets/10715924/19741752/f65a5316-9b8f-11e6-98a9-c1a91f131b2b.png)

And the last row at the bottom of the "by asset" table:
![asset_table_ss](https://cloud.githubusercontent.com/assets/10715924/19741772/0bda7bc6-9b90-11e6-8f64-207b869c78bc.png)

appear unnecessary (the repeat the header at th

[2016-10-26 19:28] jdebacker opened #387 "Ordering of assets in the "by asset" output table"
Currently, assets are ordered alphabetically.  Also, assets are groups by the `asset_category` column and not by the `major_asset_group` column.

Assets should appear in the order:

[code]

[2016-10-26 19:32] jdebacker opened #388 "Print values of all output variables for major groupings"
Currently, major groupings display values for corporate and non-corporate METRs only (and in a different format than in other rows of the table):

![grouping](https://cloud.githubusercontent.com/assets/10715924/19742028/3bd42d58-9b91-11e6-9620-65d36e7be444.png)

The output table ought to display values for all output variables for these groupings - and do so in the same format as the other rows in

[2016-10-26 19:36] MattHJensen commented on #388
+1 The whole row would be bold, right?

Is there a reason not to have an average line at the bottom? (the way I envision the averaging, the number would be the same for both the assets table and the industry table.)

[2016-10-26 19:41] jdebacker commented on #388
Yes, whole row is bold.

I envisioned the overall average to be the first line since this is what many are most interested in.  And yes, this overall number would be the same value for the "by industry" and "by asset" tables.

[2016-10-26 22:30] talumbau commented on #375
I took a look at `js/taxbrain-tablebuilder.js`, but could not grok the code enough to make a meaningful change here. Assigning to @brendancol

[2016-10-26 22:35] talumbau commented on #376
I can't seem to find the place in the JS where the default check status of each column is set. Assigning to @brendancol

[2016-10-27 01:52] talumbau opened #389 "Numbers if CCC output rounded to nearest whole number"
When loading a CCC results page, the first time the results page loads, the numbers are rounded to the nearest integer (with the negative sign persisting if necessary):

<img width="1133" alt="screen shot 2016-10-26 at 8 49 05 pm" src="https://cloud.githubusercontent.com/assets/1891418/19751323/f3628240-9bbd-11e6-8d3e-e3089e4205bc.png">

Then if you hit refresh on the page, the numbers display as

[2016-10-27 13:15] jdebacker commented on #382
Fixed via PR #383

[2016-10-27 13:15] #382 closed

[2016-10-27 13:16] jdebacker commented on #384
@MattHJensen - do you agree this should be changed?

@talumbau - I'm happy to make this small fix, but need some direction as to where to make it.

[2016-10-27 13:19] MattHJensen commented on #384
Yes

[2016-10-27 13:22] jdebacker commented on #360
I fixed via some edits to flat blocks and B-Tax [PR #114](https://github.com/open-source-economics/B-Tax/pull/114)

[2016-10-27 13:22] #360 closed

[2016-10-27 13:24] jdebacker commented on #352
I'm adding "next release" label because I can't see any way to view the parameters of a given run when I'm only given a link to the output page.

cc @talumbau @MattHJensen

[2016-10-27 13:46] talumbau commented on #384
I see the issue here for the input page and the results page. I'm handling this now.

[2016-10-27 14:44] #384 closed

[2016-10-27 14:56] MattHJensen commented on #352
+1 Necessary feature for debugging and sharing results.

[2016-10-27 18:04] talumbau commented on #352
Update here: I was about ready to push this but I discovered that user choices for the radio buttons in each row of the Depreciation section are not preserved. In other words, when you go to the edit page, any numbers filled in to fields are there, but any of the GDS, ADS, or Economic buttons the user clicked are not filled in. After I get that working, I can push this feature.

[2016-10-27 20:36] PeterDSteinberg commented on #387
@jdebacker  I am getting a key on `Religious` after converting to lower case and comparing to the row labels found in the asset data as lower case:

[code]

[2016-10-27 21:51] jdebacker commented on #387
@PeterDSteinberg - ah sorry, I should have removed "Religious" structures from the list above.  We are not computing results for these assets since they do not face federal tax.  Please remove from list (they are already removed from B-Tax output tables - as you are seeing from this error).

[2016-10-27 22:15] MattHJensen commented on #376
John Sabelhaus' students also suggested this one via him. Matt should notify him when it is live.

[2016-10-28 15:17] talumbau commented on #385
@PeterDSteinberg switching this over to you as we discussed.

[2016-10-28 15:23] #352 closed

[2016-10-28 19:08] PeterDSteinberg commented on #385
@jdebacker I am also getting a KeyError when trying to refer to `Federal Reserve banks` - doesn't look like it's in the dataframes.  This is the only one I am missing now.

[2016-10-28 19:11] jdebacker commented on #385
@PeterDSteinberg - please excuse me again - and drop that from the list of industries to be listed in the output table.  The Fed banks don't pay taxes so, we don't need to report them here.  Thanks!

[2016-10-28 19:19] PeterDSteinberg commented on #385
Fixed by #392

[2016-10-28 19:19] PeterDSteinberg commented on #386
Fixed by #392

[2016-10-28 19:19] PeterDSteinberg commented on #387
Fixed by #392

[2016-10-28 19:19] PeterDSteinberg commented on #388
Fixed by #392

[2016-10-28 23:11] #386 closed

[2016-10-28 23:11] #385 closed

[2016-10-31 12:37] talumbau commented on #389
this might be a JS caching issue. Looking for someone to reproduce or I'll close.

[2016-10-31 12:44] talumbau commented on #333
This link now takes you to the CCC drop down, which is better than before, but it does not "expand" to show the text that one gets when clicking "What is the Cost of Capital Calculator?" at the top. I am not sure how to construct such a URL, so that when someone clicks on the footer page, you go to the top and don't have to click "What is the Cost of Capital Calculator?" to make the text expand. I

[2016-10-31 12:51] jdebacker commented on #389
@talumbau I just did a couple runs and never had the rounding issue.  Even when values were zero.

[2016-10-31 15:27] MattHJensen opened #393 "information "i" hover overs wider"
Currently the information "i" hover overs tend to be tall and skinny. This makes them hard to read generally with many instances of only one word on a line:

![image](https://cloud.githubusercontent.com/assets/8301092/19859641/65f2f74e-9f5c-11e6-8e30-55ff09ada662.png)

It also means that oftentimes the text will rise above the screen and the user has to scroll back up to see it.

![image](https://

[2016-10-31 18:38] brendancol opened #394 "Add Build Table Tooltips"
<img width="320" alt="screen shot 2016-10-31 at 1 36 30 pm" src="https://cloud.githubusercontent.com/assets/433221/19866739/4e600f46-9f6f-11e6-89fd-d824dea29386.png">

[2016-11-01 14:47] brendancol commented on #375
I've changed defaults of table builder: the screenshot below is zoomed out so you can see the table title etc.

<img width="1180" alt="screen shot 2016-11-01 at 9 45 14 am" src="https://cloud.githubusercontent.com/assets/433221/19893699/0eb0ed9e-a018-11e6-942f-98377dac0061.png">

[2016-11-01 15:25] MattHJensen commented on #375
Thanks @brendancol! The column selector looks like it may not be displaying unselected columns.

![image](https://cloud.githubusercontent.com/assets/8301092/19895113/dffdae02-a025-11e6-9f1a-b8c58fcb75ed.png)

[2016-11-01 15:33] brendancol commented on #389
@talumbau @jdebacker I also didn't experience any trouble here, but I'll keep my eye out in case its something more subtle.  for now I'm going to close.

[2016-11-01 15:33] #389 closed

[2016-11-01 15:35] brendancol commented on #394
@MattHJensen I noticed a bunch of tooltips missing on the Build Table page

[2016-11-01 18:49] brendancol commented on #263
closing as stale

[2016-11-01 18:49] #263 closed

[2016-11-01 19:05] brendancol opened #396 "Review JS Build Process in README"

[2016-11-01 19:18] brendancol opened #397 "Incorrect text in tooltip"
Notice the trailing punctuation /

<img width="393" alt="screen shot 2016-11-01 at 2 17 38 pm" src="https://cloud.githubusercontent.com/assets/433221/19903811/ff663a08-a03d-11e6-8b68-958b272b1b87.png">

[2016-11-01 21:07] martinholmer commented on #356
Ten days ago @MattHJensen said:

And @martinholmer replied:

What's the current thinking on the link location and the timing of this enhancement?

@talumbau @brendancol

[2016-11-01 21:28] #378 closed

[2016-11-01 21:29] brendancol commented on #364
@MattHJensen @jdebacker sound good to me. Is this something to prioritize for the first release?

[2016-11-01 21:38] MattHJensen commented on #364
All of the "next-release" tags are priority items, but this would be good if there are none of those on your plate.

[2016-11-01 22:47] feenberg commented on #356
On Tue, 1 Nov 2016, Martin Holmer wrote:

The https://www.ospc.org/taxbrain/ doesn't have any menu bar. I would have
thought there was plenty of material for such a bar, including
documentation, links to the mailing list, the new graphical pages, etc.
Some of the text on that page could be moved to "about" and other pages.
That would move the first paramaters up above the fold, which I think
would

[2016-11-01 23:22] jdebacker commented on #364
How about we adapt the bubble graph that we did for the depreciation phaseout, but to represent the output currently in tables (e.g. depending on the radio button selected, it'll we have a y axis that is asset or industry categories, a horizontal axis that is the metr/metttr/cc/z values, and bubble sizes determined by asset values.  Bubble value will also vary if reform/baseline/difference is pres

[2016-11-01 23:56] MattHJensen commented on #364
That makes sense to me. Later we can add the box and whisker plot.

Yes, I agree that it would make sense for the plotting capability to be a util in B-Tax (open-source-economics/B-Tax#106). That would parallel the style that we adopted for Tax-Calculator when @GoFroggyRun and @martinholmer added a new MTR plot capability to taxcalc/utils. It would be best of course if generating the plots and tab

[2016-11-02 00:37] MattHJensen opened #398 "TaxBrain UI changes for consideration"
@feenberg said:

There are several other TaxBrain UI changes we might want to consider as well in a broader overhaul.

This issue is for the airing of those ideas. I don't expect we will necessarily decide on which changes to adopt in this issue, but I hope it is fertile grounds for brainstorming.

[2016-11-02 00:39] MattHJensen commented on #356
@martinholmer, thanks for the reminder about this issue.

I just followed this approach.

@feenberg said:

I think adding a menu bar is a very good idea. There are several other TaxBrain UI changes we might want to consider as well. I just opened https://github.com/OpenSourcePolicyCenter/webapp-public/issues/398 to serve as a location for anyone to propose those ideas.

[2016-11-02 14:36] #396 closed

[2016-11-02 17:09] jdebacker commented on #361
Fixed via edits to flatblocks.

[2016-11-02 17:09] #361 closed

[2016-11-02 17:15] jdebacker opened #399 "Add start year value"
B-Tax [PR #107](https://github.com/open-source-economics/B-Tax/pull/107) will allow a flexible start year to update the business tax parameters to reflect values for years 2015-2020 (not yet merged to wait for feedback on what needs to be done for this to work with CCC).  We should allow a the user to define the year one is looking at in CCC.  This would be especially important for integration wit

[2016-11-02 18:54] #393 closed

[2016-11-02 18:55] #376 closed

[2016-11-02 18:55] #375 closed

[2016-11-03 16:18] martinholmer opened #400 "Need to eliminate incomplete and obsolete Lee-Rubio parameter"
The current version of TaxBrain includes this:

![image](https://cloud.githubusercontent.com/assets/12170745/19974494/1458d88a-a1bf-11e6-9dcc-d480a91db726.png)

The Lee-Rubio proposal would appear to be obsolete, and more importantly, the other policy parameters required to specify this old Lee-Rubio reform are not available on TaxBrain.  It does not make any sense to have this Lee-Rubio parameter

[2016-11-03 20:57] talumbau commented on #380
@brendancol we would probably need to make the total liabilities table a new element that is similar to the "tablebuilder" assets. If I provide you the JSON to populate the additional versions of the table (we have the delta data, would just need baseline and reform), can you add the selector and make the table data switch based on the selected value? I'm thinking a drop down for the selector? Sou

[2016-11-04 13:49] talumbau commented on #374
Although I can't get this to reproduce, the cause was apparently due to a hang on attempting to retrieve the results of the completed computation. After a period of polling of the worker node to see if the job is done, upon receiving a positive response, the server attempts to get the results. If this HTTP GET request (retrieving results) takes too long, the page will hang. There should be a time

[2016-11-04 14:06] talumbau commented on #397
@brendancol, when we spoke about this initially, I thought that this had been fixed in Tax-Calculator already. However, when I look more closely at the current_law_policy.json file here:

https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/current_law_policy.json#L24

You can see that the `irs_ref` section does have this "Form , line ," text in it, which is weird. The text

[2016-11-04 14:14] talumbau commented on #283
added `gallery_page_description` flatblock and verified that it's running on ospc.org. Checked the box to "done" for that item. The last remaining item is in regards to alignment on mobile.

[2016-11-04 14:16] MattHJensen commented on #380
Another option would be three buttons next to each other. Like these, but w one more:
![image](https://cloud.githubusercontent.com/assets/8301092/20008585/8b76fa6a-a277-11e6-8a92-e286fd47bea3.png) I defer to @brendancol, though.

[2016-11-04 14:20] talumbau commented on #283
Viewing the gallery on an iPhone is a pretty reasonable experience. The text is centered and each visualization is vertically aligned:

![img_0729](https://cloud.githubusercontent.com/assets/1891418/20008744/bd302eda-a26f-11e6-8019-3a6b9d8196d3.PNG)

![img_0728](https://cloud.githubusercontent.com/assets/1891418/20008750/c25b3328-a26f-11e6-9e10-54f4e6e60871.PNG)

Leaving open for a while but this

[2016-11-04 14:26] MattHJensen commented on #283
Agreed.

[2016-11-04 14:26] talumbau opened #401 "File-based reforms should link to OGUSA runs"
Currently file-based reforms can only link to macroeconomic elasticity simulations and partial equilibrium. We should add the ability to link to OGUSA runs as well.

[2016-11-04 14:29] MattHJensen commented on #401
+1

[2016-11-04 15:57] MattHJensen commented on #356
@martinholmer, could you take a look at the TaxBrain input page and close this issue if you think it is resolved.

[2016-11-04 16:08] MattHJensen commented on #333
To simplify, let's actually redirect this link back to www.ospc.org/about. The text should be, "Learn more about the Open Source Policy Center"

[2016-11-04 16:12] MattHJensen commented on #289
@jdebacker, can this issue be closed?

[2016-11-04 16:17] #283 closed

[2016-11-04 16:32] jdebacker commented on #289
@MattHJensen   - yes. This was closed via PR #392.  Download of files still not available, but that is now separate in Issue #327

[2016-11-04 16:32] #289 closed

[2016-11-04 16:32] martinholmer commented on #356
@MattHJensen asked:

I have several suggestions about how to improve things:

(1) On the main TaxBrain page it says "You can do so with the graphical user interface below or by uploading a policy reform file, here." where `here` is the HTML link.  How about this:
"uploading a policy reform file from this page." where `this page` is the HTML link.

(2) When I go to `this page` I find on the left-ha

[2016-11-04 16:38] martinholmer commented on #356
@martinholmer said:

OK, I tried doing this again and it did work as expected.
But I still think my two other suggestions wrt #356 are needed improvements.

@MattHJensen @talumbau

[2016-11-04 16:50] talumbau opened #402 "add email option to wait screen"
A user should be able to add his/her email address from the wait screen while waiting for a TaxBrain job to finish. The user would get an email with the link to the job that is currently running.

[2016-11-04 17:09] talumbau commented on #275
@MattHJensen I'll wait for a milestone marker here to understand the priority of this feature.

[2016-11-04 17:16] MattHJensen commented on #275
Added this to b3 for now. Was tempted to put it in b2, but we already have a lot there.

[2016-11-04 17:19] talumbau commented on #311
@MattHJensen should this be a box that is below the FROM THE LAB text but above the TaxBrain box in your screen cap? Or should the CCC box be below the TaxBrain box?

[2016-11-04 17:31] MattHJensen commented on #311
@talumbau Let's put new stuff on top.

[2016-11-04 17:43] MattHJensen commented on #397
I'll take care of this as part of resolving this issue.

[2016-11-04 17:48] MattHJensen commented on #357
FYI, #295 provides some history of thought.

[2016-11-04 18:04] MattHJensen commented on #357
Back in #295, [this comment](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/295#issuecomment-239531136) described the long run goals as:

@jdebacker, what do you think about constraining this issue to step 1. Specifically, this would entail including all parameters from TaxBrain's Regular Tax, AMT, and Other Taxes sections under an individual income tax section on the CCC input pag

[2016-11-04 18:20] jdebacker commented on #357
@MattHJensen  - yes, I think constrain to "step 1" makes sense.  This is my suggestion in the first comment here.

I do think that when this is done, it would be nice to group the parameters ways so that the inputs don't seem overwhelming.  This could be done by using indentation for the sections noted in the column on the left of the screen.  E.g.:

[code]

Or (much more complicated) one could ha

[2016-11-04 20:04] MattHJensen commented on #357
[code]

Agree with the primary point and that the expandable version would be even cooler if it isn't too hard.

I suggest putting the IIT params beneath the BT params in the list, though.

[2016-11-08 15:36] MattHJensen commented on #400
Closed by #405

[2016-11-08 15:36] #400 closed

[2016-11-08 20:25] andersonfrailey opened #406 "Add a feedback form to TaxBrain"
Currently there are two ways provide feedback on TaxBrain: a user must either open a GitHub issue or find the link to the mailing list in the "What is TaxBrain" section of the TaxBrain app. I would like to propose adding a more traditional form to solicit feedback on the site. I put together [this](https://docs.google.com/forms/d/e/1FAIpQLSfvKEsQZNe9_16FhKNZcEyv3C8qXZhBfrqLxSd4VR97w92moQ/viewform)

[2016-11-08 21:20] martinholmer commented on #406
The idea in issue #406 sounds like a good idea to me.  Thanks, @andersonfrailey

[2016-11-10 19:01] martinholmer commented on #356
@martinholmer said six days ago:

"uploading a policy reform file from this page." where this page is the HTML link.

@talumbau,  Where do we stand on these improvements?  If these changes have been implemented, I can close this issue #356.

[2016-11-10 19:38] MattHJensen opened #409 "file upload page input form sidebar nav link is broken"
At www.ospc.org/taxbrain/file, the input form link in the lefthand navbar is broken. This link should take the user here:

![image](https://cloud.githubusercontent.com/assets/8301092/20191420/5f45d688-a753-11e6-9052-0b39342536bf.png)

[2016-11-10 19:40] MattHJensen commented on #356
@martinholmer, thanks for suggesting these improvements! I just resolved (1), opened a new issue (#409) for (2), and added the new issue to [milestone b2](https://github.com/OpenSourcePolicyCenter/webapp-public/issues?utf8=%E2%9C%93&q=is%3Aopen%20is%3Aissue%20milestone%3Ab2), a batch of issues that will be completed after [milestone b1](https://github.com/OpenSourcePolicyCenter/webapp-public/issue

[2016-11-10 19:40] #356 closed

[2016-11-11 23:01] #401 closed

[2016-11-11 23:17] talumbau commented on #311
this is resolved in #407 but we can move it to its own PR if there is too much work left in #407. I don't think that's the case (just need a new JS function and the HTML button for refreshing parameters to call this JS function).

[2016-11-14 21:44] talumbau commented on #381
closed via #403

[2016-11-14 21:44] #381 closed

[2016-11-14 21:44] talumbau commented on #339
closed via #403

[2016-11-14 21:44] #339 closed

[2016-11-15 00:27] #397 closed

[2016-11-15 20:17] brendancol opened #411 "Add Browserify & EJSify to build JS process"
Add browserify will really help in speeding up our dev time.

[2016-11-17 14:17] MattHJensen opened #415 "replace flatblocks w content checked into repo?"
A major limitation of using flatblocks is that they are only editable by people with admin access and not subject to open source collaboration. Are there any low-effort ways to check the contents of the flatblocks into the repo and have edits occur through PRs rather than admin edits?

[2016-11-20 22:05] MattHJensen opened #417 "Group TB (and CCC) inputs into an accordion menu"
Over at https://github.com/open-source-economics/Tax-Calculator/issues/1074#issuecomment-261808528, @feenberg said:

This seems like a good idea to me too.

@talumbau and @brendancol, do you have any feedback before I add this to a milestone? Is there a relatively simple way to do this?

[2016-11-21 12:45] MattHJensen commented on #357
@jdebacker, what do you think about prioritizing the reform file upload capability to allow taxcalc reforms on CCC over the field-based gui approach described in this issue?

I envision this being implemented by adding a new section to CCC nav called something like "IIT/FICA Reform File" in between "other" and "Macroeconomic Assumptions". The content of the section would look like this:
![image](h

[2016-11-21 12:56] jdebacker commented on #357
@MattHJensen, Seems ok to me.  Has the file upload been getting lots of use on TB?  I'm not sure how easy this is for most people so I was supposing it was more of an "advanced user" feature.  If you think those users are the most relevant audience in the short run then, yes, I'd agree that allowing this first would be a good move.

[2016-11-21 13:08] MattHJensen commented on #357
Let's call it an "advanced user" or "assisted user" feature. Here's what I mean by assisted: the TC team can post the reform file for different high profile proposals at the examples page, and then all someone has to do is upload that file and tinker on the margins at will.

We've found this feature to be helpful for policy-maker users with extremely detailed proposals, and it is helpful when prop

[2016-11-21 20:13] #379 closed

[2016-11-21 21:05] brendancol opened #418 "Render Gallery Plots well to Mobile Devices"
- [ ] make adjustments to gallery page to make sure plot title properly displays on mobile devices
- [ ] see if simple adjustments can be made to @GoFroggyRun plot to make it render better on mobile devices
- [ ] test other plots and adjust accordingly

**Note:** A major part of the gallery-page's mission is to provide live versions of plots as a previews for users considering embedding.  Anything

[2016-11-22 02:48] talumbau opened #419 "Fiscal totals summary page only displays 8 budget years"
The recently deployed updated fiscal totals page displays the delta between the policy and baseline and has tabs for summaries for baseline and reform separately:

<img width="1261" alt="screen shot 2016-11-21 at 8 40 36 pm" src="https://cloud.githubusercontent.com/assets/1891418/20509005/1b4ab058-b02b-11e6-9059-fcd9bf17165c.png">

However, when running with 10 budget years, the summary data is on

[2016-11-22 14:53] MattHJensen opened #420 "Reset Parameter button should entirely reset input page."
On Chrome, after the "Reset Parameters" button is activated, the parameters that were used and then reset are left highlighted and displaying the default value subscript.

![image](https://cloud.githubusercontent.com/assets/8301092/20527969/5a3bff02-b098-11e6-8431-63c6d684e93d.png)

I think the button should return the page to its original form. One way to do that would have be to simply have it l

[2016-11-22 15:18] MattHJensen commented on #344
@andersonfrailey, I think this would be really useful on TB, but we shouldn't add an entirely new table for it. Could you explore adding this to an existing table?

[2016-11-22 23:29] MattHJensen opened #421 "What tabular MTR data should be included in TaxBrain's standard output?"
@rickecon recently mentioned that it would be helpful to include marginal tax rates in TaxBrain's standard output. This issue is a forum where we can discuss what tabular mtr data from Tax-Calculator would be most helpful to include.

@jdebacker @feenberg @martinholmer @gleiserson @rickecon @kerkphil

[2016-11-28 19:03] jdebacker opened #422 "Cost of capital tables - "major industry" values inconsistent with subindustry results"
@salimfurth points out:

I can confirm this behavior on the CCC web app.  However, when I run B-Tax master locally, the results look correct.

[2016-11-28 19:05] jdebacker commented on #388
@PeterDSteinberg Did we have the overall average in the table?  I thought so, but not seeing it on CCC now.

[2016-11-28 19:08] jdebacker commented on #387
@PeterDSteinberg, I think we are missing the "Land" category in the output table.  Would you agree?

[2016-11-28 19:13] jdebacker commented on #422
To be more specific, I'm not seeing these anomalies in the local results (where the average over the sub-industries is an extreme or outlier of the sub-industry values).  I also find that the values for both major industries and the sub-industries are different from B-Tax master than on  CCC.

[2016-11-28 19:51] salimfurth opened #423 "CCC output - add economy-wide averages"
As a user of the CCC, I would find economy-wide averages of the METTRs, METRs, etc, helpful in quickly interpreting the results of the CCC. It would be useful to have those for all corporate business, all non-corporate business and a weighted average of all business.

[2016-11-29 14:26] salimfurth commented on #422
The problem appears to exist in "reform" as well as "baseline" cases.

[2016-11-29 15:09] jdebacker commented on #422
@talumbau, I 'd like to merge B-Tax [PR #117](https://github.com/open-source-economics/B-Tax/pull/117).  I think that PR might necessitate some changes to the output tables since additional assets are included in the 'by asset' output.  Perhaps we can add those lines and take care of this issue and Issue #423 at the same time?

[2016-11-29 16:11] MattHJensen commented on #422
Copying @PeterDSteinberg since @talumbau is out of town for a couple of weeks.

@PeterDSteinberg, if you have a chance to work on this soon it would be great as this is a significant bug.

[2016-11-29 22:14] MattHJensen commented on #422
My preference would be to get the bug fixed by Thursday since I'm giving a presentation at noon. If it is possible to incorporate other changes by then that's great, but the bug is most important.

[2016-11-29 22:18] MattHJensen commented on #423
@jdebacker, this is an enhancement rather than a bug, right?

[2016-11-29 22:34] PeterDSteinberg commented on #422
@MattHJensen I'll do my best to get this done by noon.  I can fix this and related #423 at same time.  Do you need it deployed to where by noon?  I can confirm I am seeing incorrect summary rows in /ccc METR tables.

[2016-11-29 22:37] MattHJensen commented on #419
@brendancol, do you have time to take a look at this tomorrow (Wednesday)? I'm giving a major presentation on Friday and a 10-year budget window is expected functionality.

[2016-11-29 22:51] MattHJensen commented on #422
Thanks a lot @PeterDSteinberg. I would need it deployed to www.ospc.org/ccc.  The test app would be ok as well, but given that we currently have significant bugs on ospc.org/ccc, I see no reason not to deploy straight there.

[2016-11-30 00:44] brendancol commented on #419
@MattHJensen Hey, yes I will look at this tomorrow and figure out whats going on

[2016-11-30 01:18] jdebacker commented on #423
@MattHJensen - this is kind of a bug fix.  I thought we had addressed it in Issue #388, but the PR referenced in that closing didn't seem to make this update.  I just made a comment over there before Salim posted this as a new issue.

I say 'kind of' since the other issue and PR still wouldn't over an overall business (corp + noncorp) rate.  I'm thinking we ignore that for now unless there's stron

[2016-11-30 01:21] jdebacker commented on #422
@PeterDSteinberg Feel free to ping me if you have issues.  Try running locally and see if you get was is displayed on the web.  I didn't seem to.

Also, let me know your preference regarding merging B-Tax PR #117.  Given the quick turn around, maybe best to just do this fix, then I'll merge PR #117 and open a web-app issue to update the tables with the new asset categories that will come with that

[2016-12-01 16:04] MattHJensen opened #425 "PE results not displaying"
http://www.ospc.org/dynamic/behavior_results/365/

![image](https://cloud.githubusercontent.com/assets/8301092/20801126/d4863a24-b7b5-11e6-8268-7ab56fac4933.png)

@brendancol could you treat this as high priority?

[2016-12-01 16:06] MattHJensen opened #426 "macro elasticity run not completing"
http://www.ospc.org/dynamic/macro_results/381/

![image](https://cloud.githubusercontent.com/assets/8301092/20801242/3890cf5c-b7b6-11e6-9084-f5766a8e3fe9.png)

@brendancol @PeterDSteinberg

[2016-12-05 00:50] martinholmer opened #427 "TaxBrain does not work like Tax-Calculator"
The discussion of [Tax-Calculator pull request 1081](https://github.com/open-source-economics/Tax-Calculator/pull/1081) has generated this TaxBrain question/bug-report.

The issue is that TaxBrain does not handle certain tax reforms in the same way as they are handled by (a) Tax-Calculator with the reform specified as a reform dictionary, (b) Tax-Calculator with the reform specified as a JSON refo

[2016-12-07 16:41] brendancol commented on #425
My hunch is that this is an older result which doesn't have the updated object structure.  Looks like the Python-side should:

- [ ] add `fiscal_change` placeholder

- [ ] add `fiscal_currentlaw` placeholder

- [ ] add `fiscal_reform` placeholder

[2016-12-07 16:42] brendancol commented on #425
<img width="552" alt="screen shot 2016-12-07 at 10 41 43 am" src="https://cloud.githubusercontent.com/assets/433221/20976973/cb17ce36-bc69-11e6-9cd1-21e33b2580c0.png">

[2016-12-07 17:03] brendancol commented on #426
just polls forever http://www.ospc.org/dynamic/macro_results/381/

[2016-12-07 18:31] talumbau commented on #420
So, the difference is that the boxes are still highlighted in blue, correct? An unmodified box still shows the default value, but it does not have the blue highlighting. Just making sure I understand.

[2016-12-07 20:01] talumbau commented on #426
There are two bugs here:

 - the worker node was incorrectly calling code in dropq
 - the webapp was not properly reading the FAIL status of the jobs, which results in endless polling

I have fixed both. PRs coming up.

[2016-12-07 22:07] MattHJensen commented on #420
An unmodified box still shows the default value, does not have the blue highlighting, _and_ does not display the default value under the box. So the difference is that the boxes are still highlighted in blue and the default value is displayed _under_ the box.

[2016-12-08 00:38] #425 closed

[2016-12-08 00:38] #426 closed

[2016-12-09 15:32] talumbau commented on #380
closed via #413

[2016-12-09 15:32] #380 closed

[2016-12-09 15:32] talumbau commented on #311
closed via #407

[2016-12-09 15:32] #311 closed

[2016-12-09 16:08] talumbau commented on #419
closed via #424

[2016-12-09 16:08] #419 closed

[2016-12-12 00:57] MattHJensen opened #431 "new features in json file"
@martinholmer recently augmented the JSON reform file to include Growth, Behavior, and Consumption parameters in https://github.com/open-source-economics/Tax-Calculator/pull/1083

These changes break backwards compatibility for TB and TC, and some updates to TB are required before we can deploy any version of TC greater than 0.7.2 to TB.

I described the core issue in https://github.com/open-sourc

[2016-12-12 01:24] martinholmer commented on #431
@MattHJensen said:

I don't know anything about the easy or difficulty of different kinds of changes to TaxBrain, but it seems to me that this first option is a very sensible approach.  There is no need for different output options, just a need to block the current path to the "dynamic" analysis options.

That's my two cents on this.

@MattHJensen @talumbau @feenberg @brendancol @Amy-Xu @GoFroggyR

[2016-12-12 01:45] MattHJensen commented on #431
Thanks @martinholmer! That makes sense to me too.

[2016-12-12 01:48] MattHJensen commented on #431
Added this to milestone b1 as it is blocking any new TC releases.

[2016-12-12 20:03] #422 closed

[2016-12-13 19:44] talumbau commented on #423
@PeterDSteinberg is this done now with your latest PR?

[2016-12-13 19:47] talumbau commented on #431
I actually think 1 is probably the easiest, due to the fact that it maintains the "file based reform generates static results page" workflow, which is desirable. I can take this on.

[2016-12-13 21:15] PeterDSteinberg commented on #423
This is fixed in #430

[2016-12-13 21:24] jdebacker commented on #423
@PeterDSteinberg and @talumbau , this was not addressed in PR #430.  That PR corrected the results for industry and asset groupings, but did not add a row for the economy-wide average.

[2016-12-13 23:12] PeterDSteinberg commented on #423
This is being fixed in #432 with corresponding [B-Tax PR 120](https://github.com/open-source-economics/B-Tax/pull/120) cc @talumbau @jdebacker

[2016-12-14 13:30] jdebacker commented on #423
fixed w pr #432

[2016-12-14 13:30] #423 closed

[2016-12-14 13:30] jdebacker commented on #388
Closed w PR #423

[2016-12-14 13:30] #388 closed

[2016-12-14 13:49] jdebacker commented on #387
Fixed with PR #430

[2016-12-14 13:49] #387 closed

[2016-12-16 13:39] talumbau opened #433 "How should Consumption parameters be handled in TaxBrain runs?"
When #431 is implemented, a user will be able to upload a file-based reform that includes: policy parameters, growth parameters, behavior parameters, and consumption parameters. When the only parameters are policy parameters, the comparison carried out by TaxBrain is trivial (delta of policy with no reform and policy with reform). With the other parameters, the TaxBrain comparison is defined as fo

[2016-12-16 13:49] MattHJensen commented on #433
Should be:

(policy with no reform and with growth parameters and with consumption parameters) - (policy with reform and with growth parameters and with behavior parameters and with consumption parameters)

[2016-12-16 13:51] talumbau commented on #433
got it, thanks!

[2016-12-16 13:51] #433 closed

[2016-12-16 15:55] salimfurth opened #434 "CCC inconsistent sort feature"
I noticed a minor inconsistency in the CCC output page. When "Asset" view is selected, each of the column headers acts as a clickable sort function. But under "Industries" the feature doesn't exist.

Personally, I'm ambivalent about whether it should exist. Sorting breaks up the two-level hierarchy that the existing reporting relies on. Thus the categories "Communications" (under Equipment) and "C

[2016-12-16 16:03] jdebacker commented on #434
@salimfurth , thanks for pointing this out.  Given that the tables now produce averages over groups and of assets/industries and highlight these, it's easier to find one's way around the tables.  The sort feature therefore feels unnecessary.  I propose we remove it.

[2016-12-16 17:32] MattHJensen commented on #434
@jdebacker, I just moved this to b2 so we can clear out b1 which contains a TB bug.

[2016-12-16 18:25] talumbau opened #435 "JSON-powered UI for TaxBrain"
The current TaxBrain interface (www.ospc.org/taxbrain) uses the standard Django Model/Form abstraction to present an interface to the user. Each parameter lives on a Django Model, and we use the built-in abstraction of a ModelForm to present the form to the user and then receive the user's input to create an instance of a Model. This is a fairly heavyweight approach, in the sense that as additiona

[2016-12-16 20:44] MattHJensen opened #436 "Update TaxBrain input page based on new info from current_law_policy.json"
https://github.com/open-source-economics/Tax-Calculator/pull/1109 makes it so that current_law_policy.json fully specifies the content and layout of the TaxBrain input page to a human interpreter. A major update to the TaxBrain input page will be necessary when that PR is merged to reflect all of the new parameters available.

[2016-12-16 20:53] MattHJensen commented on #357
Earlier I suggested that we pursue the json form upload before the gui approach based largely on the fact that:

However, #436 will mean that all important outstanding reforms are available from the TaxBrain GUI, and https://github.com/open-source-economics/Tax-Calculator/pull/1109 will make it so that new reforms can be added quickly to the GUI.

Therefore, my new recommendation for this issue (#

[2016-12-16 22:06] talumbau commented on #402
@MattHJensen here is the email wait screen issue. Which milestone do you think it should go in?

[2016-12-19 22:31] jdebacker opened #437 "Open economy option for OG-USA"
OG-USA now allows for open and closed economy analysis.  These have important effects on the outcomes of the model and we should thus allow users to specify which assumption they would like to use.  This would be incorporated by two new parameters options on the OG-USA landing page that feed into the model:

- A boolean field for "Small Open Economy" (` =True` runs the small open version, `=False`

[2016-12-21 11:11] MattHJensen commented on #402
Thanks @talumbau. Placing in b4 for now.

[2016-12-21 11:32] MattHJensen commented on #431
Sounds good. Thanks @talumbau

[2016-12-22 07:45] zrisher commented on #435
@talumbau @MattHJensen

* I would love to abstract away taxcalc usage details from the server-side code of this repo. I think it will simplify a ton of stuff and make this easier to maintain.
* I'm a huge fan of Angular and think it's an excellent candidate for this type of problem.
* Angular-formly looks like it has a big community, is well maintained, and aims to make specifying forms with arbit

[2016-12-22 22:26] MattHJensen commented on #436
This is ready now that open-source-economics/Tax-Calculator#1109 is merged. After the final b1 milestone is cleared, this should be the next big priority.

@talumbau.

[2016-12-30 02:55] talumbau opened #438 "Switch TaxBrain default year to 2017"
Right now the default year for TaxBrain simulations is 2016. Should it switch to 2017 and if so, when?

[2016-12-30 13:36] MattHJensen commented on #438
Good point. This could be switched anytime.

[2017-01-02 03:25] #431 closed

[2017-01-02 23:44] talumbau opened #441 "Macro elasticity dynamic simulations from file-based reforms don't work"
This has to be fixed inside the `taxcalc.dropq` subpackage.

[2017-01-03 22:05] brittainhard commented on #355
@talumbau @MattHJensen do we want to remove the endpoints at both `/json` and `/file`?

[2017-01-03 22:09] martinholmer commented on #355
@brittainhard asked:

No.  Remove only the /json endpoint.

@talumbau @MattHJensen

[2017-01-04 16:58] brittainhard commented on #333
@MattHJensen @talumbau as a summary here, you want the link at the button of the `/CCC` page, which says `Learn more about Cost of Capital Calculator (B-Tax)` to link to the `/about` page, and you ant the text to say `Learn more about the Open Source Policy Center`? Right now it points to a non-existent endpoint called `http://localhost:8000/ccc/#taxbrainInfo`

[2017-01-04 17:05] MattHJensen commented on #333
Correct. Thanks!

[2017-01-04 17:11] brittainhard commented on #333
@MattHJensen would you want the same for the `/taxbrain` page?

[2017-01-04 17:16] MattHJensen commented on #333
Ah, yes, good suggestion.

[2017-01-04 19:21] brittainhard opened #445 "Accessing apps page results in 404"

[2017-01-04 19:53] brittainhard commented on #394
@MattHJensen @brendancol any ideas on what these tooltips should say?

[2017-01-04 19:58] MattHJensen commented on #394
@brittainhard, I'll take care of this one.

[2017-01-05 16:08] #355 closed

[2017-01-05 16:11] #333 closed

[2017-01-06 15:02] MattHJensen opened #447 "validation testing against Tax-Calculator in TB release"
https://github.com/open-source-economics/Tax-Calculator/issues/1119 indicates that the TaxBrain release process could benefit from (more) validation testing against Tax-Calculator.

The baseline results from TaxBrain should be extremely close to those in the [pufcsv_agg_expect.txt](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tests/pufcsv_agg_expect.txt) that the Tax

[2017-01-06 23:37] #438 closed

[2017-01-09 16:21] brittainhard commented on #399
@MattHJensen @talumbau so we need a dropdown to select the year, like in the Tax Calculator, but it needs to allow for years up to 2020?

[2017-01-09 18:01] brittainhard commented on #436
@MattHJensen is the idea here to manually update the inputs on the taxbrain page when the law policy changes?

[2017-01-09 18:07] MattHJensen commented on #436
@brittainhard asked:

Yes, that's the idea for now.

After we have some experience with that process, we can make a decision about whether it is worth the effort to refactor the TaxBrain backend to automatically generate from current_law_policy.json. (see https://github.com/OpenSourcePolicyCenter/webapp-public/issues/435 for one approach we might consider at that time).

[2017-01-09 20:28] brittainhard commented on #436
@MattHJensen looking at this more, it seems like we are adding another big feature -- the ability to set year parameters for inputs themselves, rather than just a blanket parameter set by the `Start Year` dropdown. Am I reading that correctly?

[2017-01-09 20:31] MattHJensen commented on #399
@brittainhard asked:

That sounds right. @jdebacker should be able to confirm.

[2017-01-09 20:36] MattHJensen commented on #436
@brittainhard asked:

No. The only changes should be adding some fields, reorganizing the ordering of the fields, renaming some sections and subsections, and adding new sections.

[2017-01-09 20:42] brittainhard commented on #436
Ahh, okay. I was reading too much into that json file.

[2017-01-09 20:45] MattHJensen commented on #436
Earlier @brittainhard asked:

To which I replied:

I should clarify:

The values of the parameters should continue to be pulled over automatically as they are now. There should be no manual update for parameter values.

The manual update will be when we add new parameters, rename them, or change their sections.

[2017-01-11 19:15] #441 closed

[2017-01-12 19:45] brittainhard commented on #434
@jdebacker @MattHJensen i'm going to go ahead and put up a PR for this if you are set on removing it.

[2017-01-13 00:34] jdebacker commented on #434
@brittainhard - yes, let's remove this feature. Thanks.

[2017-01-13 04:04] talumbau opened #449 "This web application should use the container registry on Heroku"
Instead of using the Conda buildpack, we should use the Heroku container registry (and then the specific container for Miniconda) for launching this web application. The main advantage is the lack of a slug size maximum. Details here:

https://github.com/heroku-examples/python-miniconda

[2017-01-16 17:07] martinholmer commented on #427
A TaxBrain bug was reported in issue #427 on 04-Dec-2016.  There has been at least one new TaxBrain release since then, but the bug still persists.  What is the schedule for fixing this bug?

@talumbau @PeterDSteinberg @brittainhard @MattHJensen

[2017-01-18 16:23] brittainhard commented on #436
@MattHJensen @talumbau I'll give you an update on where I am.

I have created two functions that take the JSON from `taxcalc.Policy`, and parsed them into dictionaries that separate the fields based on the `section_1` attribute. These, in turn, are separated  into subcategories based on the `section_2` attribute. The result is a nested structure containing lists of the data. This keeps the order i

[2017-01-18 16:28] talumbau commented on #436
good info @brittainhard. Let me try what you suggest quickly and see what it looks like on the `taxcalc` side.

[2017-01-18 17:49] talumbau commented on #436
@brittainhard I just created this PR:
https://github.com/open-source-economics/Tax-Calculator/pull/1147

is that what you had in mind?

[2017-01-19 02:07] talumbau opened #451 "Are we missing a model parameter?"
For some other work I'm doing, I noticed that the TaxSaveInputs model does not have the `_ID_BenefitSurtax_em` parameter, which was added to `current_law_policy.json` in the refactor that @MattHJensen did last month. Do we need to add this?

cc @brittainhard

[2017-01-19 02:10] MattHJensen commented on #451
We do. Good catch!

[2017-01-19 11:56] talumbau commented on #451
@brittainhard can you handle this?

[2017-01-19 15:00] martinholmer commented on #427
Pull request #452 resolves TaxBrain issue #427, which is being closed.

[2017-01-19 15:00] #427 closed

[2017-01-19 15:05] brittainhard commented on #451
@talumbau looks straightforward. I'll push a fix a little later in the day.

[2017-01-25 19:56] martinholmer opened #454 "Where is the TaxBrain release number displayed?"
I used to be able to find out if TaxBrain was using, say, release 0.7.1, but now I can't find that info.
Has the release number been dropped or moved?

@MattHJensen @PeterDSteinberg @brittainhard @talumbau

[2017-01-25 20:30] martinholmer opened #455 "Misleading "(percentage point)" labels on two "Baseline Growth Assumptions" input boxes"
The documentation info (via the i pop-up box) is inconsistent with the "(percentage point)" labels.
Best strategy would seem to be dropping the "(percentage points)" text in both labels and let the pop-up documentation explain to the TaxBrain user what units to enter.

@MattHJensen @PeterDSteinberg @brittainhard @talumbau

[2017-01-26 15:24] MattHJensen commented on #455
@martinholmer, could you describe the inconsistency?

The first parameter allows the user to supply a percentage point deviation from the existing CBO growth rate. i.e., the user adjusts a percent growth rate by a percentage point factor.

The second parameter allows the user to supply a growth rate that replaces the CBO growth rate. i.e., the user replaces a percent growth rate with a percent gro

[2017-01-26 17:50] martinholmer commented on #455
@MattHJensen said:

No, that is not what is happening in the source code.  The real GDP growth rates in Tax-Calculator are expressed in decimal, not percentage, terms.  So, while CBO says real GDP grows at 2.1 percent in a given year, Tax-Calculator says real GDP grows at 0.021 in that year.  Any user putting in 1.1 as the deviation --- thinking it would increase 2.1 to 3.2 percent --- would be sh

[2017-01-27 16:00] talumbau commented on #451
Resolved via #453

[2017-01-27 18:24] talumbau commented on #16
User login/authentication needs a re-think from top to bottom. Closing this so we can start fresh.

[2017-01-27 18:24] #16 closed

[2017-01-27 18:25] talumbau commented on #33
I think all are reasonably happy with default value text in TaxBrain input pages now.

[2017-01-27 18:25] #33 closed

[2017-01-27 18:25] talumbau commented on #54
The register page should probably be complete re-worked.

[2017-01-27 18:25] #54 closed

[2017-01-27 18:29] talumbau commented on #3
User sign-up needs a re-design.

[2017-01-27 18:29] #3 closed

[2017-01-27 18:30] #11 closed

[2017-01-27 18:30] #4 closed

[2017-01-27 18:30] talumbau commented on #76
@MattHJensen can you assign this a milestone or close?

[2017-01-27 18:31] talumbau commented on #73
@jdebacker is this still relevant and would you say it is a bug? cc @MattHJensen

[2017-01-27 18:32] talumbau commented on #45
resolved by the revamp of the results page some time ago.

[2017-01-27 18:32] #45 closed

[2017-01-27 18:32] talumbau commented on #75
closing until this is a higher priority.

[2017-01-27 18:32] #75 closed

[2017-01-27 18:54] #23 closed

[2017-01-28 05:08] zrisher commented on #435
@talumbau @MattHJensen Been doing some research in javascript front end frameworks. The current best overall options seem to be Angular 2 (/4 soon) and Vue. I actually discovered Vue just going through the most popular repos on Github, but the [comparison with other frameworks](https://vuejs.org/v2/guide/comparison.html) was a nice sell on it.

IMHO, Angular is the way to go if you're building an

[2017-01-28 14:52] MattHJensen opened #457 "Slim down intro text"
I'd like to slim down the TaxBrain intro text

Rather than including the following text on the input page, I want to link to it:
- Disclaimer
- Static modeling background
- Accuracy and replication background

We will also have links for the
- Mailing list
- Feedback form (#406 from @andersonfrailey)

Dure for reconsideration
- Citation guidelines

Assigning myself, although this might generate so

[2017-01-28 15:01] MattHJensen opened #458 "Link to CCC from TaxBrain static output page"
After #357, we will have all of the IIT and FICA parameters on both TaxBrain and CCC, so we should be able to take reform dictionaries from TaxBrain and send them to CCC.

The link should go in between "Edit Parameters" and "Link to Dynamic Simulations". It should say, "Link to Cost of Capital Calculator"

The link should take the user to the CCC input page with the IIT and FICA reforms from the T

[2017-01-28 15:22] MattHJensen opened #459 "Edit parameters page only shows font color change"
Here is what an input field looks like to begin with.

![image](https://cloud.githubusercontent.com/assets/8301092/22397610/623a61e6-e543-11e6-8ae3-d795feeccec8.png)

When I edit a parameter on the TaxBrain input page, the color of the font darkens, the input field turns green, and the Default value appears under the input field. This is great.

![image](https://cloud.githubusercontent.com/assets/

[2017-01-28 15:25] MattHJensen commented on #417
After the accordion style is adopted for CCC and TaxBrain, when a user clicks "edit parameters", the sections that include modified parameters should be expanded (and the modified parameters should still conform to https://github.com/OpenSourcePolicyCenter/webapp-public/issues/459)

[2017-01-28 15:31] MattHJensen commented on #275
RECAP:

The goal of this issue is to allow users to specify their own Titles and Descriptions of reforms via fields on the TaxBrain input page. Those titles and descriptions will then appear at the top of the TaxBrain output page. If a user clicks "edit parameter" and changes the title or description, then a new url sequence number will be generated just like it is if the user generates any other

[2017-01-28 23:12] martinholmer commented on #455
[Tax-Calculator pull request 1160](https://github.com/open-source-economics/Tax-Calculator/pull/1160), which attempts to clarify things by revising the long_name and description of both of the Growth parameters, has been merged into the Tax-Calculator master branch.

[2017-01-29 00:42] MattHJensen commented on #455
Thanks @martinholmer -- I understand the inconsistency now.

[2017-01-30 01:37] MattHJensen commented on #454
@martinholmer, it is in the "what is TaxBrain" dropdown at the top of the page.

![image](https://cloud.githubusercontent.com/assets/8301092/22410180/ade6c39e-e662-11e6-9ac3-85924e8c0b9b.png)

[2017-01-30 02:35] martinholmer commented on #454
@MattHJensen said:

Thanks.

[2017-01-30 02:36] #454 closed

[2017-01-30 16:24] MattHJensen opened #460 "TaxBrain output print to single page"
- [ ] Currently the TaxBrain table builder print feature prints to two pages. Could we make it so that it prints to one page no matter how many columns are included?

![image](https://cloud.githubusercontent.com/assets/8301092/22431110/5e090b26-e6de-11e6-87ab-a1e2465d4af5.png)

- [ ] Same for the revenue table. (There's not even any content on the second page for this one, just an extra blank page

[2017-01-30 18:45] MattHJensen commented on #344
Thinking about this more, as simple solution would be to add two columns to the diagnostic table, one for the number of tax units with non-positive income tax liability and one for the number of tax units with non-positive payroll tax liability.  There will need to be a modification in `taxcalc/utils.py`.

@andersonfrailey, could you either modify `utils.py` as necessary or leave a comment here wi

[2017-01-30 19:00] MattHJensen opened #461 "Summary of changes on output page."
Include a list of user-modified parameters on the output page. I think it could look something like this:

![image](https://cloud.githubusercontent.com/assets/8301092/22436972/29d5e9b2-e6f4-11e6-820e-d230febdfe7a.png)

I think this should be it's own frame and include it's own print, copy, csv, and excel tables.

An effort assessment would be helpful before starting work on this.

[2017-01-30 21:08] MattHJensen opened #462 "Percentiles in addition to deciles"
In both the difference and diagnostic tables, we allow users to select between `income groups` and `income deciles`. If we also allowed income percentiles, then our users could make line charts with the data.

One option would be to provide a third option in the build a table tool for income percentiles. Another option would be to change the `income decile` name to `income quartile`, default to de

[2017-01-30 21:39] PeterDSteinberg opened #463 "B-Tax running progress indicator"
When submitting a B-Tax model from `/ccc` , one is redirected to a progress bar page while the results are being calculated.  There currently is a bug where the progress bar shows gradual progress up to 100% as expected, but then drops back to 0% progress for 30 seconds or so before rendering okay results.  The following screenshots show what I'm talking about:

<img width="1088" alt="screen shot

[2017-01-31 14:36] MattHJensen commented on #462
If we went with this option, it might be easier to keep a "Income Bins vs. Income Quartiles" option and then add a new option for "Income Deciles vs. Income Percentiles". The key would be making it obvious to the user that Income Deciles vs Income Percentiles only makes sense when Income Quartiles is selected.

[2017-01-31 17:12] MattHJensen opened #464 "Add MTR generator"
We should include Marginal Tax Rates (MTRs) in the TaxBrain output and make them available for current law and the reform.

We can display these in a new table builder on the static output page underneath our current table builder.

The table builder options should include:

- For year:  **2017** [dropdown]
- **Current Law** or Reform.
- MTR with respect to: **wages** [dropdown containing all of t

[2017-01-31 17:26] MattHJensen opened #465 "Reporting on use"
It would be helpful to have a log of ospc.org users, including IP address, IP owner, and pages visited.

Additionally, it would be helpful to have a list of all TaxBrain and CCC runs with run number and IP address, and IP owner.

[2017-01-31 18:32] andersonfrailey commented on #344
@MattHJensen I will work on modifying `utils.py` to implement this.

[2017-02-01 14:51] MattHJensen commented on #462
Check out #464 for another context where percentiles will be used.

[2017-02-01 16:42] MattHJensen commented on #364
Should be doable to include the box and whisker plot now given https://github.com/open-source-economics/plots/pull/52.

[2017-02-02 11:39] MattHJensen opened #466 "CCC logo bigger"
The Cost of Capital Calculator logo at the top of ospc.org/ccc is smaller than the TaxBrain logo at the top of ospc.org/taxbrain. CCC logo should be bigger to match TaxBrain.

![image](https://cloud.githubusercontent.com/assets/8301092/22547990/50236d86-e912-11e6-9c5a-496d52bc0332.png)

![image](https://cloud.githubusercontent.com/assets/8301092/22548003/59a273fc-e912-11e6-9b27-05e438f3ae9e.png)

[2017-02-10 17:22] MattHJensen opened #468 "minor text changes"
- [ ] Add "Static" to the title of the [static results page](http://www.ospc.org/taxbrain/9909/) and drop "for Federal Individual Income Taxes": Should be "Static Revenue and Distribution Tables"

- [ ] Add "Partial Equilibrium" to the title of the [partial equilibrium dynamic results page](http://www.ospc.org/dynamic/behavior_results/392/) and drop "for Federal Individual Income Taxes": Should be

[2017-02-10 18:47] MattHJensen opened #469 "Add a separate "TaxBrain Documentation" page."
Rather than including so much documentation on the input pages, I think we could have a separate TaxBrain Documentation page.

The content should be stored in a html file in webapp-public (for now) rather than in a flatblock, so it is easy for contributors to suggest changes via PRs.

To begin with, we can keep everything in a single page / HTML file and link to relevant subsections with anchors.

[2017-02-10 19:06] MattHJensen commented on #406
@andersonfrailey, thanks a lot for the contribution. I just added a link to the TaxBrain input page.

Could you:
I just added a live link to https://docs.google.com/forms/d/e/1FAIpQLSfvKEsQZNe9_16FhKNZcEyv3C8qXZhBfrqLxSd4VR97w92moQ/viewform from TaxBrain.

Could you:

- Check to make sure that the form is receiving data properly.
- Move the "What would you like to see improved in TaxBrain?" to the

[2017-02-10 20:47] MattHJensen opened #470 "Embed iframe for border adjustment calculator at ospc.org/bac"
https://ospc.shinyapps.io/border-adjustment-calculator/

[2017-02-10 21:54] MattHJensen opened #471 "Embed google form at ospc.org/hello"
We have a new google form for feedback (see #406). Could we embed this at www.ospc.org/support or ospc.org/help (whichever others thing is better? I will work with @andersonfrailey to generalize the form to be applicable to the whole organization rather than just TaxBrain, but that needn't block this issue.

[2017-02-10 21:56] MattHJensen commented on #471
The reason this would be nice is so that we can link to the form from paper documents.

[2017-02-10 22:10] MattHJensen commented on #471
Hmm, to make this a little more friendly, what do you think about www.ospc.org/hello?

[2017-02-13 15:09] andersonfrailey commented on #406
@MattHJensen, I've updated the form and it is receiving data properly.

[2017-02-13 15:11] andersonfrailey commented on #471
@MattHJensen, I like www.ospc.org/hello. To make the form more general, I could add a dropdown where you select what issue you're leaving feedback for and make that a required question.

[2017-02-13 18:37] brittainhard opened #472 "Get all plots to show up on the gallery page"
Currently it only shows 3, but there are more plots in the bucket. Need to fix the logic here.

[2017-02-15 17:37] MattHJensen opened #473 "macro elasticities model key=2017 error"
![image](https://cloud.githubusercontent.com/assets/8301092/22987027/799bccda-f37b-11e6-8278-b3d69501f808.png)

http://www.ospc.org/dynamic/macro_results/417/

[2017-02-15 17:44] martinholmer opened #474 ""Macroeconomic Elasticities" dynamic analysis is broken"
The "Macroeconomic Elasticities" dynamic analysis does not work.

When I specify a pop-the-cap reform beginning in 2018, the [static results](http://www.ospc.org/taxbrain/9967/) look sensible.

But then when I specify a 0.36 elasticity in the box titled **Elasticity of GDP wrt 1 - AMTR**, I get the following error message:
[code]

@MattHJensen @PeterDSteinberg @brittainhard

[2017-02-15 17:47] martinholmer commented on #474
Issue #474 is identical to issue #473, which was being posted while I was preparing this issue #474.

[2017-02-15 17:49] PeterDSteinberg commented on #474
Resolution expected in next hour.

[2017-02-15 17:51] martinholmer commented on #455
@MattHJensen,  What's the status of issue #455?

[2017-02-15 17:52] PeterDSteinberg commented on #473
@martinholmer @MattHJensen Please try your failing jobs now on test test app.

[2017-02-15 18:08] MattHJensen commented on #473
@PeterDSteinberg, I'm getting the same error:

![image](https://cloud.githubusercontent.com/assets/8301092/22988379/db3d9618-f37f-11e6-8b6e-edf3133d6ce1.png)

http://ospc-taxes7.herokuapp.com/dynamic/macro_results/8/

[2017-02-15 20:45] PeterDSteinberg commented on #473
Fixed - new deploy  2-15-2107

[2017-02-15 20:45] #473 closed

[2017-02-15 21:01] MattHJensen commented on #473
Thanks @PeterDSteinberg

[2017-02-15 21:01] MattHJensen commented on #474
Resolved.

[2017-02-15 21:02] #474 closed

[2017-02-15 21:36] MattHJensen commented on #469
Perhaps this should be ospc.org/docs and include info for all models.

[2017-02-20 17:34] brittainhard commented on #472
Fixed in PRs on the plots repo.

[2017-02-20 17:34] #472 closed

[2017-02-20 17:35] brittainhard commented on #434
Fixed in #467

[2017-02-20 17:35] #434 closed

[2017-02-20 21:06] brittainhard opened #476 "Add Link for Gallery Page"
Update the header links to include a link to the gallery page. Not at all how to access it.

[2017-02-20 21:27] brittainhard commented on #436
This was closed by #450

[2017-02-20 21:27] #436 closed

[2017-02-21 15:39] #476 closed

[2017-02-21 15:43] brittainhard commented on #470
@MattHJensen what page do you want this on?

[2017-02-21 15:46] MattHJensen commented on #470
My impression was that the easiest would be to just embed an iframe at a new page: ospc.org/bac. Alternatively, we could include it in the gallery -- but that seems harder to me.

[2017-02-21 15:50] MattHJensen opened #478 "Selecting ADS on CCC does not produce results"
https://www.ospc.org/ccc/384/

[2017-02-21 15:55] brittainhard commented on #470
I think it fits in the gallery better, but I just have a minor styling concern. It has its own link to taxbrain, and that just looks a little off. Minor concern if it can be fixed quickly.

[2017-02-21 16:00] MattHJensen commented on #470
I'm not seeing the link to TaxBrain -- could you screenshot it for me?

[2017-02-21 16:03] brittainhard commented on #470
At the top-left.

<img width="1009" alt="screen shot 2017-02-21 at 10 02 47 am" src="https://cloud.githubusercontent.com/assets/5440553/23172898/039361e6-f81d-11e6-883f-2a2e537196ec.png">

[2017-02-21 16:14] MattHJensen commented on #470
Let's ignore that for now. It is useful for other places that it is embedded.

If adding it to the gallery is easy even though it is served from shinyapps.io instead of us, then that makes sense to me too.

[2017-02-21 16:19] MattHJensen commented on #478
cc @PeterDSteinberg @jdebacker

[2017-02-21 16:22] MattHJensen opened #479 "Changing bonus depreciation on B-Tax does not change results"
http://www.ospc.org/ccc/389/

Note that this experiment left the depreciation selectors on GDS.

@jdebacker, could you confirm that this is a bug?

@codykallen thinks that this is not actually a bug, and that bonus depreciation should only matter when ADS is selected (see #478):

If Cody is right, the user interface seems very confusing even after #478 is fixed. The user would need to know to swit

[2017-02-21 16:26] brittainhard commented on #470
Ok. My plan is to embed it in the template used for gallery items (http://localhost:8000/gallery/box_plot/) and hard-code the info on the page.

[2017-02-21 16:28] MattHJensen commented on #470
Got it. Sounds good.

[2017-02-21 17:23] jdebacker commented on #479
Confirming - this is a bug. And not one I recall seeing before.  The model should be able to handle bonus with GDS, ADS, or economic (those define the base schedule upon which bonus is applied).

I did fix a B-Tax bug the other day (not yet in CCC) that was related to the model not changing the depreciation schedule (GDS, ADS, economic) when moving between the different systems, but bonus was work

[2017-02-21 17:36] MattHJensen commented on #394
Diagnostic Table tooltip: Key variables in the computation of tax liabilities.

Difference Table tooltip: Key variables that highlight the differences between two tax plans.

Current Law tooltip: Current law as defined by default parameters.

Reform tooltip: The reform proposal as defined by user-provided parameters.

Payroll tooltip: Include employee and employer payroll taxes in output.

Income

[2017-02-21 18:36] jdebacker opened #481 "OG-USA: Add check box for open economy"
We should add a check box/radio button to toggle between the closed economy version of OG-USA (the default) and the open economy version.

Shall we also let the user input the exogenous interest rate?

cc @rickecon @salimfurth

[2017-02-21 18:37] MattHJensen commented on #479
This a problem on both ospc.org and the test app.

[2017-02-21 18:38] MattHJensen commented on #478
This is a problem on both the test app and on ospc.org.

[2017-02-21 18:44] jdebacker opened #482 "OG-USA: Open for alternative gov't budget closure"
On OG-USA landing page, we should add:
- Check box/radio button to toggle between budget rules: (i) transfers adjusted so that budget balances each period and (ii) No balanced budget, gov't spending adjusted after 20 years to hit SS debt/gdp ratio.
- Input box for target steady state debt/gdp ratio.

We'll have hover-overs for info that describes each of these rules.

Question:
- Do we need to dis

[2017-02-21 18:48] jdebacker commented on #399
That's right.  Acceptable values are 2015 to 2020.

cc @MattHJensen @brittainhard

[2017-02-22 16:23] salimfurth commented on #481
Sounds good. We might need to put limits on the world interest rate so that it solves.

[2017-02-22 16:24] salimfurth commented on #482
I do think we should alert users when their options have pushed G negative.

[2017-02-22 16:55] jdebacker commented on #481
@salimfurth Good point.  We might do some testing to see this range.  Does 1%-10% seem ok?

[2017-02-22 16:56] jdebacker commented on #482
Ok - we'll  need to figure out how to display that in the table.

What could be really neat is to produce a graph showing the relevant fiscal rations over the transition path: taxes/gdp, debt/gdp, gov't spending gdp (maybe transfers/gdp, but that is assumed constant).

[2017-02-22 17:19] salimfurth commented on #482
Agreed - either a graph or table of the ratios. Worth showing transfers even though it's fixed; it reminds users where the money is going.

[2017-02-22 17:20] salimfurth commented on #481
Yeah, that's plenty wide enough. I haven't stress-tested - I imagine some extreme values in that range will give negative G or other nonsense results even if they solve.

[2017-02-22 21:41] MattHJensen commented on #479
Fixed on the test app. closing.

[2017-02-22 21:41] #479 closed

[2017-02-24 16:32] brittainhard opened #486 "Stop Tracking Staticfiles"
The staticfiles directory is the result of what happens when `python manage.py collectstatic` is run in order to get deployment static files. This only needs to be done in production. We can track the base static files and make sure the deploy scripts run `collectstatic` to get the staticfiles in place (if they don't already do that).

[2017-02-24 17:47] #470 closed

[2017-02-25 02:58] MattHJensen commented on #468
@brittainhard, it looks like the only thing preventing me from checking off the first two tasks is that both the Partial Equilibrium and the Static pages rely on the same `taxbrain_results_header` flatblock. We need a different flatblock on each page, perhaps `taxbrain_static_results_header` and `taxbrain_pe_results_header`

[2017-02-27 14:34] #466 closed

[2017-02-27 14:35] #420 closed

[2017-02-27 14:39] brittainhard commented on #468
@MattHJensen i'll push a fix for that.

[2017-02-27 15:37] #469 closed

[2017-02-27 15:38] #471 closed

[2017-02-27 15:55] jdebacker commented on #463
@PeterDSteinberg Is this still an issue?  I'm not noticing it now.

But in testing this, I see that perhaps we need to open an issue over in B-Tax about speeding up the calculations.  e.g. if no economic parameters are changed, then we could cut run time about in half by using cached baseline results.

[2017-02-27 15:56] jdebacker commented on #437
Closing this issue as it's replaced with Issue #481

[2017-02-27 15:56] #437 closed

[2017-02-27 16:01] jdebacker commented on #399
@brittainhard We might want to address this soon as it appears that the default base year for the CCC web app maybe 2015 (see this [line](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/webapp/apps/btax/helpers.py#L70) - whereas the default year for B-Tax is 2017.

Also, for the user of CCC, the text indicate the baseline year is 2017 (though it is easy to miss this bit of text

[2017-02-27 20:38] MattHJensen opened #492 "All previous CCC run urls display empty results."
![image](https://cloud.githubusercontent.com/assets/8301092/23378876/bfe057e8-fd02-11e6-8eed-2f0a8f96ae65.png)

I've checked a dozen or so and can't find one that shows up.

[2017-02-28 18:17] MattHJensen commented on #465
@brittainhard, the top priority is to check that we are currently recording and _saving_ logs. The reporting could come afterwards.  It would be great to be sure that we are saving logs before we start our marketing so we can look back on what worked and didn't work.

[2017-03-01 15:40] MattHJensen opened #493 "Marketing push"
Hi all, we're planning another marketing push for OSPC webapps to Congressional and executive branch staff and professors. See sample flyer below.

This issue contains small projects from several repos that need to be accomplished before we can proceed. Please let me know if you can think of others. This should be a priority before other b3 milestone items.

- [x] Mirror ospc.org/gallery/border-ad

[2017-03-01 16:01] martinholmer commented on #493
@MattHJensen said to-do list includes:

What do you mean by "latest version"?
Are changes for release 0.7.8 listed in [TC #1202](https://github.com/open-source-economics/Tax-Calculator/issues/1202) going to be included?

[2017-03-01 16:51] MattHJensen commented on #493
@martinholmer asked:

0.7.8

That would be best, but I was thinking it wouldn't require any changes to webapp-public. Am I mistaken?

[2017-03-01 18:13] martinholmer commented on #493
@MattHJensen responded:

Depends on how far along TaxBrain is in using the new growth features added in [TC #1199](https://github.com/open-source-economics/Tax-Calculator/pull/1199).

@PeterDSteinberg @brittainhard

[2017-03-01 19:48] MattHJensen commented on #493
TaxBrain hasn't done anything to accomodate the new growth features, but the TaxBrain GUI doesn't have any growth parameters anymore so I am operating under the assumption that there is nothing to do. Assuming nothing has been done yet, what do you think should be done?

[2017-03-01 19:59] martinholmer commented on #493
@MattHJensen said:

You're correct in that there is nothing to do if TaxBrain doesn't have growth parameters anymore.

In the short term, probably do nothing wrt growth in TaxBrain GUI and let people who want to use the new growth capability do JSON file uploads.  This assumes that the next TaxBrain is using the 0.7.8 version of dropq.py --- is that the plan?

@PeterDSteinberg

[2017-03-01 21:07] brittainhard commented on #465
@MattHJensen we are using a heroku app called papertrail to do our logging. It logs IPs and websites visited. It saves logs for 7 days and deletes them, but we can save all the logs by connecting an S3 bucket. From there I can write a script that filters the log output to look for IPs and page visits.

[2017-03-01 21:30] MattHJensen commented on #493
I just released Tax-Calculator 0.7.8 and @jdebacker updated B-Tax by resolving open-source-economics/B-Tax#134 this morning.

@brittainhard / @PeterDSteinberg, if you deploy the latest of both to ospc.org, then everyone can start manually testing while the todos from this issue are resolved.

[2017-03-01 21:49] brittainhard opened #494 "Apps Nav Links Only to TaxBrain"
There is no apps page to move to. Need to remove this link, or add some kind of dropdown to go to the particular app.

[2017-03-01 23:51] MattHJensen commented on #493
Great. Thanks @martinholmer.

That's the plan. @PeterDSteinberg did find a need for some [changes](https://github.com/OpenSourcePolicyCenter/deploy/pull/32/files) relating to the implementation of the macro elasticity in dropq (see https://github.com/open-source-economics/Tax-Calculator/issues/1210).

[2017-03-02 15:05] rrenfrow86 commented on #468
This has been completed per @brittainhard - @MattHJensen please confirm if this can be closed.

[2017-03-02 15:06] rrenfrow86 commented on #478
@MattHJensen and @jdebacker - Brittain suggests this can be closed, please confirm.

[2017-03-02 15:14] MattHJensen commented on #468
Closing.

[2017-03-02 15:14] #468 closed

[2017-03-02 17:04] MattHJensen commented on #478
Closing.

[2017-03-02 17:04] #478 closed

[2017-03-02 17:22] jdebacker opened #496 "CCC Differences tables of output mixed up"
CCC needs to include B-Tax through the merge of PR #135.  Currently the test-app is at B-Tax PR #131 and ospc.org is at a prior version.

[2017-03-02 20:31] brittainhard commented on #493
@MattHJensen Papertrail, the heroku app we use for logging, is now outputting to an s3 bucket. All the logs are being archived.

[2017-03-02 20:37] MattHJensen commented on #493
Thanks @brittainhard! Checking the box.

[2017-03-04 14:37] martinholmer opened #500 "TaxBrain file-upload page needs updating"
The [TaxBrain file-upload page](http://www.ospc.org/taxbrain/file/) needs an update to reflect the fact that there are two types of files: policy reform files and economic assumption files.

First, can we deal with a long-standing bug?  How about simply removing the broken link on the left (below the "Get Started" link) that is labeled "Input Form"?  Is that not an easy thing to do?  If for some r

[2017-03-04 14:44] martinholmer commented on #455
Beginning with release 0.7.7, the TaxBrain GUI does not contain growth-related parameters, so issue #455 has been resolved and is now being closed.

[2017-03-04 14:44] #455 closed

[2017-03-04 15:27] martinholmer commented on #500
In addition to the file-upload page enhancements in TB issue #500, there is an needed enhancement  to the results page generated by uploaded file(s).  Now the output page starts this way:
[code]
And then it reproduces the uploaded policy reform file and uploaded economic assumptions file.
See this [output page](http://www.ospc.org/taxbrain/10230/) for an example.

Since Matt requested splitting po

[2017-03-06 20:35] martinholmer opened #501 "Need to move read_egg_csv logic from Tax-Calculator to TaxBrain"
Currently the Tax-Calculator repo contains TaxBrain logic, which logically should be part of TaxBrain.

There is a `read_egg_csv` function in `taxcalc/utils.py` and it is called from the `records.py` file and from the `growfactors.py` file.

Can this utility function and its calls be moved to TaxBrain?  Tax-Calculator knows nothing about eggs.  Isn't that a TaxBrain concept?

@MattHJensen @PeterDS

[2017-03-07 19:29] MattHJensen opened #502 "Update to taxcalc 0.7.9"

[2017-03-09 16:27] MattHJensen opened #504 "_ALD_InvInc_ec_base_RyanBrady should be checkbox instead of 1/0"
As a rule, we can use checkboxes when parameters are boolean in current_law_policy.json.

![image](https://cloud.githubusercontent.com/assets/8301092/23759634/4fccddd0-04bb-11e7-9090-e32955df0954.png)

@brittainhard

[2017-03-09 16:29] brittainhard commented on #504
I'll look into this.

[2017-03-09 20:02] MattHJensen commented on #459
This problem has returned.

![image](https://cloud.githubusercontent.com/assets/8301092/23768251/68b60f2e-04d9-11e7-8489-33d0a9ee8e40.png)

@brittainhard

[2017-03-09 20:09] brittainhard commented on #459
Looks like the `taxbrain.js` file was reverted somehow. Quick fix.

[2017-03-09 20:32] brittainhard commented on #459
@MattHJensen possible fix is up on the test app.

[2017-03-09 20:50] GoFroggyRun opened #505 "Pass-Through parameters are not being properly deployed"
When editing pass-through parameters, sometimes these modifications will be overrode, without any notifications, when there are also regular, non-pass-through, parameter changes.

The problem can be replicated using the following toy example:

1. Set `Personal income (regular/non-AMT/non-pass-through) tax rate 2` (under Personal Income, Regular: Non-Amt, Non-Pass-Through section) to `0.25`.

2. Se

[2017-03-09 20:52] MattHJensen commented on #505
I can replicated.

cc @brittainhard

[2017-03-09 21:11] MattHJensen commented on #502
Resolved.

[2017-03-09 21:11] #502 closed

[2017-03-09 21:17] MattHJensen commented on #459
@brittainhard, looks good on the test app.

[2017-03-09 21:21] brittainhard commented on #505
Looking into this now.

[2017-03-09 21:31] #459 closed

[2017-03-09 23:06] GoFroggyRun opened #507 "_CTC_new_ps not being properly deployed"
The `_CTC_new_ps` parameter, which corresponds to "New refundable child tax credit phaseout starting AGI" in TaxBrain under "Refundable Credit" section, is not being properly deployed.

In particular, TB will report the following error:

![screen shot 2017-03-09 at 5 53 12 pm](https://cloud.githubusercontent.com/assets/13324931/23774604/656e4ac0-04f2-11e7-8cc2-1148ec8fab5d.png)

From the source co

[2017-03-10 00:05] MattHJensen commented on #507
Replicated. Thanks @GoFroggyRun!

[2017-03-10 15:14] rrenfrow86 commented on #493
@MattHJensen - checked off remaining Brittain tasks that have been completed for this.

[2017-03-10 15:15] rrenfrow86 commented on #451
@MattHJensen - recommend closing.

[2017-03-10 15:20] #451 closed

[2017-03-10 15:27] MattHJensen commented on #493
Just added a new item to the checklist:

- resolve issues that are identified during manual testing and added to the b2 milestone (@brittainhard)`

[2017-03-13 15:27] martinholmer opened #508 "Bug with TaxBrain file-upload logic"
In TaxBrain version 0.7.9 the file-upload page is completely broken.

When I chose a reform file to upload and click on the "Show me the results!" button, I get this:
[code]
In the prior version of TaxBrain it was possible to specify no assumption file.

I don't understand how we can go backward from one release to another.  Sounds like there is insufficient testing of TaxBrain.

@PeterDSteinberg

[2017-03-13 15:28] martinholmer commented on #508
@MattHJensen,  I would appreciate it if resolving issue #508 was given a high priority.

[2017-03-13 15:47] martinholmer commented on #508
When you try with TaxBrain 0.7.9 to upload both a reform file and an assumptions file, the same error message as described in #508 is generated.  So the bug is even more fundamental then I initially thought.  Essentially, the TaxBrain file-upload capability does not work at all.

[2017-03-13 16:00] MattHJensen commented on #508
Moving this to milestone b2.

[2017-03-13 23:04] GoFroggyRun opened #510 "Medicare payroll tax rate and additional medicare tax rate not being properly deployed"
Two parameters, medicare payroll tax rate and additional medicare tax rate, both under the Payroll Taxes section, are not being properly deployed in TB.

Based on a simple reform (adds 0.01 to each parameter) that modified both parameters, the result in [TB](http://www.ospc.org/taxbrain/10418/) is so different from result yields from TC:

![screen shot 2017-03-13 at 7 00 37 pm](https://cloud.githu

[2017-03-14 03:50] MattHJensen commented on #510
Thanks @GoFroggyRun

[2017-03-14 03:52] MattHJensen commented on #510
These two parameters in tax-calculator are:
- `_FICA_mc_trt`
- `_AMEDT_rt`

[2017-03-14 03:55] MattHJensen commented on #510
@brittainhard, it's probably worth noting that @GoFroggyRun has tested all other parameters and found no other significant differences between TaxBrain and Tax-Calculator except for this issue and other previously opened issues over the last few days, so we are fairly certain there is no systematic error.

[2017-03-14 14:10] MattHJensen commented on #496
@jdebacker, is this issue resolved now?

[2017-03-14 15:39] jdebacker commented on #496
Yes.  This was fixed with [B-Tax PR #140](https://github.com/open-source-economics/B-Tax/pull/140)

[2017-03-14 15:39] #496 closed

[2017-03-15 11:28] martinholmer commented on #501
No concerns have been expressed over the past week with regards to the request in #501 to move egg-reading-logic from Tax-Calculator code to TaxBrain code.  Plus #501 has been added to the milestones in the webapp-public repo.  So, I'm going to remove the egg logic from Tax-Calculator code in the next few days.

@MattHJensen @PeterDSteinberg @brittainhard

[2017-03-15 12:22] MattHJensen commented on #501
@martinholmer, it makes more sense to me to wait until the logic is in webapp-public before removing it from Tax-Calculator so that we don't have a period of brokenness.

[2017-03-15 12:38] martinholmer commented on #501
@MattHJensen said:

How long will that wait be?  #501 has such a low priority that it seems to me that is unlikely to be dealt with over the next half year.

[2017-03-15 12:46] MattHJensen commented on #501
@martinholmer, did you mean to close this issue?

Perhaps I don't understand why #501 is higher priority than the urgent issues in b2 and b3. Could you explain why #501 is urgent?

[2017-03-15 13:24] martinholmer commented on #501
Reopening #501 after mistaken closing of issue.

It is not so much that I think #501 is more urgent than the issues/bugs in the b2 and b3 milestone lists, but rather that it is a trivial thing to move the few lines of egg code from Tax-Calculator to TaxBrain.  Tasks that can be helpful to progress in other repositories and that take little time should be handled quickly, in my view.  If the future

[2017-03-15 13:51] talumbau commented on #501
Hi,

Egg files don't have anything to do with Tax Brain. Egg files are a format from (one part of) the long history of Python packaging. Here is a reasonable summary from a couple of the top five links in a google search:

http://stackoverflow.com/questions/2051192/what-is-a-python-egg
https://packaging.python.org/wheel_egg/

It is correct that the act of reading a data file from an installed pack

[2017-03-15 14:17] martinholmer commented on #501
@talumbau,  Thanks for your informative response to TaxBrain issue #501 on the best location for egg logic.  Given what you say, I've got a few questions.

(1) So, the egg is **inside** (that is, part of) the taxcalc package, right or wrong?

(2) Why are we using the obsolete egg technology instead of the PEP427 wheel technology?

(3) Given that the `puf.csv` file does not seem to be in the egg (b

[2017-03-15 21:18] GoFroggyRun commented on #510
Per @MattHJensen's request, I have created a table for a reform that modifies potential problematic parameters mentioned above. (Reform details available [here](http://www.ospc.org/taxbrain/edit/10418/?start_year=2017))

In year 2026, Combined liability, in Billions of $:

|   | Baseline        | Reform           | Difference  |
| --- | ------------- |:-------------:| -----:|
| TC  | 4,009.5     |

[2017-03-15 21:26] MattHJensen commented on #510
Thanks @GoFroggyRun. My assessment is that these differences are caused solely by dropq noise. Closing.

[2017-03-15 21:26] #510 closed

[2017-03-16 04:50] talumbau commented on #501
No, that is not correct. One way to say it is that the egg file is the physical manifestation of the package on the filesystem of the computer. The egg file *format* is the specification of how this file is laid out on disk. The data files that are distributed with the Tax-Calculator package are inside this file, in a way governed by the egg file format (which is essentially a zip file).

The whee

[2017-03-16 11:33] martinholmer commented on #501
@talumbau,  Thanks for your extremely helpful answers to my questions in issue #501.

I'm in total agreement with your final thought:

The problem is that I've asked how to construct such tests but didn't get an answer.

I'm closing issue #501 now.  Thanks again for the tutorial on Python eggs and Conda packages.

[2017-03-16 11:33] #501 closed

[2017-03-16 19:45] GoFroggyRun opened #512 "Partial Equilibrium parameters not working in TB"
Under the same reform (available [here](http://www.ospc.org/taxbrain/edit/10418/?start_year=2017)), I implemented the partial equilibrium functionality in TB (available [here](https://www.ospc.org/dynamic/behavior_results/407/)), and it seem that this PE function is not working at all:

![screen shot 2017-03-16 at 2 45 13 pm](https://cloud.githubusercontent.com/assets/13324931/24015360/ad86183a-0a

[2017-03-16 22:38] MattHJensen commented on #512
Confirmed. Thanks @GoFroggyRun

[2017-03-17 20:23] martinholmer opened #513 "Mislabeled TaxBrain output table"
When arriving at the static analysis results page on TaxBrain, I ask for a diagnostic table for a few variables calculated by income deciles.  What comes up seems to have a misleading title.  Here is an example of what I mean:
[code]
Given that the dollar amounts in the table are clearly WEIGHTED TOTALS for the decile, shouldn't the title be changed from WEIGHTED AVG PER to WEIGHTED TOTAL PER?

Or

[2017-03-18 11:25] MattHJensen commented on #513
Thanks @martinholmer. See #514.

[2017-03-22 16:01] brittainhard commented on #505
@GoFroggyRun @MattHJensen I looked at the code, and it looks like this is an intended feature. If there is a param like `II_rt1` set, then `PT_rt1` will always be set to the former param value.

The original issue and discussion is here: https://github.com/OpenSourcePolicyCenter/webapp-public/issues/340

The fix was added in https://github.com/OpenSourcePolicyCenter/webapp-public/pull/342

If we d

[2017-03-22 16:32] brittainhard commented on #507
Fixed in Tax-Calculator PR.

[2017-03-22 16:34] brittainhard commented on #507
Re-opened. Behavior will not be fixed until the taxcalc version on the nodes is updated. This will also require changes to webapp.

[2017-03-22 16:37] GoFroggyRun commented on #505
@brittainhard Thanks for looking into this issue.

@brittainhard said:

Yes, this was the case when we have not introduced any `PT_rt` parameters in tax-calculator to tax-brain (TB) I believe. Before users are able to edit `PT_rt` parameter themselves on TB, this assumption was a compromise (sort of) we made in past releases.

But right now, in TB, we are splitting `PT_rt` and `II_rt` parameters b

[2017-03-22 16:46] MattHJensen commented on #505
@GoFroggyRun, that is correct. Thanks.

[2017-03-22 16:50] brittainhard commented on #505
Good to know. I'll make a PR that removes this logic from webapp.

[2017-03-23 19:55] brittainhard commented on #493
@MattHJensen, I thought I should give you an update on the issues:

https://github.com/OpenSourcePolicyCenter/webapp-public/issues/507: Has a fix implemented in Tax-Calculator., but i'm leaving it open in case we have problems when we deploy the latest taxcalc (the fix is currently on master, but we have to cut a new version for it).

https://github.com/OpenSourcePolicyCenter/webapp-public/issues/

[2017-03-24 11:36] PeterDSteinberg commented on #482
@jdebacker Can you clarify `OG-USA landing page`: does that mean the landing page after you press `Link to Dynamic Simulation` button, e.g. this URL - [https://www.ospc.org/dynamic/10539/?start_year=2017](https://www.ospc.org/dynamic/10539/?start_year=2017) ?

[2017-03-24 12:11] PeterDSteinberg commented on #481
@jdebacker I'm a bit unclear on the econ terms used here - is `open economy version` currently part of the webapp-public (i.e. is webapp-public hardcoded to `closed economy version` now) or does open vs closed refer to the Partial Equilibrium vs Macro Elasticities choice?  I don't have a clear picture of where the checkbox and exogenous interest rate UI inputs need to go.

[2017-03-24 12:22] jdebacker commented on #482
@PeterDSteinberg No, I mean the page where one enters the parameters for the OG-USA model.  It is what you see when you were able to click the "Overlapping Generations Simulation" button on the page you shared.  I think it's [this](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/templates/dynamic/dynamic_input_form.html) page.

[2017-03-24 12:26] jdebacker commented on #481
@PeterDSteinberg let me see if I can clarify.  OG-USA now (since PR #249), allows one to consider two versions of the overlapping generations model.  One is where the economy is assumed to be "closed" - so that there is not trade or financial interactions with outside countries.  And the other is where the economy is assumed to be "open", so goods or capital and flow into the U.S. economy we are m

[2017-03-24 12:46] MattHJensen commented on #493
@brittainhard, thanks, this is great. I plan to release a new taxcalc towards the end of today. I can do it sooner if it is blocking you.

[2017-03-24 13:05] brittainhard commented on #493
@MattHJensen There is still some work to be done to sync webapp and taxcalc. A lot of new fields were added. We're going to have to do another release cycle before we can test everything again.

I'm not currently blocked. I'm still working through #512. I'll need a new release when I start merging the PRs.

[2017-03-24 13:13] MattHJensen commented on #493
@brittainhard, would it make things significantly easier if I were to add a commit that removes all of the section labels from the new parameters, release 0.8.0, and then add another commit that adds them back that will be part of 0.8.1?

[2017-03-24 13:20] brittainhard commented on #493
@MattHJensen I think it would save time to work off taxcalc master as-is to sync up the apps. All that is required on my side is to add new fields to the Django models, and iron out any differences.

I experimented with taxcalc master locally when I was working on a couple of bugfixes, and the differences in the models aren't too large. There a couple of API changes that will have to be fixed, tho

[2017-03-24 14:22] MattHJensen commented on #493
Ok. Thanks.

[2017-03-24 14:37] #394 closed

[2017-03-24 15:56] brittainhard commented on #374
I'm seeing the error. I'll try TJ's approach to the problem.

[2017-04-02 16:30] andersonfrailey opened #519 "Reported TaxBrain Web App Error"
A TaxBrain user submitted the following response to our feedback form:

I was not personally able to recreate this error. Are there anymore details I should ask him for?

@martinholmer @MattHJensen @PeterDSteinberg @brittainhard

[2017-04-02 23:25] MattHJensen commented on #519
It would be helpful know their run number if one was generated after submitting the reform (ospc.org/taxbrain/[number]). If no run number was generated, it would be helpful to know the specific parameter changes they made.

[2017-04-03 05:13] talumbau commented on #519
If the user can reproduce the problem (i.e. reliably create this 500 error message), I would have him/her demonstrate the problem a couple of times in a row while noting the time (time zone included) and date.  This information could be provided to @brittainhard or @PeterDSteinberg who can look at the corresponding Papertrail logs to see if the Heroku app provides a better error message. It should

[2017-04-03 17:38] GoFroggyRun commented on #505
I'm confirming that this issue has been fixed in the latest release of TB (test version). So closing.

Thanks @brittainhard for fixing this!

[2017-04-03 17:38] #505 closed

[2017-04-03 17:39] MattHJensen commented on #505
Thanks @brittainhard. Thanks @GoFroggyRun.

[2017-04-03 18:11] GoFroggyRun commented on #507
I'm confirming that this issue has been fixed in the latest release of TB (test version). So closing.

Thanks @brittainhard for fixing this!

cc @MattHJensen

[2017-04-03 18:11] #507 closed

[2017-04-03 19:08] GoFroggyRun commented on #512
It seem that, in the latest TB (test) release, taxable income and capital gains parameters under partial equilibrium sector are working just fine, while two parameters in Charitable Contributions section are not.

The issue is that, when you input any valid parameter to any of the charitable contribution variable, the calculator will keep running. At least I wasn't able to finish any calculation i

[2017-04-03 19:19] MattHJensen commented on #512
could you take a screenshot of the parameters that aren't working?

On Apr 3, 2017, at 3:08 PM, Sean.Wang <notifications@github.com<mailto:notifications@github.com>> wrote:

It seem that, in the latest TB (test) release, taxable income and capital gains parameters under partial equilibrium sector are working just fine, while two parameters in Charitable Contributions section are not.

The issue is

[2017-04-03 19:27] GoFroggyRun commented on #512
@MattHJensen :
![screen shot 2017-04-03 at 3 27 03 pm](https://cloud.githubusercontent.com/assets/13324931/24627226/0b2071e4-1882-11e7-8d6d-731a83b85b4b.png)

[2017-04-03 19:34] MattHJensen commented on #512
We don't need to include those parameters for now. @brittainhard, is it trivial to drop them?

On Apr 3, 2017, at 3:27 PM, Sean.Wang <notifications@github.com<mailto:notifications@github.com>> wrote:

@MattHJensen<https://github.com/MattHJensen> :
[screen shot 2017-04-03 at 3 27 03 pm]<https://cloud.githubusercontent.com/assets/13324931/24627226/0b2071e4-1882-11e7-8d6d-731a83b85b4b.png>

—
You are

[2017-04-03 19:45] MattHJensen commented on #512
Just to be clear, the to dos here is:

- [ ] Remove the Charitable Contributions elasticities from the partial equilibrium page.

[2017-04-03 21:08] brittainhard commented on #512
@MattHJensen I can remove them from the form. I'll push a fix.

[2017-04-04 17:47] GoFroggyRun opened #520 "NIIT parameter is Boolean"
The `_NIIT_PT_taxed` parameter is Boolean in Tax-Calculator, while that is not the case in TaxBrain, as indicated in the screen shot. This seems a bug to me.

cc @MattHJensen @brittainhard

![screen shot 2017-04-04 at 1 37 57 pm](https://cloud.githubusercontent.com/assets/13324931/24670627/c8be81ea-193c-11e7-8958-2e24b6cfcbef.png)

[2017-04-04 18:17] brittainhard commented on #520
This is related to the problem in #504 . I have a feeling that there are more inputs like this. I'll work on a general fix to this problem.

[2017-04-04 18:37] GoFroggyRun commented on #520
@brittainhard yes you are right. There seems to be more than a couple of them:

![screen shot 2017-04-04 at 2 36 17 pm](https://cloud.githubusercontent.com/assets/13324931/24672828/265b4886-1944-11e7-8d1a-c983ee98ce3d.png)

cc @MattHJensen

[2017-04-04 19:11] GoFroggyRun opened #521 "Payroll tax logic bug in TB (test version)"
[This](http://ospc-taxes7.herokuapp.com/taxbrain/1219/) TB reform modifies payroll parameters, and I replicated the same reform in tax-calculator. It seems that, telling from the attached TC results, dropQ is not able to account for the huge difference between payroll liability differences in TB and TC. Thus, there's some bug within the Payroll Taxes section.

<img width="776" alt="screen shot 201

[2017-04-04 19:50] MattHJensen commented on #521
Thanks @GoFroggyRun, looking forward to the isolated problem parameter when you have it.

[2017-04-04 20:09] MattHJensen opened #522 "Reset parameters button broken."
Reset parameters button is broken. When I clicked it the page transforms from

![image](https://cloud.githubusercontent.com/assets/8301092/24676504/37c5189c-1951-11e7-8ae2-5edbf75e8220.png)

To

![image](https://cloud.githubusercontent.com/assets/8301092/24676470/16c0fac6-1951-11e7-85d3-984fc540024c.png)

Without resetting the parameter values, only the formatting.

I'm on Chrome.

[2017-04-04 23:53] GoFroggyRun commented on #521
Based on the TB results [here](http://ospc-taxes7.herokuapp.com/taxbrain/1227/), I can confirm that the root cause of the problem is due to, and only due to, the parameter `_FICA_mc_trt`.

See TB's result:

<img width="785" alt="screen shot 2017-04-04 at 7 42 25 pm" src="https://cloud.githubusercontent.com/assets/13324931/24683720/e659afd6-196e-11e7-908e-466490caa259.png">

Again, dropQ shouldn't

[2017-04-05 00:17] MattHJensen commented on #521
@gofroggyrun, thanks for identifying the problematic param. Just to clarify, the results in the table are from Tax-Calculator, not TB, right?

<img width="785" alt="screen shot 2017-04-04 at 7 42 25 pm" src="https://cloud.githubusercontent.com/assets/13324931/24683720/e659afd6-196e-11e7-908e-466490caa259.png">

[2017-04-05 00:19] MattHJensen commented on #521
@GoFroggyRun, the param that is edited on TaxBrain is not _FICA_mc_trt, it is the additional medicare tax rate.
![image](https://cloud.githubusercontent.com/assets/8301092/24684431/00d2f9da-1974-11e7-85aa-11c78e01fd3e.png)

[2017-04-05 00:21] MattHJensen commented on #521
Actually, the original reform has _FICA_mc_trt listed twice.

        "_FICA_ss_trt":
            {"2017": [0.134]},
        "_SS_Earnings_c":
            {"2017": [128200]},
        **"_FICA_mc_trt":**
            {"2017": [0.039]},
        "_AMEDT_ec":
            {"2017": [[201000, 251000, 126000, 201000, 201000, 126000]]},
        **"_FICA_mc_trt":**
            {"2017": [0.019]}

[2017-04-05 00:30] GoFroggyRun commented on #521
@MattHJensen Thanks for pointing out.

I corrected the duplicated parameter name by changing the second `_FICA_mc_trt` to `_AMEDT_rt`, and the results from TB and TC do coincide.

I'm also confirming that there's no discrepancy so far for static reforms based on a reform that modifies all TB parameters.

Sorry about the false alarm. Closing this one.

[2017-04-05 00:30] #521 closed

[2017-04-05 13:39] GoFroggyRun opened #523 "Misc. Credit Limits and Misc. Adjustment Haircuts not working"
There are a bunch of new parameters being added to the TB testing release. I found that, however, most, if not all, of those parameters are not working properly: input any valid reform would result in an error.

See TB error messages:

<img width="746" alt="screen shot 2017-04-04 at 9 32 21 pm" src="https://cloud.githubusercontent.com/assets/13324931/24707778/e713a872-19e2-11e7-8810-75a801bf94e1.p

[2017-04-05 13:46] MattHJensen opened #524 "Two above the line deduction sections"
We have two duplicate sections:
Above the line deductions
Above the line deduction
![image](https://cloud.githubusercontent.com/assets/8301092/24708404/b9572d8a-19e4-11e7-81f6-6eae23d42dce.png)

This is because of a mistake in current_law_policy.json. I will commit a fix to tax-calculator.

[2017-04-05 13:49] MattHJensen commented on #521
Thanks @GoFroggyRun.

[2017-04-05 13:50] MattHJensen opened #525 "new params not working on TB input page"
The new parameters added to the TaxBrain input page in taxcalc 0.8.0 are not working on TaxBrain. Here's an example.

http://ospc-taxes7.herokuapp.com/taxbrain/1238/

![image](https://cloud.githubusercontent.com/assets/8301092/24708527/1bf57b7c-19e5-11e7-9e0c-bfe82100dd67.png)

HT to @GoFroggyRun for spotting the problem.

cc @brittainhard

[2017-04-05 13:52] MattHJensen commented on #525
Closing in favor of #523

[2017-04-05 13:52] #525 closed

[2017-04-05 13:53] MattHJensen commented on #523
Replicated. Here's an example: http://ospc-taxes7.herokuapp.com/taxbrain/1238/

[2017-04-05 15:18] brittainhard commented on #523
@MattHJensen @GoFroggyRun Looks like the error is coming from here: https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/parameters.py#L329 , most likely on the node and not the test app.

[2017-04-05 16:05] MattHJensen commented on #523
@brittainhard, I talked to Sean and he confirms that everything is working fine locally. Could the nodes still be on 0.7.9?

[2017-04-05 16:10] brittainhard commented on #523
@MattHJensen it's possible. I'll ssh in and take a look.

[2017-04-07 11:49] MattHJensen commented on #512
Resolved. Thanks @brittainhard and @GoFroggyRun

[2017-04-07 11:49] #512 closed

[2017-04-07 13:37] jdebacker opened #528 "Displaying 0's"
On the CCC output pages we see the display of `-0.0000`.

If the number displays as all zeros, it might look better drop the negative sign. On these results, when imposing a cash flow tax, we often have METRs of -1e-16 of 1e16.  These should be displayed as the same `0.0000`.

[2017-04-07 13:59] #524 closed

[2017-04-07 14:51] MattHJensen commented on #508
@brittainhard, is this resolved?

[2017-04-07 15:09] brittainhard commented on #522
@MattHJensen are you working off of the test app? Or the main app? I'm having trouble re-creating this. Can you show what steps you took?

[2017-04-07 15:14] MattHJensen commented on #522
@brittainhard, I must have been on an edit parameters page. Now that I think about this more, the behavior was unexpected, but probably correct.

I'm going to move this issue out of 2.5 and think about if there's any way we can make this a little smoother for the users.

[2017-04-07 15:21] PeterDSteinberg opened #529 "B-Tax and possibly other tables: round -0.00000 to "0""
B-Tax results tables are showing some entries like `-0.0000` .
These "negative zeros" should be "0".

[2017-04-07 15:23] MattHJensen commented on #529
@PeterDSteinberg, this is a dup of #528.

[2017-04-07 15:24] #529 closed

[2017-04-07 15:55] MattHJensen commented on #522
@brittainhard, I just had another user report this same issue, so I'm moving it back to 2.5.

Since the other user had the same reaction I did, I think the right behavior is:

if the user is on an edit parameter page, the reset parameters button will take them to a blank ospc.org/taxbrain page.

[2017-04-07 19:07] brittainhard opened #531 "Add Ability to Disable Fields"
This would allow us to hide fields from `current_law_polcy.json` of  `taxcalc` that we don't users to have access to yet.

It would be a good idea to remove all of the old form generation logic, from when the form inputs where hard-coded.

[2017-04-07 19:29] brittainhard commented on #508
@MattHJensen closing this. The fix in the deploy PR has been merged.

[2017-04-07 19:49] MattHJensen commented on #508
@brittainhard, I'm reopening because I'm still getting errors for reform files that should work:

This is with the Trump2016.json file from the taxcalc/reforms

![image](https://cloud.githubusercontent.com/assets/8301092/24817229/b843a542-1ba9-11e7-9749-c14dc72793b9.png)

[2017-04-07 19:50] brittainhard commented on #508
Ahh, i'll take another look, then.

[2017-04-08 01:28] MattHJensen commented on #508
Here's the file I used: https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/reforms/Trump2016.json

[2017-04-13 02:37] martinholmer commented on #508
TaxBrain file-upload capability is now working in the 0.8.1 version.
Thanks for the fix.  Closing issue #508.

[2017-04-13 02:37] #508 closed

[2017-04-13 22:47] martinholmer opened #534 "TaxBrain "Build Table" enhancements"
The "Build Table" feature at the bottom of the TaxBrain static results page is very nice.  I've used it off and on over the past year mostly by building a table and viewing it and maybe making a note of a few numbers that I'm viewing.

I've just started exploring the other options of what to do with a built table: Print, Copy and CSV.
I don't have Excel on my computer so I didn't try the fourth op

[2017-04-14 12:47] MattHJensen opened #535 "Link to Dynamic Simulations should work from /file w no behavioral assumptions"
Here is an example of a /file reform with no behavioral assumptions, only reform parameters.

https://www.ospc.org/taxbrain/11037/

However, the link to dynamic simulations is blocked anyways:

![image](https://cloud.githubusercontent.com/assets/8301092/25043581/f5a4dbbe-20ee-11e7-80b3-664cbb43500a.png)

[2017-04-14 12:49] MattHJensen opened #536 "Input page formatting off and extra field"
![image](https://cloud.githubusercontent.com/assets/8301092/25043598/1196983a-20ef-11e7-9d50-5b82198f2d08.png)

- [ ] We should only display the first four fields for parameters indexed by MARS (longstanding convention for TaxBrain.

- [ ] Also, the Head of Household field is offset from the others.

[2017-04-14 13:17] martinholmer commented on #536
Addendum to TaxBrain issue #536: here and everywhere on the TaxBrain input page the acronym "Fica" should be fully capitalized like this "FICA".  The current usage makes it look to some people like we aren't familiar with payroll taxes, which is not a good impression to leave with people.

[2017-04-14 13:23] MattHJensen commented on #536
Thanks @martinholmer. To be more specific:

- [ ] the TaxBrain input page should maintain the capitalization in current_law_policy.json, from which section names are pulled.

In current_law_policy.json:  ```"section_2": "Additional Medicare FICA",```

[2017-04-14 21:02] #513 closed

[2017-04-14 21:35] martinholmer commented on #534
Another enhancement needs to be added to the list in TaxBrain issue #534.

It has already been pointed out that the title of the built table is not included in the downloaded CSV file or Copy.  But there is another problem: the name of the downloaded file is sort of laughable and completely useless.  Here is what I got in my `~/Download` directory after building four different distributional table

[2017-04-18 10:29] martinholmer opened #537 "TaxBrain input boxes too narrow"
The boxes are too narrow for the default values of some parameters in the Surtaxes : New Minimum Tax section.  Either make boxes wider or use scientific notation to show the default values (as is done in the Surtaxes : New AGI Surtax section).

[2017-04-18 13:03] MattHJensen commented on #537
Thanks @martinholmer.

I think this will be resolved by #536:

But if not good to have a separate issue. Adding this to 2.5.

[2017-04-18 13:09] martinholmer commented on #537
@MattHJensen said:

Yes, probably so.  But the more I look at TaxBrain the more I think very large numbers should be shown in scientific notation because it is not that easy to count all the zeros.

[2017-04-18 13:14] MattHJensen commented on #537
I that case we should move this issue to tax-calculator as that is  determined by current_law_policy.json. But I'm not sure that it is easier for people to read scientific notation than it is for them to count zeroes.

[2017-04-18 13:17] martinholmer commented on #537
@MattHJensen said:

You're absolutely right.  Just widen the boxes so 2000000 fits in.

[2017-04-18 14:16] MattHJensen commented on #534
Moving to milestone 3. Thanks @martinholmer for opening.

[2017-04-18 14:17] MattHJensen commented on #457
This is resolved.

[2017-04-18 14:17] #457 closed

[2017-04-18 14:18] MattHJensen commented on #493
This is resolved. Thanks everyone!

[2017-04-18 14:18] #493 closed

[2017-04-18 15:43] brittainhard commented on #536
The capitalization issue has been solved in https://github.com/open-source-economics/Tax-Calculator/pull/1298

[2017-04-18 16:08] MattHJensen commented on #536
@brittainhard,

That is not quite true. TaxBrain does not currently display the same capitalization as is in current_law_policy.json. open-source-economics/Tax-Calculator#1298 does make the capitalization more consistent throughout current_law_policy.json, but those improvements will not make their way to TaxBrain without a fix to webapp-public that guarantees that current_law_policy.json capitali

[2017-04-18 16:10] brittainhard commented on #536
Good point @MattHJensen. I'll take out the template tags that capitalize the section names. I'll include it with the fix that hides the widow field.

[2017-04-18 21:48] MattHJensen opened #539 "Steps for putting OG-USA back on TaxBrain"
@rickecon, @PeterDSteinberg, @jdebacker, @brittainhard

This is based on recent conversations I've had with Jason, Rick and Peter about getting OG-USA back up on TaxBrain.

Phase 1  is a path to having a single default style of OG-USA on TaxBrain. It would not require any changes to the the TB GUI, and testing will primarily occur on TaxBrain itself from a hidden link.

Phase 2 is a path to runnin

[2017-04-21 16:07] brittainhard commented on #492
@MattHJensen I think whats going on here is that there have been significant changes in the application since that first ccc job. This problem could have something to do with either the application logic changing, or the database models changing. You will find this is the case with older taxbrain calculations, especially since we added the new form generation logic.

This problem goes deeper than

[2017-04-21 16:47] PeterDSteinberg commented on #492
I agree this is a tough issue (to display all old results accurately), due to mix of serialized formats that we attempt to display when going back in time to an old model.  If there are specific old models we are interested in, we could do some poking around to see if we can modify the data to make them work, but I tend to agree with @brittainhard that we should just put a warning up on the result

[2017-04-21 16:51] MattHJensen commented on #492
Got it. I'd be happy if we just make sure we can get back all new results going forward. Is that doable?

[2017-04-21 19:37] salimfurth commented on #539
Thanks for kicking this off, @MattHJensen. A concern in the first Phase would be to check that the calibration of OG-USA used matches CBO predictions for debt load, growth rate, and GDP per capita.

The biggest remaining problem with using OG-USA for dynamic scoring is that government debt faces a high real interest rate. We have not yet discussed how to solve that. But without a solution, it leav

[2017-04-22 13:24] MattHJensen commented on #500
Summary

- [ ] On results page, "THE FOLLOWING REFORM FILES WERE UPLOADED FOR THIS SIMULATION:" should be "THE FOLLOWING FILE(S) WERE UPLOADED FOR THIS SIMULATION:"
- [ ] On taxbrain/file, remove "Input Form" from sidebar nav.
- [ ] On taxbrain/file, change the main text/layout to:

[code]

[2017-04-22 13:46] MattHJensen commented on #534
Summary

- [ ] TOTAL LIABILITIES TABLES: should automatically print all 10 years onto the page (to 2026). Now only 9 (to 2025). Either shrink cols, or if possible, have the browser default to printing landscape.
![image](https://cloud.githubusercontent.com/assets/8301092/25304873/26f64eb4-273e-11e7-97c7-d1d24b1c90af.png)

- [ ] TOTAL LIABILITIES CHANGE TABLE: when I click "reform" or "current law"

[2017-04-22 13:56] MattHJensen commented on #534
@martinholmer, thanks for suggesting better filenames.

Here's a possible file naming scheme:

TOTAL LIABILITIES TABLES

Formula
[run#]_liabilities_[change/reform/currentlaw]

Examples:
10000_liabilities_change
10000_liabilities_reform
10000_liabilities_currentlaw

BUILD A TABLE TABLES

Formula
[run#]_[year]_[1st selection]_[2nd selection]_[4th selection]

Examples
10000_2017_diagnostic_currentlaw

[2017-04-22 13:58] martinholmer commented on #534
@MattHJensen, This would be a big improvement. Thanks.
Why don't we go with this (or some refinement of your devising) for now and see how it works.

[2017-04-23 15:43] jdebacker commented on #539
@salimfurth Thanks for these comments.  Let me just clarify that this issue is about just how to get OG-USA back on TaxBrain and producing results that are sensible in terms of percentage changes.  I think we were fairly happy with these before as they made sense relative to other results we were seeing from the micro simulation model and the macro elasticities model.

As you point out, in the lon

[2017-04-25 16:50] brittainhard commented on #537
Solved in PR #538 . Closing

[2017-04-25 16:50] #537 closed

[2017-04-25 16:51] brittainhard commented on #522
Fixed in #533

[2017-04-25 16:51] #522 closed

[2017-04-26 16:42] brittainhard commented on #535
@MattHJensen , looking at https://github.com/OpenSourcePolicyCenter/webapp-public/issues/535, it looks like a feature. There is code in deploy and in webapp that makes sure no simulation can be run off of file-based reforms. This was changed to solve https://github.com/OpenSourcePolicyCenter/webapp-public/issues/431. Do we want to walk back these changes and allow simulations on file-based reforms

[2017-04-26 17:21] MattHJensen commented on #535
We do not want to allow dynamic simulations for file based reforms where an assumptions file is present. We should allow dynamic simulations for file based reforms where no assumption file is present.

[2017-04-26 18:06] MattHJensen commented on #539
Step 3 is checked off. The link pattern to kick of OG-USA runs is http://www.ospc.org/dynamic/ogusa/[STATIC_RUN_#]/?start_year=2017

[2017-04-26 18:20] brittainhard commented on #539
@MattHJensen @jdebacker @PeterDSteinberg @salimfurth It should be noted that the links to the simulation results are not `/dynamic/(ogusa || behavioral || macro)/<pk>`. Rather, they are `/dynamic/(results || behavioral_results || macro_results/<pk>`. In case there is any confusion.

[2017-04-28 23:02] MattHJensen commented on #539
My first simulation failed:

[code]

[2017-04-30 15:40] MattHJensen commented on #534
@GoFroggyRun, could you open a PR that closes this issue? See this [overview comment](https://github.com/OpenSourcePolicyCenter/webapp-public/issues/534#issuecomment-296374381).

[2017-05-01 19:08] jdebacker commented on #539
@PeterDSteinberg Can you help with the OG-USA failure above?  It looks like it has to do with the start year (`beg_yr`) variable being passed from the web-app/TC run.  OG-USA is expecting an integer, but it looks like a string is being passed.  I don't know enough about the web-app to trace this.

cc @rickecon

[2017-05-01 19:16] PeterDSteinberg commented on #539
@jdebacker and @rickecon - I'll add you as optional invites for a webex meeting tomorrow at 1 pm Eastern with @MattHJensen @brittainhard and @enelson1995 regarding the fixes involved on this issue.  @brittainhard has worked on this one more closely.

[2017-05-02 18:21] PeterDSteinberg opened #543 "Simplify deploy / webapp-public interaction"
We have had bugs related to the interaction of this repo and the private deploy repo in API functions, such as passing jsons between the front end Django app (now webapp-public) and the back end services (celery - celery_tasks.py, flask - flask_server.py).  Goals of this issue are to plan:

 * [x] Move most of deploy assets to this repo at a top level subfolder called `deploy`: python files mostly

[2017-05-03 10:51] martinholmer opened #544 "More enhancements needed for TaxBrain results tables"
The tax analysis described in [Tax-Calculator issue 1335](https://github.com/open-source-economics/Tax-Calculator/issues/1335) reveals the need for several more enhancements to the TaxBrain results page.

1. For some reason the terminology for the diagnostic tables and the difference tables are different.
 The difference tables sensibly use "by" (as in "by income decile") while the diagnostic tabl

[2017-05-03 12:43] MattHJensen commented on #544
@martinholmer, I added Point 1 and Point 4 to #534. Point 2 was already listed in #534.

Would you mind closing this issue and opening a new one for the 10-year totals? I would be happy to do so if you'd prefer.

[2017-05-03 12:55] #544 closed

[2017-05-03 13:02] martinholmer opened #545 "Still more enhancements needed for TaxBrain results tables"
The tax analysis described in [Tax-Calculator issue 1335](https://github.com/open-source-economics/Tax-Calculator/issues/1335) reveals the need for several more enhancements to the TaxBrain results page that are not listed in issue #534.

1. When clicking on either Current Law or Reform the row labels in the Total Liabilities table don't switch to a more appropriate label. In all three versions of

[2017-05-04 18:00] PeterDSteinberg opened #547 "Update documentation based on findings with Sean today"
Regarding the deploy and webapp-public docs:

 * Be sure to mention postgres complexity better
 * More docs on labels main vs dev
 * Show how to use a localhost:5050 worker
 * Make webapp guess localhost if needed

[2017-05-04 20:01] MattHJensen opened #548 "add Drip.co tracking to site"
@brittainhard, instructions should be in your email.

[2017-05-05 17:22] MattHJensen commented on #539
@PeterDSteinberg, is the og-usa failure above something that we should expect to be a quick fix, or do you think there is some bigger issue involved?

[2017-05-05 17:48] PeterDSteinberg commented on #539
@MattHJensen - I would not expect this to be a quick fix  - the bug quoted above is evidence in favor of the one-API approach to deploy and webapp-public repos we discussed (issue #543 ).  The quickest fix I would estimate at >6 hours and it would be a temporary solution (temporary in the sense that it would not fully address #543 as an architecture issue).  @brittainhard is more familiar with the

[2017-05-05 17:51] MattHJensen commented on #543
+1

[2017-05-08 12:56] MattHJensen commented on #539
Ok. Let's knock off #543 first then.

[2017-05-08 19:16] MattHJensen commented on #492
This is working again with recent runs, e.g., http://www.ospc.org/ccc/557/.  Closing.

[2017-05-08 19:16] #492 closed

[2017-05-08 22:24] martinholmer commented on #306
@MattHJensen,  What is the status of TaxBrain "Quick Calculation" issue #306?
Is it safe to recommend in the user documentation the Quick Calculator option?

[2017-05-08 22:32] MattHJensen commented on #306
The quick calculation button is not available on TaxBrain presets, but it is available and working fine from the default input page.

Yes, although it would be helpful to add the caveat that it is not available for preset reforms, as some of users may work off of presets.

[2017-05-09 01:28] martinholmer commented on #306
@MattHJensen said:

Yes, I guess it would be helpful in the short run, but since the goal is to make it eventually work for preset reforms, I think I'll leave that transitory detail out of the user documentation.

[2017-05-09 11:39] MattHJensen commented on #306
Ok, that makes a lot of sense to plan w/ the maintenance burden in mind.

[2017-05-09 16:43] martinholmer commented on #500
**This is an update to TaxBrain issue #500, which was first raised on March 4, 2017.**

After completing the user documentation, the TaxBrain file-upload page show look like this:
[code]

[2017-05-09 16:44] martinholmer commented on #500
@MattHJensen,  Where do we stand on the simple enhancements requested in issue #500?

[2017-05-09 20:20] MattHJensen opened #554 "Remove "looks okay" button and down arrow."
Let's get rid of these:

![image](https://cloud.githubusercontent.com/assets/8301092/25870752/42c124f0-34d3-11e7-8499-74bf80d4d74f.png)

They look particularly goofy w the accordion:

![image](https://cloud.githubusercontent.com/assets/8301092/25870778/53252512-34d3-11e7-9edb-d3f18d18185c.png)

[2017-05-17 15:32] MattHJensen opened #555 "Default values are no longer displayed after editing parameters"
![image](https://cloud.githubusercontent.com/assets/8301092/26162305/5d677f26-3af4-11e7-9657-fece8f515b9d.png)

No default is displayed.

[2017-05-17 15:42] brittainhard commented on #555
@MattHJensen is this on the main app?

[2017-05-17 15:43] MattHJensen commented on #555
Yes.

[2017-05-17 17:38] brittainhard commented on #555
@MattHJensen a push for this has been push to the test app.

[2017-05-17 21:56] MattHJensen commented on #555
Yes, this looks fixed on the test app. Thanks @brittainhard

[2017-05-17 21:58] MattHJensen commented on #536
@brittainhard, I reopened this because the capitalization for section headers is still not pulled properly from tax-calculator.

[2017-05-18 16:43] #417 closed

[2017-05-18 16:43] #504 closed

[2017-05-18 16:43] #520 closed

[2017-05-18 16:43] #554 closed

[2017-05-18 16:43] #555 closed

[2017-05-19 16:27] #548 closed

[2017-05-30 20:08] brittainhard opened #557 "Remove Year Dropdown from File Upload Page"
Currently has a dropdown for adding a start year, but doesn't seem to
change the outcome of the data sent forward, since the data provided
contains the year directly. Should probably remove this UI element.

Of course, there may be some code that allows for a differently formatted
file -- indeed, there is really no indication that I can see where
a format has been specified.

If there were format

[2017-05-31 19:33] MattHJensen commented on #557
@brittainhard the year drop down specifies the start of the 10-year budget window. The reform files themselves specify the year that various prvisions of the reform are implemented.

Here is an example of a reform where the year drop down was set to 2013. http://www.ospc.org/taxbrain/13557/

[2017-06-08 22:49] martinholmer commented on #464
@MattHJensen said:

In order to support these TaxBrain enhancements, we will need to add the `bokeh` graphing package to the taxcalc conda.recipe.  Right now there is a lot of code in `utils.py` that checks for availability of `bokeh` and it is difficult to maintain .  That code is irrelevant in most cases because the taxcalc-dev environment include `bokeh` and users of the Tax-Calculator CLI have

[2017-06-08 22:59] talumbau commented on #464
I would suggest that @PeterDSteinberg or @brittainhard attempt to launch
the web app on Heroku with bokeh in the required packages list. The package
is large and there is often an issue in bumping up against maximum slug
size. That's probably the most likely immediate negative impact of forcing
all users of taxcalc to have bokeh.
On Thu, Jun 8, 2017 at 3:49 PM Martin Holmer <notifications@github.c

[2017-06-08 23:09] martinholmer commented on #464
@talumbau said:

all users of taxcalc to have bokeh.

I have no idea what `slug size` means ... can you explain.

I have checked the size of the tar.bz2 files that contain pandas and bokeh.
I find that the bokeh file is **half** the size of the pandas file.
If we can upload pandas to Heroku why could we not upload bokeh to Heroku?

[2017-06-09 00:01] talumbau commented on #464
https://devcenter.heroku.com/articles/slug-compiler

[2017-06-09 02:00] martinholmer commented on #464
@talumbau said:

Thanks for the pointer to the Heroku documentation.  In part, it says this:

You didn't bother to say how big the taxcalc slug size is now without the bokeh package included.
When I install the latest bokeh package, I see this:
[code]
So, bokeh compressed is about 4 megabytes.  How close are we to the 500 megabyte limit?

@MattHJensen @PeterDSteinberg @brittainhard

[2017-06-09 12:25] martinholmer opened #559 "Any use in webapp-public of taxcalc utility functions?"
I've searched through the webapp-public code base and did not find any use of functions in `taxcalc/utils.py`.   Can webapp-public developers confirm my finding that no `taxcalc/utils.py` functions are used in this repo?

[2017-06-09 19:10] martinholmer commented on #464
@PeterDSteinberg,
Can you tell us the current `slug size` of the taxcalc package uploaded to  Heroku?
This question has come up in webapp-public issue #464, but nobody has provided an answer.

@MattHJensen

[2017-06-12 17:49] MattHJensen opened #560 "Release Process"
The goal of this issue is to formalize a process for releasing new taxcalc, og-usa, b-tax, and taxpuf packages to ospc.org. More fundamentally, this is an issue about how to maintain compatibility across these open source projects.

Below is one proposal that I designed to accomplish the relationship between upstream and downstream packages that I suggested in https://github.com/open-source-econom

[2017-06-12 20:47] martinholmer commented on #559
No response saying that I missed any use in webapp-public of
utility functions in `taxcalc/utils.py`, so closing this question.

[2017-06-12 20:47] #559 closed

[2017-06-13 13:06] martinholmer commented on #560
The release process proposed in #560 is a big improvement over the current process.  In particular, I think it will improve everybody's working situation to decentralize releases of the different OSPC-sponsored projects.  There are too many problems caused by trying to closely coordinate releases of the different projects.

[2017-06-14 11:22] martinholmer commented on #464
@martinholmer asked five days ago:

I'm interpreting no answer to mean that the current Heroku slug size for the taxcalc package is substantially below the 500 megabyte maximum, and therefore, there is no problem adding the `bokeh` package to the taxcalc conda.recipe.

@MattHJensen @talumbau @PeterDSteinberg @brittainhard

[2017-06-14 20:10] martinholmer commented on #560
@MattHJensen proposed:

I'd be interested in learning more about the logistics of these first two steps.

Is the new release specified interactively on GitHub after clicking on releases?

With respect to the second step, I know how to create a conda package and install it locally, but I don't know how to upload to `www.anaconda.org/ospc`.

[2017-06-14 22:28] GoFroggyRun commented on #560
I have a quick comment regarding test dev release.

In particular, @MattHJensen proposed:

Since we are introducing the `dev` release for the purpose of testing, we don't necessarily have to treat it as the last buffer before an official release. More specifically, we could, if we'd like, release a `dev` package whenever significant PRs/changes are being merged.

In this case, testing on web-apps

[2017-06-15 18:21] martinholmer commented on #560
@GoFroggyRun said in webapp-public issue #560:

Thanks for the discussion of testing, @GoFroggyRun.  I'm in full agreement with the first sentence in your last paragraph: `Adopting multi-staged testing is costly.`  So, it seems to me the more cost-effective strategy is to work towards ` having [a] thorough test suite for webapp-public`.

I can contribute code that has been and is now in the Tax-Ca

[2017-06-15 22:00] brittainhard opened #561 "Test Setting Up New Node"
@PeterDSteinberg @jbcrail

[2017-06-19 13:31] MattHJensen opened #562 "Difference table not affected by payroll taxes"
The difference table does not include changes from the payroll tax, even when the payroll tax in the table builder is selected.

http://www.ospc.org/taxbrain/14341/
![image](https://user-images.githubusercontent.com/8301092/27287558-19edb4f2-54d2-11e7-82a2-3fbc7506baf4.png)

![image](https://user-images.githubusercontent.com/8301092/27287570-226e01e0-54d2-11e7-95fc-c7c657932a4b.png)

[2017-06-19 13:36] MattHJensen commented on #562
Please disregard. I implemented a reform that only changed payroll in 2018, but the tables are for 2017. I out-foxed myself.

[2017-06-19 13:36] #562 closed

[2017-06-19 18:17] MattHJensen commented on #536
@brittainhard, just want to check in again on this one as it is outstanding from 2.5.

[2017-06-19 20:52] GoFroggyRun opened #565 "Cannot Run TaxBrain Locally"
After [#563](https://github.com/OpenSourcePolicyCenter/webapp-public/pull/563) being merged, I updated my local master, as well as taxcalc, btax and ogusa packages, to run TaxBrain locally. However, I got the following error message:

<img width="871" alt="screen shot 2017-06-19 at 4 51 16 pm" src="https://user-images.githubusercontent.com/13324931/27305418-8ec3c5cc-550f-11e7-92c1-43073c8451f3.png

[2017-06-22 13:12] MattHJensen commented on #539
Based on the principal that upstream repos should not be responsible for testing downstream repos,   and based on the fact that taxcalc is now reporting all breaking API changes as part of our [release notes](https://github.com/open-source-economics/Tax-Calculator/blob/master/RELEASES.md), I am going to remove step 6 from phase 2.

[2017-06-23 22:20] PeterDSteinberg opened #570 "Consider "cluster-ssh" tool for redeploy.py"
Running redeploy.py on several nodes takes several terminals.  It's not too much work to cut and paste one command to each terminal, but it would be easier to have `cluster-ssh` automate so it could be run in one terminal with a list of IP addresses.

[2017-06-26 06:53] MaxGhenis opened #571 "Password is sent by email after registering with ospc.org"
After registering with ospc.org, I got a confirmation email including my username and password. Sending passwords by email is a security risk; see http://plaintextoffenders.com/faq/devs

[2017-06-28 14:26] martinholmer opened #572 "Regression on file-upload Static Results page"
Here is what I get using the new TaxBrain 0.9.0 version when uploading the `Trump2017.json` file:

![image](https://user-images.githubusercontent.com/12170745/27641908-40b731b0-5beb-11e7-82b8-d3b9aa586629.png)

The URL of that results page is http://www.ospc.org/taxbrain/14795/

The JSON file content has been stripped of all of its comments and new-line characters, so that the one-line string exte

[2017-06-28 14:30] martinholmer commented on #565
@GoFroggyRun,  What is the status of webapp-public issue #565?
Did you get any advice?  Have you been able to resolve the problem?

[2017-06-28 14:33] martinholmer commented on #557
There has been no discussion of issue #557 over the past four weeks.
So, I'm assuming this issue can be closed.

[2017-06-28 14:37] martinholmer commented on #571
@PeterDSteinberg and @brittainhard,
What's your view on this comment (#571) from a new TaxBrain user?

@MaxGhenis said:

It seems like the way things work now is not very safe.
Shouldn't this be changed?

@MattHJensen @GoFroggyRun

[2017-06-28 14:52] martinholmer opened #573 "No conda taxcalc package available for Tax-Calculator release 0.9.0?"
TaxBrain is running the 0.9.0 release, but here is what I get on my (Mac) computer:
[code]
How do I install the conda taxcalc package for 0.9.0?

@MattHJensen @PeterDSteinberg @brittainhard @GoFroggyRun

[2017-06-28 15:01] GoFroggyRun commented on #565
@martinholmer, I switched to previous environment variable setting as well as master version so that I could continue working on development and testing locally. So I am not quite updated on the status of this issue.

@brittainhard, could you advice?

[2017-06-28 15:38] martinholmer opened #574 "Better quick sample settings"
Beginning with the new `puf.csv` file used by Tax-Calculator release 0.9.0, we have found that the old quick-sample settings being used by TaxBrain are no longer very good.

The old settings were to use a random-number seed of 80 and a 0.02 (two percent) sample.
With the old `puf.csv` file that produced sample results that were within plus/minus one percent of the full sample tax revenues.

But us

[2017-06-28 15:40] talumbau commented on #565
Looks to me like you need to run migrations, since the code refers to a table that doesn't exist in your local database.

[2017-06-28 16:05] GoFroggyRun commented on #565
@talumbau thanks for your comment T.J.. I was on master branch and pretty sure all static changes were collected at that moment.

[2017-06-29 21:05] PeterDSteinberg commented on #560
@MattHJensen @brittainhard @andersonfrailey @GoFroggyRun @jdebacker Sorry it has taken me so long to comment on this issue.  I think the Release outlined plan looks good.  One thing I will add is that we should modify `policybrain-builder` so that it can release packages that are:

 * [ ] Built from the open-source-economics Github organization as it is done now or alternatively from a personal fo

[2017-06-30 15:28] MattHJensen commented on #571
We do not currently provide any additional functionality for logged in users. I suggest resolving this issue by hiding/removing the signup/login capability.

[2017-06-30 15:30] MattHJensen opened #575 "remove newsletter signup"
I also just added a drip.co signup to ospc.org. This means we should:

- [ ]  eliminate our pre-existing signup capabilities
- [ ] send all emails in our current database to edward.brown@aei.org for inclusion in the drip.co database.

[2017-06-30 18:33] PeterDSteinberg opened #576 "Ensure creation of new backend nodes can control versions installed"
We recently merged #556 that moved what was formerly the `deploy` repo to the `./deploy` folder in this webapp-public repo.  One remaining issue is to follow up on new node creation with that `./deploy` folder, ensuring that versions can be controlled for Tax-Calculator, B-Tax, and OG-USA, either from conda installs (with any anaconda.org user/label) or `setup.py` installs.

[2017-06-30 18:35] PeterDSteinberg opened #577 "Ensure heroku can control versions installed on push events"
We need to make several changes to ensure that `heroku push` events are configurable with respect to the Tax-Calculator, B-Tax, and OG-USA versions that are installed, either from conda or setup.py install.

[2017-07-02 21:34] martinholmer opened #578 "Regression in TaxBrain file upload logic"
The following message was received from TaxBrain when uploading reform and assumption files that have been successfully uploaded for many months (see the history of the `tax-calculator/file-upload-tests/README.md` file).  First the error and then the uploaded files.

![image](https://user-images.githubusercontent.com/12170745/27773585-f00ebb44-5f4a-11e7-955a-3eb84660ea00.png)

The uploaded files a

[2017-07-05 15:46] brittainhard commented on #578
@martinholmer will take a look at this sometime today.

[2017-07-05 15:57] martinholmer commented on #578
@brittainhard said:

Thanks.  Now that we have main channel version of taxcalc 0.9.0 package, I can confirm that using that package on my computer produces results without error.

[2017-07-05 15:59] martinholmer commented on #573
The fifteen taxcalc 0.9.0 packages on the dev channel have been moved to the main ospc channel, so webapp-public issue #573 has been resolved.

[2017-07-05 15:59] #573 closed

[2017-07-06 16:23] martinholmer commented on #560
@PeterDSteinberg said on Thursday, June 29th:

I agree that the Release Process described in issue #560 implies that the `policybrain-builder/build_release.sh` script needs to be revised, but the nature of the needed revisions are much different than those described above.

The current design of the `build_release.sh` script is **incompatible** with the Release Process described in #560.  The **Re

[2017-07-06 17:09] martinholmer commented on #543
What is the status of issue #543?  Haven't some of the pull request merges of the past few weeks made progress on items listed in the first comment in #543?

@brittainhard @PeterDSteinberg @jbcrail @MattHJensen

[2017-07-07 17:04] brittainhard commented on #578
@martinholmer looking at this, the source is definitely taxcalc and not webapp.

The main things I have noticed are this:

1. The error shows up regardless of what year you select for the file upload.
2. Webapp uses `run_nth_year_taxcalc_model` and then`dropq_calculate`. It does not use `TaxCalcIO` or the CLI. What would be causing the discrepancy, I don't know.
3.  In `growfactors.csv`, the max y

[2017-07-07 17:16] martinholmer commented on #578
@brittainhard said:

If that's the case, I'll be happy to fix Tax-Calculator.  But I need from you a bug report that shows the error being generated by Tax-Calculator (not TaxBrain) code.  I suggest the best way to do this is for you to create a Tax-Calculator pull request that adds a new test to the `test_dropq` file, and show that this new test fails for the same reason as TaxBrain failed in iss

[2017-07-07 18:36] martinholmer commented on #578
@brittainhard,  Just to make my view about the #578 bug clear:  I think the four things you noticed do not provide any information about the location (taxcalc vs webapp) of the fatal TaxBrain error reported in issue #578.   I do agree with you that the error could be coming from taxcalc, or it might be coming from webapp code, I don't know.  Our problem is we don't know where to look for the codin

[2017-07-07 19:30] brittainhard commented on #578
@martinholmer i'll set up a PR for that test.

[2017-07-10 22:24] MattHJensen commented on #560
A corollary to this is that webapp-public will need to set specific pins as well, rather than always targeting the latest version of every project. This should interact well with @brittainhard's suggestion to version webapp-public.

@PeterDSteinberg @jbcrail @brittainhard

[2017-07-11 17:03] MattHJensen opened #579 "Ideas for lesson plans and exercises"
Several professors have asked for example lesson plans or exercises that use OSPC web applications like [TaxBrain](www.ospc.org/taxbrain),  [the Cost of Capital Calculator](www.ospc.org/ccc), and the [Border Adjustment Calculator](www.ospc.org/bac).

For lack of a better venue at the moment, please post any ideas you have here or email me. They will be very much appreciated.

I expect lesson plans

[2017-07-12 16:51] PeterDSteinberg commented on #543
Hi @MattHJensen  - Regarding the last 2 checkboxes above:
 * Has backwards compatibility been okay over the last month from your perspective?  Any models you have run in the last month or 6 weeks that are no longer displaying results correctly?  Let's discuss backwards compatibility again when we plan the OG-USA work, such as the meeting on Friday of this week.  Backwards compatibility is less cha

[2017-07-12 16:59] PeterDSteinberg opened #580 "Django app setting that allows calling model directly rather than flask request"
Goal: Make a mocked system test harness so that webapp-public can prepare arguments and jsons as though it is going to submit them to the flask / celery system of deploy but instead calls Python function.

This will allow Django CI tests to do more of the actual functionality of the models without mocking responses of flask.  In the past that mocking has resulted in under-testing the interactions

[2017-07-12 17:54] brittainhard commented on #560
@MattHJensen +1 on versioning webapp with package specifications.

[2017-07-12 23:31] PeterDSteinberg commented on #543
#580 covers the final bullet point.

[2017-07-12 23:31] #543 closed

[2017-07-12 23:38] PeterDSteinberg opened #581 "Tracking exactly what is installed on ospc.org and when"
Related to the #560 discussion on the release process we discussed, among other things, tagging the webapp-public master commits we are releasing.  This will help better track what is installed.  We also can do the following activities to better track the exactly what we install on ospc.org and its backend workers over time.  TODO:

 * [ ] Make a google doc for internal usage where we can write do

[2017-07-13 12:00] martinholmer commented on #581
@PeterDSteinberg said:

Yes, I agree completely.  It seems to me we want a record of the releases being used by TaxBrain for the following repos: webapp-public, Tax-Calculator (taxcalc package), OG-USA (ogusa package), and B-Tax (btax package).

This information should appear in **two** places that can be viewed by the public.

First, the current release numbers should be a the bottom of the TaxBr

[2017-07-13 13:55] hdoupe commented on #581
I agree with @martinholmer that these documents should be public.  I don't think that

[code]

is too cryptic except for the "d79abf" part.  I think "Version 0.9.0" is fine.  However, while checking this out, I noticed that the link you select when you click `Version 0.9.0.d79abf - GitHub` is

`https://github.com/OpenSourcePolicyCenter/Tax-Calculator`

when I think it should be this `https://githu

[2017-07-13 14:28] martinholmer commented on #581
@hdoupe said in #581 he thought only the commit number `.d79abf` was cryptic.

I agree.  The commit number adds no extra information, it just adds potential confusion for TaxBrain users who are not knowledgeable about git and version control.

Good catch on the need to have the link be something like:
[code]
@MattHJensen @PeterDSteinberg @brittainhard @jbcrail

[2017-07-13 22:57] martinholmer commented on #578
@brittainhard said six days ago in #578:

I have the time to fix that bug now before the next release.  Can you submit a test that produces the error observed on TaxBrain?

The dropq code has complete (100%) code coverage, but it may be that the tests are not strong enough to detect the bug you believe is in the dropq code.

[2017-07-13 23:05] brittainhard commented on #578
@martinholmer My schedule is very tight right now. Currently preparing for the presentation tomorrow. I will get to it asap. Can you try to replicate this bug on your end?

[2017-07-14 01:13] MattHJensen commented on #578
@brittainhard, why don't you work on the replication w tax-calculator locally (not via webapp) after the presentation is over with. Could be valuable experience working w tax-calculator/dropq. Also, if Martin looks into this, he could also end up on a wild goose chase if the bug is actually in webapp-public.

[2017-07-14 02:36] brittainhard commented on #578
@MattHJensen sounds good.

[2017-07-14 15:28] MattHJensen commented on #579
From Dan Feenberg (@feenberg) via email

[2017-07-14 15:41] jdebacker commented on #579
As the final assignment for a master's level public finance course, I would give a project that asked:

These were the pre-TaxBrain days and so the students would have to cite JCT or others' estimates of proposals similar to theirs for items (3) and (5).  But such a project would now be much easier and exact as students could use TaxBrain to look at the revenue and distributional impacts of their

[2017-07-18 18:26] ecbrown5 opened #584 "Webapp Cleanup"
The "About" page on ospc.org needs to include Cost of Capital Calculator with logo under "Our Products."

Also on the "About" page, all three of the social media links (Twitter, Facebook,LinkedIn) are inactive.

The "Apps" link on the bottom of the home page is also inactive.

Thank you for your help!

[2017-07-18 21:28] MattHJensen commented on #584
@GoFroggyRun, could you add this to your list of issues to handle when you are back in the U.S.?

[2017-07-19 13:06] MattHJensen opened #585 "* operator not documented"
We do not currently document the * operator on www.ospc.org/taxbrain in the user tips section.

![image](https://user-images.githubusercontent.com/8301092/28367104-86280f1c-6c5d-11e7-9114-4e0aab65294c.png)

I plan to add the following (bold) bullets tomorrow. Would appreciate any improvements to the wordings. The last bullet in particular is somewhat complex. I also think there is a word that desc

[2017-07-19 13:16] martinholmer commented on #585
@MattHJensen,  TaxBrain issue #585 (with respect to the * symbol) would be a welcome addition to the TaxBrain documentation.  I think your proposed wording is fine.

[2017-07-19 19:50] hdoupe commented on #578
I tried to upload the `Clinton2016.json` reform file and received the following error:

![screen shot 2017-07-19 at 3 47 24 pm](https://user-images.githubusercontent.com/9206065/28386509-ca582460-6c99-11e7-8bf7-54c8857630d2.png)

[2017-07-19 20:27] PeterDSteinberg commented on #578
@hdoupe My first thought is to double check you have the latest reform file format.  There are changes periodically and I have in the past thought I found a bug, but then realized I was using an out-of-date version of the reforms despite appearing to be what I wanted.  Please disregard if you're sure you're on the right version.

@MattHJensen - it would be good to put standard upload tests like Cl