[2015-08-07 21:47] ospc-auto opened #3 "Refine sign in flow"
_From @MattHJensen on August 6, 2015 23:53_

There are a couple of confusing aspects of our sign in process.
1. The sign up field does not indicate that it is the source of access to TaxBrain
2. Neither the TaxBrain slide on the home page nor on the "apps" page tells you how to sign up.

Anyone notice other confusing aspects?

Notes:
- It seems wise that we merged news signup with TaxBrain signup.

[2015-08-07 21:47] ospc-auto opened #4 "Get rid of second subscription email"
_From @talumbau on August 4, 2015 3:10_

Upon successful subscription, the user gets a second "welcome to ospc.org email" which is identical to the first. They should only get a 'confirmed subscription' email.

_Copied from original issue: OpenSourcePolicyCenter/webapp#251_

[2015-08-07 21:48] ospc-auto opened #5 "Make it easier to display content from the news blog on the webapp"
_From @zrisher on July 24, 2015 14:49_

We'd like to display links to blog posts from within this webapp, but the blog posts are hosted on a separate Pelican app. We could:

* manually code these links into the html - easy, but requires dev instead of site maintenance to update
* provide a flatblock for this content - allows site maintainers to update the content, but they must get the html right

[2015-08-07 21:48] ospc-auto commented on #5
_From @talumbau on July 24, 2015 18:37_

cc @amfarrell

[2015-08-07 21:48] ospc-auto opened #6 "Updates from the field section should be hidden or should contain welcome-to-ospc post"
_From @MattHJensen on July 22, 2015 19:20_

The updates from the field section on the homepage currently shows two fake blog posts. Ideally, this section would show the welcome to ospc post that I just published, ideally centered since there is only one blog post up right now. As an alternative, we could hide this section entirely until we have two posts.

![image](https://cloud.githubusercontent.

[2015-08-07 21:48] ospc-auto commented on #6
_From @zrisher on July 24, 2015 14:49_

I submitted a hotfix for this and am opening a new issue to discuss a better long-term solution:
https://github.com/OpenSourcePolicyCenter/webapp/issues/247

[2015-08-07 21:48] ospc-auto opened #7 "broken links"
_From @MattHJensen on July 22, 2015 19:17_

- [ ] on ospc.org homepage, the "see all news" link is broken.
![image](https://cloud.githubusercontent.com/assets/8301092/8834818/a54f15be-3084-11e5-8bff-e5c2b556e1ef.png)

- [ ] On http://news.ospc.org/welcome-to-ospc.html, the "see all news" link is broken.
![image](https://cloud.githubusercontent.com/assets/8301092/8834833/bcf699e4-3084-11e5-81d8-cc5

[2015-08-07 21:48] ospc-auto opened #8 "Successful registration doesn't result in a success email"
_From @talumbau on July 21, 2015 18:21_

When you successfully register, you should get an email that includes your new password, but it turns out you just get a second email that looks just like the first one (so it doesn't include your new password).

_Copied from original issue: OpenSourcePolicyCenter/webapp#239_

[2015-08-07 21:48] ospc-auto commented on #8
_From @mistakevin on July 29, 2015 22:4_

taking this per @talumbau request

[2015-08-07 21:49] ospc-auto opened #9 "It's not always clear what user you are logged in as..."
_From @talumbau on July 21, 2015 18:20_

If you are currently logged in as a user, then you successfully register as some other user, then you go to the TaxBrain app, the user for your TaxBrain session will be logged as the original user, not the new user you just registered. So for now, if you want to use multiple user accounts, you need to use an Incognito session on your browser. A fix for this

[2015-08-07 21:49] ospc-auto opened #10 "Entering email address into box and clicking 'register' gives no indication of success"
_From @talumbau on July 21, 2015 18:14_

The user should be taken to a 'check your email' page.

_Copied from original issue: OpenSourcePolicyCenter/webapp#237_

[2015-08-07 21:49] ospc-auto commented on #10
_From @talumbau on July 21, 2015 18:19_

cc @mistakevin @amfarrell @zrisher

[2015-08-07 21:49] ospc-auto commented on #10
_From @talumbau on July 24, 2015 18:6_

LGTM. +1

[2015-08-07 21:49] ospc-auto opened #11 "Attemping to register a user (with a different username) under the same email address results in unrecoverable error"
_From @talumbau on July 21, 2015 18:12_

Here is the current error:

![screen shot 2015-07-21 at 1 11 36 pm](https://cloud.githubusercontent.com/assets/1891418/8808740/112f2534-2faa-11e5-9889-33d343cd8792.png)

We should check for a unique email address and then give the user a reasonable error in that case, allowing the user to enter a different email address.

_Copied from original issue: OpenSo

[2015-08-07 21:49] ospc-auto opened #12 "Upon registration success, the success page text is pushed too far left"
_From @talumbau on July 21, 2015 18:9_

Here is what it looks like:

![screen shot 2015-07-21 at 1 08 29 pm](https://cloud.githubusercontent.com/assets/1891418/8808681/b5808d9a-2fa9-11e5-9cf0-db4aadc275ed.png)

It should be centered or at least look like the registration confirmation page

_Copied from original issue: OpenSourcePolicyCenter/webapp#235_

[2015-08-07 21:49] ospc-auto commented on #12
_From @mistakevin on July 22, 2015 19:9_

Resolved by https://github.com/OpenSourcePolicyCenter/webapp/issues/241

[2015-08-07 21:49] ospc-auto opened #13 "OutputUrl should contain a foreign key to the User model"
_From @talumbau on July 17, 2015 13:40_

This will make it so that we can retrieve which user ran which set of parameters.

_Copied from original issue: OpenSourcePolicyCenter/webapp#231_

[2015-08-07 21:50] ospc-auto opened #14 "Broken link on inputs page"
_From @talumbau on July 17, 2015 2:4_

<img width="286" alt="screen shot 2015-07-16 at 9 02 01 pm" src="https://cloud.githubusercontent.com/assets/1891418/8739180/1ba84108-2bfe-11e5-9a46-bebe7c7c580a.png">

This link in the bottom right of the inputs page is broken. @MattHJensen do you think it should link to something? If not, maybe we should remove it...

_Copied from original issue: OpenSourceP

[2015-08-07 21:50] ospc-auto commented on #14
_From @MattHJensen on July 17, 2015 13:9_

Could we move the user back to the top of the page and open the "what is taxbrain" dropdown when they click this link?

[2015-08-07 21:50] ospc-auto opened #15 "Formatting on news.ospc.org"
_From @MattHJensen on July 6, 2015 20:21_

We will start our blog with one post, and no "other news". News.ospc.org should be formatted so that it looks good as we go from one, to two, to three (...) blog posts and no "other news". Removing the "other news" section entirely would be fine for now.

_Copied from original issue: OpenSourcePolicyCenter/webapp#226_

[2015-08-07 21:50] ospc-auto commented on #15
_From @talumbau on July 17, 2015 1:52_

@amfarrell per our convo this morning.

[2015-08-07 21:51] ospc-auto opened #16 "add password reovery and make signing up on the mailing list let you create an account"
_From @amfarrell on July 2, 2015 2:55_

There is no way for current users to recover passwords. Also, the current way that mailing-list sign-up is implemented (in the soon-to-be-merged mailchimp branch), it merely adds your email address to a database table. It does not create an account for you and thus does not let you generate budget projections. This is a proposal to fix both of these via the

[2015-08-07 21:51] ospc-auto commented on #16
_From @amfarrell on July 2, 2015 2:56_

@MattHJensen : Thoughts on this proposal?

[2015-08-07 21:51] ospc-auto commented on #16
_From @MattHJensen on July 2, 2015 17:15_

Yes, @amfarrell, this makes sense. Let me add some background and a kink:

**How we use accounts now**

We are currently waiting on the IRS to release a 2009 public use file. We are using the 2008 puf now. While we are waiting for the data update, the IRS has requested that we limit by hand who has access to TaxBrain. Currently I have been making accounts

[2015-08-07 21:51] ospc-auto commented on #16
_From @zrisher on July 8, 2015 16:49_

A few thoughts here:

**Password recovery, new account creation page**
 It does indeed seem this is accomplished by existing code, in fact it's part of [`contrib.auth`](https://docs.djangoproject.com/en/1.8/topics/auth/default/#module-django.contrib.auth.views). It looks like we could do all of the recovery and replace some of our existing views by simply inc

[2015-08-07 21:51] ospc-auto opened #17 "on results page, change AGI, Income -> Expanded Income"
_From @MattHJensen on June 25, 2015 12:51_

Once https://github.com/OpenSourcePolicyCenter/Tax-Calculator/pull/260 is merged, we need to relabel tables on the results page of the webapp.

Agi decile -> expanded income deciles
income bins -> expanded income bins

We should also add a footnote or some other documentation:

Expanded income includes adjusted gross income plus non-taxable interest inco

[2015-08-07 21:51] ospc-auto opened #18 "If you click 'submit' and have not changed anything, you get an error"
_From @talumbau on June 24, 2015 19:13_

The result should be some kind of " you can't do that" page or general error message.

_Copied from original issue: OpenSourcePolicyCenter/webapp#217_

[2015-08-07 21:51] ospc-auto commented on #18
_From @talumbau on June 24, 2015 19:13_

@MattHJensen, thoughts on what it should say?
@zrisher, thoughts on how to implement?

[2015-08-07 21:52] ospc-auto commented on #18
_From @MattHJensen on June 24, 2015 19:28_

I don't see a major problem with dealing with this on an ad hoc basis, but we may also want to think of it as part of the bigger issue of form validation, so let me say something about that:

 There are some parameter values that will generate nonsensical results, and at some point we might want to build some warnings into the webapp.

As an example, rig

[2015-08-07 21:52] ospc-auto commented on #18
_From @zrisher on June 24, 2015 19:52_

If a user runs the tax calculator without making any changes to the params, shouldn't they just get a run of the tax calc using current defaults? As a user, I would expect clicking the submit button without changing any parameters to get me to a results page where the difference between my plan and the default plan is zero for every field.

As for the field

[2015-08-07 21:52] ospc-auto commented on #18
_From @MattHJensen on June 24, 2015 20:3_

This is a good point. It would mean dealing with the divided by zero error in the table generators.

Also makes sense. I think it would make sense to include the value ranges somehow in params.json. and on the parameter object. When someone is using the taxcalc API, it could return something like, "field is outside of the acceptable range, please use a va

[2015-08-07 21:52] ospc-auto commented on #18
_From @talumbau on June 24, 2015 20:14_

Hmm.. I have the opposite opinion on the first item. I have seen a couple of people go to the app, scroll through the big list of fields they can edit, then just instinctively hit 'submit'. If we do as you suggest, we invoke our whole computational engine (which admittedly won't do much but still must be called), and then they get a whole page of 0s. The ne

[2015-08-07 21:52] ospc-auto commented on #18
_From @MattHJensen on June 24, 2015 20:21_

Ahh yes, I see your point T.J. I suppose the ideal situation would be to have a separate output page that just gives baseline information, but not the difference tables, user specified plan tables, or revenue tables. That seems like more work than is worth it right now, though.

Which takes us back to giving an error message. The scenario you describe, o

[2015-08-07 21:52] ospc-auto commented on #18
_From @zrisher on June 24, 2015 20:32_

Once we put result-caching in place there's zero extra load from a user running a plan that's already been run once.

The difference tables would be zero, but the latter tables would have useful data. But I agree it's a poor presentation in that case.

I think once params-changed counts are in, it should be pretty obvious that you're getting a page with zero

[2015-08-07 21:52] ospc-auto commented on #18
_From @zrisher on June 24, 2015 20:44_

So TLDR I agree - let's do a custom validation error on the Django side if no params are changed, at least until we can put some work into designing the output for that case. But let's also improve (or better fix) the error returned from the tax calculator for people that aren't using it through the webapp.

[2015-08-07 21:52] ospc-auto commented on #18
_From @talumbau on July 17, 2015 1:51_

@mistakevin care to take a swing at this one?

[2015-08-07 21:52] ospc-auto commented on #18
_From @talumbau on July 20, 2015 16:14_

Initial issue fixed via https://github.com/OpenSourcePolicyCenter/webapp/pull/233. leaving open so that @zrisher @MattHJensen can comment/open additional issues as necessary. will eventually close.

[2015-08-07 21:52] ospc-auto opened #19 "add docs to webapp on replicating results locally"
_From @MattHJensen on June 23, 2015 16:34_

answer: 'how can I get the same code from the web app on my local machine?'

This will interact with: https://github.com/OpenSourcePolicyCenter/Tax-Calculator/issues/284

_Copied from original issue: OpenSourcePolicyCenter/webapp#216_

[2015-08-07 21:52] ospc-auto commented on #19
_From @talumbau on July 17, 2015 1:59_

This should be a blurb that discussed how one can do `conda install -c ospc taxcalc`. Maybe a link to the getting started guide, or general info about conda.

[2015-08-07 21:52] ospc-auto opened #20 "we should remove the worker task from the Procfile"
_From @talumbau on June 9, 2015 16:57_

Now that the workload is done on AWS, there is no need for this entry.

_Copied from original issue: OpenSourcePolicyCenter/webapp#214_

[2015-08-07 21:52] ospc-auto opened #21 "OutputUrl serves no purpose"
_From @zrisher on June 8, 2015 7:57_

Right now, we save all of the input and output data for a taxcalc run in a `TaxSaveInputs` model instance. When this model receives its results from a TaxCalc run, we generate a `UniqueUrl` model instance that serves as a single point of reference for this `TaxSaveInput`. We could just as easily use the `TaxSaveInput` directly instead.

However, I believe the

[2015-08-07 21:52] ospc-auto opened #22 "Format tax law inputs with %"
_From @MattHJensen on May 19, 2015 16:49_

What do you think about formatting the relevant tax law parameters as percents on the input page for the webapp? For instance, the haircuts could be 0% to 100% rather than  0 to 1? Would this be easy to do on the webapp side? (I wouldn't want to hardcode it into params.json and functions.py.)

_Copied from original issue: OpenSourcePolicyCenter/webapp#201

[2015-08-07 21:52] ospc-auto commented on #22
_From @zrisher on May 20, 2015 13:22_

This wouldn't be too hard to implement, and really you'll want an interface ready to deal with % values eventually anyway. I can't speak for whether it would make more sense to a tax-modeler though. Seems like a nice addition for any ratio constrained from 0-1.

[2015-08-07 21:52] ospc-auto commented on #22
_From @MattHJensen on May 20, 2015 13:24_

Ok. Changing this to an enhancement.

[2015-08-07 21:53] ospc-auto opened #23 "TaxSaveInput.created_on is set outside of model"
_From @zrisher on May 14, 2015 14:28_

The new creation-date-tracking field `TaxSaveInput.created_on` is currently set in a view after the model has been populated and saved from a form. The model itself should probably take care of this logic, in case we'd like to use it in a different way and forget that this task is not directly attached.

From what I can see, there's two main ways to do this:

[2015-08-07 21:53] ospc-auto opened #24 "Results page Lorum Ipsum needs to be replaced"
_From @talumbau on May 12, 2015 18:33_

![results_page_text](https://cloud.githubusercontent.com/assets/1891418/7595233/61a76520-f8ab-11e4-9289-e5edc877bbc3.png)

I'm not sure what should actually go here. @MattHJensen, should this be changed to one or more flatbocks? Alternatively, if it is a sort of 'boilerplate' disclaimer message, do you have text you would like to be added?

_Copied from orig

[2015-08-07 21:53] ospc-auto commented on #24
_From @MattHJensen on May 12, 2015 19:34_

Let's change this to one flatblock for now.

[2015-08-07 21:53] ospc-auto opened #25 "The user should select which year's parameters he sees in the 'parameters-used' section"
_From @MattHJensen on March 3, 2015 15:26_

There should be a "for 2xxx" dropdown under the 'parameters used' section. I.e., the user should be able to select which year's parameters he sees.

This will allow us to not worry about, in the short run, how to display that someone used our cpi toggle feature or our comma-separated-param-for-different-years feature.

The simplest behavior would be to a

[2015-08-07 21:53] ospc-auto commented on #25
_From @zrisher on May 18, 2015 17:51_

Until this works, let's hide it.

[2015-08-07 21:53] ospc-auto opened #26 "PDF Breaks With Login Requirement"
_From @theofanislekkas on February 18, 2015 15:56_

The pdf functionality is not producing the desired result while the login decorators are in place.  The pdf is returning an image of a page with the login fields instead of the table & the params used.

### NOTE: The pdf functionality is still not live

_Copied from original issue: OpenSourcePolicyCenter/webapp#91_

[2015-08-07 21:54] ospc-auto opened #27 "Progress 'Bar' for taxcalc runs"
_From @theofanislekkas on February 4, 2015 19:47_

Can a default time limit be set on the progress 'bar' button after the inputs are submitted for calculation. @thisaac @bmeisinger

_Copied from original issue: OpenSourcePolicyCenter/webapp#74_

[2015-08-07 21:54] ospc-auto commented on #27
_From @bmeisinger on February 5, 2015 22:51_

Right now we're using a CSS transition for the button that can be set to any time.

[2015-08-07 21:54] ospc-auto commented on #27
_From @theofanislekkas on February 5, 2015 23:53_

@bmeisinger Ahh, great.  I think @talumbau was thinking 20 seconds for the default time.  I don't know how long the calculation currently takes (it's less than 20 though.)  Does it make sense from a UX point of view to have a longer default time for the progress effect to take place than the actual time of the calculation?  The concern is that we

[2015-08-07 21:54] ospc-auto commented on #27
_From @bmeisinger on February 6, 2015 16:53_

We think a more significant loader might be better in this instance as we don't want users to navigate away from the app. Possible a modal or a screen take over. Once you have a better idea of processing time maybe we can have a quick chat to determine what is best?

[2015-08-07 21:54] ospc-auto commented on #27
_From @theofanislekkas on February 6, 2015 17:4_

@bmeisinger That makes sense.  I'll talk with @talumbau later today and will touch base with you.

[2015-08-07 21:54] ospc-auto commented on #27
_From @zrisher on April 16, 2015 3:36_

Just thinking about how you could set this up to update progress in real time. It seems Celery jobs provide a `state` attribute, so this sounds plausible to me:

* `dropq.run_models` would report its status back to the calling job either via `yield` or a local callback, [example](http://codereview.stackexchange.com/questions/31789/is-using-yield-a-sensible-w

[2015-08-07 21:54] ospc-auto commented on #27
_From @zrisher on April 16, 2015 3:41_

With real time updates, you could say things like "Loading tax data", "Running year 1", "Preparing results", etc

[2015-08-07 21:54] ospc-auto commented on #27
_From @talumbau on July 17, 2015 1:56_

The only thing we have here is a pretty cheezy re-load page. @MattHJensen, this would be a great place for a new contributor to dig in, if they have front-end experience.

[2015-08-15 14:57] talumbau opened #29 "BUG: The webapp should report the taxcalc version from returned results"
Now that the dropq workers do all of the work, the version for dropq and taxcalc should be returned in the response, and the results page should display that version. Currently, we get the displayed version from the taxcalc version installed locally. This version may not match the version actually doing the work, and so would lead to a results page where a particular result is displayed with a ver

[2015-08-15 20:15] talumbau opened #30 "ENH: the webapp should validate taxcalc and dropq versions upon receiving work"
In the response from a worker node, the finished task should indicate versions for `dropq` and `taxcalc` used to compute the values. All work from all workers should match.

[2015-08-19 13:08] MattHJensen commented on #7
This is resolved. Closing.

[2015-08-19 13:08] #7 closed

[2015-08-20 03:02] zrisher commented on #3
It seems to me we could fix most of the problems with a few changes to the login page:

There should be a notification at the top if you've been redirected from a resource that requires authentication, i.e. "you must log in to [use taxbrain | view news]"
the login and password fields should be centered and have bottom margin equal to the top
There should be a link to the new account page
There sho

[2015-08-31 20:06] MattHJensen commented on #3
@amfarrell and @talumbau, do you have any ideas on this one? If there were a quick fix here, I think it would improve the UI quite a bit while we wait for the 2009 puf. (a couple of people have come to me confused about this).

[2015-08-31 22:02] mistakevin commented on #3
There is no single link to the account creation page. You have to go through the newsletter subscription first.

The current flow goes:
1. Enter email on homepage (for seemingly **only** the newsletter)
2. Receive confirmation email with new account activation link (mention of authorized use of taxbrain)
3. Click **unique link** in email, directs to account creation page.
4. Create an account. Sav

[2015-08-31 22:04] mistakevin commented on #8
I don't believe this is fixed

[2015-09-01 21:48] zrisher commented on #3
Yep, I like all of @mistakevin's suggestions. Newsletters and accounts have different purposes and intended audiences, even if they are linked by User.

[2015-09-02 15:57] MattHJensen commented on #3
This makes sense to me as well. We will also want the "create an account" link on the TaxBrain signin page.

[2015-09-03 17:19] talumbau commented on #3
OK great. @mistakevin it sounds like we have consensus. Blast away and post a PR when you are ready.

[2015-09-03 18:22] MattHJensen opened #32 "'edit parameters' button broken"
The 'edit parameters' button from a TaxBrain results page does not return the user to an inputs page with the modified inputs pre-filled. This used to work but does not seem to anymore.
cc @mistakevin @talumbau

[2015-09-05 19:16] MattHJensen opened #33 "Default parameter values difficult to read"
@feenberg suggested that the default values for dollar items etc. in TaxBrain are difficult to read because of low contrast.

Does anyone have any ideas for resolving this? Perhaps have default values one high-contrast color and user-modified values another high-contrast color? Actually, they could even be the same high contrast color and the only way to see something changed would be via the "def

[2015-09-05 21:53] feenberg commented on #33
On Sat, 5 Sep 2015, Matt Jensen wrote:

From feenberg@nber.org Sat Sep  5 17:51:30 2015
Date: Sat, 5 Sep 2015 17:51:28 -0400 (EDT)
From: Daniel Feenberg <feenberg@nber.org>
To: Daniel Feenberg <feenberg@nber.org>
Subject: Re: [webapp-public] Default parameter values difficult to read (#33)

On Sat, 5 Sep 2015, Matt Jensen wrote:

Italic for modified values? Typewriter font (fixed pitch)? I don't l

[2015-09-05 23:48] feenberg opened #35 "Output format"
I would also like to bring up the output format. There is a surplus of white space, resulting a need for much additional scrolling viewing online and much difficulty getting a usable printout? In Chrome I only get to "Personal Exemptions" in the printout, even in landscape mode with "Print to fit" selected. Is there some way to get more?

Similar concerns are evident if I copy and paste into a wor

[2015-09-09 18:02] MattHJensen commented on #35
[NOTE: the inclusion of `<xmp>` in the text seems to have confused github. I wrapped it in backticks ( ` ) and the formatting cleaned itself up. cc @feenberg]

[2015-09-10 16:48] MattHJensen commented on #33
@feenberg, yes I see your point to use font rather than color. @zrisher, could you chime in on this one and then implement?

[2015-09-10 17:01] MattHJensen opened #37 "Add "beta tag" to TaxBrain"
We will be removing the admonition against publishing anything with TaxBrain results shortly, but I see no reason not to leave it in "beta" for the first part of its public life.

Is the best/easiest way to accomplish this by adding a "beta" label to the taxbrain logo everywhere it appears on the home page, input page, and output page, and pdf output?

[2015-09-10 23:20] talumbau commented on #32
I think this was a consequence of keeping a lot of state out of the `session` in django. I'll defer to @mistakevin and @zrisher here, but it seemed like when we kept data in the `session`, you had the issue of going back two to TaxBrain two days later and having all of that info still in your browser, which was not good. However, if the user is at their results page, say `/taxbrain/555/` and then

[2015-09-10 23:21] talumbau commented on #26
This has been lingering for some time. Looking for help here. @zrisher @mistakevin

[2015-09-10 23:43] talumbau opened #38 "Explore submitting multiple dropq years to one node"
Currently we submit one budget year per node in our pool of AWS worker nodes, and only give a node multiple budget years if a node is down or unresponsive for some reason. We should look at the performance of using half as many nodes with two budget years per node. This task would involve starting two celery workers on each AWS node and setting the "greedy fetch" settings of celery to 'off' or ess

[2015-09-10 23:43] talumbau commented on #38
cc @PeterDSteinberg

[2015-09-10 23:51] MattHJensen commented on #38
One note is that incorporating some behavioral effects (see behavior.py in taxcalc) will require several more calculator runs per budget year. It may make sense to get this incorporated before making performance-relevant decisions.

On Sep 10, 2015, at 7:43 PM, T.J. Alumbaugh <notifications@github.com<mailto:notifications@github.com>> wrote:

cc @PeterDSteinberg<https://github.com/PeterDSteinberg>

[2015-09-11 00:48] talumbau commented on #10
this is resolved with the new registration flow.

[2015-09-11 00:48] #10 closed

[2015-09-11 00:49] talumbau commented on #9
this is resolved with recent improvements.

[2015-09-11 00:49] #9 closed

[2015-09-11 01:02] talumbau commented on #37
I think it would involve editing these images and adding the word 'Beta' in some way that is aesthetically pleasing:

[code]

These files appear to be repeated in the repo for reasons that aren't clear to me. We could create new assets for each of the 4 PNG files with the same filename but `_beta.png`. Then change all references to be the `_beta` ones until such time that we wish to remove the "Be

[2015-09-11 01:06] MattHJensen commented on #37
This sounds good to me. I'm hoping for something quick and dirty... a beta tag ought to be a makeshift thing.

[2015-09-11 01:16] talumbau commented on #20
this was resolved in the old repo, so we don't have the history, but by inspection, one can see that this entry is no longer in `Procfile` at the top of the repo.

[2015-09-11 01:16] #20 closed

[2015-09-11 01:22] talumbau commented on #12
this is resolved in master now.

[2015-09-11 01:22] #12 closed

[2015-09-11 01:29] talumbau commented on #14
there's just enough front end magic here that I think I should hand this off. The idea is that a click should:

- move to the top of the page
- toggle the 'What is TaxBrain' div defined in `input_form.html`.

cc @mistakevin @zrisher

[2015-09-11 01:38] talumbau commented on #19
@MattHJensen, this might be just the text to put in the footer, now that we have a flat-block for the footer in #39. Do you think that's a reasonable place to put such a blurb?

[2015-09-11 01:46] talumbau commented on #4
this remains an issue.

[2015-09-11 01:50] talumbau opened #40 "Broken links on news.ospc.org"
<img width="1019" alt="screen shot 2015-09-10 at 8 48 04 pm" src="https://cloud.githubusercontent.com/assets/1891418/9805325/73e42c1c-57fd-11e5-8bae-b7777ccbbc6b.png">

The "Apps", "About" and "News" links are all broken and should point to `www.ospc.org/link` rather than `news.ospc.org/link`.

[2015-09-11 01:52] talumbau commented on #6
this is now resolved. The News section no longer features "Updates from the field".

[2015-09-11 01:52] #6 closed

[2015-09-11 01:54] talumbau commented on #8
this is a duplicate of https://github.com/OpenSourcePolicyCenter/webapp-public/issues/4

[2015-09-11 01:54] #8 closed

[2015-09-11 02:06] talumbau opened #41 "When the '09 PUF is added to TaxBrain, users may use it anonymously"
You should still be able to register, but generated results would get an "anonymous" entry in the user ID instead of the currently logged in user. The `taxbrain` view would not be "permission required".

[2015-09-11 13:38] talumbau commented on #37
@MattHJensen sounds like this would be a fast thing to do. Do you want the "Beta" in parentheses or brackets or anything like that?

-T.J.

[2015-09-11 13:49] MattHJensen commented on #37
I'll defer to the designers (or to you if you have a preference).

[2015-09-11 13:50] MattHJensen commented on #15
I believe this one is resolved. @talumbau, I'll let you close it if you agree.

[2015-09-11 13:52] talumbau commented on #15
agreed.

[2015-09-11 13:52] #15 closed

[2015-09-13 01:44] talumbau commented on #37
closed via #42

[2015-09-13 01:44] #37 closed

[2015-09-14 23:08] zrisher commented on #33
In my mind, using anything besides a grey color to indicate placeholder text would be obscure. I'm having trouble finding a definitive source of UX best practice on this, but looking at major public internet sites I see the same approach everywhere - grey text, no text styling:

* https://www.google.com/preferences?hl=en#location - location box
* https://www.yahoo.com/ - quotes, scores, featured v

[2015-09-14 23:20] zrisher opened #44 "The ""

[2015-09-14 23:21] zrisher opened #45 "The "print button" on the results page should either work or be removed."

[2015-09-14 23:21] #44 closed

[2015-09-14 23:34] zrisher commented on #35
I think a couple things are missing here that would really improve the situation for this use case: both the PDF export and Print format buttons are broken. We have issues open for each of those (#26, #45), and I think they would be the best places to optimize printability and page-fit.

That said, there is a ton of padding on this page, possibly more than is useful given the amount of data we hav

[2015-09-15 11:19] feenberg commented on #35
On Mon, 14 Sep 2015, zrisher wrote:

Even less than 5 px would be fine with me.

I notice that the cell values are still low-contrast, while the labels are
high-contrast. I don't understand the purpose for that distinction.
Everything should be easily read.

I also notice that the horizontal spacing is still excessive, and prevents
the tables from being printed usefully. On my monitor, the tables

[2015-09-15 13:24] talumbau commented on #24
closed via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/39

[2015-09-15 13:24] #24 closed

[2015-09-15 13:25] talumbau commented on #17
closed via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/39

[2015-09-15 13:25] #17 closed

[2015-09-15 13:30] talumbau commented on #30
closed via #43

[2015-09-15 13:31] #30 closed

[2015-09-15 13:33] talumbau commented on #29
the webapp now imports `taxcalc` and `dropq`, then optionally validates the versions of `taxcalc` and `dropq` from the remote workers. Once we turn strict enforcement on, it will be impossible to get results that come from a different version of `taxcalc` than what is reported.

[2015-09-15 13:33] #29 closed

[2015-09-15 14:31] MattHJensen commented on #35
Not sure how helpful these comments are going to be because I'm just going to agree with everything that has been said, but here goes...

high-contrast. I don't understand the purpose for that distinction.
Everything should be easily read.

Agreed.

the tables from being printed usefully. On my monitor, the tables are cut
off at the 5th column, hardly a third through the table.

Agreed.

impressio

[2015-09-15 14:59] MattHJensen commented on #33
@zrisher, I believe the examples that you offer are not exact analogues to our input page.

In the examples you gave, the placeholders tell you what to do or what type of text goes into the field:

Google - "street address, zip code, city and state, county"
Facebook - "Search Facebook"
etc.

Whereas in our case the placeholder text actually displays default values, and you have the option to overw

[2015-09-15 15:35] Amy-Xu opened #46 "Experiments with webapp"
To identify potential bizarre behaviors in webapp, I'm planning to do some experiments for each parameter in TaxBrain following these categories of value range:

- theoretical reasonable range
- extremely large values
- negative values
- other corner cases

I'll list the results in this issue and keep updating as I go. I'm thinking to do it this way.

If the webapp's able to generate a result tabl

[2015-09-15 15:51] MattHJensen commented on #46
@amy-xu, overall this seems great and very well thought out. One note: do you think it would make sense to start with the 'reasonable' range, so we can know whether errors are arising from corner-case issues or are something more basic? For example, when I raise Max Taxable Earnings for Social Security by just $2000 above the default value, I get a key error, so it doesn't seem this is stemming fr

[2015-09-15 18:35] talumbau commented on #3
OK, to clarify these "user stories" are what is desired:

1. Go to ospc.org, put email address in box, click "Sign Up!", Get email confirmation that you have signed up. Done.

2. Go to ospc.org, click "Register" button in upper right. Go to Register page. Put in email address, username, name, password, Click Register. Get email confirming registration, with unique link URL that must be clicked to

[2015-09-15 18:37] talumbau commented on #32
@zrisher is it likely you could tackle this by the end of September?

[2015-09-15 18:54] talumbau commented on #18
The immediate issue (no changes results in error) has been resolved and the follow-up conversation on inputs is better addressed in https://github.com/OpenSourcePolicyCenter/webapp-public/issues/46. Closing this one.

[2015-09-15 18:54] #18 closed

[2015-09-15 19:33] Amy-Xu commented on #46
@MattHJensen I'll definitely start with the reasonable range. At this moment, at least this key error should be a bug in the webapp. @talumbau In addition to the parameters I added to the list, I also found for the haircut parameters, if I put decimals between 0 and 1, which should be the right range, it always gives me the key error. But if I give it an integer, like 2, even though this doesn't m

[2015-09-15 19:44] MattHJensen commented on #46
@Amy-Xu, it seems like this key error is a pretty pervasive bug -- if you keep hunting for bugs, I'm afraid you will keep finding this one over and over. Why don't you turn to something else for a while during which others can track this one down.

[2015-09-15 20:37] talumbau commented on #46
Couple of things here for @Amy-Xu and @MattHJensen :

There are definitely values of inputs that cause the calculations in `dropq` to fail. One example that we currently protect against in "no changes", which is the same thing as an empty "user_mods" dictionary. This inevitably leads to some columns of all zeros in the `dropq` calculation, which likely causes some pandas operation to fail, which r

[2015-09-16 12:55] talumbau commented on #14
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/47

[2015-09-16 12:55] #14 closed

[2015-09-16 13:23] talumbau opened #48 "What should happen when the user clicks the "Share" link on the results page?"
Currently, nothing happens. We should either remove it or implement some useful feature.

[2015-09-16 13:29] talumbau commented on #45
This is probably what should happen for "Print" as well as "Save to PDF":

http://stackoverflow.com/questions/1377446/render-html-to-pdf-in-django-site

The LOE on this is likely not small.

[2015-09-16 13:59] Amy-Xu commented on #46
Thank you T.J. @talumbau for the suggestions. Will give it a try shortly!

[2015-09-16 14:33] talumbau commented on #32
I have an idea here. By definition,"editing parameters" means that you have some pre-existing set of parameters that you have tried. This means that we can create some view like `/edit/{unique_id}/` to take you to. It will render just like the `/taxbrain`view, but will pre-populate based on the values in the database, bypassing all the weirdness of taking stuff out of the session. I think this is

[2015-09-17 19:51] Amy-Xu commented on #46
@talumbau I tried using latest drop Q and taxcalc for testing. A quick update is almost all the key errors I have gotten so far are due to [this line](https://github.com/OpenSourcePolicyCenter/dropQ/blob/master/dropq/utils.py#L90) here. Intuitionally, because those experiments barely generated any difference in tax revenue, so the `wsum` variable was rounded to zero. As we use this variable as a d

[2015-09-22 04:06] talumbau commented on #32
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/49

[2015-09-23 03:38] #40 closed

[2015-09-23 17:45] talumbau commented on #46
@Amy-Xu @MattHJensen now that https://github.com/OpenSourcePolicyCenter/dropQ/pull/22 is merged, do you want to close this issue and open for additional errors that come up? The reason for doing that would be that with Amy's change, we have killed a huge portion of the potential error cases, and I think additional ones would be special edge cases, whereas the original problem was that any inputs t

[2015-09-23 17:51] zrisher opened #52 "We should apply the validations specified in params.json to taxsaveinputs fields"
Per https://github.com/OpenSourcePolicyCenter/Tax-Calculator/issues/331

We'd like to do this both for form POST (server-side) and via javascript (client-side).

[2015-09-23 17:53] Amy-Xu commented on #46
That sounds good to me! And each issue would just be for one specific error/case.

[2015-09-23 18:01] MattHJensen commented on #46
Makes sense to me too. Closing.

[2015-09-23 18:01] #46 closed

[2015-09-23 22:19] PeterDSteinberg opened #54 "Wider text boxes on /register"
If one has a long email address, it is not immediately apparent that his/her username by default is only the email label, not the full email address.  If we widen these text boxes on /register for username and password, etc, then it should be more apparent what the username is.

[2015-09-25 22:25] talumbau commented on #19
@MattHJensen This is the blurb I came up with for the results footer. Let me know if you want to go with this for the next release or if you prefer a different blurb. OSPC.org still has the lorum ipsum in the results footer, so this text would replace that

<img width="1094" alt="screen shot 2015-09-25 at 5 23 03 pm" src="https://cloud.githubusercontent.com/assets/1891418/10113465/4a91e922-63aa-11

[2015-09-29 17:56] MattHJensen commented on #35
@feenberg, @Amy-Xu, and I were discussing our output tables yesterday. We realized that our output can be boiled down to three types of tables with several different combinatorial dimensions for each type; that realization inspired some thoughts on how to make our output more digestible.

First, the three types of tables are

1. Revenue table.
![image](https://cloud.githubusercontent.com/assets/83

[2015-09-30 02:46] zrisher commented on #35
Re: hiding table columns - yes I think this is pretty feasible using `display: none` and jquery's `.hide()` function.

Re: approach - yes please design the new tables as an extension of the current table interface if possible, or if it's in need of full rewriting let's design it to be somewhat forward-thinking. Also, napkin sketches of the new tables and where the various toggling buttons go on th

[2015-09-30 20:00] MattHJensen opened #56 "news displayed improperly on about page"
![image](https://cloud.githubusercontent.com/assets/8301092/10204877/3917e7f6-678c-11e5-8e02-e3d1e5795f61.png)

This should look like the home page.

cc @talumbau

[2015-09-30 20:01] MattHJensen opened #57 "link broken on about page"
The "learn more about taxbrain" link is broken
![image](https://cloud.githubusercontent.com/assets/8301092/10204938/8108361a-678c-11e5-86ba-02aefd2febf7.png)
It should probably go to ospc.org/taxbrain

[2015-09-30 20:17] MattHJensen commented on #19
This looks good to me and then I might tinker before the 10/13 release.

[2015-09-30 22:31] martinholmer commented on #19
@MattHJensen and @talumbau,
Are the "pre-built packages" going to include the 2009 PUF file as used by the TaxBrain webapp?  If not, isn't the phrase "want to run this code on your machine?" a little misleading?  I think most people would read that phrase as "want to run this analysis on your machine?".  I know that is not what it says --- "code" is not "analysis", but I think more than a few peop

[2015-10-02 12:03] MattHJensen commented on #19
What if we drop the header? Actually, I had initially viewed this footer as a place to put some methodological footnotes for the tables; particularly a discussion of our expanded income measure and a discussion of calendar year vs. fiscal year. I could add those above the content starting "these results were generated...."  if we didn't have the header.

[2015-10-05 17:51] MattHJensen commented on #32
@talumbau, this is not working on https://ospc-taxes5.herokuapp.com/taxbrain/.

[2015-10-05 17:58] MattHJensen commented on #32
From looking at #49, it seems like the "edit parameters" button on the results page might just need to be linked to the new view.

[2015-10-05 18:08] MattHJensen commented on #52
@talumbau, @zrisher, I'm not getting the server-side validation on https://ospc-taxes5.herokuapp.com/taxbrain/. Could you check?

[2015-10-06 06:54] talumbau commented on #52
Apologies. The test site was not updated for webapp-public master. It is
now. The internet where I am is abysmal. Will try to stay in touch. Please
update on whether the issue is now resolved.

On Mon, Oct 5, 2015 at 7:08 PM, Matt Jensen <notifications@github.com>
wrote:

[2015-10-06 20:07] talumbau commented on #52
@MattHJensen I just did the Django migrations on ospc-taxes5. I ran a policy to the output page, then edited it with the Edit Parameters button, then changed the values to something not allowed, saw the error message, then changed the values to all allowed values and ran to the output page. Let me know if this works for you. thanks!

[2015-10-06 21:00] MattHJensen commented on #52
Looks great.

[2015-10-07 15:13] MattHJensen commented on #32
This is working now. When I click "edit parameters" I see the changes I had made as dark black values rather than the lighter values:

![image](https://cloud.githubusercontent.com/assets/8301092/10341825/5c22612e-6ce4-11e5-89e7-656064baae62.png)

Is it easy to make it display the "default value" underneath as well when the user returns to the page via the "edit parameters" button? I have to click

[2015-10-07 18:00] MattHJensen opened #59 "new subsection under itemized deductions."
We should add a new "Surtax on Itemized Deduction Benefits above an AGI Threshold" subsection in the itemized deductions section on the TaxBrain input page that takes advantage of the new features that @amy-xu added in https://github.com/OpenSourcePolicyCenter/Tax-Calculator/pull/361.

This should be slipped under the itemized deduction limitation subsection like this:

![image](https://cloud.gith

[2015-10-07 18:58] MattHJensen commented on #33
@zrisher and @feenberg, does this make sense to you for the input page?

@zrisher, would this be difficult to implement?

[2015-10-09 06:07] zrisher commented on #33
No, this wouldn't be difficult to implement. A few simple CSS rules with a standard selector.

As for if I believe it makes sense, in general with usability decisions I try to defer to user studies as much as possible, and in a case such as this where we don't have user studies I would defer to the practices of other websites that do have significant user studies (which has the added bonus of brin

[2015-10-09 15:35] feenberg commented on #33
On Thu, 8 Oct 2015, zrisher wrote:

I don't think of it as "placeholder text" - the default values are
important information and therefore should be readable. The use of gray
text such "Last name"  in a name box is not really comparable since that
is not acceptable input, whereas our default is actual input unless
modified. Of course we need to show which values are modified, for which
italic migh

[2015-10-09 19:07] MattHJensen opened #60 "new 'payroll tax' section"
- [x] We should add a new payroll tax section to the input page.
    -     Subsections would be Social Security FICA, Medicare FICA, and Additional Medicare FICA (see image below).
- [x] We should rename the "Social Security and Medicare" section to "Social Security Taxability"
- [x] We should remove the max taxable earnings for social security param from the Social Security Taxability section sin

[2015-10-09 20:42] mistakevin commented on #59
@MattHJensen How can setup my taxcalc to use the latest master from github?

[2015-10-09 20:51] MattHJensen commented on #59
@mistakevin I believe you need to use the latest data file. I just sent you an email with a link.

[2015-10-09 20:54] zrisher commented on #33
I guess I tend to think of the term "placeholder text" in the technical sense - literally anything that shows up in a box before you type something - just because that's the html attribute name. My examples were for things that made use of this html attribute in any way, not only where it represented throw-away data. But regardless, @feenberg is reminding me that I'm pretty far removed from the ex

[2015-10-12 13:19] MattHJensen opened #61 "New economic baseline section."
There should be a new section on the TaxBrain input page that gives the users access to the economic growth rate work that @Amy-Xu is conducting in #383 (previously #368). I'm hoping that @PeterDSteinberg or @talumbau take this one.

![image](https://cloud.githubusercontent.com/assets/8301092/10428679/2ca45a16-70c1-11e5-94da-d231a48ba32b.png)

This feature is a bit different than others because th

[2015-10-12 15:49] MattHJensen opened #62 "output tables take advantage of payroll taxes"
We can now calculate payroll taxes. For our tables to take advantage of this we should make some modifications:

Revenue table:
- [x] header -> Total Liabilities Change by Calendar Year
- [x] the total revenue row should be relabelled "Individual Income Tax Liability Change"
- [x] a new row should be labelled "Payroll Tax Liability Change"
- [x] a new row should be labelled "Combined Payroll and I

[2015-10-12 21:36] talumbau commented on #61
So, there would be two radio button sections? One with the title "Deviation from CBO..." and then some choices, and then another with the title "Replacement for... " and then choices. Is that correct? Is the initial state of each radio button "unselected" for both? What should happen if a selection is made in both radio button areas?

[2015-10-12 21:38] MattHJensen commented on #61
Yes.

The initial selection should be "Deviation from CBO" and the default value will be 0, so there will be no deviation from CBO.

If someone clicks the other radio button, it should automatically unselect the Deviation from CBO radio button and vice versa.

[2015-10-12 21:41] talumbau commented on #61
OK, got it.

SOS @mistakevin is the above a quick surgical strike for you?

[2015-10-12 21:42] MattHJensen commented on #61
(just to clarify, the displayed names of the parameters and all other meta data should com from the attributes in current_law_policy.json as with the other fields on the input page. )

[2015-10-13 21:28] talumbau commented on #61
@MattHJensen I think everything is clear here now except for how to populate the radio button choices. `growth.json` from @Amy-Xu 's PR https://github.com/OpenSourcePolicyCenter/Tax-Calculator/pull/383 shows the `_factor_adjustment` and `_factor_target` at 0.0 for both. Should we set constants in this repo for the radio button choices - e.g. 1% above CBO, 2% above CBO, 1% below CBO, 2% below CBO f

[2015-10-13 22:17] MattHJensen commented on #61
Actually I think we're not on the same page w the radio buttons. I anticipate just two selections: one choice is _factor_target and one choice is _factor_adjustment. The user uses text boxes to enter values, just like other params.

[2015-10-14 01:14] talumbau commented on #61
OK. I think I got it now. So something like this:

<img width="534" alt="screen shot 2015-10-13 at 6 12 29 pm" src="https://cloud.githubusercontent.com/assets/1891418/10470875/0ff8b75c-71d6-11e5-8bb5-e503491faf3e.png">

except with a text box next to each radio button populated with the default values for _factor_adjustment and _factor_growth.

Correct?

[2015-10-14 01:15] MattHJensen commented on #61
That's right. And the 'information i' pulling in the description attribute.

[2015-10-14 14:53] MattHJensen opened #64 "news text: gray -> black"
Could we make the default text color for news postings black?
I think this is a bit hard to read: http://news.ospc.org/welcome-to-ospc.html

[2015-10-14 18:31] MattHJensen commented on #60
@talumbau @mistakevin, we should either do what is above or the following before we bump versions tomorrow. Here would be the alternative:

- [ ] Remove Additional Medicare from the other taxes section completely,
- [ ] Remove the max taxable earnings for social security from the Social Security and Medicare section
- [ ] Rename the Social Security and Medicare section to Social Security taxabilit

[2015-10-16 18:58] MattHJensen opened #69 "Social security taxability CPI flags are broken"
The social security taxability thresholds are not cpi inflated under current law, which is properly accounted for in current_law_policy.json, but the flags are shown as True on the webapp input page.

![image](https://cloud.githubusercontent.com/assets/8301092/10550645/11a3dea0-7416-11e5-8c3c-d16dfdec0b74.png)

HT @viard.

[2015-10-16 19:08] #59 closed

[2015-10-16 19:21] MattHJensen commented on #35
@zrisher, here you go. I envision these being placed over the tables, and we'd set a default selection. What do you think.

![image](https://cloud.githubusercontent.com/assets/8301092/10551168/7524fb82-7419-11e5-987f-dadf7b94a218.png)

[2015-10-17 15:56] MattHJensen opened #70 "www.ospc.org/ prepended to links from flatblocks"
In the tax-brain-get-started-blurb flatblock I added hyperlinks to various Github.org sites. When I click on the content of this flatblock from ospc.org/taxbrain, however, it doesn't do anything and apparently prepends www.ospc.org to the URL. Is this a problem with how I wrote the links into the flatblock, or is it an issue with webapp?

`
<a href = 'www.github.com/opensourcepolicycenter/taxdata'

[2015-10-17 17:07] MattHJensen opened #71 "on homepage, "from the lab is off centered""
![image](https://cloud.githubusercontent.com/assets/8301092/10560142/e973b99a-74cf-11e5-9857-11068b679912.png)

cc @talumbau, @mistakevin, @zrisher

[2015-10-17 17:10] MattHJensen commented on #61
Resolved and closing.

[2015-10-17 17:10] #61 closed

[2015-10-19 02:06] MattHJensen opened #72 "allow users to set start-year to 2013"
If users could set the start year to 2013 on TaxBrain, it would greatly increase their ability to assess the model for themselves, which we are asking that they do. The reason is that they could compare the results to the IRS Statistics of Income Division [2013 tables](https://www.irs.gov/uac/SOI-Tax-Stats-Individual-Income-Tax-Returns-Publication-1304-(Complete-Report)).

I view this as a high-pr

[2015-10-19 02:14] jdebacker opened #73 "Non-weighted output tables, "All" row missing results"
In the results tables that aren't the weighted averages, the bottom row (corresponding to all filers) appears to be missing results for the following three columns:
1) Average Tax Change
2) Percent with a Tax Increase
3) Percent with a Tax Decrease

[2015-10-19 02:16] jdebacker opened #74 "Total Revenue Change by Calendar Year results table - add 5 and 10 year windows"
Consider adding the totals for the 10 year budget window (and perhaps the first 5 years also) to correspond to the way such results are presented in reports by places like JCT, CBO, and Treasury.

[2015-10-19 02:18] jdebacker opened #75 "Notification that tax calculator is running"
Place this notification in the center of the user's screen so she doesn't miss it.  It would be very slick to have a gif with the TaxBrain cogs moving with this message as well.

[2015-10-19 02:21] jdebacker opened #76 "Include graphs in the Tax Brain results"
Consider presenting some graphs to summarize results.

One suggestion is to have the 10 year numbers headline (as they do), next display some graphs, then include the detailed tables currently shown.

Graphs might be the percent change in taxes (or dollar change in taxes per filer) by decile/income group (e.g. as a bar graph), a histogram of the dollar or percent changes over finer bins of percent

[2015-10-19 02:22] jdebacker opened #77 "Units for income pins in results tables"
Note the units for the rows in the table of results by "Expanded Income Bin".

[2015-10-19 02:24] jdebacker opened #78 "Restore parameters to default/baseline values"
On the TaxBrain user input screen, consider offering a button for each section of parameters to "restore to baseline values".  While the default is the baseline, if the user write over these, she must remember the default value if she wishes to restore them (or refresh the entire page, which would wipe out all other changes in the parameters).

[2015-10-19 02:25] jdebacker opened #79 "Add another "Get Results" button"
Have a "Get Results" button in-line with the parameters side of the screen as well.  In this way, when the user gets to the bottom of the set of parameters, it's obvious that everything has been set and running the model is next (as opposed to this button being off to the side only).

[2015-10-19 02:31] jdebacker opened #80 "Separating revenue effects of changes to multiple tax parameters"
At some point, users will want to see revenue effects of the entire proposal separately by the various changes in tax policy.  Some thought should be given to how this might be done.

Obviously things get more difficult to present as stacking order is important.  Are there obvious ways to stack various policies (e.g. you probably want to stack rate changes first)?  Perhaps once a default stacking

[2015-10-19 14:17] talumbau commented on #78
If the user clears all input from a text box, this is the same as "use the default value". Does that handle the use case you are referring to? If yes, perhaps we should say that explicitly in the instructions.

[2015-10-19 14:40] jdebacker commented on #78
@talumbau yes, that is the functionality I was looking for.  I think that is intuitive, but until trying it just now, I didn't see the defaults restored when deleting other values that were entered.  Maybe I missed something, but with what I see now I don't think you need any further explanation and I think we can close this issue.

[2015-10-19 15:25] jdebacker commented on #78
@talumbau One more thought - I guess the type of button I was suggesting would still have at least one advantage over what is done now-  that is the case of the user changing a number of related parameters (e.g. all the AMT Extension parameters), but then deciding to undo those changes.  It may be useful to have a single button to undo all those changes rather than having to delete the values from

[2015-10-19 15:31] talumbau commented on #70
@MattHJensen I think you want:

[code]

So pre-pending the `www` with a double forward slash `//`. An example of doing this is here:

https://github.com/OpenSourcePolicyCenter/blog-posts/commit/c04d4a97828ddc1b1e61fbda5f1416b7168b1096

This will properly direct to either http or https depending on how the page is currently loaded.

[2015-10-19 15:34] talumbau commented on #56
Just looking at this now. What should this section look like? Should there be this "What People are Saying" section? If yes, I guess it would have to pull content from news.ospc.org. That's a bit more involved. To me, it's still a useful page even w/o this "What People are Saying" section.

[2015-10-19 17:33] MattHJensen commented on #70
@talumbau, this is an improvement, and I made the change to the live site so you can check it out. Now if I right click and select "open link in new tab", it will take me to the right place. But if I left click on the link still nothing happens.

[2015-10-19 18:32] MattHJensen commented on #56
The analagous section on the home page looks like this ("updates from the field" rather than "what people are saying".):

![image](https://cloud.githubusercontent.com/assets/8301092/10587130/bfa7472c-766d-11e5-995d-6b7d12778858.png)

I remember that @zrisher (i think) had to link manually to get the welcome to ospc post to show, however, and obviously that hasn't been done for the new TaxBrain is

[2015-10-20 13:18] talumbau commented on #70
This is true of the other link in the text as well. Interesting. I wonder if this is a JS thing. Perhaps @zrisher could chime in.

[2015-10-20 13:27] talumbau commented on #72
I suppose we could offer a drop down with the options of 2013, 2014, 2015, and 2016. However, the default values would have to re-populate with the defaults for the selected year, correct? To do this in the browser would require some additional front end work. @zrisher @mistakevin. An alternative would be to put a button next to the drop-down that says "Reset Defaults to Year: ", and then the user

[2015-10-20 14:20] talumbau commented on #62
In order to add these rows, I need to know the calculation to do. For the current single row in this table, we do the calculation here:

https://github.com/OpenSourcePolicyCenter/dropQ/blob/master/dropq/dropq.py#L122

which looks like this:
[code]

so just the difference in tax between the two plans for each record weighted by `s006` and then summed. What is the correct calculation for the "Payrol

[2015-10-20 14:42] Amy-Xu commented on #62
@talumbau Yep I saw that line. The other two rows would be calculated in the same way but replacing `_ospctax` with `_payroll` and `_combined` respectively. It's not difficult to add those calculations in `dropq.py`, but I was hesitant because I realized in the `helper.py` this table's if-loops need to be replaced by a for loop. I don't think I want to do that without being able to test it on my c

[2015-10-20 14:53] talumbau commented on #62
OK, I understand what you are saying in regards to using `_payroll` and `_combined` to do the calculation for the two new rows. If you want to put the PR up on dropq that does this calculation that's fine, but if not, I will put it up soon and ask for your review. Thanks for that info!

Regarding the other part, I am not certain I understand what you are saying. Let me know if this is correct: in

[2015-10-20 15:04] Amy-Xu commented on #62
@talumbau Sorry let me clarify it a bit more. Yes, you're definitely right on the snippet you pasted here. What I meant is, in addition to that snippet, I thought we also need to change how this fiscal_tots table is processed in this section of the same file:

[code]

It seems to me this section of code processes one row instead of three rows. Maybe I'm just confusing myself. Could you take a look

[2015-10-20 16:53] talumbau commented on #60
@MattHJensen in your figure above, I think you wanted "_SS_Earnings_c" instead of what you have written ("_SS_Income_c"), correct? Reference:

https://github.com/OpenSourcePolicyCenter/Tax-Calculator/blob/master/taxcalc/current_law_policy.json#L435

[2015-10-20 16:54] MattHJensen commented on #60
Ahh, yes, thanks @talumbau

[2015-10-20 18:24] talumbau commented on #62
@Amy-Xu, in looking through your PR here:

https://github.com/open-source-economics/Tax-Calculator/pull/392/files

I'm wondering if, in the above text, you meant to say "`_fica`", instead of "`_payroll`" to indicate the column on which to do the calculations for the row called "Payroll Tax Liability Change". If you did actually mean to say "`_payroll`", then I'm having a hard time understanding wh

[2015-10-20 18:31] Amy-Xu commented on #62
@talumbau Sorry about the confusion. Yes, I meant `_fica` instead of `_payroll`.

[2015-10-20 21:17] Amy-Xu commented on #35
It seems to me this issue needs a bit more thinking on the webapp than tax-calculator itself, even though the table-generators do need expansion on functionality.

Purely from the perspective of generating these tables, we've already had most things we need from Tax-Calculator. If I understand @MattHJensen's sketch correctly, there are four independent groups of radio buttons and each group has th

[2015-10-20 21:27] MattHJensen commented on #35
@zrisher, could you make a big push on output tables and try to get as much of the feedback from this issue into next Thursday's release? Is that a reasonable time table? @Amy-Xu and @talumbau would be able to work with you to get whatever you need into tax-calculator and drop q.

I see those todos as the following, but it is worth looking over the whole discussion again.
1. generalize into three

[2015-10-22 16:03] zrisher commented on #70
There's definitely a JS error bubbling up from code that's meant to run on links in the submission form. I'll take a look at get a fix together as soon as I can.

[2015-10-22 16:13] zrisher commented on #35
@MattHJensen Yes I can definitely work on this this weekend and early next week. I'm on vacation Wed-Fri for a wedding though. If the tables are readily available I think we should be able to get a working version together.

Re: the data flow, since we're designing an API my feeling is that the data returned from the API should be in the format that makes the most sense to most consumers. So if mo

[2015-10-22 21:43] talumbau commented on #60
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/81

[2015-10-22 21:43] #60 closed

[2015-10-23 13:57] MattHJensen opened #83 "Economic growth parameters not working"
A user said:

Upon testing, I find neither economic growth parameter changes results.

@talumbau, my preference would be to fix this before the next release, but if that isn't possible then we should hide or disable ('coming soon') the fields.

[2015-10-23 14:02] MattHJensen commented on #83
At first I thought this was because the radio button doesn't get selected automatically when you enter a new number, and so the user needed to select the radio button automatically. But it turns out that the problem exists with and without selecting the radio button.

[2015-10-23 14:02] talumbau commented on #83
Did the user click the radio button next to growth parameter? Which growth parameter was chosen so I can attempt to reproduce? If the radio button is not selected for one of the growth parameters, the value is ignored. What was the ID of the processed result?

[2015-10-23 14:04] MattHJensen commented on #83
I'll generate a few examples, but so far it has been impossible for me to get the results to change with any usage of either of the economic baseline parameters (change one by itself; pair it with a different policy change; select radio button; don't select radio button). IDs coming soon.

[2015-10-23 14:10] talumbau commented on #83
Hmm.. I just ran locally for three budget years starting in 2015 with `user_mods` as follows:

[code]

this produces no revenue change. Is there a notebook or a code snippet of a PlanX/PlanY calculation with taxcalc that shows using either `_factor_adjustment` or `_factor_target` that produces a revenue change. If I had such a script, I could start there and successively add steps to the calculati

[2015-10-23 14:10] MattHJensen commented on #83
http://www.ospc.org/taxbrain/540/  Personal exemption == 8000
http://www.ospc.org/taxbrain/539/ Personal exemption == 8000, CBO replacement growth = 0.06
http://www.ospc.org/taxbrain/541/ Personal exemption == 8000, Deviation from CBO baseline = .1

All results exactly the same.

[2015-10-23 14:11] MattHJensen commented on #83
@Amy-Xu, could you post a script here for this:
https://github.com/OpenSourcePolicyCenter/webapp-public/issues/83#issuecomment-150583535

[2015-10-23 14:20] talumbau commented on #83
If the proper way to handle the specification of `_factor_target` and `_factor_adjustment` is to create `Growth` objects as is done in:

https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tests/test_growth.py

could @Amy-Xu or other knowledgeable party advise on if/how this should be done in dropq?

[2015-10-23 15:01] Amy-Xu commented on #83
@talumbau I'm looking into the problem right now. Want to make sure you're using `{2015: {'_factor_adjustment': [[0.01]]}}`, which has double square brackets around 0.01 right? Don't have a complete answer at this point yet. The baseline from OSPC master doesn't look quiet right and some other surtax handle is not working properly either. But in my notebook, there's indeed a difference between zer

[2015-10-23 15:22] Amy-Xu commented on #83
@talumbau Here's the script I used for local testing, which is basically the same as `test_growth.py`. And I do see some difference for both `_factor_target` and `_factor_adjustment`.

[code]

[2015-10-23 15:25] talumbau commented on #83
Well, there are no `Growth` objects created in dropq, so these kinds of calculations are not done on the web app. Can you show me code such that, if someone hands you an arbitrary reform dictionary, you would either create or not create the `Growth` object and do the calculation? For example, if the arbitrary reform dictionary is called `reform`, would you have code like this:

[code]

Is that the

[2015-10-23 15:49] Amy-Xu commented on #83
@talumbau Generally yes.

- If these two parameters were updated to Policy object, nothing would be changed. They should be a part of the Growth object.

- Correct me if I understand [this line](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/calculate.py#L48) wrong: I thought this meant all calculator would have a default form of Growth object. So the logic would look

[2015-10-23 15:59] talumbau commented on #83
yes, you are right about the default Growth object built when a Calculator object is constructed. So, in that sense, we do build Growth objects in dropq. However, in order to get the desired behavior, it looks like we would have to look inside the reform dictionary, look for the desired keys, and then manually call:

[code]

Is that correct?

[2015-10-23 16:22] Amy-Xu commented on #83
Yep that sounds right. But I got confused a bit because if this is the case, then we should already have something similar (searching reform and find the relevant parameters) for Behavior object in dropq if behavior is functioning well. But haven't been able to find the search step in drop q. @talumbau Do we have it for Behavior now? @MattHJensen Do we need a similar process for behavior?

[2015-10-23 20:08] talumbau commented on #83
@Amy-Xu you have access to dropq, correct? Peter added code for Behavior, but it is only done for the user-defined plan, so based on what you wrote above about Growth, I wonder if Behavior code should execute for Plan X as well. Please @MattHJensen or @Amy-Xu review this code and let me know:

https://github.com/OpenSourcePolicyCenter/dropQ/blob/master/dropq/dropq.py#L181-L211

I will begin lookin

[2015-10-23 20:12] MattHJensen commented on #83
Behavior should only apply to plan Y. Growth should apply to both X and Y.

[2015-10-23 20:13] talumbau commented on #83
ok great thanks

[2015-10-23 20:21] MattHJensen commented on #83
The idea here is that the taxpayer might change his behavior if policy changes, and so the behavior change should only be reflected in the plan Y data. The growth parameters on the other hand allow the user to test "what if baseline growth is different than CBO expects it to be", in which case both the plan X and the plan Y data would be affected.

[2015-10-26 01:27] #69 closed

[2015-10-26 05:08] zrisher opened #86 "Seed data should be included in repo"
Currently there is no seed data included in the application. I believe it would help contributors see how styles and flatblocks are meant to be used, and assist them in detecting bugs, if this information was included in the app.

The Django documentation server is currently dead right now, so I don't have the perfect syntax here, but I know we can use the `dumpdata` command to export existing dat

[2015-10-26 05:09] zrisher commented on #70
The JS error will be fixed via #85.

@MattHJensen you'll probably want to add `target="_blank"` to your link tags so they open in a new window by default - I believe that is expected behavior for external links.

This got me thinking about how it would be nice to have flatblocks in development that correspond with the needs of the production setup, so I opened #86.

[2015-10-26 14:11] MattHJensen opened #87 "running multiple TaxBrain jobs in one browser session produces incorrect results"
See

Three reforms with Personal exemption increased to 5000 and growth as specified:

http://www.ospc.org/taxbrain/553/  No change to CBO growth
http://www.ospc.org/taxbrain/554/  CBO growth replaced with 0.01
http://www.ospc.org/taxbrain/555/ 0.1 added to CBO growth

Results are the same.

@Amy-Xu, could you post
a) what these results should be using tax-calculator master locally.
b) what these

[2015-10-26 14:14] MattHJensen commented on #87
Just updated to note that _factor_adjustment also seems not to be working.

[2015-10-26 14:18] talumbau commented on #87
So you are saying that these results:
http://www.ospc.org/taxbrain/556/
http://www.ospc.org/taxbrain/557/

are not enough to demonstrate that growth is working. Hmm.. I thought this was the example you were using previously to determine things were not working - personal exemption at one value, then two different specified growth percentages, and then confirming that the revenue estimates were dif

[2015-10-26 14:22] MattHJensen commented on #78
It seems like a midground would be to have a "return to defaults" button, which would just take the user to ospc.org/taxbrain. This would erase everything, rather than section by section. This would work if the user had been editing params on ospc.org/taxbrain, and it would also work if the user were on a page like this: http://www.ospc.org/taxbrain/edit/557/

[2015-10-26 14:31] talumbau commented on #87
just to be clear: 556 and 557 specify the same personal exemption, but a different replacement CBO growth rate - one is 6%, the other 3%. The revenue estimates are different for each of the 10 years. So in order to proceed with a fix here, I need to know what a better test would be. It would also help with my own personal knowledge to understand why that test is not a good one, but in terms of tes

[2015-10-26 14:33] MattHJensen commented on #87
I am not sure what is going on yet - I don't know why 556 and 557 are generating different results but not (553 and 554) or (554 and 555) or (560 and 561). In each of these cases we are doing pretty much the same thing: set an exemption change and then use default or modified growth. I am investigating.

[2015-10-26 14:35] MattHJensen commented on #78
This could be part of it. If I add a number without toggling radio button like this
![image](https://cloud.githubusercontent.com/assets/8301092/10731746/3b8bd650-7bcd-11e5-847d-78fc57171662.png)
Then when I toggle the radio button it erases the change I had made.
![image](https://cloud.githubusercontent.com/assets/8301092/10731768/50b69d80-7bcd-11e5-9322-f82b08e2567a.png)

[2015-10-26 14:39] MattHJensen commented on #78
I just verified that the above comment is not the only problem.

[2015-10-26 14:41] MattHJensen commented on #87
This is one issue, but I've verified that it is not the entire problem:

 If I add a number without toggling the radio button like this
![image](https://cloud.githubusercontent.com/assets/8301092/10731746/3b8bd650-7bcd-11e5-847d-78fc57171662.png)
Then when I toggle the radio button it erases the change I had made.
![image](https://cloud.githubusercontent.com/assets/8301092/10731768/50b69d80-7bcd-1

[2015-10-26 14:46] MattHJensen commented on #87
@talumbau, when I click "edit parameters" for 556 and 557 (the two you generated), and then rerun them, both scenarios generate the same output, contrary to your experience. See 564 and 565.

Just to be clear, the work flow is:

a) open these pages:
http://www.ospc.org/taxbrain/556/
http://www.ospc.org/taxbrain/557/
b) Click edit parameters for each
c) Click show me the results for each.

[2015-10-26 14:52] talumbau commented on #87
that is mysterious. I will investigate. can you create a new scenario with my figures and reproduce the results? I just generated them this morning based on the testing I did last night. It would be interesting to see if you would be unable to reproduce (i.e. get different revenue estimates for 3 and 6 percent growth)

[2015-10-26 15:02] MattHJensen commented on #87
Interesting! I can reproduce if I run them both separately, run one, let it finish, run the other (in separate tabs, but sequentially). But if I try to run them both at the same time from different tabs, it doesn't work.

[2015-10-26 15:22] talumbau commented on #87
Ah, yes, we keep the job IDs (each year of the calculation has its own job ID) in the `session` which is shared across tabs. To do what you are doing, you would probably need to open an Incognito window, but I have not tested that. We could make a change as suggested here:

http://stackoverflow.com/questions/368653/how-to-differ-sessions-in-browser-tabs

but we might instead just nix the idea of p

[2015-10-26 15:28] talumbau commented on #87
It seems likely that people will want to try to use TaxBrain this way (set up a few runs in different tabs and just say 'go' on each one), and it's not possible to stop them from doing so even though it's not set up to work that way, so I think we will need a solution here.

[2015-10-26 16:04] talumbau commented on #87
I can confirm that if you sequentially do Matt's suggested calculations (5000 for personal exemption + CBO growth, then 5000 for personal exemption + 0.01 replacement for CBO growth) you get different revenue projections:

http://www.ospc.org/taxbrain/574/
http://www.ospc.org/taxbrain/575/

so I think we should re-title this issue: "running multiple TaxBrain jobs in one browser session produces in

[2015-10-26 21:54] talumbau opened #88 "Text next to CPI flags on input page no longer appears"
With the merge of #82, I knowingly merged changes that restored proper default behavior for the CPI flags in terms of matching up default True/False setting to be the same as what comes from taxcalc. However, the one-line of code change that made the default behavior correct, also made it so that the text showing a changed default, which read "Default: \<value\>", no longer appears. This seemed li

[2015-10-27 03:07] talumbau commented on #87
closed via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/89

[2015-10-27 03:07] #87 closed

[2015-10-27 03:08] talumbau commented on #70
closed via #85 but the flatblock on the site contains the text "http//" instead of "http://" so one of the links is bad. Should be a simple fix in the flatblock editor. cc @MattHJensen

[2015-10-27 03:08] #70 closed

[2015-10-27 12:34] MattHJensen commented on #83
Resolved. Thanks @talumbau

[2015-10-27 12:35] #83 closed

[2015-10-27 12:41] MattHJensen commented on #70
Thanks @zrisher!

got it.

got it.

[2015-10-27 15:50] mistakevin commented on #71
I tried to come up with a quick style fix, but it turned out to be a css rabbithole. I think this page should be laid out using the bootstrap grid, especially since development will look different than production due to flatblocks, we need to be as responsive as possible.

[2015-10-27 15:53] talumbau opened #90 "Bottom Radio button on growth parameters clears text next to button"
Described in detail here by @MattHJensen:

https://github.com/OpenSourcePolicyCenter/webapp-public/issues/87#issuecomment-151159872

[2015-10-27 18:44] talumbau commented on #86
+1 on this. Having this feature would have helped to test the JS issue you resolved. If I am going to implement it, the time to completion on this might be significant due to other priorities on the web app. What is your assessment on the level of effort here?

[2015-10-27 18:57] talumbau commented on #62
@MattHJensen following back up with this issue. In your list under "Difference Tables", it looks like you are saying that we need four more difference tables. Is that correct? Two for differences between X and Y in Payroll Tax (one for expanded percentile, one for expanded income bin), and two for differences between X and Y in the sum of ind. income tax and payroll tax. Is that correct? that seem

[2015-10-27 19:00] talumbau commented on #41
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/63

[2015-10-27 19:00] #41 closed

[2015-10-27 19:02] talumbau commented on #32
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/49

[2015-10-27 19:02] #32 closed

[2015-10-27 19:02] MattHJensen commented on #62
@talumbau, that is correct. Later all of these tables will get consolidated as discussed https://github.com/OpenSourcePolicyCenter/webapp-public/issues/35#issuecomment-144135847 and in the follow on comments.

[2015-10-27 19:05] mistakevin commented on #90
The problem is in [paramradio.html](https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/templates/taxbrain/includes/params/inputs/paramradio.html#L36)
which generates this html:
<img width="444" alt="screen shot 2015-10-27 at 1 58 52 pm" src="https://cloud.githubusercontent.com/assets/4411115/10769281/4016f98e-7cb3-11e5-9336-847ce1d343cb.png">
I doubt this form is working correctly

[2015-10-27 19:14] talumbau commented on #90
Is this not the proper default for a radio button? Anyway, I am responsible for the radio button but it's all pretty hokey because that radio button is not tied to the PersonalExemptionForm ModelForm. I think the real answer is a more mature Django form field or something from a JS toolkit because @MattHJensen mentioned that it would be desirous to have features like:

- if I start typing in one o

[2015-10-27 19:17] MattHJensen commented on #90
Just want to chime in that the whole purpose of the radio button here is to keep the user from modifying both of the growth options at the same time. (An alternative, if it is easier, would be to just erase one when the user modifies the other and provide some sort of notification for why this happened.)

[2015-10-28 21:37] zrisher commented on #71
I agree with @mistakevin, I think the positioning on this page needs some refactoring. Simply adding `text-align: center` to this element's style (or better yet the bootstrap class of `text-center` to the element) has no effect because of the relative positioning being applied to the surrounding elements to accomplish the background that stops halfway through the TaxBrain pane. If we forgo that ba

[2015-10-28 21:42] MattHJensen commented on #71
How big of a project is that and how would you recommend prioritizing it with ongoing work?

In the meantime, I'd forgo aesthetics for the bug fix.

[2015-10-28 22:07] zrisher commented on #71
See above, submitted a hotfix.

Fairly large project as it involves rewriting a good chunk of the CSS, which brings with it the need to test on a lot of browsers and resolution sets. I would include it in a pass that fixes the dependency on `staticfiles` and removes the unused CSS we still have in the app. I would prioritize it after anything that directly affects the usability or functionality of

[2015-10-28 22:13] zrisher commented on #86
I think this would be really simple actually, we just need to run the above-mentioned command on the heroku server to dump the data from the DB to a file, add it to git, then include that commit into master. There might be some occasional maintenance work updating it, but I think overall effort should be quite low. It just needs to be done by someone with direct access to the Heroku server.

[2015-10-29 12:15] talumbau commented on #71
@johneo please read over this issue and let me know your thoughts. thanks!

[2015-10-29 22:06] MattHJensen commented on #56
I've been thinking more about this. Let's just drop this "what people are saying" section and make life easier for ourselves.

[2015-10-29 22:26] MattHJensen opened #96 "replace AEI logo and text on about page with just AEI logo"
![image](https://cloud.githubusercontent.com/assets/8301092/10833719/7fae177c-7e6a-11e5-9561-7c0e472cfb20.png)

Let's cut off the text part -- people can look up AEI if they don't know about it and learn about it for themselves.

[2015-10-30 19:15] talumbau commented on #72
resolved by https://github.com/OpenSourcePolicyCenter/webapp-public/pull/97

[2015-11-09 21:17] johneo commented on #71
If we can live with an increased gap, the header can be centered. Then we can circle back to the major refactoring.
<img width="1280" alt="taxbrain-h2-alignment-fix" src="https://cloud.githubusercontent.com/assets/501152/11046794/edc5736c-86f4-11e5-9e7a-9c7d71bae51d.png">

[2015-11-10 18:28] MattHJensen commented on #35
@zrisher, do you think this could be incorporated before a release this Friday?

[2015-11-18 16:10] Amy-Xu opened #102 "Add fields for Personal Refundable Credit"
In Tax-Calculator, a new credit was added as an alternative to standard deduction in this [PR]( https://github.com/open-source-economics/Tax-Calculator/pull/459). So a corresponding section needs to be added to TaxBrain input page as well. This section should be right below standard deduction section, and sort of look like this:
<img width="411" alt="screen shot 2015-11-18 at 10 57 28 am" src="htt

[2015-11-18 16:27] Amy-Xu opened #103 "Add field for additional additional child tax credit (Lee-Rubio)"
New field for this credit needs to be added to TaxBrain input page due to this [PR](https://github.com/open-source-economics/Tax-Calculator/pull/453).

<img width="413" alt="screen shot 2015-11-18 at 11 24 44 am" src="https://cloud.githubusercontent.com/assets/10549597/11246794/41341118-8de7-11e5-8a28-e2eb5b6caaed.png">

@MattHJensen Maybe in the section right below current additional child tax cr

[2015-11-18 16:45] MattHJensen commented on #103
Note that "Additional additional child tax credit (Lee-Rubio)" would be a new subsection header.

@Amy-Xu, the name that is displayed for the parameter will be pulled from the long_name attribute in current_law_policy.json. So rather than "Credit amount for each qualify child", if the webapp team implemented this right now, the name would show up on the webapp as "Partially refundable child tax cr

[2015-11-18 16:51] Amy-Xu commented on #103
@MattHJensen Will open a PR to modify the meta data shortly. Thanks!

[2015-11-18 22:10] johneo commented on #48
@talumbau, I am attempting to integrate https://github.com/carrot/share-button for the share button. Which sites do you want to integrate with? FB? Pinterest? Twitter? Email? G+ seems to require that the URL be whitelisted with Google API first. I'll have to check on that.

[2015-11-18 22:48] johneo commented on #48
Actually, Google just don't like people sharing localhost URL with the world. Including FB, Twitter, G+, and email options. I will need the text for the subject line and the message body.

[2015-11-20 19:40] Amy-Xu opened #106 "New field for real estate deduction haircut"
A new field needs to be added for `_ID_RealEstate_HC`, right below "Deduction for state and local taxes haircut" in the same *State and Local Taxes* section. Default set to zero.

<img width="183" alt="screen shot 2015-11-20 at 2 38 43 pm" src="https://cloud.githubusercontent.com/assets/10549597/11309897/88a69396-8f94-11e5-83ce-6e2d31b0218c.png">

@MattHJensen Is that right?

[2015-11-20 19:41] MattHJensen commented on #106
Looks right to me. @Amy-Xu, just fyi defaults will be populated automatically from current_law_policy.json just as the long names and other meta data are.

[2015-11-23 20:57] #90 closed

[2015-11-24 11:23] MattHJensen commented on #106
Does the itemized deduction limitation also need to be modified for the new param @amy-xu?

[2015-11-24 13:33] Amy-Xu commented on #106
Do you mean the phaseout or the surtax? If you mean the phaseout, I don't think so.

[2015-11-24 13:39] MattHJensen commented on #106
Ahh, sorry, yes, meant the surtax.

[2015-11-24 16:35] talumbau commented on #106
@Amy-Xu and @MattHJensen so then this feature is ready to be implemented, correct? No further changes other than what is currently described?

[2015-11-24 16:36] Amy-Xu commented on #106
Just opened this [PR](https://github.com/open-source-economics/Tax-Calculator/pull/483).

It seems one more checkbox needs to be added at the end of itemized deduction section for real estate taxes paid.
<img width="687" alt="screen shot 2015-11-24 at 11 35 34 am" src="https://cloud.githubusercontent.com/assets/10549597/11373230/42843dc4-929f-11e5-9205-e42712c7ef76.png">
I have fixed the AllTaxesP

[2015-11-24 16:39] Amy-Xu commented on #106
@talumbau I guess after the PR I mentioned above is merged, yes. Hopefully, let me double check right now.

[2015-11-24 16:40] talumbau commented on #106
@Amy-Xu is it correct that the check boxes would be laid out like this:

[code]

in terms of order. Also, can you give me some kind of test case scenario with really high/unrealistic numbers so I can see the effect of these parameters?

[2015-11-24 16:41] Amy-Xu commented on #103
Already on TaxBrain. Closing.

[2015-11-24 16:41] #103 closed

[2015-11-24 16:41] Amy-Xu commented on #102
Included. Closing.

[2015-11-24 16:41] #102 closed

[2015-11-24 16:48] talumbau commented on #106
Oh it looks like I can use the tables you listed in https://github.com/open-source-economics/Tax-Calculator/pull/483 to see if I can sensical answers when I put this in the webapp. I will just do that thanks.

[2015-11-24 16:49] Amy-Xu commented on #106
No problem. Sounds good. Thank you!

[2015-11-24 21:16] johneo commented on #45
@talumbau what about bringing up the browser's native print dialog when the user clicks "Print"?

[2015-11-24 21:47] #56 closed

[2015-11-24 22:52] #106 closed

[2015-11-25 16:27] johneo commented on #45
It appears to be simply `window.print();`

[2015-11-25 19:06] johneo commented on #26
@talumbau PR #110

[2015-11-30 19:11] #96 closed

[2015-12-17 00:06] MattHJensen opened #114 "navigation buttons on TaxBrain input page do not work in Firefox"
These buttons do not work in Firefox:

![image](https://cloud.githubusercontent.com/assets/8301092/11857616/f49172a4-a427-11e5-8b61-43581010f34a.png)

![image](https://cloud.githubusercontent.com/assets/8301092/11857617/f9ddef3a-a427-11e5-8ffb-bd310813c18b.png)

Everything is fine in Chrome.

[2015-12-31 19:49] talumbau commented on #48
@johneo , I pushed #104, which had the changes for the Share button. It worked locally and it worked on the Heroku test app. Then I pushed it to the main Heroku app and it doesn't work. Here is the output of the console upon page load:

<img width="494" alt="screen shot 2015-12-31 at 1 44 05 pm" src="https://cloud.githubusercontent.com/assets/1891418/12067743/ca6015fa-afc4-11e5-8fda-4b4a47a01a41.p

[2015-12-31 19:52] talumbau commented on #48
@johneo you can view this error page by going to http://www.ospc.org/taxbrain/763/

[2015-12-31 20:15] talumbau commented on #48
nm, figured it out. This now works on ospc.org. Somehow to assets copied into `staticfiles` did not get added to the repo and so were not pushed to Heroku. Not sure why it worked on ospc-taxes5.

<img width="598" alt="screen shot 2015-12-31 at 2 14 48 pm" src="https://cloud.githubusercontent.com/assets/1891418/12067945/e5a605aa-afc8-11e5-9fe9-f22b1f966c13.png">

Closing this and associated issues.

[2015-12-31 20:15] #48 closed

[2016-01-04 03:54] talumbau opened #118 "A user should be able to bypass TaxBrain parameter validation"
The idea is that sometimes one wants to force a parameter setting that is outside the allowed parameter ranges specified in the validation metadata. It is still desirable to give an error message when a parameter is set to something outside of the allowed range, but there should be a way to circumvent this setting.

A simple idea that has relatively low effort would be that on the input page, the

[2016-01-04 14:26] Amy-Xu commented on #118
This sounds awesome to me! My impression from previous discussion with @MattHJensen is that we probably don't quite need second time validation for any field at this point.

[2016-01-04 17:14] #71 closed

[2016-01-04 17:27] #72 closed

[2016-01-04 17:29] talumbau commented on #62
resolved via #94

[2016-01-04 17:29] #62 closed

[2016-01-04 17:41] talumbau opened #120 "social sharing on the 'about' page should work or be removed"
At the bottom of the about page, there are three options for sharing on social media:

<img width="801" alt="screen shot 2016-01-04 at 11 39 25 am" src="https://cloud.githubusercontent.com/assets/1891418/12095994/ebe0f530-b2d7-11e5-93a3-a708d9861dff.png">

These should allow someone to click and begin a post or tweet about OSPC.org, or they should be removed.

[2016-01-04 21:42] talumbau commented on #86
resolved via #117

[2016-01-04 21:42] #86 closed

[2016-01-04 23:28] zrisher commented on #86
Very nice!

[2016-01-07 15:48] talumbau commented on #57
closed via #121

[2016-01-07 15:48] #57 closed

[2016-01-09 21:31] #118 closed

[2016-01-12 12:49] MattHJensen opened #127 "prefill input values for hardcoded params using comma separated value pattern"
Currently the input fields on the TaxBrain input page are prefilled with the current year's parameter value from tax-calculator. In most cases, this value is just carried forward according to some inflation rule. For some parameters, though, such as `_factor_target` from `growth.json` and `_ctc_c` from `current_law_policy.json`, the value of the parameter is hardcoded in its relevant json file thr

[2016-01-12 12:52] MattHJensen opened #128 "prefill with default values: "Replacement for CBO real GDP growth""
Currently the 'replacement for CBO real GDP growth' parameter on TaxBrain defaults to zero and is unselected. Could we prefill this with the default values for tax-calculator parameter that it links to, `_factor_target` in growth.json?

(This is related to #127, since there are different values hardcoded for each year)

cc @talumbau

@Amy-Xu, if this issue is resolved, do you think it would make s

[2016-01-12 14:05] MattHJensen opened #129 "click back to inputs from the dynamic output page"
It would be nice to be able to click back to inputs from the dynamic output page, both the original input page and the dynamic input page. For example, I just got this link from @talumbau http://ospc-taxes5.herokuapp.com/dynamic/results/3/ and I wanted to check out how the policy reform was implemented.

cc @talumbau, @jdebacker, @rickecon, @kerkphil

[2016-01-12 14:08] MattHJensen commented on #129
Users might also want to click back to the microsim output page so that they can do a rough dynamic revenue analysis by applying the total tax difference percent change to the microsim revenue estimate.

[2016-01-12 14:09] talumbau commented on #129
Agreed. Assigning to myself. Just for the curious, for that particular result, this was the original microsim:

https://ospc-taxes5.herokuapp.com/taxbrain/451/

[2016-01-12 14:31] Amy-Xu commented on #128
That sounds better than the current long name. Maybe something like 'Real GDP growth rate assumption'? or 'projection'?

I thought the description already has where this parameter's from.

[2016-01-12 15:24] MattHJensen opened #130 "splitting out dynamic model, microsim model, tax law parameters, economic parameters"
##### We are currently following a strategy where the user opens TaxBrain and sees three things on the *1st input page*:

1. tax law parameters relevant to the microsim model and dynamic model.
2. economic assumptions relevant to the microsim model
3. detailed documentation mostly relevant to the microsim model.

##### The user then runs a reform and sees microsim results on the *1st output page*.

[2016-01-19 00:12] talumbau commented on #129
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/131

[2016-01-19 00:12] #129 closed

[2016-01-19 00:13] talumbau commented on #114
FYI @johneo

[2016-01-19 00:20] talumbau opened #132 "Saving "Outputs as CSV" should be "Outputs as Excel""
Currently, it is possible to download the output results as a CSV file, but the results aren't that satisfying. The resulting file is one large CSV file with the column headers and data for a particular result table, then more column headers and data for the next table, and so on. This file would have to be processed in some additional way to be of use to anyone. The underlying issue is that the T

[2016-01-20 21:25] talumbau opened #133 "The CC emails should have additional information"
CC emails on completed dynamic jobs should include:

- guid and/or output paths for the job on the local node where it ran
- the IP address of the node where the job ran

[2016-01-22 00:22] MattHJensen opened #135 "allow start years 2016 and 2017 on TaxBrain"
@Amy-Xu recently added the ability to analyze budget windows up to 2017-2026. Previously we could only do 2015-2024. @talumbau, could we allow 2016 and 2017 starts using the "start year" dropdown we have on TaxBrain? This would make it easier to analyze Presidential plans that would not be implemented until 2017.

![image](https://cloud.githubusercontent.com/assets/8301092/12498945/47638b6c-c074-1

[2016-01-22 05:16] MattHJensen opened #136 "precision on og-usa output page"
What do you think about providing tenth of a percent precision rather than hundredth of a percent precision on the OG-USA output?

[2016-01-22 06:40] rickecon commented on #136
I think a hundredth-of-a-percent precision is best. I think the source of @MattHJensen 's question actually reveals a bug. I don't believe that all the output from the recent runs really has all zeros in the hundredth-of-a-percent position. We should look into this. @talumbau @jdebacker

[2016-01-22 07:19] MattHJensen commented on #136
My suggestion is actually unrelated to this bug.

I was just thinking that all the decimal points oversell the precision of these models, even when the models are working perfectly. I can see that hundredths is probably best in an academic paper where the goal is to show what the model is doing, but this is a different setting where the goal is to offer a prediction of economic outcomes stemming f

[2016-01-22 07:36] rickecon commented on #136
@MattHJensen makes a good point that I agree with. Let’s go with tenth-of-a-percent reporting on TaxBrain.

[2016-01-22 14:56] talumbau commented on #136
@MattHJensen @rickecon yep this is a bug, in the sense that it is rounding to the nearest tenth of a percent and then displaying hundredths of a percent. I will fix the formatting so that it only displays to a tenth of a percent.

[2016-01-22 19:35] Amy-Xu opened #137 "Remove FEI parameter and note for payroll tax"
@talumbau found two things when I was doing my other task:

![capture](https://cloud.githubusercontent.com/assets/10549597/12520874/0825cffe-c115-11e5-8c27-b01143dd0da3.PNG)
This parameter won't work right due to lack of data. So we should remove this one from input page for now.

![capture1](https://cloud.githubusercontent.com/assets/10549597/12520896/27c39b52-c115-11e5-9370-fda59651a4d9.PNG)
Thi

[2016-01-22 21:14] MattHJensen opened #138 "max taxable earnings for social security weird results"
http://www.ospc.org/taxbrain/893/
http://www.ospc.org/taxbrain/894/

@martinholmer pointed out that both of these are bugs. There should be an increase in fica revenue and little change in individual income tax. Things look ok on tax-calculator.

@talumbau, could you take a look when you have a chance?

[2016-01-24 18:20] Amy-Xu opened #139 "Get behavior parameter working on Tax Brain"
@talumbau I recently [added behavior](https://github.com/open-source-economics/Tax-Calculator/pull/526) to capital gain for Tax-Calculator, which currently only includes the persistent field. This field should be linked to '_BE_CG_per' in behavior.json.

I went through drop Q again and don't feel the way it calling behavior needs any modification. But we should probably include this parameter in b

[2016-01-24 21:23] talumbau commented on #138
I started to look in to this. I looked up the reforms that were submitted for the runs above and created a notebook to run them manually on my local machine. I also manually ran dropq and can verify that the results in 893 and 894 on the site are what I get when running dropq locally. Therefore, if there is an issue, we know that it's somewhere in dropq and not a display problem or mixup of data o

[2016-01-24 21:59] martinholmer commented on #138
T.J. and Matt said to look at:

How do I look at these TaxBrain results?
When I click on the links (in Chrome on a Mac) nothing happens.

cc @talumbau @MattHJensen

[2016-01-24 22:20] talumbau commented on #138
@martinholmer if you click the link and wait a few seconds, the output tables should appear. Sometimes it takes between 8-10 seconds for all of the tables to load.

[2016-01-24 23:16] martinholmer commented on #138
T.J. @talumbau, thanks ... guess I need to be more patient.

The second one (894) had a strange MTE value when I click back to the parameters.
Something like 2000.1111111.
I never entered such a value, but I did put in 9.9E99 to see what would happen.

cc @MattHJensen

[2016-01-26 16:33] talumbau commented on #138
OK, @martinholmer I won't be able to debug the issue you are describing ("entering some value other than `2000.11111` and getting `2000.11111` as the value used in the microsim") unless you can tell me how to reproduce. Even if you are able to reproduce that issue, let's create a separate issue for that problem. For this issue, I'm interested in knowing if you or Matt or Amy can reproduce the resu

[2016-01-26 16:44] talumbau commented on #138
Looking more closely at `tdiff2015_iit` from the notebook and the equivalent table in in taxbrain/893, the total tax difference and average tax change in each decile seem to line up pretty well. The numbers reported in Tax Units with Tax Cut and Tax Units with Tax Increase are pretty far off and seem unlikely to be explained by the `dropq` algorithm.

[2016-01-26 17:02] MattHJensen commented on #138
@talumbau, it seems like part of the problem may be stemming from tax-calculator. When we increase _SS_Earning_c, total revenue should go up, not down. See the relevant logic from `functions.py`:

    _fica_ss_head = max(0, FICA_ss_trt * min(SS_Earnings_c, e00200p +
                        max(0, _sey_p) * (1 - 0.5 * FICA_trt)))
    _fica_ss_spouse = max(0, FICA_ss_trt * min(SS_Earnings_c, e00200s

[2016-01-26 17:46] martinholmer commented on #138
T.J., I appreciate all your work on this, but I'm way in over my head when I try to look at what you are doing in the notebook.  My simple observation to Matt on the phone the other day was this:

* when you put into TaxBrain an MTE of two billion (beginning in 2015), you get a reasonable result

but

* when your put a much larger integer in the box, you get FICA taxes **declining**, which is not

[2016-01-29 16:35] MattHJensen commented on #139
Let's also drop the transitory field from TaxBrain.

[2016-01-29 17:28] talumbau commented on #135
closed via #140

[2016-01-29 17:28] #135 closed

[2016-01-29 17:28] talumbau commented on #137
closed via #142

[2016-01-29 17:28] #137 closed

[2016-01-29 18:46] jdebacker opened #144 "Macroeconomics parameters description"
Let's replace:
"omega for elliptical fit utility function"

With:
"Frisch elasticity used to fit elliptical utility function"

[2016-02-11 15:37] MattHJensen commented on #130
Hi all, I've been thinking more about the workflow on TaxBrain. I've described a new flow below that I think would solve many of the problems discussed here https://github.com/OpenSourcePolicyCenter/webapp-public/issues/130#issue-126203191. Looking forward to feedback.

1. Enter tax law parameters and any adjustments to the baseline data (growth factors).
2. Receive a purely static score (no behav

[2016-02-11 17:02] jdebacker commented on #130
Matt,
I think this workflow sounds reasonable, but a two comments:
1) Does anyone care about the truly static score?  I'm not sure this is relevant and, even if it is relevant to some users, it conflicts with what traditional tax scoring numbers typically reflect (e.g. those by JCT or Treasury).
2) If we have just two macro models, I think that the second set of choices will not be too overwhelmin

[2016-02-12 16:03] martinholmer opened #151 "TaxBrain suggestions"
I have recently started using TaxBrain and am very impressed.  The user interface is clean and handsome, and the speed at which the tax calculations are done is truly impressive.  And it is cute that TaxBrain winks at me while it is thinking.  So, congratulations to T.J. and all the others who have contributed to the development of TaxBrain.

But, as impressive as it is now, TaxBrain can be made e

[2016-02-12 20:08] talumbau opened #152 "dynamic_finished view still references ogusa package"
This bug would prevent the successful send of a completion email upon dynamic success.

[2016-02-12 20:31] talumbau commented on #152
closed via #153

[2016-02-12 20:31] #152 closed

[2016-02-12 20:32] talumbau opened #154 "send CC emails upon job launch"
The CC emails are informative, but you only get them upon completion of a job. We should send them when a job launches too.

[2016-02-13 02:55] martinholmer commented on #138
We now know that the cause of these problems was rooted in the Tax-Calculator, and have nothing to do with TaxBrain or dropQ.  See tax-calculator repository issue 589 and pull request 590 for details.  This webapp-public issue 138 should be closed.

cc @MattHJensen @talumbau

[2016-02-13 04:15] MattHJensen commented on #138
Thanks @martinholmer. Closing.

[2016-02-13 04:15] #138 closed

[2016-02-13 20:07] talumbau opened #155 "CC emails don't list IP address of machine that ran the dynamic job"
The CC emails currently give the hostname of the site (e.g. www.ospc.org) instead of the IP address of the worker node. This mistakes makes it so that one would have to hunt to figure out which machine ran which job. It's clear that the email template was just filled out with the wrong field and should be changed to be the IP address of the worker node.

[2016-02-13 20:09] talumbau opened #156 "Travis CI should test the dynamic submit and dynamic_finished views"
This would have caught a bug that got on to ospc.org. This will likely involve mocking a `request` object so that the view can properly respond.

[2016-02-14 18:56] feenberg commented on #130
On Thu, 11 Feb 2016, Jason DeBacker wrote:

It is extremely useful to know the static score, it is a good summary of
the data to which the behavior will be applied. Without the static score
one can't understand how the behavioral score happens.

A user would have to be pretty sohphisticated to make sense of the macro
models, and what basis do we have to endorse any of them?

dan

[2016-02-14 20:53] rickecon commented on #130
I am sympathetic to @feenberg 's comment that it is useful to know the static score to the Tax-Calculator output before any behavioral responses are added. This is a valuable decomposition. However, I think the guiding principles for the TaxBrain web app output should be focus, simplicity, and summary. For users who want more than the standard output (i.e., more than the static score with behavior

[2016-02-14 23:27] feenberg commented on #130
On Sun, 14 Feb 2016, Richard Evans wrote:

I don't think we should be overly responsive to the majority of users,
rather we should concentrate on users who will be influencing tax policy.
This really requires the user be able to understand where the results are
coming from. In my experience the results of a simulation are often
surprising and require explanation. Sometimes the AMT or the excess
cr

[2016-02-14 23:54] martinholmer commented on #130
@jdebacker said:

Yes, I think any serious tax policy analyst would expect this as part of a model's output.

[2016-02-15 01:43] jdebacker commented on #130
rather we should concentrate on users who will be influencing tax policy.

I think that this is an important point.  I perhaps chose poor wording in my comment, but I also had an implicit assumption that the typical use case would be someone with a strong interest in tax policy, but not a person who is a revenue estimator by trade.  I thought it therefore important to provide as the default output

[2016-02-15 14:01] MattHJensen commented on #130
A few thoughts here:

*On why it makes sense to provide static results first.*

1. The purely static calculations *are* very familiar to many users through the context of tax expenditure estimates. In addition to providing "a good summary of the data to which the behavior will be applied", as @feenberg points out, the static score also allows our users to compare our results against the many tax e

[2016-02-15 14:18] MattHJensen commented on #151
@martinholmer, the asterisk approach is very elegant and I like it a lot. Splitting the first reform year and first budget year also make sense, although I don't like having to give the user another option to understand and fiddle with. I suppose it won't be too bad though because most users will want to stick with the defaults.

What do others think?

@martinholmer, as to the smaller issue you ra

[2016-02-15 20:29] martinholmer commented on #151
Matt said:

[code]

Matt,  Good point about how to turn off the indexing of a parameter in some future year.
But is there a way to go the other way?  Can a not-indexed parameter be turned into an indexed parameter in some future year?  But again, these are minor issues relative to the main points being discussed in this issue.

cc @MattHJensen @feenberg, @talumbau, @zrisher, @mistakevin, @johneo

[2016-02-17 00:32] talumbau commented on #35
resolved via #134

[2016-02-17 00:32] #35 closed

[2016-02-18 20:55] talumbau commented on #130
@MattHJensen here is what the page looks like where you choose which dynamic sim you want to run:

![screen shot 2016-02-18 at 2 51 18 pm](https://cloud.githubusercontent.com/assets/1891418/13157817/9896119e-d64f-11e5-844a-54ce9965e753.png)

let me know your thoughts.

[2016-02-18 23:15] MattHJensen commented on #130
@talumbau, this looks really good. I think we should change "behavioral macro simulation" to "partial equilibrium simulation" and list that one first.

[2016-02-19 16:36] talumbau opened #160 "Rounding all default parameters sets rates to 0"
With the merge of https://github.com/OpenSourcePolicyCenter/webapp-public/pull/159 a bug was introduced. Since we enforce rounding every value to the nearest integer, all default rates are set to 0. This is bad. The proper rule should be 'every default parameter value that is greater than 1.0 should be rounded to the nearest whole number. any value less than 1.0 should be left alone'

[2016-02-19 16:55] #160 closed

[2016-02-22 15:59] MattHJensen commented on #52
This is resolved with #55. Closing.

[2016-02-22 15:59] #52 closed

[2016-02-25 15:57] MattHJensen opened #163 "start year 2016, reform in second year, all zero results"
With start year == 2016, this reform:

![image](https://cloud.githubusercontent.com/assets/8301092/13324873/76702d12-dbad-11e5-8f3e-ea9be038a6d4.png)

Outputs all zeroes for revenue changes.

http://www.ospc.org/taxbrain/1158/

A similar reform with start year == 2017 also outputs all zeroes for revenue changes
http://www.ospc.org/taxbrain/1161/

With start year == 2015, everything looks fine:

ht

[2016-02-25 21:51] MattHJensen commented on #163
The 2015 start year is not immune to these problems either:

[2016-02-28 23:41] talumbau opened #164 "TaxBrain should have a "throttle" to keep site responsive under heavy load"
In a little while, we might have a lot of traffic to the TaxBrain site, if only for a short time. The hosting for the web page itself is quite scalable, and should be able to scale to meet anticipated demand (this will be tested using some tools and services over the next week or so). For the computational backend of TaxBrain though, there is a much smaller limit on the number of users we can simu

[2016-02-28 23:44] MattHJensen commented on #164
Would it be significantly harder to take their email address if the wait is expected to be long and email them when the computation is finished?

[2016-02-28 23:55] talumbau commented on #164
hmm.. not hard but somewhat time consuming. It would be most time consuming to have this as a feature for an arbitrary user. Less time consuming for a registered user. In any case, there still needs to be the code written that answers the question "are we undergoing a surge in traffic right now?" I can write that code and make sure it is of a form that can be called in the AJAX style with @mistake

[2016-02-28 23:56] MattHJensen commented on #164
That sounds good.

[2016-02-29 00:05] talumbau commented on #155
resolved via d45aa322c5df8b3afe0a0b1c2670f3c843f50035

[2016-02-29 00:05] #155 closed

[2016-02-29 00:06] talumbau commented on #132
resolved via #134

[2016-02-29 00:06] #132 closed

[2016-02-29 00:09] talumbau commented on #13
we use a different mechanism for this. closing.

[2016-02-29 00:09] #13 closed

[2016-02-29 00:12] talumbau opened #165 "When checking on dropq results, don't check again if we already know the job is done"
Current we submit one job for each of the N budget years, and then every five seconds, we ask if all N jobs are done. Once we get a 'yes' for a particular job, we should not send that request again, and simply continue to ask for jobs that are still running. This has implications for scaling and the fix is small.

[2016-03-07 22:56] MattHJensen opened #170 "Partial equilibrium and macro elasticities models producing 500 internal server errors"
The partial equilibrium and macro elasticities models are producing 500 internal server errors for, as far as I can tell, any parameter inputs.

cc @talumbau

[2016-03-07 22:57] MattHJensen opened #171 "TaxBrain static input page should not have a behavior section"
With the pursuit of #130, the TaxBrain static input page should not display a behavior section.

cc @talumbau

[2016-03-08 02:22] talumbau commented on #165
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/commit/e36044ebea9402618a60c6b3a5010feab707d0b0

[2016-03-08 02:23] #165 closed

[2016-03-08 02:23] talumbau commented on #163
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/167

[2016-03-08 02:23] #163 closed

[2016-03-08 23:24] MattHJensen opened #174 "macro elasticity should be set to zero"
After giving this more thought, let's set the default macro elasticity to 0.0. That is the same philosophy as we have for our micro-behavioral calculations...let the users choose.

[2016-03-09 01:06] talumbau commented on #170
resolved via #175

[2016-03-09 01:06] #170 closed

[2016-03-09 01:07] talumbau commented on #171
resolved via #175

[2016-03-09 01:07] #171 closed

[2016-03-09 02:43] MattHJensen opened #176 "Add a flatblock above "get started" on taxbrain input"
@feenberg pointed out that it is frustrating that the "get started" link takes the user to all of the introductory text on the TaxBrain input page. Could we have a new flatblock above the get started section, and I'll move that preamble up there? I'll leave the user tips in the existing flatblock under the get started section. @mistakevin, do you have bandwidth for this?

[2016-03-09 20:29] talumbau commented on #176
I can take this so @mistakevin can focus on the dynamic landing page "construction zone" ideas plus the CSS issues on the new processing results

[2016-03-10 16:48] MattHJensen opened #181 "broken links on home page and news tab"
From the home page, www.ospc.org, the "news" link at the bottom right is broken.

![image](https://cloud.githubusercontent.com/assets/8301092/13676899/ac4f7d44-e6b5-11e5-92c9-4783e07fa974.png)

From the news page, news.ospc.org, all of those links in the bottom right are either broken or direct to the wrong place.

The "home" link should probably take us to www.ospc.org rather than to news.ospc.or

[2016-03-10 18:24] talumbau commented on #181
the link on the homepage is fixed in master, just need to re-deploy to ospc.org. I'll tackle the links on news.ospc.org. These bugs indicate the need for Selenium testing, as these are harder to detect with the Django testing infrastructure.

[2016-03-10 22:52] talumbau commented on #181
this error was due to a bad environment variable on the backend and a bad upload to news.ospc.org. It's fixed now but regular selenium testing seems like the right answer.

[2016-03-10 22:52] #181 closed

[2016-03-11 13:36] MattHJensen opened #182 "re-runnning results leads to 500 error"
I get a dynamic result
http://www.ospc.org/dynamic/behavior_results/21/

Then I click "edit parameters"
http://www.ospc.org/dynamic/behavioral/edit/21/?start_year=2016

Then I try to rerun the simulation:
http://www.ospc.org/dynamic/behavioral/21/?start_year=2016

And I get a 500 internal server error.

This problem does not exist for the static model. I am not sure if it does for the macro elast

[2016-03-11 14:15] MattHJensen commented on #176
@talumbau, I realize I made a blunder on this request. The intent is for the "get started" sidebar link to take the user to "Get Started" section of the page. I thought that is what was happening, so I requested a flat block above the "Get Started" section, but in fact the "get started" sidebar link takes the user to the top of the page.

If the "get started" sidebar link were redirected to take t

[2016-03-11 14:26] MattHJensen opened #183 "low priority - what is taxbrain dropdown odd formatting"
If I open he What is TaxBrain dropdown and scroll down a bit to see the text, the sidebar nav pops up over the what is taxbrain text.

![image](https://cloud.githubusercontent.com/assets/8301092/13704685/291d58f4-e76b-11e5-8877-0b35c27de598.png)

[2016-03-11 17:00] jdebacker opened #184 "Sidebar extends over footer"
The sidebar on TaxBrain is extending over the footer.  Relatedly, the link to run the model is not available on the screen (since it's at the bottom of the sidebar, it does not show up on the screen).  See screenshot below.  My browser resolution is 1280x800.

![taxbrain_ss](https://cloud.githubusercontent.com/assets/10715924/13709174/18265638-e778-11e5-967b-e318f95ec8a4.png)

CC: @mistakevin

[2016-03-11 17:23] mistakevin opened #186 "Fix login page layout"
<img width="1096" alt="screen shot 2016-03-11 at 11 22 56 am" src="https://cloud.githubusercontent.com/assets/4411115/13709854/acfa7124-e77b-11e5-89e4-b7f78ef607fd.png">

[2016-03-11 17:41] martinholmer opened #187 "Two simple questions about TaxBrain"
T.J.,
I'm not a website developer and my only experience with Selenium was last year in scraping the [Kaiser Family Foundation's ACA subsidy webpage](http://kff.org/interactive/subsidy-calculator/).  So, as a novice in these matters, I'm sure the following questions are embarrassingly simple.  I'm using (on a Mac) the chromedriver with Selenium and, of course, the Chrome browser.

I can bring up t

[2016-03-11 19:59] martinholmer commented on #187
I've answered my own questions, so closing this issue.

[2016-03-11 19:59] #187 closed

[2016-03-14 14:19] MattHJensen opened #193 "changes to inflation indexing not affecting results"
When I change the cpi inflation buttons on the TaxBrain static input page, it doesn't affect results.

See http://www.ospc.org/taxbrain/1587/ in which I turned off the personal exemption inflation button.

This should be high priority.

cc @talumbau @mistakevin

[2016-03-14 16:22] talumbau commented on #193
When I re-run 1587 (hit edit parameters and submit), the `user_mods` given to the worker nodes is:

[code]

which seems correct (the addition of `_ID_BenefitSurtax_Switch` is a quirk in the interface and doesn't change anything since those are the default settings). I will run locally and try to understand why changing this switch does not create a delta if baseline vs. reform.

[2016-03-14 16:31] MattHJensen commented on #193
@Amy-Xu, could you also please investigate locally w tax-calculator?

[2016-03-14 17:03] Amy-Xu commented on #193
Locally it seems fine to me. I used `{2015:{'_II_em_cpi': False}}` as reform. Here're the baseline and reform diagnostic table I got.

Baseline:
<img width="542" alt="screen shot 2016-03-14 at 1 01 50 pm" src="https://cloud.githubusercontent.com/assets/10549597/13752440/0dc812d4-e9e5-11e5-9618-9ab52f75933f.png">

Reform:
<img width="542" alt="screen shot 2016-03-14 at 1 02 00 pm" src="https://clou

[2016-03-14 17:09] talumbau commented on #193
@Amy-Xu, yes I get a similar result, although, I used a bit more "low tech" technique and I started in 2016. I just manually called the `create_dfiference_table` on the two calculator after advancing in time. For 2016 there was no difference, but I advanced until 2019 and saw an expected difference. Here is my notebook:

https://anaconda.org/ospc/ii_em_cpi_notebook/notebook

I will manually run dr

[2016-03-14 17:31] talumbau commented on #193
I discovered the problem. Before processing, we separate out parameters into three groups: parameters for Behavior, Growth, or Policy. The allowed parameter names are based on the set returned by `default_data` here:
https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/parameters_base.py#L21

The `_cpi` flags are not a "real" parameter, per se, as they are modifiers of actua

[2016-03-14 18:20] MattHJensen commented on #193
Ahh. I see. That makes sense.

Yes, this sounds good.

[2016-03-15 13:51] jdebacker commented on #184
FYI, I'm still

[2016-03-15 14:09] talumbau commented on #193
closed via https://github.com/OpenSourcePolicyCenter/dropQ/pull/51

[2016-03-15 14:09] #193 closed

[2016-03-15 14:09] talumbau commented on #182
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/190

[2016-03-15 14:09] #182 closed

[2016-03-15 14:10] talumbau commented on #154
this is done and deployed.

[2016-03-15 14:10] #154 closed

[2016-03-15 14:14] talumbau commented on #184
yes this issue is still live. @mistakevin proposed this fix: https://github.com/OpenSourcePolicyCenter/webapp-public/pull/185

but, as I mentioned on his PR, I did not see an improvement. Kevin will be offline this week, so I'm wondering if I need another front-end dev to look at this. One work-around I have found is to make the font size smaller on the page. On Mac, this is accomplished with <Com

[2016-03-15 15:17] Amy-Xu opened #195 "Income and payroll do not sum up to combined liability"
In [my experiment](http://www.ospc.org/taxbrain/1629/) here, I added an itemized deduction surtax. Itemizers would be subject to an additional tax, amount equal to 10 times of their eligible itemized deductions if the original deduction is smaller than 2 times of their AGI.

<img width="811" alt="screen shot 2016-03-15 at 11 13 36 am" src="https://cloud.githubusercontent.com/assets/10549597/137828

[2016-03-15 15:22] MattHJensen commented on #195
Thanks a lot @Amy-Xu. let us know what you find locally.

[2016-03-15 15:48] Amy-Xu commented on #195
Update:
It seems we need one more line in the surtax function for updating combined liability. Currently in calc_all(), this surtax function is called after calc_one_year(), and only updates income liability leaving combined the same as baseline.

Updating combine liability in the surtax function at least fixed this problem on my local Tax-Calculator. Would give it a try on my local dropq as well.

[2016-03-15 18:09] Amy-Xu opened #196 "Internal server errors with growth related parameters"
<img width="724" alt="screen shot 2016-03-15 at 2 07 51 pm" src="https://cloud.githubusercontent.com/assets/10549597/13788738/6c5eabfa-eab7-11e5-81e7-a52aa6bd23b7.png">

These two parameters are giving me 500 internal server errors just now.

@talumbau @MattHJensen

[2016-03-15 18:13] #184 closed

[2016-03-15 18:43] MattHJensen commented on #195
I just merged https://github.com/open-source-economics/Tax-Calculator/pull/644, which should resolve this issue w a new taxcalc package.

[2016-03-15 20:17] Amy-Xu commented on #196
A quick update, I don't see any error popping up so far (dropq or taxcalc), but will it be a problem if the `cdf_bin_table` and `pdf_bin_table` [here](https://github.com/OpenSourcePolicyCenter/dropQ/blob/master/dropq/dropq.py#L566) are empty? @talumbau

[2016-03-15 23:36] martinholmer opened #197 "Problems with ```2014 samle.csv``` file offered by TaxBrain"
The ```What is TaxBrain?``` section of the TaxBrain webapp offers people a ```[s]imple dummy dataset [2014]``` implying it can be used as input for the Tax-Calculator Records class.  I had several problems when trying to take up this offer:

(1) The embedded space in the file name ```2014 sample.csv``` caused havoc when I downloaded it on a Mac.  Maybe Windows users will have no problems, but it s

[2016-03-16 00:09] GoFroggyRun commented on #197
@martinholmer:

Thanks for prompt attention on this issue.
Regarding some of your concerns:

(2) The  `2014 sample.csv` file has all the variables in `08 puf`, and `_numextra` that is used in TAXSIM. Thus there seem to be more variables (GW vs CX, as indexed by excel) in `2014 sample.csv` than `09 puf`. We, however,  definitely should figure out a way to compress the file.

(3) This might be the m

[2016-03-16 00:33] MattHJensen commented on #197
I will mark the file as coming soon on taxbrain and remove the link until these issues are resolved.

[2016-03-16 11:04] martinholmer commented on #151
As I continue to use TaxBrain, I find it annoying that I have to type in the default value of a policy parameter for the start year.  When I start to type the default value in the text box disappears (as it should), but the default-value message just below the text box does not immediately appear until I tab out of the text box.  This leaves me, and other TaxBrain users with less than perfect shor

[2016-03-16 13:38] talumbau commented on #196
@Amy-Xu @martinholmer I can reproduce and will be pushing a fix this morning.

[2016-03-16 20:19] MattHJensen commented on #176
opening a new issue for remaining quirks.

[2016-03-16 20:21] MattHJensen opened #199 "Get Started navbar should link to "Get Started" section of static input page"
The Get Started navbar button should link to the "Get Started" section of the static input page.

[2016-03-17 02:50] talumbau commented on #196
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/commit/bea7cdd9d134f1645aef2e38a601e4350e2cfaf4

[2016-03-17 02:50] #196 closed

[2016-03-17 02:54] talumbau commented on #195
@Amy-Xu @MattHJensen this is has been resolved with the release ot `taxcalc` [0.6.2](https://github.com/open-source-economics/Tax-Calculator/releases/tag/0.6.2). For example, see [taxbrain/1719](http://www.ospc.org/taxbrain/1719/), which is a re-run of Amy's experiment.

[2016-03-17 02:54] #195 closed

[2016-03-17 02:58] MattHJensen commented on #195
Thanks @talumbau and @amy-xu.

[2016-03-17 18:38] Amy-Xu opened #202 "EITC parameters"
[code]

It seems this reform has inconsistent results between taxcalc and TaxBrain. Using taxcalc, the difference between baseline and reform is within 2 billions, but on TaxBrain the difference is roughly between 70 - 80 billions, running separately or combined together.

@talumbau @MattHJensen @martinholmer

[2016-03-17 21:00] talumbau commented on #202
closed via #203

[2016-03-17 21:00] #202 closed

[2016-03-18 14:49] MattHJensen commented on #151
@martinholmer, that makes a great deal of sense.

This request would also assist @martinholmer's TaxBrain / Tax-Calculator Selenium comparisons in https://github.com/open-source-economics/Tax-Calculator/tree/master/taxcalc/taxbrain.

@talumbau, do you, @mistakevin, or someone else from your team have time to tackle this in the next week or two? I think this ought to be a higher priority than displ

[2016-03-18 16:35] talumbau commented on #151
OK, I will take a crack at this. I think @mistakevin will be back online soon.There is some default "format checking" for the kinds of input fields we use, so if our inputs fields reject the asterisk symbol, we can just make our own custom input fields. assigning to myself.

[2016-03-18 18:01] martinholmer commented on #151
T.J. said:

My experience is that the current version of TaxBrain does **not** reject something like this:
[code]
TaxBrain accepts this input string and proceeds to produce nonsense results.

@talumbau @MattHJensen

[2016-03-18 18:11] talumbau commented on #151
oh this is good to know. thanks @martinholmer

[2016-03-18 19:19] talumbau opened #205 "Submit times on OGUSA jobs are too long"
The time from the moment you click 'submit' until you get to the confirmation screen when submitting OGUSA jobs is about 8-9 seconds right now. Not good.

[2016-03-20 21:31] martinholmer opened #206 "Why no CPI button on Personal Refundable Credit amounts?"
The Tax-Calculator current_law_policy.json file has the ```_II_credit``` amount (which is indexed by MARS) with this specification:  ```"cpi_inflated": true```.

Is there a reason TaxBrain does not have a CPI button on this parameter?

[2016-03-20 21:41] martinholmer commented on #206
Same question for the ```_II_credit_ps``` amounts.  Why no CPI button in TaxBrain?

[2016-03-20 22:35] talumbau commented on #206
Hmm.. these are good questions. The models have a boolean field to hold this info. See, respectively, here:

https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/webapp/apps/taxbrain/models.py#L147

and here:

https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/webapp/apps/taxbrain/models.py#L152

So, for some reason, the flag is not rendering. I will investigate.

[2016-03-24 05:40] talumbau commented on #164
this is resolved.

[2016-03-24 05:40] #164 closed

[2016-03-24 05:41] talumbau commented on #133
resolved

[2016-03-24 05:41] #133 closed

[2016-03-24 10:12] zrisher opened #211 "Migrations from a blank DB fail due to leftover squashed migrations"
When running `python manage.py migrate` with a blank database, we're presented with an error:

[code]

If we then run `python manage.py makemigrations --merge`, we're presented with another error:

[code]

Looking at [a closed django ticket](https://code.djangoproject.com/ticket/25047) and the [django migration docs](https://docs.djangoproject.com/en/1.9/topics/migrations/), we see that:

It seems

[2016-03-28 18:58] Amy-Xu opened #214 "Returns on each row do not sum up to total"
http://www.ospc.org/taxbrain/2231/

The first and second column results (returns & AGI) do not sum up to their totals. It seems like for all the tables by expended income bins, we're missing the negative expanded income row. Under current law, we have about 4.9 billion returns in the lower than zero bin.

The count column in this table can be used as a reference:
<img width="693" alt="screen shot

[2016-04-03 20:37] talumbau commented on #211
@zrisher my local instance of the application is now unable to do a migration. I added a field to a model over in the `dynamic` app and just ran a typical `python manage.py makemigrations; python manage.py migrate`. The error is below.

From reading the documentation you linked to in #212, it seems to me that the error is coming about due to this step:

[code]

I suspect that there could be migrat

[2016-04-03 20:53] talumbau commented on #211
Ah, I believe I have resolved it. The migration dependencies are correct, as far as I can tell. When I run `python manage.py migrate dynamic` to add my new field to the database, it turns out that there is a dependency on a `taxbrain` migration, `0015_auto_20160201_0257`, which has a dependency chain that leads back to `0001_squashed...` in `taxbrain`. It then hits this migration and attempts to a

[2016-04-04 21:13] Amy-Xu opened #216 "no email address error message"
It seems if someone forgets to input email before dynamic scoring, they got an error message of 'Dynamic simulation must have a start year of 2015!'. The message doesn't make much sense to users.

[2016-04-05 05:19] zrisher commented on #211
@talumbau Another interesting experiment with Django migrations. : )

It makes sense to me that migrations from other apps like Dynamic can depend on migrations from taxcalc, and from the dependency lines I see everything adds up properly (like you said). After squashing the original 93 migrations, everything done since properly points back the new squashed one.

What didn't make sense is why when

[2016-04-06 20:18] MattHJensen opened #219 "TaxBrain table tooltips need content"
Tooltips need to be filled in.

![image](https://cloud.githubusercontent.com/assets/8301092/14331396/1c76fa76-fc13-11e5-8265-be653ce0165e.png)

[2016-04-13 14:29] talumbau commented on #216
Yes I was just about to make this issue. I will take this on.

[2016-04-13 16:03] talumbau commented on #214
@Amy-Xu, dropping the negative expanded income is intentional, but I see that is is confusing that the sum of what is displayed doesn't add up to the total at the bottom. I see two possibilities for a fix:

 1. put a row for negative expanded income

 2. do the summing on what is displayed so the totals match up

do you have an idea on which is the correct one to do? option 2 is much easier for me

[2016-04-13 16:20] Amy-Xu commented on #214
@talumbau Could you remind me why we intentionally dropped the negatives? I want to talk to the researcher who found this issue and see how necessary it is to add the negatives row. Will get back to you soon.

[2016-04-13 16:26] talumbau commented on #214
hmm.. @MattHJensen would probably have the best answer. My recollection is that when we first did the grouping by income bins, we defined all the bin end points. We defined 0 as the minimum for the lowest bin. This left some records without a bin, so there was a decision to drop them. I don't know of a deeper explanation than that.

[2016-04-13 18:03] Amy-Xu commented on #214
Matt said we should follow how other institutions deal with this issue. [An example](http://www.taxpolicycenter.org/model-estimates/number-tax-units-who-itemize-under-current-law-and-without-selected-itemized) I found here seems to say what we're doing currently is totally acceptable, but we just need a note like (2) in that example so users won't be confused why all rows do not sum up to the tota

[2016-04-13 19:14] talumbau commented on #214
It wouldn't be too difficult to add as long as it was just some kind of "static" note that appeared at the bottom of the page. So, something in this area:

<img width="1185" alt="screen shot 2016-04-13 at 2 11 27 pm" src="https://cloud.githubusercontent.com/assets/1891418/14506099/c89b7cdc-0181-11e6-82d4-af2f23fb4200.png">

that went underneath the Source link. If that is a good place for the note

[2016-04-18 22:15] talumbau commented on #216
resolved via #220

[2016-04-18 22:16] #216 closed

[2016-04-18 22:19] #206 closed

[2016-04-18 22:23] talumbau commented on #183
ping @mistakevin I can reproduce. let's chat when you have time.

[2016-04-18 23:01] #199 closed

[2016-04-24 23:26] martinholmer opened #224 "Policy reform * notation does not seem to work"
On Sunday, April 24th, I entered `*,*,*,400000` to raise the social security MTE to $400,000 beginning in 2019.  The start year was 2016 and the three `*` values were meant to indicate the MTE should be at current-law values for 2016, 2017, and 2018.  The [TaxBrain run results](http://www.ospc.org/taxbrain/3078/) show payroll tax revenue changes as follows:
[code]
I expected no change in 2016, but

[2016-04-25 14:23] talumbau commented on #224
Hmm.. the difference came out because the web app code advanced the 2016 value (118,500) to values for 2017 and 2018 that do not match what a default Calculator instance produces. To do this advancement, I use the `indexing_rates_for_update` method on a `Policy` object, so it appears that I do not properly understand the code that advances parameters in to the future now. @martinholmer maybe you c

[2016-04-25 14:45] martinholmer commented on #224
T.J. said:

Here is the source code (from `parameters_base.py`) for that method:

[code]

Is it possible that when TaxBrain calls that function it forgets to put a leading underscore in front of the passed `param_name`?  The TaxBrain results I got certainly look like the `_SS_Earnings_c` parameter is being indexed by price inflation, not wage inflation, in the years before the 2019 reform.  If thi

[2016-04-25 15:02] talumbau commented on #224
yes, you are correct. This is the source of the error. I will create a fix and update this issue when the fix is up on the site. thanks!

[2016-04-25 15:06] MattHJensen opened #225 "Add EITC age eligibility parameters?"
@martinholmer and @GoFroggyRun, two TaxBrain users have expressed a desire to modify the EITC age eligibility rules from TaxBrain. Is there any reason not to add these after https://github.com/open-source-economics/Tax-Calculator/pull/687 is merged?

If it is fine to add them to TaxBrain, do you have a recommendation for where they should go on the static input page?

[2016-04-25 15:34] martinholmer commented on #225
@MattHJensen  said:

The current version of pull request #687 cannot be merged into the master branch because of code conflicts.  Those conflicts need to eliminated from #687 in a way that leaves all the unit test and validation test results unchanged.

Once that has happened, those two new policy parameters should definitely be added to TaxBrain.

Why not add them to the bottom of the block of pa

[2016-04-25 15:50] GoFroggyRun commented on #225
@MattHJensen:

I'll be resolving the merging conflicts and updating the diagnostic table very soon.

[2016-04-25 18:40] martinholmer commented on #224
T.J. (@talumbau)  said:

Codecov says that the `indexing_rates_for_update` method in `parameter_base.py` is completely tested.

On the other hand, it would seem that the following test in the public-webapp repository (in the `webapp/apps/taxbrain/tests/test_all.py` file) is incorrect:

[code]

The value of 120099 is incorrectly equal to a price-indexed 118500 (rather than a wage-indexed 118500): t

[2016-04-25 18:44] talumbau commented on #224
yes, this is the test that will be updated. as well as another one. Re-opening until the fix is pushed.

[2016-04-25 19:40] martinholmer commented on #224
@talumbau said:

Thanks.  I clicked the wrong button, but couldn't figure out how the re-open the mistakenly closed issue.
What's the trick?

[2016-04-25 19:44] talumbau commented on #224
Oh I think the only option is the "Re-open and comment" button. So, I don't think you can click something just to re-open. I think you have to add a comment combined with the "re-open" action.

[2016-04-25 19:50] talumbau commented on #225
seems straightforward but in order for this to be on TaxBrain, we need to release a new version of Tax-Calculator. In order to release a new version of Tax-Calculator, we had discussed some set of regression tests to ensure that answers didn't change significantly, or if answers for certain reforms did change, they changed in a sensible way. @MattHJensen is that still the best way to proceed?

[2016-04-25 20:39] martinholmer commented on #224
@talumbau said:

Thanks for the tip!

[2016-04-26 03:13] #224 closed

[2016-04-26 11:53] martinholmer commented on #151
Recent revisions to TaxBrain logic have implemented the `*,*,*,500000` style of reform, so this issue is being closed.

[2016-04-26 11:55] martinholmer commented on #197
The soon-to-be-available pure-CPS file for Tax-Calculator input will resolve this issue.

[2016-04-26 11:55] #197 closed

[2016-04-26 12:24] MattHJensen commented on #225
@talumbau said:

Yes, I believe that is the right way to proceed.

We already have such regression tests in Tax-Calculator:

Baseline: https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tests/pufcsv_agg_expect.txt

Reforms: https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/comparison/reform_results.txt

We have discussed checking into the OG-USA r

[2016-04-26 15:33] talumbau commented on #225
OK, that seems straightforward. I can the comparison for Tax-Calculator using what's in the `comparison/` directory. I will also run Tax-Calculator 0.6.2 + OGUSA 0.5.3 (current TaxBrain settings) against Tax-Calculator master and OGUSA master with the 10 reforms above and see if there are differences.

[2016-04-26 15:54] talumbau opened #227 "Are the differences between version 0.6.2 and current master acceptable?"
I ran `taxcalc/comparison/reform_results.py` with the current master and against version 0.6.2 and got a few differences on results. There were 13 reforms that showed a difference of some kind. I've attached the output files for both runs and below is the diff. For each diff section, the first output is from current master and the second output is from version 0.6.2. Could either @martinholmer or

[2016-04-26 18:28] martinholmer commented on #227
T.J. said:

I don't understand why you are doing this.  The results generated by the `taxcalc/comparison/reform_results.py` script get updated with each Tax-Calculator commit that changes those results.  So, the 0.6.2 tag is dated 2016-03-16 as seen by these results:
[code]

And the `reform_results.txt` file has been updated three times since then:
[code]

So, the git repository has a complete his

[2016-04-26 18:45] talumbau commented on #227
The purpose of this question is to understand the delta between what is currently on TaxBrain and what is proposed to be deployed to TaxBrain. This is something that Matt was interested in (and I was as well). It appears that this exercise can be completed by just diffing particular revisions of `reform_results.txt`, which is good to know. In the future, I can just email Matt with this information

[2016-04-26 18:52] martinholmer commented on #227
T.J. offered a sensible explanation (see above) of the purpose of the activity in issue #227, and rightfully indicated that some creative git work on the Tax-Calculator repository would produce the desired summary report without re-executing the `taxcalc/comparison/reform_results.py` twice.

@talumbau @MattHJensen

[2016-05-02 20:38] talumbau commented on #225
I ran the above 11 reforms on TaxBrain and did an OGUSA run with default parameters from each. For each reform above, here is the microsim and resulting output page for the OGUSA run:

reform_8
http://www.ospc.org/taxbrain/3305/
http://www.ospc.org/dynamic/results/122/

reform_9
http://www.ospc.org/taxbrain/3306/
http://www.ospc.org/dynamic/results/123/

reform_4
http://www.ospc.org/taxbrain/3301/

[2016-05-02 21:41] MattHJensen commented on #225
@talumbau, is there a way to have a script in the OG-USA repo that generates these results and checks them into the repo for every new release of taxcalc and OG-USA?  Tax-calculator contributors who have access to the puf run such a script before every PR: https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/tests/test_pufcsv.py#L34.

[2016-05-03 17:53] talumbau commented on #225
Yes, there's a way to do this, but if we just have a script that runs everything locally, that would be less than ideal because it would be about 35-40 hours of compute time on one machine. We might want to have a script that can call out to some worker nodes, and then retrieve results when the work is done.

[2016-05-03 17:54] talumbau commented on #225
Also, there is a mistake above and reforms 6 and 7 are wrong. The microsim listed is not a TaxBrain run for the indicated reform. We can't currently run reforms 6 and 7 on TaxBrain until the merge of https://github.com/open-source-economics/Tax-Calculator/pull/719

[2016-05-04 15:34] martinholmer opened #228 "TaxBrain missing EITC_MinEligAge and EITC_MaxEligAge parameters"
Given that Congressional staff have requested these parameters be included in TaxBrain and that the President has proposed a reform involving these parameters, it seems like we should add them as soon as possible.  There seemed to be a consensus that this was a good idea in issue #225.
What is the schedule for adding these parameters to TaxBrain?

@MattHJensen @talumbau

[2016-05-04 15:43] martinholmer opened #229 "TaxBrain missing OLG parameter values in job-finished email"
When using the OLG model for dynamic analysis and accepting the default parameter values, one gets a job-finished email that contains the following information:
[code]
The absence of any information about the parameter values used is very confusing.
Why can't the email just say what parameter values were used?

@MattHJensen @talumbau

[2016-05-04 17:06] talumbau commented on #229
seems reasonable. I'll take this.

[2016-05-04 19:12] MattHJensen commented on #225
This makes sense to me as well, but I'd rather not wait for the new TaxBrain release until that is ready.

[2016-05-04 19:14] MattHJensen commented on #228
@talumbau, could we include this in the upcoming TaxBrain release?

[2016-05-05 14:43] talumbau commented on #225
<img width="866" alt="screen shot 2016-05-05 at 9 42 42 am" src="https://cloud.githubusercontent.com/assets/1891418/15046519/c2ce4cbe-12a5-11e6-9024-c2b251053777.png">

this is what the new section will look like. cc @MattHJensen @martinholmer

[2016-05-05 15:03] talumbau commented on #228
pending PR: https://github.com/OpenSourcePolicyCenter/webapp-public/pull/230

[2016-05-05 15:04] talumbau commented on #225
If I can a sign off on the above screen cap then I think we are good to merge #230

[2016-05-05 15:22] MattHJensen commented on #225
@martinholmer and @GoFroggyRun could you please review?

[2016-05-05 15:31] martinholmer commented on #225
It's maximum and minimum, not minimal and maximal.

Sent from my iPhone

[2016-05-05 15:36] MattHJensen commented on #225
These are drawn directly form tax-calculator master long_name. I will open a PR to tax-calculator to fix this. @martinholmer @GoFroggyRun

[2016-05-05 15:36] talumbau commented on #225
Does that mean we should post a PR to Tax-Calculator for a fix? The text is taken from current_law_policy.json:

https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/current_law_policy.json#L372

https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/current_law_policy.json#L386

I do not mean that I copied the text from there, but rather that we populat

[2016-05-05 15:40] MattHJensen commented on #225
see https://github.com/open-source-economics/Tax-Calculator/pull/727. Waiting for tests to pass and then merging.

[2016-05-05 15:46] MattHJensen commented on #225
All set @talumbau

[2016-05-05 16:55] #229 closed

[2016-05-05 17:15] martinholmer commented on #225
T.J.,

Now that I'm back in the office, I don't see where on the TaxBrain page these new EITC parameters are going to be.  The title is completely unnecessary if they are placed where I suggested: at the bottom of the EITC parameters.  Where are you putting them?

The minimal and maximal wording is from Sean's pull request; sorry I missed fixing that.

@talumbau @MattHJensen

[2016-05-05 17:41] talumbau commented on #225
Yes I misunderstood. Here is what it looks like now with the newly released 0.6.3:

<img width="899" alt="screen shot 2016-05-05 at 12 39 24 pm" src="https://cloud.githubusercontent.com/assets/1891418/15051501/8d4d0558-12be-11e6-94a3-157e63fd329a.png">

The fields are now the last two in the Earned Income Tax Credit block

[2016-05-05 17:43] martinholmer commented on #225
T.J. (@talumbau) said:

Looks great!

[2016-05-05 17:49] MattHJensen commented on #225
Lgtm too.

On May 5, 2016, at 1:43 PM, Martin Holmer <notifications@github.com<mailto:notifications@github.com>> wrote:

T.J. (@talumbau<https://github.com/talumbau>) said:

The fields are now the last two in the Earned Income Tax Credit block.

Looks great!

—
You are receiving this because you were mentioned.
Reply to this email directly or view it on GitHub<https://github.com/OpenSourcePolicyCe

[2016-05-05 17:50] martinholmer commented on #228
Issue #228 resolved by pull request #230.

[2016-05-05 17:50] #228 closed

[2016-05-07 11:46] martinholmer opened #232 "TaxBrain handling of the * notation for delayed reform implementation"
Using TaxBrain version 0.6.3.8b7f3b, I try to double the 0.9% Additional Medicare tax rate beginning in 2018 (when the TaxBrain start year is 2016) by entering the following in that text box:
[code]
When I click on `Show me the results!`, I immediately get a new page that says:
[code]
And there is no further explanation.  Did I do something wrong?  Or, is this a bug in TaxBrain?

@talumbau

[2016-05-07 13:14] talumbau commented on #232
From checking the logs and local testing, this appears to be a Unicode processing issue, although I'm sure why it has not shown up until now. It is indeed a bug, because this input should be allowed.

[2016-05-07 16:19] #232 closed

[2016-05-07 16:23] talumbau commented on #232
@martinholmer please try this again on TaxBrain. I can't explain how previously the text was not processing as Unicode but now is processing in Unicode, but either way I believe the issue is resolved.

[2016-05-07 16:35] talumbau opened #234 "What message should the user see when TaxBrain can't process the user input?"
It seems likely that there could be legitimate user input that we don't currently validate properly on TaxBrain (see, e.g. #232). There could be text that a user enters that we will never properly validate, something like:

[code]

but there might also be legitimate text that I can't think of a test for right now that could fail. Instead of just giving the user the "500 Internal Server Error", we

[2016-05-08 14:06] martinholmer commented on #234
@talumbau said:

I think any error message that indicates the invalid taxt entry and the parameter name is just fine.

[2016-05-08 17:46] martinholmer opened #235 "Problem using * notation with vector parameter"
It appears that the `*` notation to delay implementation of a reform provision now works fine for scalar policy parameters.  However, it does not seem to work at all with vector policy parameters.   Below is an example:

[TaxBrain run 3627](http://www.ospc.org/taxbrain/edit/3627/?start_year=2016) has start year 2016 and specifies an increase for single filers in the Additional Medicare FICA Thresh

[2016-05-09 22:13] talumbau commented on #235
closed via #236

[2016-05-09 22:13] #235 closed

[2016-05-09 22:13] talumbau commented on #235
@martinholmer this fix is live on TaxBrain. please try at your convenience.

[2016-05-09 22:30] martinholmer commented on #235
T.J. said:

Thanks again for the quick responses.

[2016-05-09 22:46] martinholmer opened #237 "What happened to TaxBrain parameter _ACTC_ChildNum?"
The same TaxBrain testing script that ran fine yesterday on scalar parameter values, now gets this error:
[code]
Has something changed that I don't know about?

@talumbau

[2016-05-09 22:58] martinholmer commented on #234
@talumbau,  When do you plan on adding this (issue #234) error-reporting capability in TaxBrain?

[2016-05-09 23:08] martinholmer opened #238 "Implausible delayed-reform-implementation results?"
When I enter `*,*,250000` in the text box for Additional Medicare threshold for Single filers (when TaxBrain start year is 2016), I expect to see no payroll tax revenue change in 2016 and 2017, and then beginning in 2018, I expect to see a modest decline in payroll tax revenue.  The [TaxBrain results](http://www.ospc.org/taxbrain/3646/) do show a modest decline in payroll tax revenue, but those de

[2016-05-09 23:16] martinholmer commented on #237
Martin said:

[code]

After several more runs of TaxBrain, this error seems to have disappeared.  Closing this issue.

[2016-05-09 23:17] #237 closed

[2016-05-09 23:33] #225 closed

[2016-05-09 23:39] martinholmer opened #239 "Revise EITC age parameter text to agree with Tax-Calculator"
When updating TaxBrain for other reasons, please change the two EITC age parameter titles to agree with the revised parameter definitions in [Tax-Calculator pull request 728](https://github.com/open-source-economics/Tax-Calculator/pull/728).

[2016-05-10 13:11] talumbau commented on #238
I spent some time trying to think of a general way to capture all possible inputs combinations with the wildcard and then test all of them at once (the current pattern of 'fix, bug report, repeat' seems pretty inefficient). I didn't really come up with anything good. For example, I can pretty easily create a whole bunch of potential input fields. There is a function called `default_policy` in the

[2016-05-10 13:19] talumbau commented on #238
#240 is live on TaxBrain so this issue should be resolved.

[2016-05-10 13:21] martinholmer commented on #238
T.J. (@talumbau) said:

I appreciate your thoughts on this, but you doing extensive testing would duplicate the selenium-based testing I'm doing in the `taxcalc/taxbrain` directory of the Tax-Calculator repository.  There you can see that I'm trying to test delayed implementation (using the `*` or "wildcard" notation) of all the TaxBrain policy parameters.

[2016-05-10 13:21] talumbau commented on #238
Ok sounds good. closing for now.

[2016-05-10 13:21] #238 closed

[2016-05-10 16:52] martinholmer commented on #234
Martin said about trapping the "500 Internal Server Error":

and then asked:

This would be a major benefit in my selenium-based testing of TaxBrain.

At the moment, I know there are problems using the `*` notation for delayed reform implementation with the following parameters:
[code]
And there are more problematic parameters because when I drop the above four parameters from a composite reform,

[2016-05-10 19:28] talumbau commented on #234
I have an idea on a reasonable kind of error message. It won't be perfect but it will be a good start. Can you point me to the selenium test that is failing for you? I had success in using your setup previously and this might help me debug.

[2016-05-10 19:28] talumbau commented on #234
Oh, I will try to add the error handling today

[2016-05-10 19:48] martinholmer commented on #234
T.J. (@talumbau) asked:

The all-together delayed reform is specified in [all-16-delay.json](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/taxbrain/all-16-delay.json) while the one-at-a-time delayed reforms are specified in [sep-16-delay.json](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/taxbrain/sep-16-delay.json).  In the `sep-16-delay

[2016-05-11 16:56] talumbau commented on #176
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/pull/221

[2016-05-11 16:56] #176 closed

[2016-05-11 16:57] mistakevin commented on #183
@talumbau getting flatblocks content loading locally would help with this

[2016-05-11 17:00] talumbau opened #241 "Waiting screens for two dynamic simulations should be the same as microsim"
For partial equilibrium and macroeconomic elasticity dynamic simulations, we use the same "old style" waiting page that was replaced by @mistakevin's very nice loading screen. These two waiting screens should be changed to be like the microsim waiting screen. The OGUSA simulation flow should be the same (since we are just sending an email upon job submission)

[2016-05-11 17:03] talumbau commented on #183
this page should help:

https://github.com/OpenSourcePolicyCenter/webapp-public/wiki/Loading-flatblocks-data

there is a `flatblocks.json` in the repo now. You should be able to do:

[code]

let me know how that goes.

[2016-05-11 17:11] mistakevin commented on #183
worked!

[2016-05-12 13:54] mistakevin commented on #219
To update the tooltips, you only need to change the text here https://github.com/OpenSourcePolicyCenter/webapp-public/blob/master/webapp/apps/taxbrain/constants.py

[2016-05-12 13:54] mistakevin commented on #219
cc @talumbau

[2016-05-12 15:50] mistakevin commented on #127
@talumbau Let's touch base on this

[2016-05-13 18:37] martinholmer commented on #239
@talumbau,  I see there is a flurry of activity on TaxBrain.  Can the enhancement in issue #239 be included in the work?

[2016-05-13 19:08] talumbau commented on #239
The text is read directly from the JSON file associated with a release of Tax-Calculator, so as to prevent specifying the text in two places. So, resolving this would mean cutting a new release of Tax-Calculator, which is not a big deal in terms of effort, but something that happens more cautiously now that the usage level is higher.

[2016-05-13 19:13] martinholmer commented on #239
T.J. (@talumbau) said:

I didn't know about the automatic reading of the parameter definitions.  Sounds very sensible.
I'll close this issue because now I understand that the new definitions will be automatically incorporated into TaxBrain with the next Tax-Calculator version.  Thanks for the explanation.

[2016-05-13 19:13] #239 closed

[2016-05-18 16:00] chilinhtran96 opened #246 "Request: adding feature to highlight media coverage on home page"
We want to highlight our media coverage by adding an end-of-site banner featuring our media mentions on online news sites.

Where: OSPC home page www.ospc.org
Title: **As seen in**
Position:  right after “Updates from the field”
Format: a display of website logos that links to the contents in which OSPC is mentioned
Example: <see attachment>
![image](https://cloud.githubusercontent.com/assets/1943

[2016-05-18 16:01] chilinhtran96 commented on #246
![image](https://cloud.githubusercontent.com/assets/19432929/15365976/50d5950e-1cf0-11e6-919c-4be364313142.png)

[2016-05-18 18:43] MattHJensen commented on #246
Thanks @chilinhtran96. Let's drop "The Insider" piece since it is a pure reprint from Brill's paper.

[2016-05-19 03:19] #183 closed

[2016-05-19 03:22] #114 closed

[2016-05-19 03:33] #186 closed

[2016-05-19 14:14] talumbau commented on #211
no activity for this recently. closing for now.

[2016-05-19 14:14] #211 closed

[2016-05-19 14:15] talumbau commented on #120
this is now gone with the new results page. We can revive this capability if desired on the new "table builder" results page.

[2016-05-19 14:15] #120 closed

[2016-05-19 14:19] talumbau commented on #156
We have a test for testing submission of OGUSA jobs. We would need to mock out the data for a fake completed OGUSA job in order to test viewing the OGUSA results page. Not closing since this is only 50% done.

[2016-05-19 15:46] MattHJensen opened #249 "js failures w/ latest version"
- The default values are showing by default now, rather than after a value has been edited.
- We lost the information 'i's.

[2016-05-19 15:54] talumbau commented on #249
Hmm.. perhaps I was using a cached version but I don't recall seeing this behavior last night. Would you like to roll back until we get a fix?

[2016-05-19 16:26] MattHJensen commented on #249
I am ok with either. Whichever you think is easier/better.

[2016-05-19 16:29] talumbau commented on #249
I think the i's are nice to have. Let me see if I can grab @mistakevin today and talk through the issue. If the fix is quick we can just do that. Otherwise I will rollback by end of day.

[2016-05-19 20:59] kevincolten opened #251 "Deployment Enhancements"
- [ ] Bundle JS and CSS with source maps for development
- [ ] Minify JS and CSS for deployment without source maps
- [ ] Add cache-buster/asset versioning for deployment
- [ ] Use Cloudfront for CDN w/ gzipping

[2016-05-19 22:19] #249 closed

[2016-05-19 22:27] talumbau commented on #249
Success! thanks @mistakevin

[2016-05-20 19:40] talumbau opened #252 "The OGUSA results page does not show the OGUSA version number used"

[2016-05-23 18:22] #246 closed

[2016-05-23 23:36] talumbau commented on #246
@chilinhtran96 @MattHJensen @mistakevin this is now deployed on ospc.org. Thanks all.

[2016-05-24 01:40] zrisher commented on #211
Sounds ok to me, you may want to merge #218 later though if other users experience the issues you had.

[2016-05-24 14:48] MattHJensen commented on #246
Looks great! Thanks everyone.

[2016-05-24 16:38] talumbau opened #256 "Gallery page"
There should be a gallery page that looks similar to the Bokeh gallery page:

http://bokeh.pydata.org/en/latest/docs/gallery.html

similar to the "Server App Examples" section where there is a small text description next to each picture of the viz.

@brendancol has the first viz available and can provide a screen cap for the "thumbnail" pic.

The Gallery should be a link on ospc.org at the top in

[2016-05-25 11:44] martinholmer commented on #151
The delayed-reform TaxBrain enhancement (using the `*` notation) that was suggested in issue #151 (which was opened on February 12, 2016) is still not working correctly.  So, this issue has been reopened and will be closed when TaxBrain can handle delayed reforms for all policy parameters.  This is not a minor enhancement, but rather brings to TaxBrain essential capabilities that have been in Tax-

[2016-05-25 11:55] martinholmer opened #257 "TaxBrain "500 Internal Server Error!" bug for tax bracket reforms"
TaxBrain crashes when a user tries to specify a change in income tax brackets that are delayed one or more years after the TaxBrain start year.

For example, the 500 error is generated when start year is 2016 and the following is entered into the `Single` box under the title `Personal income tax bracket (upper threshold) 1`:
[code]
This notation is specifying an increase in the top of the first in

[2016-05-25 15:44] talumbau commented on #257
Ah, in this case we have the `*` syntax used with a field that has field validations. So, for example, for `II_brk1`, the validation we have to check is:

[code]

Therefore, in this case, the proper processing will involve filling out the wildcard entries, and then ensuring that the user-specified 2018 value is not greater than the 2018 value for `_II_brk2`.

I'll take this on.

[2016-05-25 15:46] talumbau commented on #257
The reason for the failure is that the field validation code is not currently able to handle wildcard entries. The validation happens prior to wildcard replacement so we'll have to do that differently.

[2016-05-25 16:33] martinholmer commented on #257
@talumbau analyzed the needed changes and said:

Thanks.  Please let me know when the public-version of Tax-Brain reflects your changes.

[2016-05-27 18:41] #257 closed

[2016-05-27 19:02] talumbau commented on #257
The fix for this issue, PR #258, is this is now live on ospc.org (cc @martinholmer )

[2016-05-27 19:04] martinholmer commented on #257
@talumbau said:

T.J.,  Thanks for the quick work on this issue.

[2016-05-28 16:39] martinholmer opened #259 "TaxBrain "500 Internal Server Error!" bug for delayed _ID_Charity_frt reforms"
Using the `*` notation to specify the delayed (beyond TaxBrain start year) implementation of a change in value of the `_ID_Charity_frt` policy parameter causes a "500 Internal Server Error!" message.  This is the only remaining delayed reform bug that has been detected using the [sep-16-delay.json](https://github.com/open-source-economics/Tax-Calculator/blob/master/taxcalc/taxbrain/sep-16-delay.js

[2016-05-30 20:18] martinholmer opened #260 "Questionable TaxBrain dynamic partial-equilibrium results"
**Background**
I was looking, for the first time, at the Tax-Calculator `Behavior` class and `behavior` function (in order to get ideas about how to approach a new feature: endogenous consumption when calculating marginal tax rates).  I reviewed the source code in the `behavior.py` file and the unit tests in the `test_behavior.py` file.  Then I wrote a script to do some partial-equilibrium dynamic

[2016-05-30 21:39] feenberg commented on #260
On Mon, 30 May 2016, Martin Holmer wrote:

Note that my comments below may be wrong-headed if I am not understanding
the question (which is likely). But they might be relevant, so I am
volunteering them now.

A rational forward-looking utility-maximizing taxpayer who sees the
upcoming increase in tax rates will substitute work now at the lower tax
rate for work later at the higher tax rate (substi

[2016-05-30 23:02] martinholmer commented on #260
Dan @feenberg said:

Yes, those are the papers I read, but I don't remember any discussion of transitions.  I think your final sentence exposes a vagueness in Tax-Calculator and TaxBrain.  When I say the reform is implemented in 2020 with an analysis start year of 2016, why do you assume the reform has become law at the beginning of 2016 (rather than at some later time)?  It seems entirely plausib

[2016-05-30 23:50] feenberg commented on #260
On Mon, 30 May 2016, Martin Holmer wrote:

OK, there is a vocabulary issue here:

   partial equiblibrium
   static
   dynamic

I think static means no change in the data, and partial equilibrium means
that an elasticity is applied to the data, but then what does dynamic
mean if not forward-looking?

dan

[2016-05-30 23:55] feenberg commented on #260
On Mon, 30 May 2016, Martin Holmer wrote:

I am not sure there would be much demand for that, but it isn't a silly
idea. In a forward looking model, it does make a difference when people
learn of a tax change.

However, since the model isn't actually forward-looking, the point is
moot.

dan

[2016-05-31 00:01] martinholmer commented on #260
Dan @feenberg said:

I have no problem with your vocabulary, but it is inconsistent with TaxBrain vocabulary.

One of the three TaxBrain dynamic analysis options is the partial-equilibrium analysis using behavioral-response elasticities.  The logic of this partial-equilibrium analysis is not forward-looking, hence my question about why there is a behavioral response in years before the implementat

[2016-05-31 15:53] MattHJensen commented on #260
@martinholmer said:

Yes, I believe this is correct. I am adding a "bug" label.

---

As an aside:

@feenberg  said:

@martinholmer said:

@martinholmer is correct here. In the TaxBrain world (and to my knowledge, in the revenue estimation world) "dynamic" means that GNP is allowed to change in response to the tax change. Given that the "Partial Equilibrium model" can accommodate labor supply effe

[2016-06-02 15:34] MattHJensen opened #261 "Set standard deduction to zero gives 500 Internal Server Error"
When I set the standard deduction amounts to zero I get the appropriate warning about the params being outside of the validation range. But when I re-run to accept the warning, I get an error.

As an aside, the error page url isn't unique to my run (I guess that is only generated on a successful run), so it is difficult to share exactly what happened.

![image](https://cloud.githubusercontent.com/

[2016-06-02 20:08] MattHJensen commented on #261
Upon further investigation it appears setting EITC credit rate, max EITC amount, and bracket values to zero also result in 500 Internal Server Errors. According to an investigation by @GoFroggyRun these reforms do not create problems locally.

[2016-06-02 21:56] #259 closed

[2016-06-02 22:01] talumbau commented on #259
@martinholmer this should be resolved on TaxBrain now, but I am not 100% certain of the reform you tried. If the issue is not resolved, please re-open and describe the entries that go in the text box as I am not 100% sure how the JSON file is used.

[2016-06-02 22:02] talumbau commented on #261
resolved via #262

[2016-06-02 22:02] #261 closed

[2016-06-03 11:33] martinholmer commented on #259
@talumbau Thanks.  Now my Tax-Calculator-vs-TaxBrain test that uses delayed reforms does not crash.

[2016-06-03 11:37] martinholmer commented on #151
As far as I can tell from my selenium testing of TaxBrain, the delayed-reform TaxBrain enhancement (using the * notation) that was suggested in issue #151 is now working correctly.  At least my tests are not generating any "500 Internal Server Error!" messages.

@MattHJensen @talumbau

[2016-06-03 11:37] #151 closed

[2016-06-06 18:21] talumbau opened #263 "widget view enhancements"
For viewing a raw "taxplot" widget, we want to add additional functionality to the viz. This should include:
- [ ] email address entry (sign up)
- [ ] custom text entry
- [ ] watermarked logo placement
- [ ] attribution section (might be redundant with custom text entry)

[2016-06-06 18:23] talumbau commented on #263
additional enhancements (not for initial version)

- [ ] custom google analytics events

[2016-06-10 20:59] talumbau commented on #260
@martinholmer @MattHJensen there was a problem with wildcard entries propagating to partial equilibrium simulations. Please run your sim again and let me know. thanks!

[2016-06-11 23:13] martinholmer commented on #260
@talumbau said:

I have rerun the TaxBrain partial-equilibrium analysis and the qualitative results are much better than before pull request #264.  However, I cannot determine whether the quantitative results from TaxBrain are the same as from Tax-Calculator because the version of Tax-Calculator being used by TaxBrain is so old (late April).

[2016-06-14 13:36] martinholmer commented on #260
TaxBrain's use of the soon-to-be-released Tax-Calculator version 0.6.4 will enable a quantitative test of whether or not Tax-Calculator and TaxBrain produce the same dynamic partial-equilibrium estimates.

[2016-06-14 13:36] #260 closed

[2016-06-16 13:57] #241 closed

[2016-06-16 18:28] talumbau commented on #252
closed via #254

[2016-06-16 18:28] #252 closed

[2016-06-16 18:30] talumbau commented on #144
this is resolved.

[2016-06-16 18:30] #144 closed

[2016-06-16 18:30] talumbau commented on #128
looks like an abandoned issue that should be fixed. I'll take it.

[2016-06-16 18:32] talumbau commented on #127
@MattHJensen is this still relevant given that we now have the `*,*,val` syntax?

[2016-06-16 19:03] talumbau opened #266 "Force Django to give an error on failure to render a template correctly"
@martinholmer @brendancol, I am seeing the need for a package like this:

https://github.com/counsyl/django-pedant

and not just because the README is hilarious. In the latest update of Tax-Calculator, one of the parameters changed names (from `_BE_CG_per` to `_BE_cg`). When I went to the appropriate page in a local build (in this case it was the partial equilibrium dynamic simulation input page)

[2016-06-16 20:42] martinholmer commented on #266
No, @talumbau, I don't have any Django or Django-Pedant experience.  But Django-Pedant sounds helpful given the way Django works.

[2016-06-16 20:48] talumbau commented on #266
oops thanks @martinholmer I meant to tag @mistakevin.

[2016-06-17 03:05] talumbau opened #267 "Changes to support Tax-Calculator 0.6.4"
- [ ] update Behavioral model parameters to reflect changes on taxcalc side

[2016-06-30 14:59] MattHJensen opened #269 "UI: Should decimals be displayed as percents?"
Currently Tax-Calculator and TaxBrain accept rates as fractions: If a tax rate should be 35%, the user enters 0.35. We recently had a discussion about how a user could enter "2" expecting 2% and instead getting 200%  https://github.com/open-source-economics/Tax-Calculator/pull/788#discussion-diff-68937111.

To alleviate this potential for user error, should TaxBrain accept rates as percents? If yo

[2016-06-30 15:30] feenberg commented on #269
On Thu, 30 Jun 2016, Matt Jensen wrote:

Probably the website should pop up a warning for fractions greater than 1.

I think doing more than a warning is a diversion of resources from more
vital tasks.

dan

[2016-06-30 16:24] talumbau commented on #269
My main concern here would be to make sure that if someone enters `35%`, the code did not silently accept this as `35`. I don't think that is what happens right now. We can add code to make `35%` from the user into `0.35` pretty easily.

[2016-06-30 19:15] zrisher commented on #269
My recommendation would be to just run some simple javascript on the field to display it as a percent but store it in the form field as a decimal. So all the server-side code would stay the same and deal with  it as a decimal, but to the user it would *appear* as a percent.

An example case, where the parameter has a default of zero:
* User loads the page, the field is displayed as `0%` and stored

[2016-06-30 19:21] zrisher commented on #269
If this is the case, you could always do the warning version first and add the parsing JS down the line when prioritization permits. They both start with a JS function that targets that form field.

[2016-06-30 20:06] feenberg commented on #269
On Thu, 30 Jun 2016, zrisher wrote:

But anyone used to the GUI will be surprised by the other input methods.
I don't want to forsake fractions, only warn users of percents.

dan

[2016-07-06 15:27] martinholmer opened #270 "Tax-Calculator policy parameter name changes"
TaxBrain needs to be changed to accommodate the following Policy parameter name changes that were merged into the master branch as part of [Tax-Calculator pull request #805](https://github.com/open-source-economics/Tax-Calculator/pull/805):
[code]

@MattHJensen @talumbau

[2016-07-06 15:57] talumbau commented on #267
resolved via https://github.com/OpenSourcePolicyCenter/webapp-public/commit/b21402fe755684f4c542245ad794fefc0761e889

[2016-07-06 15:57] #267 closed

[2016-07-06 15:57] talumbau commented on #139
resolved via #145

[2016-07-06 15:57] #139 closed

[2016-07-06 17:22] talumbau opened #271 "The results page for OGUSA simulations has the wrong title"
The page title is "Distribution and Revenue Tables for Federal Individual Income Taxes". That's not the proper title for the results displayed. It is the title we use for microsim results. What is the correct title for the results page for OGUSA runs? @MattHJensen @jdebacker @rickecon

[2016-07-08 15:08] MattHJensen opened #273 "change start year UI?"
When someone changes the start year, a small text notice is displayed:

![image](https://cloud.githubusercontent.com/assets/8301092/16691755/e919e922-44fb-11e6-9ccb-599b268dc1ea.png)

I believe some users may not see this and are then surprised when the tables start from the default start year instead of the start year they wanted to set.

@talumbau and @feenberg , what do you think about presenti

[2016-07-08 15:19] MattHJensen opened #274 "few seconds calculation possible?"
@talumbau, some of our users have asked for near-instant results for a TaxBrain static run. I can definitely see the value, as I often use TaxBrain myself to titrate a revenue neutral reform.

Do you think any of these strategies could provide near-instant results and not be too much trouble to implement? Each of them would require adding a new "quick-results" button onto the input page:

1) Calcu

[2016-07-08 15:48] MattHJensen opened #275 "Helping user's remember their runs."
@feenberg said via email:

I replied:

@feenberg replied:

I think Dan's idea of allowing the user to enter a title for each output page is really elegant as a first step. @talumbau, would it be difficult to implement? I imagine the title would be public for anyone who goes to that url.

Later, adding a page that would allow logged in users to list their runs would also be helpful, although as Dan

[2016-07-08 18:19] talumbau commented on #274
This is possible. I think we could reasonably get something in the 4-5 second range but doing one of these. I will do a test and see the timings on each idea and update this issue with results.

[2016-07-08 18:20] talumbau commented on #273
I don't think this would be difficult for @mistakevin. Assigning to him.

[2016-07-08 18:24] talumbau commented on #275
We already have a login facility, which I recently discovered by looking through the logs is essentially unused. I suppose that since all features of the site are available without logging in the incentive to log in is quite small. This might be our actual first feature that would incentivize people to log in for their runs. So, to start, we want the feature "ability to edit title of results page

[2016-07-08 18:28] MattHJensen commented on #275
For adding titles, I don't think the user would need to be logged in. That would be the first step. The second step would be to allow logged in users to see a list of their runs.

On Jul 8, 2016, at 2:24 PM, T.J. Alumbaugh <notifications@github.com<mailto:notifications@github.com>> wrote:

We already have a login facility, which I recently discovered by looking through the logs is essentially unus

[2016-07-08 18:32] talumbau commented on #275
Hmm.. I'm not sure how this would work then. So, someone submits a job and they get redirected to taxbrain/6789. The loading page goes for a while and then taxbrain/6789 is the results page. Then, anyone who views taxbrain/6789 can modify the title of the page? So the user who submitted the job would modify it and be happy. But if anyone else went to the page, he/she would see the new title, but c

[2016-07-08 19:47] feenberg commented on #273
On Fri, 8 Jul 2016, Matt Jensen wrote:

OK, pretty subtle.

The popup-box should block further modifications to the main screen and
should indicate that the default tax law parameters will change to the
indicated year.

dan

[2016-07-08 19:47] MattHJensen commented on #275
That is a bad outcome -- did not think through it sufficiently.

1. One option would be to allow the user to create a title immediately after the run is made and then lock the title forever.
2. Another option would be to require the user to log in in order to make the title. In fact, this could be a convenient way to encourage users to log in: "Log in or sign up to title and save your simulation."

[2016-07-08 20:12] feenberg commented on #275
On Fri, 8 Jul 2016, T.J. Alumbaugh wrote:

I wouldn't let people edit the results page. Rather I would allow users to
fill in a title box on the parameters page that would be displayed on the
results page. The default might be "Unspecified Tax Reform". If the user
edited parameters, the title would stay the same (unless it was changed).
That way each numbered run would have a title.

dan

[2016-07-08 20:21] mistakevin commented on #273
Can do. Shouldn't be too hard.

[2016-07-08 21:15] feenberg commented on #275
On Fri, 8 Jul 2016, T.J. Alumbaugh wrote:

Why would the title be treated any differently than any other parameter?
If I change a tax rate I get a new sequence number, as I should if I
change the title. This presumes I set the title on the input page, not the
output page, which is what I wanted to suggest.

dan

[2016-07-11 09:55] MattHJensen opened #277 "Amnesia -- itemized deduction surtax checkboxes"
@feenberg identified a bug having to do with surtax on itemized deduction benefits. It can be reproduced like this:

1. Create a reform with these provisions:
    - surtax on itemized deduction benefits is 1.0
    - credit rate is 0.0.
    - All of the deductions are unselected.
2. Run calculations (e.g., http://www.ospc.org/taxbrain/4558/) .
    - Note that the revenue impact is 0, as it should b

[2016-07-11 13:08] talumbau commented on #277
I can reproduce this. The `user_mods` for 4558 is below, but then when you edit a scenario like this and switch the flags to 'True', the web application does not accept them.

4558:
[code]

[2016-07-11 15:12] talumbau opened #279 "version string of partial equilibrium results page is wrong"
And the link is incorrect.

[2016-07-11 18:14] talumbau commented on #277
An update here. When executing step 4  ("check all boxes to 'on' and then hit 'submit'"), the POST comes back with the value of `False` for the check boxes, even though the user clicked them to `True`.

If you edit a reform policy like taxbrain/4558, and the directly hit 'Submit' again, there is no info on the 6 boolean switches in the POST, and we get the value of the flags (in this case, all `Fa

[2016-07-11 21:15] zrisher commented on #269
In my experience, web application users generally welcome and quickly adapt to interface changes that improve usability. But I don't have any empirical evidence for that which I can share. Happy to help with this in whatever format you guys expect is best for your particular set of users. @MattHJensen

[2016-07-12 22:07] talumbau commented on #277
closed via #281

[2016-07-12 22:07] #277 closed

[2016-07-12 22:08] talumbau commented on #270
resolved via #280

[2016-07-12 22:08] #270 closed

[2016-07-13 14:35] talumbau opened #283 "latest feature requests on gallery"
from @MattHJensen
- [x] Drop “Our sponsor” box from the gallery page.
- [x] Call it Vizualization Gallery instead of Vizualization Widget Gallery
- [x] Add a centered flatblock under "Vizualization Widget Gallery" where I can add a paragraph describing how these are made and pointing people ot the plots repo. (see comment below)
- [x] Check the social sharing links at the bottom - delete if broken

[2016-07-13 14:35] talumbau commented on #283
cc @brendancol

[2016-07-14 15:51] talumbau commented on #283
from @MattHJensen:

Also, I thought this was true but based on the scaling behavior w/ mobile I should probably check: when someone embeds the plot, will the description text and acknowledgements come along for the ride? — they ought to.

[2016-07-15 14:50] martinholmer opened #285 "How can FEI_ec_c be "coming soon" to TaxBrain?"
@talumbau added `_FEI_ec_c` to the `TAXCALC_COMING_SOON_FIELDS` list in commit 7d873eb on January 27, 2016.  Unless I'm missing something, it seems to me that this was a mistake and that the `_FEI_ec_c` policy parameter should have been added to the `TAXCALC_HIDDEN_FIELDS` list.

In the current version of Tax-Calculator, `_feided` is always zero (because there is no information on foreign earned i

[2016-07-20 15:47] talumbau opened #286 "B-Tax web application"
[BTax_webform.pdf](https://github.com/OpenSourcePolicyCenter/webapp-public/files/374094/BTax_webform.pdf)

We need to create a new web application for handling corporate taxes. This will initially be a new "top level" web app that sits alongside of (but doesn't share calculation with) Tax-Calculator/TaxBrain. The attached form is a mock up of the interface. We can just modify the existing input pa

[2016-07-25 21:48] martinholmer commented on #285
@talumbau, the webapp/apps/taxbrain/helpers.py file contains the following code fragment:
[code]
But when I search for the phrase `Dividend_` in the Tax-Calculator repo, I find nothing:
[code]
And when I search for the phrase `BE_CG_trn` in the Tax-Calculator repo, I find nothing:
[code]
Am I missing something?  Or should those seven variables be removed from the `TAXCALC_COMING_SOON_FIELDS` list?

[2016-07-26 14:59] talumbau commented on #274
An update here: I can reduce the one-year calculation time to about a third of its current time by making a couple of simple changes and reading in 2% of the data. There's a small change required in Tax-Calculator to make this happen, because the tax records are separate from the weights. I'm finishing that PR now, which has some tricky elements due to the variety of inputs one can give to the Rec

[2016-07-26 16:38] brendancol commented on #283
@MattHJensen @talumbau  Regarding:

Add a centered flatblock under "Vizualization Widget Gallery" where I can add a paragraph describing how these are made and pointing people ot the plots repo.

There is already a flatblock centered underneath the title called `gallery_page_description`.  Was this enough or should I add another?

[2016-07-27 00:42] MattHJensen commented on #283
@brendancol said:

That should be fine. Is there a way for me to add some filler text here to see how it works on the test app?

Alternatively, I am fine experimenting with this once the gallery is live at ospc.org -- it isn't imperative that the text be there immediately.

[2016-07-27 01:19] MattHJensen commented on #274
Thanks for the update @talumbau.

[2016-07-27 18:06] brendancol commented on #283
@MattHJensen You should be able to test on the ospc staging site

[2016-07-27 23:11] MattHJensen commented on #283
I am not seeing a flatblock labelled `gallery_page_description` on the test site. Here is what I see:

![image](https://cloud.githubusercontent.com/assets/8301092/17195752/ce767cb2-549a-11e6-8d6b-24af47a6d8db.png)

[2016-07-27 23:32] MattHJensen commented on #283
That said, I'm happy to test this on the live site.

[2016-07-29 18:57] jdebacker opened #289 "B-Tax tabular output"
This issue is to discuss the display of tabular output from the B-Tax calculator.

I've mocked up some [tables](https://github.com/OpenSourcePolicyCenter/webapp-public/files/391142/WebApp_OutputTable_Mockup.xlsx) that show a general format for the output (as well as the B-Tax object names that are used).

I've titled the tables "changes in...", intending for them to display the change in the value

[2016-07-29 19:06] jdebacker opened #290 "B-Tax visual output"
This issue is to discuss visual output from the B-Tax calculator.  It relates to Issue #289, which discusses tabular output.

As an alternative (or addition) to the tabular output, we might present users with a graphical representation of the B-Tax calculations.

An example of this would be a cross-filter plot such as this (note: output plotted here is not current and does not display correct calc

[2016-07-31 00:10] MattHJensen opened #291 "UI for allowing TaxBrain users to specify marginal propensity to consume deductible expenses?"
Tax-Calculator can now compute marginal tax rates when taxpayers have non-zero marginal propensities to consume deductible expenses that vary by deductible expense but are constant across taxpayers. @martinholmer implemented this extension in https://github.com/open-source-economics/Tax-Calculator/pull/788 at the request of Alan Viard and others.

As I said on https://github.com/open-source-econom

[2016-08-03 14:37] talumbau commented on #291
I'm neutral on this but I thought I should speak up to make that explicit. It doesn't impact the feature development much either way.

[2016-08-03 19:04] talumbau commented on #274
With Tax-Calculator PR #844 I have done an unscientific timing and found that a TaxBrain calculation takes about 12 seconds from the time the user hits the button until the page renders. The drop-q calculation is really only about 2 seconds of that time. I could try to reduce the other 10 seconds which is related to the way we check for results on completed calculations. @MattHJensen or @feenberg,

[2016-08-03 19:22] feenberg commented on #274
On Wed, 3 Aug 2016, T.J. Alumbaugh wrote:

I would hesitate to give advice without knowing where time was spent. Does
the process read all 139K records in the speedy calculation, so the
savings is only from doing only 1 year of results? I don't understand -
2+10=12, so where is the time for actually calculating the tax for each
taxpayer?

dan

[2016-08-03 20:10] talumbau commented on #274
Before the request comes in, we have already read in the 139K records and prepared a "raw" dataset that is 2% of this data set. The actual calculation of this reduced dataset is about 1 second, and there's another ~1 second for the request to be received by the webserver, then given to the job execution system, then have a worker process spawned to do the work, and then store the result in the in-

[2016-08-03 22:12] talumbau commented on #274
By changing the refresh rate of checking the solution, I can get the total load time down to < 5 seconds. I'll put this in a PR. @feenberg and @MattHJensen do you want a button that says "Quick Calculation" next to the "Show me the results!" button?

[2016-08-04 06:42] MattHJensen commented on #274
As a starting point, I'm fine with "Show me the results!" and a smaller "Quick calculation" below it.

And then on the quick calculation page we should have some highlighted text at the top that says something like:

"This Quick Calculation is for only one year and uses a 2% sample of the available data. Click here to recalculate the results for the 10-year budget window on the full dataset."

@fe

[2016-08-04 07:14] MattHJensen commented on #291
Thanks @talumbau. After giving this more thought, let's move forward with the second option of adding these parameters to each of the pages separately. Perhaps we'll consolidate them on the landing page after work has been done to propagate "Parameters Used" to each page.

On the Macro Elasticity page, they should be placed in the Macroeconomic Parameters section in a new subsection labeled "Margi

[2016-08-04 07:19] MattHJensen commented on #291
@talumbau, I am removing the question label from this issue, modifying the title to remove the question, and opening a new issue to describe the documentation that should be added to existing flatblocks on the dynamic pages. Is there any other information that would be helpful to make this issue actionable?

[2016-08-04 09:53] MattHJensen commented on #275
I agree with @feenberg:

fill in a title box on the parameters page that would be displayed on the
results page. The default might be "Unspecified Tax Reform". If the user
edited parameters, the title would stay the same (unless it was changed).
That way each numbered run would have a title.

change the title.

@talumbau, does that sound like the right course of action to you as well?

[2016-08-04 10:59] feenberg commented on #274
On Wed, 3 Aug 2016, T.J. Alumbaugh wrote:

Don't we have to say why it is quicker?

dan

[2016-08-04 12:37] talumbau commented on #291
this looks good and can now be developed as a feature. thanks @MattHJensen

[2016-08-04 12:39] talumbau commented on #275
This is definitely doable. So, the results page stays static as always.

[2016-08-04 12:58] feenberg commented on #274
On Wed, 3 Aug 2016, Matt Jensen wrote:

Yes, telling people after the fact is fine - since they don't have to wait
long to find out what they are getting. I take this info is not kept with
the URL - so that someone clicking on the URL would get a recalculation
with the full data?

dan

[2016-08-04 14:15] MattHJensen commented on #275
Excellent. That's right. Thanks @talumbau and @feenberg.

[2016-08-04 14:18] MattHJensen commented on #274
What do you think of "Fast results for 1 year on a 2% data sample"

[2016-08-04 14:20] MattHJensen commented on #274
My expectation would be that the info *would* be kept with the URL. That way users could easily compare Fast calcs with the Full calcs.

[2016-08-04 14:30] feenberg commented on #274
On Thu, 4 Aug 2016, Matt Jensen wrote:

Makes sense.

[2016-08-08 16:05] talumbau commented on #285
In #137 , I interpreted Amy's comment:

"This parameter won't work right due to lack of data. So we should remove this one from input page for now."

to mean that we would, in a relatively short amount of time, have the ability to use this parameter. It looks like that is not the case. I will put `_FEI_ec_c` in the hidden fields.

[2016-08-08 16:21] talumbau opened #293 "Does TaxBrain need the Earned Income Credit age floor/ceiling?"
This commit:

https://github.com/open-source-economics/Tax-Calculator/commit/e817d3048fd02d907a092f118073450700b11ef6#diff-496bf0f0853ae02da9e238398f213913

added `EITC_flr` and `EITC_cel` to Tax-Calculator. Should they be included on the input page for TaxBain? cc @MattHJensen

[2016-08-08 16:38] talumbau commented on #293
oops. I was looking through commit history and saw these parameters. They were renamed and included in TaxBrain. Closing.

[2016-08-08 16:38] #293 closed

[2016-08-08 17:03] talumbau commented on #285
In commit https://github.com/open-source-economics/Tax-Calculator/commit/d455762009ef26351bba9da79143b96f71c796f6, @MattHJensen removed `BE_cg_trn`, so I'll remove that from the `TAXCALC_COMING_SOON_FIELDS`

[2016-08-08 17:10] talumbau commented on #285
In commit https://github.com/open-source-economics/Tax-Calculator/commit/b8ca2850aa7cde955aa06aaeebc936d21f713c3c @Amy-Xu renamed the `Dividend_*` parameters, so I will delete any mention of these from the webapp repo.

[2016-08-08 20:15] talumbau opened #295 "B-Tax entry point"
One question that came up with the new B-Tax capability: how should a user get to the page? If they go to ospc.org -> Apps, this brings up ospc.org/taxbrain which is just the microsim input page. One option we discussed was ospc.org -> Apps brings up a window and you must choose "Business Tax" or "Personal Tax" and then you would either go to ospc.org/taxbrain/btax (for the former) or ospc.org/tax

[2016-08-08 20:59] talumbau commented on #271
For example, this results page:

http://www.ospc.org/dynamic/results/155/

clearly has a bad title and it includes a drop-down for a year selection, but selecting a year does not change the table, since it already gives a 10 year view. Would a better title be:

"Differences in Macroeconomic Variables for Years 2016-2015"

Thoughts @MattHJensen @jdebacker @rickecon?

[2016-08-08 21:01] jdebacker commented on #271
Yes, "Differences in Macroeconomic Variables for Years 2016-2025" makes sense (although the year range should correspond to the year input in the tax calc parameters).

[2016-08-09 14:48] talumbau commented on #285
Re-opening so that this stays open until merge of #294. In Github, since I referred to this issue in #294 by writing "resolves #285", Github should automatically close this issue when PR #294 is merged.

[2016-08-09 17:09] MattHJensen commented on #295
I have been thinking ospc.org-> Apps would take you to ospc.org/apps which would then list TaxBrain as one app and Cost of Capital Calculator (or some other name) as the second app. We might also list the Vizualization Gallery as an app so we have everything in one place.

Could this become confusing if we integrate personal taxes into the cost of capital calculator?

My thinking has been that Tax

[2016-08-09 17:19] talumbau commented on #295
This is definitely possible, it's just that we would have to design the landing page to select which app one wants to go to, and I was trying to cut that step out, since it seems like a significant step (or at least, one that we would want to get right, but one I don't have a good instinct for personally).

Yes I see your point about this.

The advantage of keeping the "TaxBrain" branding on the w

[2016-08-09 19:01] MattHJensen commented on #295
What do you think of starting off w/ a landing page that looks like the TaxBrain dynamic model landing page?

For the name, what about something simple like "Cost of Capital Calculator"? Then we'd have TaxBrain, Cost of Capital Calculator, and Visualization Gallery in the apps page?

Yes, I agree, but I think there is someone at AEI who could do a good job once we settle on a name; in the meantime

[2016-08-09 20:06] jdebacker commented on #295
I can see this.  I had thought differently: TaxBrain as the interface for a number of different models that may interact or not, but all deal with taxes.  At some point, we'll have linkages from Tax-Calc to/from B-Tax and from B-Tax static to several B-Tax dynamic options (including OG-USA).  So does B-Tax (or the "Cost of Capital Calculator") reside in a separate app until these integrations, and

[2016-08-09 21:43] MattHJensen opened #296 "PE model freezing"
The PE model is freezing midway through on TB.

You can follow [this reform](http://www.ospc.org/taxbrain/4813/), for example, to the PE page, and run a simulation. It freezes with both .4 and .55 substitution elasticities.

I've also tried with simpler reforms.

cc @talumbau

[2016-08-09 22:02] talumbau commented on #296
confirmed. This is the error:

[code]

I recall some recent changes to this part of the code. I'll create an issue on Tax-Calculator to see if `dropq` is still doing things in the recommended way.

[2016-08-10 02:33] talumbau commented on #296
I can confirm that this is due to the bug in Tax-Calculator version 0.6.5 that was found and fixed. It was fixed in this commit:

https://github.com/open-source-economics/Tax-Calculator/commit/be48381574e4b7bf0f75350f8c4a604e20b8d8d1

by @martinholmer. When I sync to that commit and run [this gist](https://gist.github.com/talumbau/7958154241378af235c2dba7674d6823) which is the reform from [TaxBrai

[2016-08-10 12:49] #285 closed

[2016-08-10 13:33] MattHJensen commented on #296
Ok. Thanks a lot for figuring that out.

Would this be something to address in https://github.com/open-source-economics/Tax-Calculator/issues/811, or is it more specific?

[2016-08-10 13:38] talumbau commented on #296
It's more on the AWS side of things. We properly handle OGUSA job failures (which are failed "tasks" in celery) but we don't handle them properly for microsim. Essentially, when we ask if a job is ready, the possible responses are YES, NO, and FAIL. OGUSA jobs can properly respond with FAIL right now. Microsim only responds with YES or NO right now. I will add the logic to allow them to respond wi

[2016-08-10 13:46] MattHJensen commented on #296
Ah. Ok

[2016-08-10 14:26] #271 closed

[2016-08-10 17:36] talumbau commented on #296
TaxBrain has been updated with Tax-Calculator 0.6.6. I was able to run the reform from the microsim listed above (4813) linked to a PE dynamic run and got these results:

http://www.ospc.org/dynamic/behavior_results/175/

I'll leave this open for a while longer, but unless other issues show up I will close.

[2016-08-10 18:42] #296 closed

[2016-08-11 16:32] MattHJensen commented on #295
Definitely agree. The dynamic landing page layout will allow this. We just need TaxBrain and cost of capital calculator labels for now. What do you think of this:

TaxBrain: Explore the effect of individual income and payroll tax reforms on budgetary, distributional, and economic outcomes using static and dynamic economic models.

Cost of Capital Calculator: Explore the effect of business tax refo

[2016-08-11 16:48] jdebacker commented on #295
Sounds good to me.

[2016-08-11 16:59] MattHJensen commented on #295
I think we would want to integrate the cost of capital calculator with TaxBrain as soon as it can feed into some of the outputs currently presented by TaxBrain, either the static revenue and distributional tables or the economic outputs produced by OG-USA.

- To feed into the static revenue and distributional tables, I believe it would need to be linked in both directions to Tax-Calculator: i.e.,

[2016-08-11 18:49] jdebacker commented on #295
What I'd like to see even before B-Tax feeding the current TaxBrain outputs (or OG-USA) is to see the TaxBrain inputs feed into B-Tax.

B-Tax needs some ability for the user to modify parameters like rates on ordinary income, interest, dividends, cap gains.  We could add these fields to the B-Tax UI at low cost, but I'm afraid they would be difficult for the user to understand since you are puttin

[2016-08-11 18:54] MattHJensen commented on #295
Definitely makes sense.

Which parameters from the TaxBrain input page do you think would be relevant?

[2016-08-11 19:18] jdebacker commented on #295
Since this is moving more away from the UI question, I'm answering this in a new issue [here](https://github.com/open-source-economics/B-Tax/issues/43).

But the answer to that question might affect how we do the UI.

[2016-08-11 21:09] MattHJensen commented on #273
This feature is not currently working on TaxBrain.

From @feenberg via email:

I have confirmed.

[2016-08-11 22:27] mistakevin commented on #273
@MattHJensen @talumbau  It looks like the current deployed `taxbrain.js` is not the newest version
<img width="701" alt="screen shot 2016-08-11 at 5 24 36 pm" src="https://cloud.githubusercontent.com/assets/4411115/17607037/a67952da-5fe8-11e6-8de1-29af4f9c8880.png">
<img width="895" alt="screen shot 2016-08-11 at 5 24 45 pm" src="https://cloud.githubusercontent.com/assets/4411115/17607038/a67b01f2

[2016-08-11 22:45] talumbau commented on #273
Looks like it's still loading the old static assets. I will try to upload the new ones and update this issue.

[2016-08-12 00:49] talumbau commented on #273
There must be something I don't understand about `collectstatic`. For this Django app, if DEV_DEBUG is set to False, the `settings.py` is set to not use our static assets. In particular, one thing it does is that the command `python manage.py collectstatic` collects the static assets in `static/` and copies them to `STATIC_ROOT` which is `staticfiles/`. However, when I do that and then diff the di

[2016-08-12 00:58] talumbau commented on #273
this might be a reasonable answer:

http://stackoverflow.com/questions/17507843/django-storages-not-detecting-changed-static-files

if the timestamp if the newer file does not indicate that it is actually newer (which can happen through git pulls because I neglected to do the collecstatic operation in my branch) then it looks like I have to pass `collecstatic --clear` to make sure it actually upda

[2016-08-12 01:32] talumbau commented on #273
This functionality is now restored. @mistakevin it would seem useful if there was some kind of "hook" that would either trigger on demand or when a PR is merged to master that would do as follows:

 - with DEBUG=False, run `python manage.py collectstatic --clear` so that all static content goes in to `staticfiles/`
 - execute some commands to gzip the CSS and JS files as described in the wiki entr

[2016-08-12 01:39] MattHJensen commented on #273
Thanks. I let Dan know.

[2016-08-12 01:48] #273 closed

[2016-08-12 03:00] mistakevin commented on #273
@talumbau Yep, that is usually done by the CI technology, TravisCI or CircleCI. And Heroku can actually listen for Githooks as well, so a full deploy could happen with merge into Master.

[2016-08-12 13:17] MattHJensen opened #300 "Deviation from CBO baseline bug"
http://www.ospc.org/taxbrain/edit/4900/?start_year=2016

A user added 50% to the baseline CBO growth rate generated very odd results.

@GoFroggyRun, could you try to reproduce with Tax-Calculator?

It could be that the feature works for more modest deviations, so try something like 0.05 as well.

[2016-08-12 13:26] MattHJensen commented on #300
No, that doesn't work either: http://www.ospc.org/taxbrain/4903/

[2016-08-12 13:49] MattHJensen commented on #300
@talumbau, let's hide the entire growth section for now. Besides it being broken, the UI probably needs more thought so it doesn't confuse people with dynamic scoring.

I'm checking now to see if we will need an accompanying patch to the TaxBrain-TC validation suite in TC.

@GoFroggyRun, this means that the testing is not urgent and needn't distract you from the CEX work -- could you just open an